<%
/* Used in: en/Accessibility/AT-APIs/AT-SPI/Events */

/* get the page language */
var lang = env.locale;

var href = 'https://developer.mozilla.org/' + lang + '/Accessibility/AT-APIs/Gecko/Events#' + $0;
%>

<a href="<%- href %>"><%- $0 %></a>
