<%
// Inserts quicklinks for the accessibility roles.
var lang = env.locale;
var url = "";

switch(lang) {
    "de":
        url = "/de/docs/Web/Accessibility/AT-APIs/Gecko/Rollen";
        break;
    "fr":
        url = "/fr/docs/Web/Accessibility/AT-APIs/Gecko/Roles";
        break;
    "ja":
        url = "/ja/docs/Web/Accessibility/AT-APIs/Gecko/Roles";
        break;
    "ru":
        url = "/ru/docs/Web/Accessibility/AT-APIs/Gecko/Roles";
        break;
    default:
        url = "/en-US/docs/Web/Accessibility/AT-APIs/Gecko/Roles";
        break;
}
%>
<section class="Quick_links" id="Quick_Links">
<%-wiki.tree($0, 2, 0, 0, 1)%>
</section>
