<span lang='en' class='lang lang-en'><code>{{mediawiki.internal('Accessibility:AT-APIs:Gecko:Roles:' + $0 + '|' + $0, "en")}}</code>
</span><span lang='*' class='lang lang-*'><code>{{mediawiki.internal('Accessibility:AT-APIs:Gecko:Roles:' + $0 + '|' + $0, "en")}}</code>
</span>
