
<p><span lang="en" class="lang lang-en"><span class="script">web.link(page.uri + '#' + $0, $0)</span></span> <span lang="*" class="lang lang-*"><span class="script">web.link(page.uri + '#' + $0, $0)</span></span></p>
