<span lang='es' class='lang lang-es'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Anterior', "es")}}</span>
<span style="float:right;">{{mediawiki.internal($1 + '|Siguiente', "es")}} »</span>
</p>
</div>
</span><span lang='*' class='lang lang-*'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Anterior', "es")}}</span>
<span style="float:right;">{{mediawiki.internal($1 + '|Siguiente', "es")}} »</span>
</p>
</div>
</span>
