
<div class="noinclude">Use of <a title="Template:PreviousNext" href="/Template:PreviousNext">Template:PreviousNext</a> is recommended.</div>
<div class="prevnext">
<p align="right"><span style="float: left;">« <span class="script">web.link(wiki.uri('es/' + $0), 'Anterior')</span></span><span class="script">web.link(wiki.uri('es/' + $1), 'Siguiente')</span> »</p>
</div>
