<%
// Creates a list of API terms from each top-level subpage of the page
// on which this template is used.
//
// Parameters:
//  $0 - If 0, terms are listed unadorned; if 1, "()" is appended.

function pageSorter(a, b) {
    return a.localeCompare(b);
}

var termList = page.subpages();
var lang = env.slug;
var letters = "";
var html = "";
var extra = "";

termList.sort(pageSorter);

switch(lang) {
    default:    // en-US
        letters ="ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        break;
}

var numLetters = letters.length;
var termIndex = 0;
var numTerms = termList.length;
var baseUrl = env.url;

if ($0) {
    extra = "()"
}

for (var i=0; i<numLetters; i++) {
    var curLetter = letters[i];
    html += "<span>" + curLetter + "</span><ul>";
    if (termIndex < numTerms) {
        do {
            var term = termList[termIndex];
            var url = baseUrl + "/" + term.title;
        
            if (term.title[0].toUpperCase() == curLetter) {
                html += "<li><code><a href='" + url + "'>" + term.title + extra + "</a></code></li>";
                termIndex++;
            } else {
                break;
            }
        } while (termIndex < numTerms);
    }
    html += "</ul>";
}
%>
<div class="index">
<%-html%>
</div>
