<%
// API Sidebar
//
// Parameters:
//  $0  A tag for the API group (searches for related APIs)

// Variables and data
var slug = env.slug;
var locale = env.locale;
var APIHref = '/' + locale + '/docs/Web/API';
var mainIF = slug.replace('Web/API/','').split('/')[0];
var group = $0;
var hasTag = page.hasTag;
var escapeQuotes = mdn.escapeQuotes;

var webAPIData = string.deserialize(template("InterfaceData"));
if (group) {
  var webAPIGroups = string.deserialize(template("GroupData"));
}

var text = mdn.localString({
  'en-US': {
    'Methods': 'Methods',
    'Properties': 'Properties',
    'Constructor': 'Constructor',
    'Inheritance': 'Inheritance:',
    'Related': 'Related pages:',
  },
  'de': {
    'Methods': 'Methoden',
    'Properties': 'Eigenschaften',
  }
});


// Collect all the things
var mainIFPages = page.subpagesExpand(APIHref + '/' + mainIF);
var impl = webAPIData[0][mainIF].impl;
var inh = webAPIData[0][mainIF].inh;
var groups = [];
if (group) {
  groups = webAPIGroups[0][group];
  var self = groups.indexOf(mainIF);
  groups.splice(self, 1);
  groups.sort();
}
    
var pageList = mainIFPages;

var properties = [];
var methods = [];
var ctors = [];
var inheritedIF = [];

function collect(pageList) {
  for (var i in pageList) {
    var aPage = pageList[i];
    if (hasTag(aPage, "Property")) {
        properties.push(aPage);
    }
    if (hasTag(aPage, "Method")) {
        methods.push(aPage);
    }
    if (hasTag(aPage, "Constructor")) {
        ctors.push(aPage);
    }
  }
}

collect(mainIFPages);

if (impl.length > 0) {
  for (var i = 0; i < impl.length; i++) {
    var implementPages = page.subpagesExpand(APIHref + '/' + impl[i]);
    collect(implementPages);
  }
}

function APISort(a, b) {
  var aSplit = a.title.split('.');
  var a = aSplit[aSplit.length - 1];
  var bSplit = b.title.split('.');
  var b =  bSplit[bSplit.length - 1];
  if (a > b) {
    return 1;
  }
  if (a < b) {
    return -1;
  }
  return 0;
}

properties.sort(APISort);
methods.sort(APISort);
ctors.sort(APISort);

function getInheritance(inh) {
  if (inh.length > 0 && webAPIData[0].hasOwnProperty(inh)) {
    inheritedIF.push(inh);
    var inh = webAPIData[0][inh].inh;
    getInheritance(inh);
  }
}
getInheritance(inh);


// output helpers

var badges = {
  ExperimentalBadge : '<span class="sidebar-icon">' + template("ExperimentalBadge", [1]) + '</span>',
  NonStandardBadge  : '<span class="sidebar-icon">' + template("NonStandardBadge", [1]) + '</span>',
  DeprecatedBadge   : '<span class="sidebar-icon">' + template("DeprecatedBadge", [1]) + '</span>',
  ObsoleteBadge     : '<span class="sidebar-icon">' + template("ObsoleteBadge", [1]) + '</span>',
}

function buildSublist(pages, title) {
  var result = '<li data-default-state="open"><a href="#"><strong>' + title + '</strong></a><ol>';

  for (var i in pages) {
    var aPage = pages[i];
    result += '<li>';

    if (hasTag(aPage, 'Experimental')) {
        result += badges.ExperimentalBadge;
    }

    if (hasTag(aPage, 'Non-standard') || hasTag(aPage, 'Non Standard')) {
        result += badges.NonStandardBadge;
    }

    if (hasTag(aPage, 'Deprecated')) {
        result += badges.DeprecatedBadge;
    }

    if (hasTag(aPage, 'Obsolete')) {
        result += badges.ObsoleteBadge;
    }
    
    if (slug == aPage.slug) {
        result += '<em><code>' + aPage.title + '</code></em></li>'
    } else {
        result += '<a href="' + aPage.url + '" title="' + escapeQuotes(aPage.summary) + '"><code>' + aPage.title + '</code></a></li>';
    }
  }

  result += '</ol></li>';

  return result;
}

function buildIFList(interfaces, title) {
  var result = '<li data-default-state="open"><a href="#"><strong>' + title + '</strong></a><ol>';

  for (var i = 0; i < interfaces.length; i++) {
    var url = interfaces[i].replace('()', '').replace('.', '/');
    result += '<li><a href="' + APIHref + '/' + url + '"><code>' + interfaces[i] + '</code></a></li>';
  }

  result += '</ol></li>';

  return result;
}


// output
var output = '<section class="Quick_links" id="Quick_Links"><ol>';
output += '<li><strong><a href="' +  APIHref + '/' + mainIF + '"><code>' + mainIF + '</a></code></strong></li>';

if (ctors.length > 0) { 
  output += buildSublist(ctors, text['Constructor']);
}

if (properties.length > 0) { 
  output += buildSublist(properties, text['Properties']);
}
if (methods.length > 0) { 
  output += buildSublist(methods, text['Methods']);
}
if (inh.length > 0) {
  output += buildIFList(inheritedIF, text['Inheritance']);
}
if (groups.length > 0) {
  output += buildIFList(groups, text['Related']);
}

output += '</ol></section>';
%>

<%-output%>
