<h2 class="Tools" id="Tools" name="Tools">Tools for app developers</h2>
    <ul>
      <li><a href="https://marketplace.firefox.com/developers/">Visit Firefox Marketplace Developer Hub</a></li>
      <li><a href="/en-US/docs/Mozilla/Firefox_OS/Using_Firefox_OS_Simulator">Firefox OS Simulator</a></li>
      <li><a href="/en-US/docs/Apps/App_developer_tools">App developer tools</a></li>
    </ul>
<h2 class="Documentation" id="Documentation" name="Documentation">Technology reference documentation</h2>
<div class="twocolumns">
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/CSS" title="https://developer.mozilla.org/en-US/docs/CSS">CSS</a></li>
        <li><a href="/en-US/docs/DOM" title="/en-US/docs/DOM">DOM</a></li>
        <li><a href="/en-US/docs/HTML" title="/en-US/docs/HTML">HTML</a></li>
        <li><a href="/en-US/docs/JavaScript" title="/en-US/docs/JavaScript">JavaScript</a></li>
        <li><a href="/en-US/docs/WebAPI" title="/en-US/docs/WebAPI">WebAPI</a></li>
        <li><a href="/en-US/docs/WebGL" title="/en-US/docs/WebGL">WebGL</a></li>
        <li><a href="/en-US/docs/SVG" title="/en-US/docs/SVG">SVG</a></li>
              <li><a href="https://apps.mozillalabs.com/">Open Web Apps overview site</a></li>
      <li><a href="https://wiki.mozilla.org/Apps">Apps project wiki page</a></li>
      </ul>
    </div>
<h2 class="Community" id="Community" name="Community">Getting help from the community</h2>
    <p>If you still aren't sure how to do what you're trying to get done, feel free to join the conversation!</p>
    <ul>
      <li>Consult the webapps forum: <%- template("DiscussionList", ["dev-webapps", "mozilla.dev.webapps"]) %>
        <ul>
          <li>Ask your question on the Open Web Apps IRC channel: <a class="link-irc" href="irc://irc.mozilla.org/openwebapps">#openwebapps</a></li>
        </ul>
      </li>
    </ul>
    <p><span class="alllinks"><a class="external" href="http://www.catb.org/~esr/faqs/smart-questions.html" title="http://www.catb.org/~esr/faqs/smart-questions.html">Don't forget about the <em>netiquette</em>...</a></span></p>
