<span lang='en' class='lang lang-en'>{{mediawiki.external('http://www.w3.org/TR/wai-aria/#' + $0 + ' aria-' + $0)}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://www.w3.org/TR/wai-aria/#' + $0 + ' aria-' + $0)}}
</span>
