
<p><span class="script"> var chapterList = string.deserialize(wiki.template($0));<br />
var i = list.indexOf(chapterList, xml.text(getRelativeURL($1)));<br />
if (i != -1){<br />
  switch (i){<br />
    case 0:<br />
      next(getRelativeURL(chapterList[1], true));<br />
      break;<br />
    case (#chapterList) - 1:<br />
      previous(getRelativeURL(chapterList[(#chapterList) - 2], true));<br />
      break;<br />
    default:<br />
      previousNext(getRelativeURL(chapterList[i - 1], true), getRelativeURL(chapterList[i + 1], true));<br />
  }<br />
}</span></p>
