<%
var locale = env.locale;

var text = mdn.localString({
  'de': '<strong>Hinweis</strong>: Dieses Feature ist in <a href="/' + locale + '/docs/Web/API/Web_Workers_API">Web Workers</a> verfügbar.',
  'en-US': '<strong>Note</strong>: This feature is available in <a href="/' + locale + '/docs/Web/API/Web_Workers_API">Web Workers</a>.'
});

%>
<div class="note">
<p><%-text%></p>
</div>
