<%
/* one parameter: Level of security allow to the API: "web", "privileged" or "certified" */

var lang = env.locale;
var secString = {
    web : mdn.localString({
        "en-US": ['This API is available on Firefox or <a href="/', lang, 
                  '/docs/Mozilla/Firefox_OS" title="/', lang, 
                  '/docs/Mozilla/Firefox_OS">Firefox OS</a> for <a href="/', lang, 
                  '/docs/Mozilla/Firefox_OS/Security/Application_security" title="/', lang, 
                  '/docs/Mozilla/Firefox_OS/Security/Application_security">',
                  'web content or higher privileged applications','</a>.'].join('')
    }),
    privileged: mdn.localString({
        "en-US": ['This API is available on <a href="/', lang, 
                  '/docs/Mozilla/Firefox_OS" title="/', lang, 
                  '/docs/Mozilla/Firefox_OS">Firefox OS</a> for <a href="/', lang, 
                  '/docs/Mozilla/Firefox_OS/Security/Application_security" title="/', lang, 
                  '/docs/Mozilla/Firefox_OS/Security/Application_security">',
                  'privileged or certified applications','</a> only.'].join('')
    }),
    certified : mdn.localString({
        "en-US": ['This API is available on <a href="/', lang, 
                  '/docs/Mozilla/Firefox_OS" title="/', lang, 
                  '/docs/Mozilla/Firefox_OS">Firefox OS</a> for <a href="/', lang, 
                  '/docs/Mozilla/Firefox_OS/Security/Application_security" title="/', lang, 
                  '/docs/Mozilla/Firefox_OS/Security/Application_security">',
                  'certified applications','</a> only.'].join('')
    })
};
var secLevel = $0 && $0.toLowerCase() || 'certified';

if (!(secLevel in secString)) { secLevel = 'certified'; }


%>
<div class="warning">
    <p style="text-align:center"><%-secString[secLevel]%></p>
</div>
