<span lang='en' class='lang lang-en'>« {{mediawiki.internal($0 + '|' + $1 + ' Page', "en")}}
</span><span lang='*' class='lang lang-*'>« {{mediawiki.internal($0 + '|' + $1 + ' Page', "en")}}
</span><span lang='ja' class='lang lang-ja'>« {{mediawiki.internal($0 + '|' + $1 + ' ページ', "ja")}}
</span>
