<% if (env.locale == "zh-TW") { %>
<%- template('小標', arguments) %>
<% } else { %>
<% var blockId = uri.encode(string.replace($0,' ', '_')); %>
<span id="<%=blockId%>"><a id=<%=blockId%>><strong><%=$0%></strong></span>
<% } %>
