
<pre class="script">
var bug = {
  en: "bug ",
  ca: "errada ",
  cs: "chyba ",
  pl: "błąd "
};
var lang = xml.text(getLanguageFromURL(page.uri));
if (!map.contains(bug, lang))
  lang = "en";

/* switch(xml.text(getLanguageFromURL(page.uri))){
  case 'ca':
    bug = "errada ";
    break;
  case 'cs':
    bug = "chyba ";
    break;
  case 'pl':
    bug = "błąd ";
    break;
}*/

var bugPageURL = 'https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0;
var bugPageXML = web.xml(bugPageURL);

var s = "";
if (#bugPageXML == 0)
  s = "Unable to access bug's page. Try reloading this page to see bug's status and summary in this tooltip.";
else{
  s = xml.text(bugPageXML, '//span[@id="static_bug_status"]');
  if (s){
    // Remove \n and redundant spaces
    s = string.trimEnd(string.replace(s, "\n", ""));
    if (string.contains(s, "  "))
      s = string.join(list.select(string.split(s, " "), "#$>0"), " ");
    s += ' - ' + xml.text(bugPageXML, '//span[@id="short_desc_nonedit_display"]');
  }
  else if (string.contains(bugPageXML, "Access Denied"))
    s = "The access to the bug's page is restricted.";
}

<a rel="external" href=(bugPageURL) class="external" title=(s)>bug[lang] + $0</a>;

%>
