
<pre class="script">
/* get the page language */

// var u = uri.parts(Page.uri);
var lang = string.tolower(uri.parts(Page.uri).path[0]);
lang;
if (string.contains(lang, "project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var bug = "bug ";

switch(lang) {
  case 'ca':
    bug = "errada ";
    break;
  case 'cs':
    bug = "chyba ";
    break;
  case 'pl':
    bug = "błąd ";
    break;
}
var link = 'https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0;
var linktext = bug + $0;

<a rel="external" href=(link) class="external">(linktext)</a>
</pre>
