
<pre class="script">
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var bug = " bug ";

switch(lang) {
  case 'ca':
    bug = " errada ";
    break;
  case 'cs':
    bug = " chyba ";
    break;
  case 'pl':
    bug = " błąd ";
    break;
}
<a class="external" rel="external" target="_blank" href="https://bugzilla.mozilla.org/show_bug.cgi?id=+ $0 +">(web.text(bug + $0))</a>
%>
