
<p><span lang="*" class="lang lang-*"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="ca" class="lang lang-ca"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' errada ' + $0)</span> </span><span lang="cs" class="lang lang-cs"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' chyba ' + $0)</span> </span><span lang="de" class="lang lang-de"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' Fehler ' + $0)</span> </span><span lang="es" class="lang lang-es"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="fr" class="lang lang-fr"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="it" class="lang lang-it"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span>

<span class="script"> wiki.languages( { "en": "Template:Bug" } ) </span></span><span lang="ja" class="lang lang-ja"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="ko" class="lang lang-ko"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="pl" class="lang lang-pl"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' błąd ' + $0)</span> </span><span lang="pt" class="lang lang-pt"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="pt" class="lang lang-pt"><span class="script">wiki.template('Template:Bug', args)</span></span><span lang="ru" class="lang lang-ru"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="zh-cn" class="lang lang-zh-cn"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span> </span><span lang="zh-tw" class="lang lang-zh-tw"><span class="script">mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)</span></span></p>
<div class="noinclude">
<h3 name="bugzilla.mozilla.org_.E7.B6.B2.E5.9D.80">bugzilla.mozilla.org 網址</h3>
<p>讓你可以輕鬆以 <code><span class="nowiki">{{bug|123456}}</span> 這種方式建立連至 bugzilla.mozilla.org 上某程式錯誤記錄的網址，只要將錯誤編號列為參數就行了。 </code></p>
<dl><dt>範例 </dt></dl>
<pre class="eval"> <code><span class="nowiki">{{bug|123456}}</span>
</pre>
<dl><dt>結果 </dt></dl>
<pre class="eval"> <span class="script">template.Bug(123456)</span>
</pre>
<p></div></p>
</div>
