<div style="display:inline">{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' bug ' + $0)}}</div>
<br />

<div class="noinclude">
</div>
{{ wiki.languages( { "en": "Template:Bug" } ) }}
