
<pre class="script">
/* get the page language */

var lang = string.tolower(uri.parts(page.uri).path[0]);
/* fall back to page.language on a user page */
if (string.StartsWith(lang, "user:"))
  lang = page.language;
else if (string.contains(lang, ":"))
  lang = string.substr(lang, string.indexOf(lang, ":") + 1);

var bug = "bug ";

switch(lang){
  case 'ca':
    bug = "errada ";
    break;
  case 'cs':
    bug = "chyba ";
    break;
  case 'pl':
    bug = "błąd ";
    break;
}

var bugPageURL = 'https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0;
web.toggle(web.xml(bugPageURL), "bugPageURL");
//var bugPageXML = web.xml(bugPageURL, '//form[@name="changeform"]', _, 60);
//web.toggle(web.pre(xml.text(bugPageXML, _, _, true)), "bugPageXML");

<a rel="external" href=(bugPageURL) class="external" title=(xml.text(bugPageXML, '//span[@id="static_bug_status"]') + " - " + xml.text(bugPageXML, '//span[@id="short_desc_nonedit_display"]'))>(bug + $0)</a>
</pre>
