<%
var text = mdn.localString({
    "en-US": "Not&nbsp;supported",
    "de"   : "Nicht unterstützt",
    "fr"   : "Pas de support",
    "ja"   : "未サポート",
    "pt-BR": "Não suportado",
    "ru"   : "Нет"
});

%><span style="color:#f00;"><%- text %></span>
