<%
var text = mdn.localString({
    "en-US": "Not&nbsp;supported",
    "fr"   : "Pas&nbsp;de&nbsp;support",
    "ja"   : "未サポート",
    "pt-BR": "Não suportado"
});

%><span style="color:#f00;" title=<%- '"'+text+'"' %> > <%- text %> </span>
