<div style="margin-bottom: 20px;">Help improve compatibility tables by filling out <a href="http://www.surveygizmo.com/s3/1780174/e8a1839160ab"> this 11 question survey</a>.</div>

<%
var s_header = mdn.localString({
    "en-US": [ "Desktop", "Mobile" ],
    "cs":    [ "Plocha", "Mobile" ],
    "ja":    [ "デスクトップ", "モバイル" ],
    "pl":    [ "Pulpit", "Mobile" ],
    "de":    [ "Desktop", "Mobile" ],
    "ru":    [ "Десктопные", "Мобильные" ] // TODO: Лучший перевод слова Desktop?
});

%><div class="htab">
    <a id="AutoCompatibilityTable" name="AutoCompatibilityTable"></a>
    <ul>
        <li class="selected"><a href="javascript:;"><%- s_header[0] %></a></li>
        <li><a href="javascript:;"><%- s_header[1] %></a></li>
    </ul>
</div>
