<%
var str = mdn.localString({
   "en-US" : ["Please update this with the earliest version of support.", "Yes"],
   "fr" :    ["Veuillez mettre à jour avec la version minimale du support", "Oui"]
});



%><span style="color: #888" title="<%-str[0] %>">(<%- str[1] %>)</span>
