<div class="htab">
    <a name="AutoCompatibilityTable"></a>
    <ul>
        <li class="selected"><a href="javascript:;">Desktop</a></li>
        <li><a href="javascript:;">Mobile</a></li>
    </ul>
</div>
