<%

var lang = env.locale;
var slug = env.slug;

var desktopBrowsers = [
  "Chrome",
  "Edge",
  "Firefox",
  "Internet Explorer",
  "Opera",
  "Safari",
  "Servo"
];

var mobileBrowsers = [
  "Android",
  "Chrome for Android",
  "Edge Mobile",
  "Firefox for Android",
  "IE Mobile",
  "Opera Mobile",
  "Safari Mobile"
];

function writeTableHead(environment, browserNames) {
  var output = '<div id="compat-' + environment + '">' +
               '<table class="compat-table">' +
               '  <thead>' +
               '    <tr>' +
               '      <th>Feature</th>';
  for (var i = 0; i < browserNames.length; i++) {
    output += '      <th>' + browserNames[i] + '</th>\n';
  }
  output   +=  '    </tr>' +
               '  </thead>';
  return output;
}

function writeTableCells(environment, data) {
  var output = '<tbody>';

  for (var prop in data) {
    output += '<tr>';
    output += '<td>' + prop + '</td>';
    var compatData = data[prop][environment];
    for (var browsers in compatData) {
       output += '<td>' + compatData.browsers.support + '</td>';
    }
    output += '</tr>';
  }

  output   += '</tbody>';

  return output;
}


function tableForAPI(compatData) {
  var output = writeTableHead("desktop", desktopBrowsers);
  output += writeTableCells("desktop", compatData);
  output += '</table></div>';
  output += writeTableHead("mobile", mobileBrowsers);
  output += writeTableCells("mobile", compatData);
  output += '</table></div>';
  return output;
}

var output = "";
if ($1 == "module") {
  // output = tableForModule($0, $1);
} else if ($1 == "api") {
  output = tableForAPI($0);
}

var s_header = mdn.localString({
    "en-US": [ "Desktop", "Mobile" ],
    "cs":    [ "Plocha", "Mobile" ],
    "ja":    [ "デスクトップ", "モバイル" ],
    "pl":    [ "Pulpit", "Mobile" ],
    "de":    [ "Desktop", "Mobile" ],
    "ru":    [ "Настольные", "Мобильные" ],
    "fr":    [ "Ordinateur", "Mobile" ]
});

%>
<div class="htab">
  <a id="AutoCompatibilityTable" name="AutoCompatibilityTable"></a>
  <ul>
    <li class="selected"><a href="javascript:;"><%- s_header[0] %></a></li>
    <li><a href="javascript:;"><%- s_header[1] %></a></li>
  </ul>
</div>

<%-output%>
