<ul><li>Veja os fóruns do MDC+.
<ul><li><a class="external" href="http://groups.google.com/group/mozilladevmdc-pt">como um grupo Google</a>
</li><li><a class="external" href="http://groups.google.com/group/mozilladevmdc-pt/feeds">como um Web Feed</a>
</li><li><a class="external" href="https://lists.mozilla.org/listinfo/dev-mdc">como uma lista de e-mail</a> - Em Inglês.
</li><li><a class="external" href="news://news.mozilla.org/mozilla.dev.mdc">como um newsgroup</a> - Em Inglês.
</li></ul>
</li></ul>
