<%

var loc = env.locale;

%><ul>
<li><a href="/<%-loc %>/Mozilla_event_reference/copy"><code>copy</code></a></li>
<li><a href="/<%-loc %>/Mozilla_event_reference/cut"><code>cut</code></a></li>
<li><a href="/<%-loc %>/Mozilla_event_reference/paste"><code>paste</code></a></li>
</ul>
