<ul>
<li><a href="/en-US/Mozilla_event_reference/copy"><code>copy</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/cut"><code>cut</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/paste"><code>paste</code></a></li>
</ul>
