<%
switch(env.locale) {
    case "ja":
%>CSS の主要概念:
 <a title="Syntax" href="/ja/docs/CSS/Syntax">CSS 構文</a>、
 <a title="Specificity" href="/ja/docs/CSS/Specificity">詳細度</a>、
 <a title="inheritance" href="/ja/docs/CSS/inheritance">継承</a>、
 <a title="Box model" href="/ja/docs/CSS/box_model">ボックスモデル</a>、
 <a title="CSS layout modes" href="/ja/docs/CSS/Layout_mode">レイアウトモード</a>、
 <a title="Visual formatting model" href="/ja/docs/CSS/Visual_formatting_model">視覚フォーマットモデル</a>、
 <a title="Margin collapsing" href="/ja/docs/CSS/margin_collapsing">マージンの相殺</a>、
 値 (<a title="initial value" href="/ja/docs/CSS/initial_value">initial</a> /
 <a title="computed value" href="/ja/docs/CSS/computed_value">computed</a> /
 <a title="used value" href="/ja/docs/CSS/used_value">used</a> /
 <a title="actual value" href="/ja/docs/CSS/actual_value">actual</a>)、
 <a title="Value definition syntax" href="/ja/docs/CSS/Value_definition_syntax">値の定義構文</a>、
 <a title="Shorthand properties" href="/ja/docs/CSS/Shorthand_properties">ショートハンドプロパティ</a>、
 <a title="Replaced element" href="/ja/docs/CSS/Replaced_element">置換要素</a><%
        break;
    default:
%>CSS Key Concepts:
 <a title="Syntax" href="/en-US/docs/CSS/Syntax">CSS syntax</a>,
 <a title="Specificity" href="/en-US/docs/CSS/Specificity">specificity</a> and
 <a title="inheritance" href="/en-US/docs/CSS/inheritance">inheritance</a>,
 the <a title="Box model" href="/en-US/docs/CSS/box_model">box</a>,
 <a title="CSS layout modes" href="/en-US/docs/CSS/Layout_mode">layout modes</a> and
 <a title="Visual formatting model" href="/en-US/docs/CSS/Visual_formatting_model">visual formatting models</a>,
 and <a title="Margin collapsing" href="/en-US/docs/CSS/margin_collapsing">margin collapsing</a>,
 or the <a title="initial value" href="/en-US/docs/CSS/initial_value">initial</a>,
 <a title="computed value" href="/en-US/docs/CSS/computed_value">computed</a>,
 <a title="used value" href="/en-US/docs/CSS/used_value">used</a>
 and <a title="actual value" href="/en-US/docs/CSS/actual_value">actual</a> values.
 Definitions of <a title="Value definition syntax" href="/en-US/docs/CSS/Value_definition_syntax">value syntax</a>,
 <a title="Shorthand properties" href="/en-US/docs/CSS/Shorthand_properties">shorthand properties</a>
 and <a title="Replaced element" href="/en-US/docs/CSS/Replaced_element">replaced elements</a>.<%
        break;
}%>
