<%
switch(env.locale) {
    case "ja":

%>CSS の主要概念:
 <a href="/ja/docs/Web/CSS/Syntax" title="Syntax" >CSS 構文</a>、
 <a href="/ja/docs/Web/CSS/Specificity" title="Specificity">詳細度</a>、
 <a href="/ja/docs/Web/CSS/inheritance" title="inheritance">継承</a>、
 <a href="/ja/docs/Web/CSS/box_model" title="Box model">ボックスモデル</a>、
 <a href="/ja/docs/Web/CSS/Layout_mode" title="CSS layout modes">レイアウトモード</a>、
 <a href="/ja/docs/Web/CSS/Visual_formatting_model" title="Visual formatting model">視覚フォーマットモデル</a>、
 <a href="/ja/docs/Web/CSS/margin_collapsing" title="Margin collapsing">マージンの相殺</a>、
 値 (<a href="/ja/docs/Web/CSS/initial_value" title="initial value">initial</a> /
 <a href="/ja/docs/Web/CSS/computed_value" title="computed value">computed</a> /
 <a href="/ja/docs/Web/CSS/used_value" title="used value">used</a> /
 <a href="/ja/docs/Web/CSS/actual_value" title="actual value">actual</a>)、
 <a href="/ja/docs/Web/CSS/Value_definition_syntax" title="Value definition syntax">値の定義構文</a>、
 <a href="/ja/docs/Web/CSS/Shorthand_properties" title="Shorthand properties">ショートハンドプロパティ</a>、
 <a href="/ja/docs/Web/CSS/Replaced_element" title="Replaced element">置換要素</a><%

        break;
    case 'fr':    
        %>Concepts-clé du CSS:
 <a href="/fr/docs/Web/CSS/Syntax">syntaxe CSS</a>,
 <a href="/fr/docs/Web/CSS/Specificity">specificité</a> and
 <a href="/fr/docs/Web/CSS/inheritance">héritage</a>,
 le <a href="/fr/docs/Web/CSS/box_model">modèle de boîte</a>,
 <a href="/fr/docs/Web/CSS/Layout_mode">modes d'affichage</a> and
 <a href="/fr/docs/Web/CSS/Visual_formatting_model">modèles de formattage visuel</a>,
 et <a href="/fr/docs/Web/CSS/margin_collapsing">fusion des marges</a>,
 ou les valeurs <a href="/fr/docs/Web/CSS/initial_value">initiales</a>,
 <a href="/fr/docs/Web/CSS/computed_value">calculées</a>,
 <a href="/fr/docs/Web/CSS/used_value">utilisées</a>
 et <a href="/fr/docs/Web/CSS/actual_value">veritables</a>.
 Définitions des <a href="/fr/docs/Web/CSS/Value_definition_syntax">syntaxes de valeurs</a>,
 <a href="/fr/docs/Web/CSS/Shorthand_properties">propriétés raccourcies</a>
 et <a href="/fr/docs/Web/CSS/Replaced_element">éléments remplacés</a>.<%
        break;
    default:

%>CSS Key Concepts:
 <a title="Syntax" href="/en-US/docs/CSS/Syntax">CSS syntax</a>,
 <a title="Specificity" href="/en-US/docs/CSS/Specificity">specificity</a> and
 <a title="inheritance" href="/en-US/docs/CSS/inheritance">inheritance</a>,
 the <a title="Box model" href="/en-US/docs/CSS/box_model">box</a>,
 <a title="CSS layout modes" href="/en-US/docs/CSS/Layout_mode">layout modes</a> and
 <a title="Visual formatting model" href="/en-US/docs/CSS/Visual_formatting_model">visual formatting models</a>,
 and <a title="Margin collapsing" href="/en-US/docs/CSS/margin_collapsing">margin collapsing</a>,
 or the <a title="initial value" href="/en-US/docs/CSS/initial_value">initial</a>,
 <a title="computed value" href="/en-US/docs/CSS/computed_value">computed</a>,
 <a title="used value" href="/en-US/docs/CSS/used_value">used</a>
 and <a title="actual value" href="/en-US/docs/CSS/actual_value">actual</a> values.
 Definitions of <a title="Value definition syntax" href="/en-US/docs/CSS/Value_definition_syntax">value syntax</a>,
 <a title="Shorthand properties" href="/en-US/docs/CSS/Shorthand_properties">shorthand properties</a>
 and <a title="Replaced element" href="/en-US/docs/CSS/Replaced_element">replaced elements</a>.<%

}%>
