<span lang='en' class='lang lang-en'>{{mediawiki.external('http://developer.mozilla.org/samples/cssref/' + $0 + '.html View Live Examples')}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://developer.mozilla.org/samples/cssref/' + $0 + '.html View Live Examples')}}
</span><span lang='es' class='lang lang-es'>{{mediawiki.external('http://developer.mozilla.org/samples/cssref/' + $0 + '.html Ver ejemplos en acción')}}
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.external('http://developer.mozilla.org/samples/cssref/' + $0 + '.html Voir des exemples en ligne (en)')}}
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.external('http://developer.mozilla.org/samples/cssref/' + $0 + '.html 실제 예제 보기')}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.external('http://developer.mozilla.org/samples/cssref/' + $0 + '.html Zobacz przykład')}}
</span><span lang='zh-cn' class='lang lang-zh-cn'>{{mediawiki.external('http://developer.mozilla.org/samples/cssref/' + $0 + '.html View Live Examples')}}
</span>
