<%
var s_css_href = '/en-US/docs/CSS';
var s_css_title = 'CSS';
var s_css_ref_href = '/en-US/docs/CSS/CSS_Reference';
var s_css_ref_title = 'CSS Reference';

switch (env.locale) {
    case 'es':
        s_css_href = false;
        s_css_ref_href = '/es/docs/Guía_de_referencia_de_CSS';
        s_css_ref_title = 'Referencia CSS';
        break;
    case 'fr':
        s_css_href = '/fr/docs/CSS';
        s_css_title = 'CSS';
        s_css_ref_href = '/fr/docs/CSS/Référence_CSS';
        s_css_ref_title = 'Référence CSS';
        break;
    case 'ja':
        s_css_href = '/ja/docs/CSS';
        s_css_title = 'CSS';
        s_css_ref_href = '/ja/docs/CSS/CSS_Reference';
        s_css_ref_title = 'CSS リファレンス';
        break;
    case 'ko':
        s_css_href = false;
        s_css_title = 'CSS';
        s_css_ref_href = '/ko/docs/CSS_Reference';
        s_css_ref_title = 'CSS Reference';
        break;
    case 'pl':
        s_css_href = '/pl/docs/CSS';
        s_css_title = 'CSS';
        s_css_ref_href = '/pl/docs/Dokumentacja_CSS';
        s_css_ref_title = 'Dokumentacja CSS';
        break;
    case 'pt':
        s_css_href = false;
        s_css_ref_href = '/pt/docs/Referência_CSS';
        s_css_ref_title = 'Referência CSS';
        break;
    case 'zh-CN':
        s_css_href = false;
        s_css_ref_href = '/zh-CN/docs/CSS_Reference';
        s_css_ref_title = 'CSS 参考';
        break;
    case 'de':
        s_css_href = '/de/docs/CSS';
        s_css_title = 'CSS';
        s_css_ref_href = 'de/docs/CSS_Referenz';
        s_css_ref_title = 'CSS Referenz';
        break;
}
%>
<span><% if (s_css_href) { %>« <a href="<%=s_css_href%>"><%=s_css_title%></a> <% } %>« <a href="<%=s_css_ref_href%>"><%=s_css_ref_title%></a></span>
