<%
// Inserts a link to a CSS API's documentation in the CSS Reference.
// Appropriate styling is applied.
//
// Parameters:
//
//  $0 - API name
//  $1 - name to display (optional)
//  $2 - anchor (#xyz) (optional)

var lang = env.locale;
var str = $1 || $0;
str = str.toLowerCase();

// New CSS location
var URL = "/" + lang + "/docs/Web/CSS/" + $0 + $2;

// Locals that use the new location
// Add your local when you have moved your pages
var filter = ['en-US', 'ja', 'de'];

if (filter.indexOf(lang) === -1) { URL = "/" + lang + "/docs/CSS/" + $0 + $2; }

var summary = "";
/*var page = wiki.getPage(URL);

if (!$2) {
    if (page && page.summary) {
        summary = mdn.escapeQuotes(page.summary);
    } else {
        summary = "The documentation about this has not yet been written; please consider contributing!";
    }
}*/
%><a href="<%- URL %>" title="<%-summary%>"><code><%= str %></code></a>
