<span lang='en' class='lang lang-en'><code>{{mediawiki.internal('CSS:' + $0 + '|' + ($1 || $0), "en")}}</code>
</span><span lang='*' class='lang lang-*'><code>{{mediawiki.internal('CSS:' + $0 + '|' + ($1 || $0), "en")}}</code>
</span><span lang='es' class='lang lang-es'><code>{{mediawiki.internal('CSS:' + $0 + '|' + ($1 || $0), "es")}}</code>
</span><span lang='fr' class='lang lang-fr'><code>{{mediawiki.internal('CSS:' + $0 + '|' + ($1 || $0), "fr")}}</code>
</span><span lang='ja' class='lang lang-ja'><code>{{mediawiki.internal('CSS:' + $0 + '|' + ($1 || $0), "ja")}}</code>
</span><span lang='ko' class='lang lang-ko'><code>{{mediawiki.internal('CSS:' + $0 + '|' + $0, "ko")}}</code>
</span><span lang='pl' class='lang lang-pl'><code>{{mediawiki.internal('CSS:' + $0 + '|' + ($1 || $0), "pl")}}</code>
</span><span lang='pt' class='lang lang-pt'><code>{{mediawiki.internal('CSS:' + $0 + '|' + $0, "pt")}}</code>
</span><span lang='zh-cn' class='lang lang-zh-cn'><code>{{mediawiki.internal('CSS:' + $0 + '|' + $0, "zh-cn")}}</code>
</span><span lang='zh-tw' class='lang lang-zh-tw'><code>{{mediawiki.internal('CSS:' + $0 + '|' + ($1 || $0), "zh-tw")}}</code>
</span>
