<%
// Inserts a link to a CSS API's documentation in the CSS Reference.
// Appropriate styling is applied.
//
// Parameters:
//
//  $0 - API name
//  $1 - anchor (optional)

var lang = env.locale;
var str = $1 || $0;

// New CSS location
var URL = "/" + lang + "/docs/Web/CSS/" + $0; 

// Locals that use the new location
// Add your local when you have moved your pages
var filter = ['en-US','jp'];

if (filter.indexOf(lang) === -1) {
    URL = "/" + lang + "/docs/CSS/" + $0;
}


%><a href="<%- URL %>"><code><%- str %></code></a>
