<%
// Inserts a link to a CSS API's documentation in the CSS Reference.
// Appropriate styling is applied.
//
// Parameters:
//
//  $0 - API name
//  $1 - anchor (optional)

var l = env.locale;
var str = $1 || $0;


%><a href="/<%- l %>/docs/CSS/<%-$0 %><%- $1 %>"><code><%- str %></code></a>
