
<div class="noinclude">Example: <span class="script">template.cssxref("border-color")</span><hr />
</div>
<p><span class="script">web.link("/en/CSS/" + $0, ($1 || $0))</span><span class="script">web.link("/en/CSS/" + $0, ($1 || $0))</span><span class="script">web.link("/es/CSS/" + $0, ($1 || $0))</span><span class="script">web.link("/fr/CSS/" + $0, ($1 || $0))</span><span class="script">web.link("/ja/CSS/" + $0, ($1 || $0))</span><span class="script">web.link("/ko/CSS/" + $0, $0)</span><span class="script">web.link("/pl/CSS/" + $0, ($1 || $0))</span><span class="script">web.link("/en/CSS/" + $0, $0)</span> (en)<span class="script">web.link("/zh-cn/CSS/" + $0, $0)</span><span class="script">web.link("/zh-tw/CSS/" + $0, ($1 || $0))</span></p>
