<%
// Inserts a link to a CSS API's documentation in the CSS Reference.
// Appropriate styling is applied.
//
// Parameters:
//
//  $0 - API name
//  $1 - anchor (optional)

var lang = env.locale;
%><code><a href=<%-'"/' + lang + '/docs/CSS/' + $0 + $2 +'">' + ($1 || $0)%></a></code>
