<% module.exports = buildAPI({
    
    // Check if the given wiki page exists.
    // [See also](http://developer.mindtouch.com/en/docs/DekiScript/Reference/Wiki_Functions_and_Variables/Wiki.PageExists)
    pageExists: function (path) {
        return kuma.pageExists(path);    
    },
        
    // Retrieve the content of a document for inclusion
    // Doesn't (yet?) support all the parameters offered by DekiScript, but I don't think MDN pages use them all.
    // [See also](http://developer.mindtouch.com/en/docs/DekiScript/Reference/Wiki_Functions_and_Variables/Wiki.Page)
    page: function (path) {
        return kuma.include(path);
    },

    // http://developer.mindtouch.com/en/docs/DekiScript/Reference/Wiki_Functions_and_Variables/Wiki.GetPage
    getPage: function (path) {
        var key = 'kuma:get_page:' + md5(path.toLowerCase());
        return cacheFn(key, 3600, function (next) {
            var p = kuma.url.parse(env.url, true);
            var base_url = p.protocol + '//' + p.host;
            var opts = {
                method: 'GET',
                headers: { 'Cache-Control': env.cache_control },
                url: base_url + path + "$json"
            };
            try {
                request(opts, function (err, resp, body) {
                    var result = {};
                    if (resp && 200 == resp.statusCode) {
                        result = JSON.parse(body);
                    }
                    next(result);
                });
            } catch (e) {
                next({});
            }
        });
    },
 
    // Retrieve the full uri of a given wiki page.
    // [See also](http://developer.mindtouch.com/en/docs/DekiScript/Reference/Wiki_Functions_and_Variables/Wiki.Uri)
    uri: function (path, query) {
        var p = kuma.url.parse(env.url, true);
        var base = p.protocol + '//' + p.host + '/';            
        var out = base + path;
        if (query) { out += '?' + query; }
        return out;
    },
 
    // A link to the wiki page that you will add, that will be in a different language.
    // [See also](http://developer.mindtouch.com/en/docs/DekiScript/Reference/Wiki_Functions_and_Variables/Wiki.Languages)
    languages: function (langs) {
        // TODO
        var out = ['<ul>'];
        _.each(langs, function (url, lang) {
            out.push('<li><a href="', kuma.htmlEscape(url), '">',
                     kuma.htmlEscape(lang), '</a></li>');
        });
        out.push('</ul>');
        return out.join('');
    }
     
}); %>
