
<div class="noinclude"><span class="script">template.deprecated_header()</span><hr />
</div>
<p><span lang="en" class="lang lang-en">
<div style="overflow:hidden; border: 1px solid #5151FF; background-color: #B9B9FF; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Deprecated</p>
</div>
</span><span lang="*" class="lang lang-*">
<div style="overflow:hidden; border: 1px solid #5151FF; background-color: #B9B9FF; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Deprecated</p>
</div>
</span><span lang="de" class="lang lang-de">
<div style="overflow:hidden; border: 1px solid #5151FF; background-color: #B9B9FF; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Unerwünscht (Deprecated)</p>
</div>
</span><span lang="fr" class="lang lang-fr">
<div style="overflow:hidden; border: 1px solid #5151FF; background-color: #B9B9FF; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Déprécié</p>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="overflow:hidden; border: 1px solid #5151FF; background-color: #B9B9FF; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">非推奨</p>
</div>
</span><span lang="pl" class="lang lang-pl">
<div style="overflow:hidden; border: 1px solid #4646DC; background-color: #B9B9FF; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Wycofywany</p>
</div>
</span><span lang="zh-tw" class="lang lang-zh-tw"><span class="script">wiki.template('Template:棄用標題', args)</span></span></p>
