
<div class="noinclude"><span class="script">deprecated_inline()</span><hr />
</div>
<pre class="script">
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var str = "Deprecated";

switch(lang) {
  case 'de':
    str = "Unerwünscht";
    break;
  case 'fr':
    str = "Déprécié";
    break;
  case 'it':
    str = "Deprecato";
    break;
  case 'ja':
    str = "非推奨";
    break;
  case 'ko':
    str = "Deprecated";
    break;
  case 'pl':
    str = "Wycofywany";
    break;
  case 'zh-cn':
    str = "不推荐";
    break;
  case 'zh-tw':
    str = "已正式宣告棄用";
    break;
  case 'ru':
    str = "Не рекомендуется";
    break;
}

<span style="border: 1px solid rgb(152, 152, 240); background-color: rgb(221, 221, 255); font-size: x-small; white-space: nowrap; padding: 2px;">
  str;
</span>

%>
