
<div class="noinclude"><span class="script">deprecated_header()</span><hr />
</div>
<p> </p>
<pre class="script">
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var deprecated = "Deprecated";

switch(lang) {
  case 'de':
    deprecated = "Unerwünscht (Deprecated)";
    break;
  case 'fr':
    deprecated = "Déprécié";
    break;
  case 'ja':
    deprecated = "非推奨";
    break;
  case 'pl':
    deprecated = "Wycofywany";
    break;
  case 'zh-tw':
    deprecated = "已正式宣告棄用";
    break;
}

<div style="overflow:hidden; border: 1px solid #5151FF; background-color: #B9B9FF; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
  <p style="margin: 4px 0px 4px 0px;">
    deprecated;
  </p>
</div>
</pre>
