<%
/*
    Parameters : none
*/

var titleAttrValue = mdn.localString({
    "ca": "This deprecated API should no longer be used, but will probably still work.",
    "cs": "This deprecated API should no longer be used, but will probably still work.",
    "de": "This deprecated API should no longer be used, but will probably still work.",
    "el": "This deprecated API should no longer be used, but will probably still work.",
    "es": "This deprecated API should no longer be used, but will probably still work.",
    "fa": "This deprecated API should no longer be used, but will probably still work.",
    "fi": "This deprecated API should no longer be used, but will probably still work.",
    "fr": "This deprecated API should no longer be used, but will probably still work.",
    "he": "This deprecated API should no longer be used, but will probably still work.",
    "hr": "This deprecated API should no longer be used, but will probably still work.",
    "hu": "This deprecated API should no longer be used, but will probably still work.",
    "id": "This deprecated API should no longer be used, but will probably still work.",
    "it": "This deprecated API should no longer be used, but will probably still work.",
    "ja": "これは非推奨 API です。未だ動作しているかも知れませんが、将来的に削除される可能性があります。",
    "ka": "This deprecated API should no longer be used, but will probably still work.",
    "ko": "This deprecated API should no longer be used, but will probably still work.",
    "ms": "This deprecated API should no longer be used, but will probably still work.",
    "nl": "This deprecated API should no longer be used, but will probably still work.",
    "pl": "This deprecated API should no longer be used, but will probably still work.",
    "ro": "This deprecated API should no longer be used, but will probably still work.",
    "ru": "This deprecated API should no longer be used, but will probably still work.",
    "sq": "This deprecated API should no longer be used, but will probably still work.",
    "th": "This deprecated API should no longer be used, but will probably still work.",
    "tr": "This deprecated API should no longer be used, but will probably still work.",
    "vi": "This deprecated API should no longer be used, but will probably still work.",
    "bn-BD": "This deprecated API should no longer be used, but will probably still work.",
    "fy-NL": "This deprecated API should no longer be used, but will probably still work.",
    "ga-IE": "This deprecated API should no longer be used, but will probably still work.",
    "pt-BR": "This deprecated API should no longer be used, but will probably still work.",
    "pt-PT": "This deprecated API should no longer be used, but will probably still work.",
    "zh-CN": "This deprecated API should no longer be used, but will probably still work.",
    "zh-TW": "This deprecated API should no longer be used, but will probably still work.",
    "en-US": "This deprecated API should no longer be used, but will probably still work."
});

if ($0) {
    %><div class="deprecatedIcon" title='<%=titleAttrValue%>'></div><%
} else {
var str = mdn.localString({
    "ca": "Deprecated",
    "cs": "Deprecated",
    "de": "Deprecated",
    "el": "Deprecated",
    "es": "Deprecated",
    "fa": "Deprecated",
    "fi": "Deprecated",
    "fr": "Deprecated",
    "he": "Deprecated",
    "hr": "Deprecated",
    "hu": "Deprecated",
    "id": "Deprecated",
    "it": "Deprecated",
    "ja": "非推奨",
    "ka": "Deprecated",
    "ko": "Deprecated",
    "ms": "Deprecated",
    "nl": "Deprecated",
    "pl": "Deprecated",
    "ro": "Deprecated",
    "ru": "Deprecated",
    "sq": "Deprecated",
    "th": "Deprecated",
    "tr": "Deprecated",
    "vi": "Deprecated",
    "bn-BD": "Deprecated",
    "fy-NL": "Deprecated",
    "ga-IE": "Deprecated",
    "pt-BR": "Deprecated",
    "pt-PT": "Deprecated",
    "zh-CN": "Deprecated",
    "zh-TW": "Deprecated",
    "en-US": "Deprecated"
});

%><%-template("SimpleBadge", [str, "deprecatedBadge", titleAttrValue])%><%
}
%>
