
<p lang="en" style="border: 1px solid rgb(81, 81, 255); margin: 10px 0px; padding: 4px; background: rgb(185, 185, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: bold; text-align: center;">Deprecated</p>
<p lang="*" style="border: 1px solid rgb(81, 81, 255); margin: 10px 0px; padding: 4px; background: rgb(185, 185, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: bold; text-align: center;">Deprecated</p>
<p lang="de" style="border: 1px solid rgb(81, 81, 255); margin: 10px 0px; padding: 4px; background: rgb(185, 185, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: bold; text-align: center;">Unerwünscht (Deprecated)</p>
<p lang="fr" style="border: 1px solid rgb(81, 81, 255); margin: 10px 0px; padding: 4px; background: rgb(185, 185, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: bold; text-align: center;">Déprécié</p>
<p lang="ja" style="border: 1px solid rgb(81, 81, 255); margin: 10px 0px; padding: 4px; background: rgb(185, 185, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: bold; text-align: center;">非推奨</p>
<p lang="pl" style="border: 1px solid rgb(70, 70, 220); margin: 10px 0px; padding: 4px; background: rgb(185, 185, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: bold; text-align: center;">Wycofywany</p>
<p><span lang="zh-tw" class="lang lang-zh-tw"><span class="script">wiki.template('Template:棄用標題', args)</span></span></p>
<p> </p>
