<tr>
  <td><code>alpha</code></td>
  <td>double (float)</td>
  <td>The current orientation of the device around the Z axis; that is, how far the device is rotated around a line perpendicular to the device. Read only.</td>
</tr>
<tr>
  <td><code>beta</code></td>
  <td>double (float)</td>
  <td>The current orientation of the device around the X axis; that is, how far the device is tipped forward or backward. Read only.</td>
</tr>
<tr>
  <td><code>gamma</code></td>
  <td>double (float)</td>
  <td>The current orientation of the device around the Y axis; that is, how far the device is turned left or right. Read only.</td>
</tr>
<tr>
  <td><code>absolute</code></td>
  <td>boolean</td>
  <td>This value is <code>true</code> if the orientation is provided as a difference between the device coordinate frame and the Earth coordinate frame; if the device can't detect the Earth coordinate frame, this value is <code>false</code>. Read only.</td>
</tr>
