<div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<p>この記事について
</p>
<dl><dt>{{mediawiki.external($1 + ' 原文')}}
</dt><dt>公開
</dt><dd>{{web.html($2)}}
</dd><dt>著者
</dt><dd>{{web.html($3)}}
</dd><dt>カテゴリ
</dt><dd>{{web.html($4)}}
</dd></dl>
</div>
<h2 name="">{{web.html($0)}}</h2>
