<div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal('DevNews:' + $0 + '|' + $0, "ja")}}</span>
<span style="float:right;">{{mediawiki.internal('DevNews:' + $1 + '|' + $1, "ja")}} »</span>
</p>
</div>
<span class="comment">Comment here to ensure newlines get recognized</span>

<div class="noinclude">
<p>このテンプレートは <a class="external" href="http://developer.mozilla.org/devnews/">DevNews</a> の翻訳に使われています。
</p><p>このテンプレートを使うには以下の内容を記事の先頭に追加してください。
</p>
<pre>{{DevNewsPreviousNext|前の記事のページ名|次の記事のページ名}}</pre>
</div>
