<div style="border: 1px solid rgb(119, 119, 119); margin: 0 0 15px 15px; padding: 0 15px 5px; float: right; background-color: rgb(238, 238, 238); font-size: .85em;">

<div><a title="ja/DevNews" href="/ja/DevNews">一覧</a></div>

<p>この記事について</p>

<dl>
<dt><span class="script">web.link($1,'原文')</span></dt>
<dt>公開</dt>
<dd><span class="script">web.html($2)</span></dd>
<dt>著者</dt>
<dd><span class="script">web.html($3)</span></dd>
<dt>カテゴリ</dt>
<dd><span class="script">web.html($4)</span></dd>
</dl>

</div>
