<div class="includeonly">
<div class="prevnext">
<p>{{web.html($<span style="float:left;">&laquo; [[DevNews:<mediawiki:ref index="1" />|<mediawiki:ref index="1" />]]</span> || '')}}
{{web.html($<span style="float:right;">[[DevNews:<mediawiki:ref index="2" />|<mediawiki:ref index="2" />]] &raquo;</span> || '')}}
</p>
</div>
<p><span class="comment">Comment here to ensure newlines get recognized</span>
</p>
</div>
<div class="noinclude">
<p>このテンプレートは <a class="external" href="http://developer.mozilla.org/devnews/">DevNews</a> の翻訳 (<a href="ja/DevNews">DevNews</a>)に使われています。
</p><p>このテンプレートを使うには以下の内容を記事の先頭に追加してください。
</p>
<pre>{{DevNewsPreviousNext|前の記事のページ名|次の記事のページ名}}</pre>
</div>
