<div class="disambig" id="disambig">
<p><i>これは<a href="ja/Devmo/Disambiguation">あいまい性除去</a>のページです</i>
— 同じ題名を共有している可能性のあるページをリストして案内を補助します。
記事のリンクからここに来たのであれば、戻って意図するページに直接行くように修正することもできます。
</p>
</div>
