<span lang='en' class='lang lang-en'><div class="disambig" id="disambig"><i>This is a <a href="Project:en/Disambiguation">disambiguation</a> page — a navigational aid which lists other pages that might otherwise share the same title. If an article link referred you here, you might want to go back and fix it to point directly to the intended page.</i></div><div class="includeonly"></div>
</span><span lang='*' class='lang lang-*'><div class="disambig" id="disambig"><i>This is a <a href="Project:en/Disambiguation">disambiguation</a> page — a navigational aid which lists other pages that might otherwise share the same title. If an article link referred you here, you might want to go back and fix it to point directly to the intended page.</i></div><div class="includeonly"></div>
</span><span lang='fr' class='lang lang-fr'><div class="disambig" id="disambig"><i>Ceci est une page de <a href="Project:fr/D%c3%a9sambiguation">désambiguation</a> — une aide à la navigation qui liste une série de pages qui devraient partager le même titre. Si un lien provenant d'un article mène ici, n'hésitez pas à revenir à celui-ci pour le faire pointer vers la page concernée.</i></div><div class="includeonly"></div>
</span><span lang='ja' class='lang lang-ja'><div class="disambig" id="disambig">
<p><i>これは<a href="Project:ja/Disambiguation">あいまい性除去</a>のページです</i>
— 同じ題名を共有している可能性のあるページをリストして案内を補助します。
記事のリンクからここに来たのであれば、戻って意図するページに直接行くように修正することもできます。
</p>
</div><div class="includeonly"></div>
</span><span lang='pl' class='lang lang-pl'><div class="disambig" id="disambig"><i>To jest strona <a href="Project:pl/Ujednoznacznienie">ujednoznaczniająca</a> — nawigacyjna pomoc będąca listą stron, które w jakiś sposób mogą współdzielić ten sam tytuł. Jeśli odnośnik w artykule przekierowuje na tę stronę, należy powrócić do tego artykułu i poprawić ten odnośnik tak, aby prowadził on bezpośrednio do zamierzonej strony.</i></div><div class="includeonly"></div>
</span>
