<ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' comme liste de diffusion')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' comme newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' comme groupe Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds comme flux de syndication')}}
</li></ul>
</li></ul>
