<ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' jako lista dyskusyjna')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' jako newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' jako Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds jako Web feed')}}
</li></ul>
</li></ul>
