<ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' come mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' come newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' come Gruppo su Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds come Web feed')}}
</li></ul>
</li></ul>
<div class="noinclude">
</div>
{{ wiki.languages( { "en": "Template:DiscussionList" } ) }}
