
<p><span lang="en" class="lang lang-en">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' as a mailing list')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' as a newsgroup')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' as a Google Group')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds as a Web feed')</span></li>
</ul>
</span><span lang="*" class="lang lang-*">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' as a mailing list')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' as a newsgroup')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' as a Google Group')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds as a Web feed')</span></li>
</ul>
</span><span lang="ca" class="lang lang-ca">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' com una llista de correu')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' com un grup de discussió')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' com un grup de Google')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds com un canal web')</span></li>
</ul>
</span><span lang="de" class="lang lang-de">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' als Mailing-Liste')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' als Newsgroup')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' als Google Group')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds als Web Feed')</span></li>
</ul>
</span><span lang="es" class="lang lang-es">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' como lista de correo')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' como grupo de noticias')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' como grupo de Google')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds como RSS')</span></li>
</ul>
</span><span lang="fr" class="lang lang-fr">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' Liste de diffusion')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' Newsgroup')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' Groupe Google')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Flux de syndication')</span></li>
</ul>
</span><span lang="it" class="lang lang-it">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' come mailing list')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' come newsgroup')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' come Gruppo su Google')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds come Web feed')</span></li>
</ul>
<ul> <li><a href="http://groups.google.com/group/mozilla.dev.general.it" class="external">Guarda il newsgroup italiano</a></li>
</ul>
</span><span lang="ja" class="lang lang-ja">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' メーリングリストとして')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' ニュースグループとして')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' Google Group として')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Web フィードとして')</span></li>
</ul>
</span><span lang="ko" class="lang lang-ko">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' 메일링 리스트')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' 뉴스그룹')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' Google 그룹')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds 웹 Feed')</span></li>
</ul>
</span><span lang="pl" class="lang lang-pl">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' jako listę dyskusyjna')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' jako newsgroup')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' jako grupę Google')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds jako kanał')</span></li>
</ul>
</span><span lang="ru" class="lang lang-ru">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' as a mailing list')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' as a newsgroup')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + ' as a Google Group')</span></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds as a Web feed')</span></li>
</ul>
</span><span lang="zh-cn" class="lang lang-zh-cn">
<ul> <li><span class="script">mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' 邮件列表')</span></li> <li><span class="script">mediawiki.external('news://news.mozilla.org/' + $1 + ' 新闻组')</span></li> <li><a href="http://groups.google.com/group/mozilla-dev-platform-cn" class="external">Google Group（中文）</a></li> <li><span class="script">mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Web feed')</span></li>
</ul>
</span></p>
