<span lang='en' class='lang lang-en'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' as a mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' as a newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' as a Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds as a Web feed')}}
</li></ul>
</li></ul>
</span><span lang='*' class='lang lang-*'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' as a mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' as a newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' as a Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds as a Web feed')}}
</li></ul>
</li></ul>
</span><span lang='ca' class='lang lang-ca'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' com una llista de correu')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' com un grup de discussió')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' com un grup de Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds com un canal web')}}
</li></ul>
</li></ul>
</span><span lang='de' class='lang lang-de'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' als Mailing-Liste')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' als Newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' als Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds als Web Feed')}}
</li></ul>
</li></ul>
</span><span lang='es' class='lang lang-es'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' como lista de correo')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' como grupo de noticias')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' como grupo de Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds como RSS')}}
</li></ul>
</li></ul>
</span><span lang='fr' class='lang lang-fr'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' Liste de diffusion')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' Newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' Groupe Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Flux de syndication')}}
</li></ul>
</li></ul>
</span><span lang='it' class='lang lang-it'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' come mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' come newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' come Gruppo su Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds come Web feed')}}
</li></ul>
</li><li> <a class="external" href="http://groups.google.com/group/mozilla.dev.general.it">Guarda il newsgroup italiano</a>
</li></ul>
<div class="noinclude">
</div>
{{ wiki.languages( { "en": "Template:DiscussionList" } ) }}</span><span lang='ja' class='lang lang-ja'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' メーリングリストとして')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' ニュースグループとして')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' Google Group として')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Web フィードとして')}}
</li></ul>
</li></ul>
</span><span lang='ko' class='lang lang-ko'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' 메일링 리스트')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' 뉴스그룹')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' Google 그룹')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds 웹 Feed')}}
</li></ul>
</li></ul>
</span><span lang='pl' class='lang lang-pl'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' jako listę dyskusyjna')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' jako newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' jako grupę Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds jako kanał')}}
</li></ul>
</li></ul>
</span><span lang='ru' class='lang lang-ru'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' as a mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' as a newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' as a Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds as a Web feed')}}
</li></ul>
</li></ul>
</span><span lang='zh-cn' class='lang lang-zh-cn'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' 邮件列表')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' 新闻组')}}
</li><li> <a class="external" href="http://groups.google.com/group/mozilla-dev-platform-cn">Google Group（中文）</a>
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Web feed')}}
</li></ul>
</li></ul>
</span>
