<ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + 'メーリングリストとして')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' ニュースグループとして')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' Google Group として')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Web フィードとして')}}
</li></ul>
</li></ul>
