<ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' as a mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' as a newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' as a Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds as a Web feed')}}
</li></ul>
