<ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' Mailing List')}}
</li><li> {{mediawiki.external('news://' + $1 + ' Newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds Web Feeds')}}
</li></ul>
