<% 
 // Collection of documentation status pages for sections and languages
%>
<section class="Quick_links" id="Quick_Links">
    <ol>
        <li><strong><a href="/en-US/docs/MDN/Doc_status">Documentation status pages</a></strong></li>
        <li><strong><a href="/en-US/docs/MDN/Doc_status/Overview">Overview</a></strong></li>
        <li><strong>Sections:</strong></li>
            <ol>
                <li><a href="/en-US/docs/MDN/Doc_status/CSS">CSS</a>
                <li><a href="/en-US/docs/MDN/Doc_status/JavaScript">JavaScript</a>
                <li><a href="/en-US/docs/MDN/Doc_status/SVG">SVG</a>
            </ol>
        </li>
        <li><strong>Reviews:</strong></li>
            <ol>
                <li><a href="/en-US/docs/MDN/Doc_status/Editorial_reviews">Editorial</a></li>
                <li><a href="/en-US/docs/MDN/Doc_status/Tech_reviews">Technical</a></li>
            </ol>
        </li>
        <li><strong>Languages:</strong></li>
            <ol>
                <li><a href="/ja/docs/MDN/Doc_status/Overview">Japanese</a>
                <li><a href="/fr/docs/MDN/Doc_status/Overview">French</a>
            </ol>
    </ol>
</section>
