<% 
 // Collection of documentation status pages for sections and languages
%>
<section class="Quick_links" id="Quick_Links">
    <ol>
        <li><strong>Documentation status pages</strong></li>
        <li><strong><a href="/en-US/docs/Web/Documentation_status">By section</a></strong></li>
        <li><a href="/en-US/docs/Web/CSS/Documentation_status">CSS</a>
            <ol>
                <li><a href="/en-US/docs/Web/CSS/Documentation_status/ja">Japanese</a></li>
            </ol>
        </li>
        <li><a href="/en-US/docs/Web/JavaScript/Doc_status">JavaScript</a>
            <ol>
                <li><a href="/en-US/docs/Web/JavaScript/Doc_status/ja">Japanese</a></li>
            </ol>
        </li>
        <li><strong><a href="/en-US/docs/LINK_TO_ALL_LANGUAGES_OVERVIEW_HERE">By language</a></strong></li>
        <li><a href="/en-US/docs/LINK_TO_JAPANESE_OVERVIEW_HERE">Japanese</a>
            <ol>
                <li><a href="/en-US/docs/Web/CSS/Documentation_status/ja">CSS</a></li>
                <li><a href="/en-US/docs/Web/JavaScript/Doc_status/ja">JavaScript</a></li>
            </ol>
        </li>
        <li><strong><a href="/en-US/docs/HOW_TO_HELP_WITH_DOC_STATUS_PAGES">Howto help page here</a></strong>
    </ol>
</section>
