<% 
 // Collection of documentation status pages for sections and languages
%>
<section class="Quick_links" id="Quick_Links">
    <ol>
        <li><strong><a href="/en-US/docs/MDN/Doc_status">Documentation status pages</a></strong></li>
        <li><strong><a href="/en-US/docs/MDN/Doc_status/Overview">Overview</a></strong></li>
        <li><strong>Sections:</strong></li>
            <ol>
                <li><a href="/en-US/docs/MDN/Doc_status/Accessibility">Accessibility</a>
                <li><a href="/en-US/docs/MDN/Doc_status/API">API</a>
                <li><a href="/en-US/docs/MDN/Doc_status/CSS">CSS</a>
                <li><a href="/en-US/docs/MDN/Doc_status/DevTools">DevTools</a>
                <li><a href="/en-US/docs/MDN/Doc_status/HTML">HTML</a>
                <li><a href="/en-US/docs/MDN/Doc_status/JavaScript">JavaScript</a>
                <li><a href="/en-US/docs/MDN/Doc_status/MathML">MathML</a>
                <li><a href="/en-US/docs/MDN/Doc_status/SVG">SVG</a>
            </ol>
        </li>
        <li><strong>Reviews:</strong></li>
            <ol>
                <li><a href="/en-US/docs/MDN/Doc_status/Editorial_reviews">Editorial</a></li>
                <li><a href="/en-US/docs/MDN/Doc_status/Tech_reviews">Technical</a></li>
            </ol>
        </li>
        <li><strong>Localizations:</strong></li>
            <ol>
                <li><a href="/de/docs/MDN/Doc_status/Overview">Deutsch</a>
                <li><a href="/es/docs/MDN/Doc_status/Overview">Español</a>
                <li><a href="/fr/docs/MDN/Doc_status/Overview">Français</a>
                <li><a href="/ja/docs/MDN/Doc_status/Overview">日本語</a>
                <li><a href="/pl/docs/MDN/Doc_status/Overview">Polski</a>
                <li><a href="/pt-BR/docs/MDN/Doc_status/Overview">Português (do Brasil)</a>
                <li><a href="/zh-CN/docs/MDN/Doc_status/Overview">中文 (简体)</a>
            </ol>
    </ol>
</section>
