<span lang='en' class='lang lang-en'>DOM Level 0. Not part of any standard. <div class="includeonly"></div>
</span><span lang='*' class='lang lang-*'>DOM Level 0. Not part of any standard. <div class="includeonly"></div>
</span><span lang='fr' class='lang lang-fr'>DOM Level 0. Ne fait partie d'aucune spécification.
</span><span lang='ja' class='lang lang-ja'>DOM Level 0。どの標準にも属しません。 <div class="includeonly"></div>
</span><span lang='pl' class='lang lang-pl'>DOM Level 0. Nie jest częścią żadnego standardu. <div class="includeonly"></div>
</span>
