DOM methods dealing with element's attributes:

<table class="fullwidth-table">
<tr>
<th>DOM Level 1 (not namespace-aware, most commonly used)</th> 
<th>DOM Level 2 (namespace-aware)</th> 
<th>DOM Level 1 methods for dealing with <code>Attr</code> nodes directly (seldom used)</th> 
<th>DOM Level 2 namespace-aware methods for dealing with <code>Attr</code> nodes directly (seldom used)</th> 
</tr>
<tr>
<td><a href="en/DOM/element.setAttribute">setAttribute</a></td>
<td><a href="en/DOM/element.setAttributeNS">setAttributeNS</a></td>
<td><a href="en/DOM/element.setAttributeNode">setAttributeNode</a></td>
<td><a href="en/DOM/element.setAttributeNodeNS">setAttributeNS</a></td>
</tr>
<tr>
<td><a href="en/DOM/element.getAttribute">getAttribute</a></td>
<td><a href="en/DOM/element.getAttributeNS">getAttributeNS</a></td>
<td><a href="en/DOM/element.getAttributeNode">getAttributeNode</a></td>
<td><a href="en/DOM/element.getAttributeNodeNS">getAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="en/DOM/element.hasAttribute">hasAttribute</a></td>
<td><a href="en/DOM/element.hasAttributeNS">hasAttributeNS</a></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><a href="en/DOM/element.removeAttribute">removeAttribute</a></td>
<td><a href="en/DOM/element.removeAttributeNS">removeAttributeNS</a></td>
<td><a href="en/DOM/element.removeAttributeNode">removeAttributeNode</a></td>
<td>-</td>
</tr>
</table>
