<span lang='en' class='lang lang-en'>DOM methods dealing with element's attributes:

<table class="fullwidth-table">
<tr>
<th>Not namespace-aware, most commonly used methods</th> 
<th>Namespace-aware variants (DOM Level 2)</th> 
<th>DOM Level 1 methods for dealing with <code>Attr</code> nodes directly (seldom used)</th> 
<th>DOM Level 2 namespace-aware methods for dealing with <code>Attr</code> nodes directly (seldom used)</th> 
</tr>
<tr>
<td><a href="en/DOM/element.setAttribute">setAttribute</a> (DOM 1)</td>
<td><a href="en/DOM/element.setAttributeNS">setAttributeNS</a></td>
<td><a href="en/DOM/element.setAttributeNode">setAttributeNode</a></td>
<td><a href="en/DOM/element.setAttributeNodeNS">setAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="en/DOM/element.getAttribute">getAttribute</a> (DOM 1)</td>
<td><a href="en/DOM/element.getAttributeNS">getAttributeNS</a></td>
<td><a href="en/DOM/element.getAttributeNode">getAttributeNode</a></td>
<td><a href="en/DOM/element.getAttributeNodeNS">getAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="en/DOM/element.hasAttribute">hasAttribute</a> (DOM 2)</td>
<td><a href="en/DOM/element.hasAttributeNS">hasAttributeNS</a></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><a href="en/DOM/element.removeAttribute">removeAttribute</a> (DOM 1)</td>
<td><a href="en/DOM/element.removeAttributeNS">removeAttributeNS</a></td>
<td><a href="en/DOM/element.removeAttributeNode">removeAttributeNode</a></td>
<td>-</td>
</tr>
</table>
</span><span lang='*' class='lang lang-*'>DOM methods dealing with element's attributes:

<table class="fullwidth-table">
<tr>
<th>Not namespace-aware, most commonly used methods</th> 
<th>Namespace-aware variants (DOM Level 2)</th> 
<th>DOM Level 1 methods for dealing with <code>Attr</code> nodes directly (seldom used)</th> 
<th>DOM Level 2 namespace-aware methods for dealing with <code>Attr</code> nodes directly (seldom used)</th> 
</tr>
<tr>
<td><a href="en/DOM/element.setAttribute">setAttribute</a> (DOM 1)</td>
<td><a href="en/DOM/element.setAttributeNS">setAttributeNS</a></td>
<td><a href="en/DOM/element.setAttributeNode">setAttributeNode</a></td>
<td><a href="en/DOM/element.setAttributeNodeNS">setAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="en/DOM/element.getAttribute">getAttribute</a> (DOM 1)</td>
<td><a href="en/DOM/element.getAttributeNS">getAttributeNS</a></td>
<td><a href="en/DOM/element.getAttributeNode">getAttributeNode</a></td>
<td><a href="en/DOM/element.getAttributeNodeNS">getAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="en/DOM/element.hasAttribute">hasAttribute</a> (DOM 2)</td>
<td><a href="en/DOM/element.hasAttributeNS">hasAttributeNS</a></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><a href="en/DOM/element.removeAttribute">removeAttribute</a> (DOM 1)</td>
<td><a href="en/DOM/element.removeAttributeNS">removeAttributeNS</a></td>
<td><a href="en/DOM/element.removeAttributeNode">removeAttributeNode</a></td>
<td>-</td>
</tr>
</table>
</span><span lang='fr' class='lang lang-fr'><p>Méthodes DOM traitant des attributs sur les éléments :
</p>
<table class="fullwidth-table">
<tr>
<th>DOM Level 1<br />(le plus courant)</th> 
<th>DOM Level 2</th> 
<th>DOM Level 1 traitant directement les nœuds <code>Attr</code></th> 
<th>DOM Level 2 traitant directement les nœuds <code>Attr</code></th> 
</tr>
<tr>
<td><a href="fr/DOM/element.setAttribute">setAttribute</a></td>
<td><a href="fr/DOM/element.setAttributeNS">setAttributeNS</a></td>
<td><a href="fr/DOM/element.setAttributeNode">setAttributeNode</a></td>
<td><a href="fr/DOM/element.setAttributeNodeNS">setAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="fr/DOM/element.getAttribute">getAttribute</a></td>
<td><a href="fr/DOM/element.getAttributeNS">getAttributeNS</a></td>
<td><a href="fr/DOM/element.getAttributeNode">getAttributeNode</a></td>
<td><a href="fr/DOM/element.getAttributeNodeNS">getAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="fr/DOM/element.hasAttribute">hasAttribute</a></td>
<td><a href="fr/DOM/element.hasAttributeNS">hasAttributeNS</a></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><a href="fr/DOM/element.removeAttribute">removeAttribute</a></td>
<td><a href="fr/DOM/element.removeAttributeNS">removeAttributeNS</a></td>
<td><a href="fr/DOM/element.removeAttributeNode">removeAttributeNode</a></td>
<td>-</td>
</tr>
</table>
<p>Les méthodes DOM Level 1 ne prennent pas en compte les espaces de noms tandis que les méthodes DOM Level 2 le font. Les méthodes traitant directement les nœuds <code>Attr</code> sont très rarement utilisées.
</p></span><span lang='ja' class='lang lang-ja'><p>DOMメソッドは要素の属性を取り扱います。
</p>
<table class="fullwidth-table">
<tr>
<th>名前空間に無関係、最も一般的に使用されるメソッド</th> 
<th>名前空間に限定される変数 (DOM Level 2)</th> 
<th><code>Attr</code> ノードを直接扱うためのDOMレベル1のメソッド (ほとんど使用されない)</th> 
<th><code>Attr</code> ノードを直接扱うための DOMレベル2 名前空間に限定されるメソッド(ほとんど使用されない)</th> 
</tr>
<tr>
<td><a href="ja/DOM/element.setAttribute">setAttribute</a> (DOM 1)</td>
<td><a href="ja/DOM/element.setAttributeNS">setAttributeNS</a></td>
<td><a href="ja/DOM/element.setAttributeNode">setAttributeNode</a></td>
<td><a href="ja/DOM/element.setAttributeNodeNS">setAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="ja/DOM/element.getAttribute">getAttribute</a> (DOM 1)</td>
<td><a href="ja/DOM/element.getAttributeNS">getAttributeNS</a></td>
<td><a href="ja/DOM/element.getAttributeNode">getAttributeNode</a></td>
<td><a href="ja/DOM/element.getAttributeNodeNS">getAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="ja/DOM/element.hasAttribute">hasAttribute</a> (DOM 2)</td>
<td><a href="ja/DOM/element.hasAttributeNS">hasAttributeNS</a></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><a href="ja/DOM/element.removeAttribute">removeAttribute</a> (DOM 1)</td>
<td><a href="ja/DOM/element.removeAttributeNS">removeAttributeNS</a></td>
<td><a href="ja/DOM/element.removeAttributeNode">removeAttributeNode</a></td>
<td>-</td>
</tr>
</table>
<p><br />
</p>
<div class="noinclude">
</div>
{{ wiki.languages( { "en": "Template:DOMAttributeMethods" } ) }}</span><span lang='pl' class='lang lang-pl'>Metody DOM do obsługi atrybutów to:

<table class="fullwidth-table">
<tr>
<th>DOM Level 1
<small>(brak obsługi przestrzeni nazw, najczęściej używane)</small></th> 
<th>DOM Level 2
<small>(obsługa przestrzeni nazw)</small></th> 
<th>DOM Level 1
<small>- praca bezpośrednio z węzłami <code>Attr</code> (rzadko używane)</small></th> 
<th>DOM Level 2
<small>- praca bezpośrednio z węzłami <code>Attr</code>, z obsługą przestrzeni nazw (rzadko używane)</small></th> 
</tr>
<tr>
<td><a href="pl/DOM/element.setAttribute">setAttribute</a></td>
<td><a href="pl/DOM/element.setAttributeNS">setAttributeNS</a></td>
<td><a href="pl/DOM/element.setAttributeNode">setAttributeNode</a></td>
<td><a href="pl/DOM/element.setAttributeNodeNS">setAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="pl/DOM/element.getAttribute">getAttribute</a></td>
<td><a href="pl/DOM/element.getAttributeNS">getAttributeNS</a></td>
<td><a href="pl/DOM/element.getAttributeNode">getAttributeNode</a></td>
<td><a href="pl/DOM/element.getAttributeNodeNS">getAttributeNodeNS</a></td>
</tr>
<tr>
<td><a href="pl/DOM/element.hasAttribute">hasAttribute</a></td>
<td><a href="pl/DOM/element.hasAttributeNS">hasAttributeNS</a></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td><a href="pl/DOM/element.removeAttribute">removeAttribute</a></td>
<td><a href="pl/DOM/element.removeAttributeNS">removeAttributeNS</a></td>
<td><a href="pl/DOM/element.removeAttributeNode">removeAttributeNode</a></td>
<td>-</td>
</tr>
</table>
</span>
