<%
/* one parameter: name of sample's file in /samples/domref */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var str = "View the live example";
var target = "/samples/domref/" + $0;

// Localizers: add a case to this switch statement
// for your language

switch(lang) {
  case 'de':
    str = "View the live example";
    break;
  case 'ja':
    str = "実際の表示を確認する";
    break;
  case 'zh-cn':
    str = "查看示例";
    break;
}

<a href=(target)><span style="cursor:pointer; padding: 2px; border: solid 2px #333333; color: black; -moz-box-shadow:2px 2px 2px #191919; -webkit-box-shadow:2px 2px 2px #191919; -o-box-shadow:2px 2px 2px #191919; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; background:-moz-linear-gradient(76% 26% 142deg, #DCE3FF, #FFFFFF 47%);">(web.text(str))</span></a>

%>
