<span lang='en' class='lang lang-en'><span id="m-{{web.html($0)}}" />{{wiki.template(mediawiki.path(':DOM:------.' + $0, "en"))}}
</span><span lang='*' class='lang lang-*'><span id="m-{{web.html($0)}}" />{{wiki.template(mediawiki.path(':DOM:------.' + $0, "en"))}}
</span>
