
<p><span lang="en" class="lang lang-en"><span id="p-<span class="script">web.html($0)</span>" /><span class="script">wiki.template(mediawiki.path(':DOM:------.' + $0, "en"))</span> </span> <span lang="es" class="lang lang-es"><span id="p-<span class="script">web.html($0)</span>" /><span class="script">wiki.template(mediawiki.path(':DOM:------.' + $0, "es"))</span> </span> <span lang="*" class="lang lang-*"><span id="p-<span class="script">web.html($0)</span>" /><span class="script">wiki.template(mediawiki.path(':DOM:------.' + $0, "en"))</span> </span></p>
