<span lang='en' class='lang lang-en'><code>{{mediawiki.internal('DOM:' + $0 + '|' + $0, "en")}}</code>
</span><span lang='*' class='lang lang-*'><code>{{mediawiki.internal('DOM:' + $0 + '|' + $0, "en")}}</code>
</span><span lang='de' class='lang lang-de'><div class="includeonly"><code>{{string.trim(($1 || '')) !== '' ? web.html(mediawiki.internal('DOM:' + $0 + '|' + $1, "de")) : web.html(mediawiki.internal('DOM:' + $0 + '|' + $0, "de"))}}</code></div><div class="noinclude">
<h3 name="Parameter">Parameter</h3>
<ol><li> DOM-Element
</li><li> Linkbeschriftung (optional)
</li></ol>
<h3 name="Beispiel">Beispiel</h3>
<table class="standard-table">

<tr>
<td class="header">Eingabe
</td><td class="header">Ausgabe
</td></tr>

<tr>
<td><span class="plain">{{domxref|window.dump|dump()}}</span>
</td><td>{{template.Domxref("window.dump", "dump()")}}
</td></tr>

<tr>
<td><span class="plain">{{domxref|window.dump}}</span>
</td><td> {{template.Domxref("window.dump", "")}}
</td></tr>
</table>
</div>
</span><span lang='fr' class='lang lang-fr'><code>{{mediawiki.internal('DOM:' + $0 + '|' + $0, "fr")}}</code>
</span><span lang='ja' class='lang lang-ja'><code>{{mediawiki.internal('DOM:' + $0 + '|' + $0, "ja")}}</code>
</span><span lang='ko' class='lang lang-ko'><code>{{mediawiki.internal('DOM:' + $0 + '|' + $0, "ko")}}</code>
</span><span lang='pl' class='lang lang-pl'><code>{{mediawiki.internal('DOM:' + $0 + '|' + $0, "pl")}}</code>
</span><span lang='zh-cn' class='lang lang-zh-cn'><code>{{mediawiki.internal('DOM:' + $0 + '|' + $0, "zh-cn")}}</code>
</span>
