<div style="background:lemonchiffon; border: solid navajowhite 2px; text-align: center; margin-bottom: 1em;">
<div style="color: coral; font-size: 1em; font-weight: bold;border-bottom: solid navajowhite 2px;">
<p><span style="color: #000;">UWAGA!:</span> <b>Tłumaczenie tej strony nie zostało zakończone</b>.<br /><small>Może być ona <span style="color: #000;">niekompletna</span> lub <span style="color: #000;">wymagać korekty</span>.</small>
</p>
</div>
</div>
<div class="includeonly"></div>
