<div style="background:lemonchiffon; border: solid navajowhite 2px; text-align: center; margin-bottom: 1em;">
<div style="color: coral; font-size: 1em; font-weight: bold;border-bottom: solid navajowhite 2px;">
<small><span style="color: #000000;">UWAGA!:</span> <b>Tłumaczenie tej strony nie zostało zakończone</b>. <hr />Może być ona niekompletna lub wymagać korekty.</small>
</div>
</div>
<div class="includeonly"></div>
