<div style="border: 2px solid #c00; -moz-border-radius: 10px; background: #fedcba; color: #c00; text-align: center; margin: auto; width: 38em;">
<p>UWAGA: <b>tłumaczenie tej strony nie zostało zakończone</b>.<br />Może być ona niekompletna lub wymagać korekty.
</p>
</div>
