<span lang='en' class='lang lang-en'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>DRAFT</b>
<div style="font-size:x-small">This page is not complete.</div></div>
</span><span lang='*' class='lang lang-*'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>DRAFT</b>
<div style="font-size:x-small">This page is not complete.</div></div>
</span><span lang='es' class='lang lang-es'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>BORRADOR</b>
<div style="font-size:x-small">Esta página no está completa.</div></div>
</span><span lang='fr' class='lang lang-fr'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>BROUILLON</b>
<div style="font-size:x-small">Cette page n'est pas terminée.</div></div>
</span><span lang='ja' class='lang lang-ja'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>草案</b>
<div style="font-size:x-small">このページは完成していません。</div></div>
</span><span lang='ko' class='lang lang-ko'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>초안</b>
<div style="font-size:x-small">이 문서는 작성중입니다.</div></div>
</span><span lang='pl' class='lang lang-pl'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>SZKIC</b>
<div style="font-size:x-small">Strona ta nie jest jeszcze ukończona.</div></div>
</span><span lang='zh-cn' class='lang lang-zh-cn'><div style="margin: 1em 0px; border: 2px solid orange; padding: 1em; background-color: #FFC; text-align: center;"><b>草案</b>
<div style="font-size:0.9em">本页尚未完工.</div></div>
</span><span lang='zh-tw' class='lang lang-zh-tw'>{{wiki.template('Template:編撰中', args)}}</span>
