<%
var s_draft = 'DRAFT';
var s_not_complete = 'This page is not complete.';

switch (env.locale) {
    case 'es':
        s_draft = 'BORRADOR';
        s_not_complete = "Esta página no está completa.";
        break;
    case 'fr':
        s_draft = 'BROUILLON';
        s_not_complete = "Cette page n'est pas terminée.";
        break;
    case 'ja':
        s_draft = '草案';
        s_not_complete = "このページは完成していません。";
        break;
    case 'ko':
        s_draft = '초안';
        s_not_complete = "이 문서는 작성중입니다.";
        break;
    case 'pl':
        s_draft = 'SZKIC';
        s_not_complete = "Strona ta nie jest jeszcze ukończona.";
        break;
    case 'zh-CN':
        s_draft = '草案';
        s_not_complete = "本页尚未完工.";
        break;
    case 'zh-TW':
        s_draft = '編撰中';
        s_not_complete = '本頁仍未完成';
        break;
    case 'pt':
        s_draft = 'ESBOÇO';
        s_not_complete = 'Esta página está incompleta.';
        break;
}
%>
<div style="margin: 1em 0px; padding: 1em; background-color: rgb(255, 255, 204); text-align: center;">
<strong><%=s_draft%></strong>
<div style="font-size: x-small;"><%=s_not_complete%></div>
</div>
