<ul>
<li><a href="/en-US/Mozilla_event_reference/drag"><code>drag</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/dragstart"><code>dragstart</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/dragend"><code>dragend</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/dragover"><code>dragover</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/dragenter"><code>dragenter</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/dragleave"><code>dragleave</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/drop"><code>drop</code></a></li>
</ul>
