<section id="Quick_Links">
<ol>
 <li><a href="#" title="#">Editor guide</a>
 <%-template("ListSubpages", ["/en-US/docs/Project:MDN/Contributing/Editor_guide", 1, 0, 1])%>
 </li>
 <li><a href="http://docs.ckeditor.com/">CKEditor documentation site</a></li>
 <li><a href="http://mxr.mozilla.org/">MXR: Mozilla source cross-reference</a></li>
 <li><a href="#" title="#">Style guides</a>
  <ol>
   <li><a href="http://www.economist.com/research/StyleGuide/">The Economist style guide</a></li>
   <li><a href="http://www.amazon.com/gp/product/0226104036/">The Chicago manual of style</a></li>
   <li><a href="http://www.answers.com/library/Dictionary">Answers.com dictionary</a></li>
   <li><a href="http://www.wsu.edu/~brians/errors/">Common Errors in English</a></li>
  </ol>
 </li>
</ol>
</section>
