<%
var found,
    width  = $1 > 0 ? $1 : 250,
    height = $2 > 0 ? $2 : 250,
    allFiles = page.files || [];

allFiles.forEach(function (aFile) {
    if(!found && $0 === aFile.name) {
        found = true;
%>
<object type="image/svg+xml" data="<%- aFile.uri %>" width="<%- width %>" height="<%- height %>"></object>
<%
    }
});

if (!found) {
%><p>Unable to find file <em><%= $0 %></em></p><%
}
%>
