
<p><span class="script"><br />
  var found = false;<br />
  var allFiles = map.values(page.files);<br />
  foreach(var aFile in allFiles) {<br />
    if (string.compare(args[0], aFile.name, true) == 0) {<br />
      found = true;<br />
      if (#args > 1) {<br />
        web.html("<pre function='syntax." + args[1] + "' class='script'>" + aFile.uri + "</pre>");<br />
      } else {<br />
        web.text(aFile.uri);<br />
      }<br />
      break;<br />
    }<br />
  }<br />
  if (found == false) {<br />
    web.html("<p>Unable to find file '" + args[0] + "'.</p>");<br />
  }<br />
</span></p>
