
<pre function="syntax.dekiscript" class="deki-transform">

  var found = false;
  var allFiles = map.values(page.files);
  foreach(var aFile in allFiles) {
    if (string.compare(args[0], aFile.name, true) == 0) {
      found = true;
      if (#args > 1) {
        syntax[args[1]](web.text(aFile.uri));
      } else {
        web.text(aFile.uri);
      }
      break;
    }
  }
  if (found == false) {
    web.html("<p>Unable to find file '" + args[0] + "'.</p>");
  }
</pre>
