
<pre class="script">
var found=false;
var allFiles = map.values(page.files);
foreach(var aFile in allFiles) {
  if (string.compare($0, aFile.name, true) == 0) {
    found=true;
    <pre function="syntax.svg" class="deki-transform">(web.text(aFile.uri))</pre>
    break;
  }
}

if (found == false) {
  web.html("<p>Unable to find file '" + $0 + "'.</p>");
}

%>
