<% 
  var found = false;
  var allFiles = page.files;
  
  
  allFiles.forEach(function(aFile) {
 //   if (string.compare(args[0], aFile.name, true) == 0) {
 //     found = true;
 //     if (#args > 1) {
 //       syntax[args[1]](web.text(aFile.uri));
 //     } else {
 //       web.text(aFile.uri);
 //     }
 //     break;
 //   }
  });
  
  if (!found) {
    web.html("<p>Unable to find file '" + $0 + "'.</p>");
  }
%>
