
<p><span class="script"><br />
  web.text("Embedding text: " + args[0]);<br />
  var fileList = map.select(page.files, "string.compare($.value.name, '" + args[0] + "', true)");<br />
  if (#fileList > 0) {<br />
    var textFile = map.values(fileList)[0];<br />
    web.text(textFile.uri);<br />
  } else {<br />
    web.html("<p>Unable to find file '" + args[0] + "'.</p>");<br />
  }<br />
</span></p>
