<div class="includeonly">{{mediawiki.external('http://bclary.com/2004/11/07/#a-' + $0 + ' ECMA 262-3 ยง' + $0)}}</div><div class="noinclude">
<p>Use this template to cite the ECMAScript 3 language specification.
</p><p><b>Example 1.</b>  This wiki code:
</p>
<pre class="eval"><span class="plain">{{es3 spec|4.3.16}}</span>
</pre>
<p>produces this link: <a class="external" href="http://bclary.com/2004/11/07/#a-4.3.16">ECMA 262-3 ยง4.3.16</a>.
</p><p><b>Example 2.</b>  This wiki code:
</p>
<pre class="eval"><span class="plain">{{es3 spec|4.3.16|ECMAScript strings}}</span>
</pre>
<p>produces this link: <a class="external" href="http://bclary.com/2004/11/07/#a-4.3.16">ECMAScript strings</a>.
</p>
</div>
