<%
/* Used for generating cross-references within the event documentation. */
/* @param */
/*   The path of the page to link to  */
/* @param [optional] */
/*   The text to use for the link.  If omitted, the value of the first */
/*   parameter will be used */
/* @param [optional] */
/*   An anchor to link to on the page. Link text will display as $0.$2 or $1.$2 */

/* By default, we link to GlobalEventHandlers.$0; to override, specify */
/* the interface as well, such as foo.onbar */
 
/* get a page's language (Don't use page.language!) */
var lang = env.locale;
 
var api = $0;

var iface = "GlobalEventHandlers";
var idx = api.indexOf('.'); // Is the interface specified?

if (idx != -1) {
    iface = api.substring(0, idx);
    api = api.substr(idx+1);
}

var str = $1 || api
 
var URL = "/" + lang + '/docs/Web/API/' + iface + '.' + api;
 
var anch = '';
 
if ($2) {
  str = str + '.' + $2;
  anch = '#' + $2;
}
%>
<code><a href="<%- URL+anch %>" title="<%- URL+anch %>"><%= str %></a></code>
