<%
// Event Sidebar
//

// Variables and data
var slug = env.slug;
var locale = env.locale;
var APIHref = '/' + locale + '/docs/Web/API';
var EventHref = '/' + locale + '/docs/Web/Events';
var output = "";
// slug is not available in preview mode.
if (slug) {
    
var groups = string.deserialize(template("GroupData"))[0];
var event = slug.replace('Web/Events/','').split('/')[0];

// find our group
var group = '';
for (g in groups) {
    var aGroup = groups[g];
    if (aGroup.events.indexOf(event) !== -1) {
        group = g;
    }
}

log.debug(group);

// output
output = '<section class="Quick_links" id="Quick_Links"><ol>';

output += '</ol></section>';
}
%>

<%-output%>
