<%
// Event Sidebar
//

// Variables and data
var slug = env.slug;
var locale = env.locale;
var APIHref = '/' + locale + '/docs/Web/API';
var EventHref = '/' + locale + '/docs/Web/Events';
var output = "";
// slug is not available in preview mode.
if (slug) {
    
var groups = string.deserialize(template("GroupData"))[0];
var event = slug.replace('Web/Events/','').split('/')[0];


// output
output = '<section class="Quick_links" id="Quick_Links"><ol>';
output += '<li><strong><a href="' +  EventHref + '">Events</a></strong></li>';

function buildEventList(name, events, open) {
  var openstr = open ? ' data-default-state="open"' : '';
  var result = '<li'+ openstr +'><a href="#"><strong>' + name + '</strong></a><ol>';
  for (var i = 0; i < events.length; i++) {
    result += '<li><a href="' + EventHref + '/' + events[i] + '"><code>' + events[i] + '</code></a></li>';
  }
  result += '</ol></li>';
  return result;
}

for (g in groups) {
    var aGroup = groups[g];
    var open = false;
    if (aGroup.events.indexOf(event) !== -1) {
        open = true;
    }
    if (aGroup.events.length > 0) {
      output += buildEventList(g.replace(/events/i, '') + ' events', aGroup.events, open);
    }
}

output += '</ol></section>';
}
%>

<%-output%>
