<%
//
// Inserts a row into an event reference property list table.
//
// Parameters:
//  $0  Property name
//  $1  Data type
//  $2  Description

%>
<tr>
  <td><code><%=$0%></code></td>
  <td><%-$1%></td>
  <td><%-$2%></td>
</tr>
