<%
var s_text = mdn.localString({
  "en-US": "Experimental",
  "fr": "Expérimental"
});
%>
<span class="ExperimentalInlineTemplate" style="border: 1px solid rgb(255, 213, 153); background-color: rgb(255, 239, 217); font-size: x-small; white-space: nowrap; padding: 2px;"><%= s_text %></span>
