<%
var s_text = mdn.localString({
  "en-US": "Experimental",
  "fr": "Expérimental"
});
%><span class="inlineIndicator experimental experimentalInline" style="border-color: rgb(255, 213, 153); background: rgb(255, 239, 217);"><%= s_text %></span>
