<ul>
<li><a href="/en-US/Mozilla_event_reference/focus"><code>focus</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/blur"><code>blur</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/focusin"><code>focusin</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/focusout"><code>focusout</code></a></li>
</ul>
