<ul>
<li><a href="/en-US/docs/Web/Reference/Events/focus"><code>focus</code></a></li>
<li><a href="/en-US/docs/Web/Reference/Events/blur"><code>blur</code></a></li>
<li><a href="/en-US/docs/Web/Reference/Events/focusin"><code>focusin</code></a></li>
<li><a href="/en-US/docs/Web/Reference/Events/focusout"><code>focusout</code></a></li>
</ul>
