
<pre class="script">
/* get the page language */
var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}
web.link(wiki.uri(lang + '/' + $0), $0 + '(' + ($1 || '') + ')');
</pre>
<div class="noinclude"><hr />
<p>See the documentation at <a title="Project:en/Custom_Templates" href="/Project:en/Custom_Templates">MDC:Custom Templates</a>. Some examples:</p>
<p><code><span class="nowiki">{{Funcref("MyCoolFunction")}}</span></code></p>
<p><code><span class="nowiki">{{Funcref("MyCoolFunction", "param1, param2")}}</span></code></p>
</div>
