<code>{{mediawiki.internal($0 + '|' + $0 + '(' + ($1 || '') + ')', "en")}}</code><div class="noinclude"><hr />
<p>See the documentation at <a href="Project:en/Custom_Templates">MDC:Custom Templates</a>. Some examples:
</p><p><code><span class="plain">{{funcref|MyCoolFunction}}</span></code>: {{template.Funcref("MyCoolFunction")}}
</p><p><code><span class="plain">{{funcref|MyCoolFunction|param1, param2}}</span></code>:{{template.Funcref("MyCoolFunction", "param1,param2")}}
</p>
</div>
