<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduced in {{wiki.pageexists(mediawiki.localurl("en", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0, "en")) : web.html('Firefox ' + $0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{fx minversion header|3}}</span>
</pre>
<p>results in:
{{template.Fx_minversion_header(3)}}
</p><p>This template is when the content of the whole page or section applies to Firefox starting with a certain version. For individual items in a list or a table use <a href="Template:Fx_minversion_inline">Template:fx minversion inline</a>.
</p>
</div>
