
<p><span lang="en" class="lang lang-en">
<div style="overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("en", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0 + ' note', "en")) : web.html('Firefox ' + $0 + ' note')</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example: <span class="script">template.Fx_minversion_note(3, "The <code>foobar()</code> method works differently in Firefox 3.")</span></p>
<p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>, and to mark a whole page or section, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx_minversion_header</a>.</p>
</div>
</span><span lang="*" class="lang lang-*">
<div style="overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("en", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0 + ' note', "en")) : web.html('Firefox ' + $0 + ' note')</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example: <span class="script">template.Fx_minversion_note(3, "The <code>foobar()</code> method works differently in Firefox 3.")</span></p>
<p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>, and to mark a whole page or section, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx_minversion_header</a>.</p>
</div>
</span><span lang="es" class="lang lang-es">
<div style="overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("es", 'Firefox ' + $0 + ' para desarrolladores')) ? web.html('Nota sobre ' + mediawiki.internal('Firefox ' + $0 + ' para desarrolladores|Firefox ' + $0, "es")) : web.html('Nota sobre Firefox ' + $0)</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p>For example: <span class="script">template.Fx_minversion_note(3, "The <code>foobar()</code> method works differently in Firefox 3.")</span></p>
<p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>, and to mark a whole page or section, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx_minversion_header</a>.</p>
</div>
</span><span lang="fr" class="lang lang-fr">
<div style="overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("fr", 'Firefox ' + $0 + ' pour les développeurs')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' pour les développeurs|Note concernant Firefox ' + $0, "fr")) : web.html('Note concernant Firefox ' + $0)</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p>Un des <a title="Project:fr/Modèles_personnalisés#Version_information_templates" href="/Project:fr/Modèles_personnalisés#Version_information_templates">modèles d'informations de version</a>. Par exemple : <span class="script">template.Fx_minversion_note(3, "La méthode <code>foobar()</code> fonctionne différemment das Firefox 3.")</span></p>
<p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>, and to mark a whole page or section, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx_minversion_header</a>.</p>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("ja", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0 + ' における注記', "ja")) : web.html('Firefox ' + $0 + ' における注記')</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p><a title="Project:ja/Custom_Templates#Version_information_templates" href="/Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a> のうちの一つです。例えば: <span class="script">template.Fx_minversion_note(3, "Firefox 3 では、<code>foobar()</code> メソッドは、異なる動作をします。")</span> このテンプレートは、Firefox のバージョン固有の注記を記事に挿入したいときに使うべきです。リストやテーブルの項目には、<a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a> を使い、ページまたはセクション全体には、<a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx_minversion_header</a> を使ってください。</p>
</div>
</span><span lang="ko" class="lang lang-ko">
<div style="overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("ko", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0 + ' note', "ko")) : web.html('Firefox ' + $0 + ' note')</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:ko/Custom_Templates#Version_information_templates" href="/Project:ko/Custom_Templates#Version_information_templates">Version information templates</a>. For example: <span class="script">template.Fx_minversion_note(3, "The <code>foobar()</code> method works differently in Firefox 3.")</span></p>
<p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>, and to mark a whole page or section, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx_minversion_header</a>.</p>
</div>
</span><span lang="pl" class="lang lang-pl">
<div style="border:overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("pl", 'Firefox ' + $0 + ' dla programistów')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' dla programistów|Uwaga dotycząca Firefoksa ' + $0, "pl")) : web.html('Uwaga dotycząca Firefoksa ' + $0)</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p>Jeden z <a title="Project:pl/Własne_szablony#Szablony_informuj.C4.85ce_o_wersji" href="/Project:pl/Własne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Przykładowo: <span class="script">template.Fx_minversion_note(3, "Metoda <code>foobar()</code> działa inaczej w Firefoksie 3.")</span></p>
<p>Szablon ten powinien zostać użyty, gdy zachodzi potrzeba wstawienia do artykułu uwagi specyficznej dla danej wersji Firefoksa. Dla pojedynczych elementów listy lub tabelki należy użyć <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Szablon:fx minversion inline</a>, a do oznaczenia całej strony lub jej części, należy zastosować <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Szablon:fx_minversion_header</a>.</p>
</div>
</span> <span lang="de" class="lang lang-de">
<div style="overflow:hidden; margin: 10px 0px; padding: 2px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;"><span class="script">wiki.pageexists(mediawiki.localurl("en", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0 + ' note', "en")) : web.html('Firefox ' + $0 + '-Hinweis')</span></p>
<p style="margin: 4px 0px;"><span class="script">web.html($1)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example: <span class="script">template.Fx_minversion_note(3, "The <code>foobar()</code> method works differently in Firefox 3.")</span></p>
<p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>, and to mark a whole page or section, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx_minversion_header</a>.</p>
</div>
</span></p>
