<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduit dans {{wiki.pageexists(mediawiki.localurl("fr", 'Firefox ' + $0 + ' pour les développeurs')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' pour les développeurs|Firefox ' + $0, "fr")) : web.html('Firefox ' + $0)}}</p></div>
<div class="noinclude">
<hr />
<p>Un des <a href="Project:fr/Mod%c3%a8les_personnalis%c3%a9s#Mod.C3.A8les_d.27informations_de_version">Modèles d'information de version</a>. Par exemple :
</p>
<pre class="eval"><span class="plain">{{fx minversion header|3}}</span>
</pre>
<p>donnera :
{{template.Fx_minversion_header(3)}}
</p><p>Ce modèle doit être utilisé lorsque le contenu de la page complète ou de la section s'applique à la version N ou supérieure de Firefox. Pour des éléments particuliers dans une liste ou un tableau, utilisez <a href="Template:Fx_minversion_inline">Modèle:fx minversion inline</a>.
</p>
</div>
