<%
var lang = env.locale;
var articleName = "Firefox " + $0 + " for developers";
var newIn = "New in ";

switch(env.locale) {
    case 'de':
        articleName = "Firefox " + $0 + " für Entwickler";
        newIn = "Neu in ";
        break;
    case 'es':
        articleName = "Firefox " + $0 + " para desarrolladores";
        newIn = "Nuevo en ";
        break;
    case 'fr':
        articleName = "Firefox " + $0 + " pour les développeurs";
        newIn = "Nouveau dans ";
        break;
    case 'pl':
        articleName = "Firefox " + $0 + " dla programistów";
        newIn = "Nowość w ";
        break;
    case 'pt':
        articleName = "Firefox " + $0 + " para desenvolvedores";
        newIn = "Novidade no ";
        break;
    case 'ru':
        articleName = "Firefox " + $0 + " для разработчиков";
        newIn = "Нововведение в ";
        break;
    default : break;
}
%>
<span class="standardNoteInline">
  <%=newIn%>
  <%-web.link(wiki.uri(lang + '/docs/' + articleName), "Firefox " + $0)%>
</span>
