<span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Nowość w {{wiki.pageexists(mediawiki.localurl("pl", 'Firefox ' + $0 + ' dla programistów')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' dla programistów|Firefoksie ' + $0, "pl")) : web.html('Firefoksie ' + $0)}}</span>
