
<p><span lang="en" class="lang lang-en"><span style="border: 1px solid rgb(129, 129, 81); padding: 2px; background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">New in <span class="script">wiki.pageexists(mediawiki.localurl("en", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0, "en")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>.<br />
For example: <span class="script">template.fx_minversion_inline(3)</span><br />
This template should be used when an individual item in a list or a table appeared in Firefox version N. When a whole page or section describes a feature that appeared in a new Firefox version, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a>.</p>
</div>
</span><span lang="*" class="lang lang-*"><span style="border: 1px solid rgb(129, 129, 81); padding: 2px; background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">New in <span class="script">wiki.pageexists(mediawiki.localurl("en", 'Firefox' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox' + $0 + ' for developers|Firefox ' + $0, "en")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. <br />
For example: <span class="script">template.Fx_minversion_inline(3)</span><br />
This template should be used when an individual item in a list or a table appeared in Firefox version N. When a whole page or section describes a feature that appeared in a new Firefox version, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a>.</p>
</div>
</span><span lang="de" class="lang lang-de"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">Neu in <span class="script">wiki.pageexists(mediawiki.localurl("de", 'Firefox ' + $0 + ' für Entwickler')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' für Entwickler|Firefox ' + $0, "de")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>One of the <a title="Project:de/Custom_Templates#Version_information_templates" href="/Project:de/Custom_Templates#Version_information_templates">Version information templates</a>. <br />
For example: <span class="script">template.Fx_minversion_inline(3)</span><br />
This template should be used when an individual item in a list or a table appeared in Firefox version N. When a whole page or section describes a feature that appeared in a new Firefox version, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a>.</p>
</div>
</span><span lang="es" class="lang lang-es"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">Nuevo en <span class="script">wiki.pageexists(mediawiki.localurl("es", 'Firefox ' + $0 + ' para desarrolladores')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' para desarrolladores|Firefox ' + $0, "es")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>One of the <a title="Project:es/Custom_Templates#Version_information_templates" href="/Project:es/Custom_Templates#Version_information_templates">Version information templates</a>. <br />
For example: <span class="script">template.Fx_minversion_inline(3)</span><br />
This template should be used when an individual item in a list or a table appeared in Firefox version N. When a whole page or section describes a feature that appeared in a new Firefox version, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a>.</p>
</div>
</span><span lang="fr" class="lang lang-fr"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">Nouveau dans <span class="script">wiki.pageexists(mediawiki.localurl("fr", 'Firefox ' + $0 + ' pour les développeurs')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' pour les développeurs|Firefox ' + $0, "fr")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>Un des <a title="Project:fr/Modèles_personnalisés#Mod.C3.A8les_d.27information_de_version" href="/Project:fr/Mod%C3%A8les_personnalis%C3%A9s#Mod.C3.A8les_d.27information_de_version">modèles d'information de version</a>. <br />
Par exemple: <span class="script">template.Fx_minversion_inline(3)</span><br />
Ce modèle doit être utilisé lorsqu'un élément particulier dans une liste ou un tableau est apparu dans Firefox version N. Lorsqu'une page ou section entière décrit une fonctionnalité apparue dans une nouvelle version de Firefox, utilisez <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Modèle:fx minversion header</a>.</p>
</div>
</span><span lang="ja" class="lang lang-ja"><span style="border: 1px solid rgb(129, 129, 81); padding: 2px; background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;"><span class="script">wiki.pageexists(mediawiki.localurl("ja", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0, "ja")) : web.html('Firefox ' + $0)</span> の新機能</span>
<div class="noinclude">
<p><a title="Project:ja/Custom_Templates#Version_information_templates" href="/Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a> の 1 つです。例えば: <br />
は: <span class="script">template.Fx_minversion_inline(3)</span> という結果になります。<br />
このテンプレートはリストやテーブルの (Firefox バージョン N で登場した) 個々の項目に使うべきです。ページか章全体が Firefox の新バージョンで登場した機能について述べているなら、 <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a> を使ってください。</p>
</div>
</span><span lang="ko" class="lang lang-ko"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">New in <span class="script">wiki.pageexists(mediawiki.localurl("ko", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0, "ko")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>One of the <a title="Project:ko/Custom_Templates#Version_information_templates" href="/Project:ko/Custom_Templates#Version_information_templates">Version information templates</a>. <br />
For example: <span class="script">template.Fx_minversion_inline(3)</span><br />
This template should be used when an individual item in a list or a table appeared in Firefox version N. When a whole page or section describes a feature that appeared in a new Firefox version, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a>.</p>
</div>
</span><span lang="pl" class="lang lang-pl"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">Nowość w <span class="script">wiki.pageexists(mediawiki.localurl("pl", 'Firefox ' + $0 + ' dla programistów')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' dla programistów|Firefoksie ' + $0, "pl")) : web.html('Firefoksie ' + $0)</span></span>
<div class="noinclude">
<p>Jeden z <a title="Project:pl/Własne_szablony#Szablony_informuj.C4.85ce_o_wersji" href="/Project:pl/W%C5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. <br />
Na przykład: <span class="script">template.Fx_minversion_inline(3)</span><br />
Szablon ten powinien być użyty, gdy pojedyncze elementy listy lub tabeli pojawiły się w wersji N Firefoksa. W przypadku gdy cała strona lub jej część opisują funkcję, która pojawiła się w nowej wersji Firefoksa, należy użyć <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Szablon:fx minversion header</a>.</p>
</div>
</span><span lang="pt" class="lang lang-pt"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">Novidade no <span class="script">wiki.pageexists(mediawiki.localurl("pt", 'Firefox ' + $0 + ' para desenvolvedores')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' para desenvolvedores|Firefox ' + $0, "pt")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>One of the <a title="Project:pt/Custom_Templates#Version_information_templates" href="/Project:pt/Custom_Templates#Version_information_templates">Version information templates</a>. <br />
For example: <span class="script">template.Fx_minversion_inline(3)</span><br />
This template should be used when an individual item in a list or a table appeared in Firefox version N. When a whole page or section describes a feature that appeared in a new Firefox version, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a>.</p>
</div>
</span><span lang="zh-cn" class="lang lang-zh-cn"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap;">New in <span class="script">wiki.pageexists(mediawiki.localurl("zh-cn", 'Firefox ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|Firefox ' + $0, "zh-cn")) : web.html('Firefox ' + $0)</span></span>
<div class="noinclude">
<p>One of the <a title="Project:cn/Custom_Templates#Version_information_templates" href="/Project:cn/Custom_Templates#Version_information_templates">Version information templates</a>. <br />
For example: <span class="script">template.Fx_minversion_inline(3)</span><br />
This template should be used when an individual item in a list or a table appeared in Firefox version N. When a whole page or section describes a feature that appeared in a new Firefox version, use <a title="Template:fx_minversion_header" href="/Template:fx_minversion_header">Template:fx minversion header</a>.</p>
</div>
</span></p>
