<%
var lang = env.locale;

var version = $0;
if (string.EndsWith(version, ".0")) {
    version = string.substr(version, 0, string.length(version)-2);
} 

var articleUrl = "Firefox " + version + " for developers";
var note = "Firefox " + $0 + " note";

switch(lang) {
    case 'de':
        articleUrl = "Firefox " + version + " für Entwickler";
        note = "Hinweis zu Firefox " + $0;
    break;
    case 'es':
        articleUrl = "Firefox " + version + " para desarrolladores";
        note = "Nota sobre Firefox " + $0;
    break;
    case 'fr':
        articleUrl = "Firefox " + version + " pour les développeurs";
        note = "Note concernant Firefox " + $0;
    break;
    case 'ja':
        articleUrl = "Firefox " + version + " for developers";
        note = "Firefox " + $0 + " における注記";
    break;
    case 'pl':
        articleUrl = "Firefox " + version + " dla programistów";
        note = "Uwaga dotycząca Firefoksa " + $0;
    break;
    default : break;
}
%>
<div class="standardNote">
  <p style="font-weight: 700;">
   <%
   if ( wiki.pageexists(lang + '/' + articleUrl) ) {
        %><%-web.link(wiki.uri(lang + '/'+ articleUrl), note)%><%
   } else {
        %><%-note%><% 
   }
   %>
  </p>
  <p><%-$1%></p>
</div>
