<%
//
// Inserts the summary information for a Firefox OS UX Guide
// page.
//
//  $0 - The URL of the page to include the summary for
//
%>
<%-template("PageSummary", [$0])%>
<p style="font-size:180%">Characteristics</p>
<%-template("Page", [$0, "Characteristics"]) %>
