<div class="horizFlexboxContainer">
  <div class="smallTextMultiColumnBoxHeading">Web technology for game developers</div>
  <div class="smallTextMultiColumnBoxList">
    <ul>
      <li><a href="/en-US/docs/DOM/File_API">File API</a></li>
      <li><a href="/en-US/docs/DOM/Using_fullscreen_mode">Full&nbsp;Screen&nbsp;API</a></li>
      <li><a href="/en-US/docs/API/Gamepad/Using_Gamepad_API">Gamepad&nbsp;API</a></li>
      <li><a href="/en-US/docs/CSS">CSS</a></li>
      <li><a href="/en-US/docs/HTML/Element/audio">HTML&nbsp;audio</a></li>
      <li><a href="/en-US/docs/IndexedDB">IndexedDB</a></li>
      <li><a href="/en-US/docs/JavaScript">JavaScript</a></li>
      <li><a href="/en-US/docs/WebAPI/Pointer_Lock">Pointer&nbsp;Lock&nbsp;API</a></li>
      <li><a href="/en-US/docs/SVG">SVG</a></li>
      <li><a href="/en-US/docs/JavaScript/Typed_arrays">Typed&nbsp;Arrays</a></li>
      <li><a href="/en-US/docs/Web_Audio_API">Web&nbsp;Audio&nbsp;API</a></li>
      <li><a href="/en-US/docs/WebGL">WebGL</a></li>
      <li><a href="/en-US/docs/WebRTC">WebRTC</a></li>
      <li><a href="/en-US/docs/WebSockets">WebSockets</a></li>
      <li><a href="/en-US/docs/DOM/Using_web_workers">Web&nbsp;Workers</a></li>
      <li><a href="/en-US/docs/DOM/XMLHttpRequest">XMLHttpRequest</a></li>
    </ul>
  </div></div>
</div>
