<span lang="en" class="lang lang-en"><div style="border: 1px solid #818151; background-color: #FFFFE1; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px; font-weight: bold;">Gecko <span class="script">web.html($0)</span> note</p><p style="margin: 4px 0px 4px 0px;"><span class="script">web.html($1)</span></p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="nowiki">{{gecko_minversion_note|1.9|The <code>foobar()</code> method works differently in Gecko 1.9.}}</span>
</pre>
<p>results in:
<span class="script">template.Gecko_minversion_note(1.9, "The <code>foobar()</code> method works differently in Gecko 1.9.")</span>
</p><p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>, and to mark a whole page or section, use <a href="Template:Gecko_minversion_header">Template:gecko_minversion_header</a>.
</p>
</div>
</span><span lang="*" class="lang lang-*"><div style="border: 1px solid #818151; background-color: #FFFFE1; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px; font-weight: bold;">Gecko <span class="script">web.html($0)</span> note</p><p style="margin: 4px 0px 4px 0px;"><span class="script">web.html($1)</span></p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="nowiki">{{gecko_minversion_note|1.9|The <code>foobar()</code> method works differently in Gecko 1.9.}}</span>
</pre>
<p>results in:
<span class="script">template.Gecko_minversion_note(1.9, "The <code>foobar()</code> method works differently in Gecko 1.9.")</span>
</p><p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>, and to mark a whole page or section, use <a href="Template:Gecko_minversion_header">Template:gecko_minversion_header</a>.
</p>
</div>
</span>
