<%
var ts = {
    "*":     [ "Introduced in Gecko $0" ],
    "en-US": [ "Introduced in Gecko $0" ],
    "de":    [ "Eingeführt in Gecko $0" ],
    "es":    [ "Introducido en Gecko $0" ],
    "ja":    [ "Gecko $0 で導入" ],
    "ko":    [ "Introduced in Gecko $0" ],
    "pl":    [ "Wprowadzono w Gecko $0" ],
    "pt":    [ "Introduzido no Gecko $0" ],
    "fr":    [ "Nouveau dans Gecko $0" ],
    "zh-TW": [ "自 Gecko $0 引入" ],
    "zh-CN": [ "适用于 Gecko $0 以上" ]
}
var t = ts[env.locale] || ts['*'];
var s_introduced_in = t[0];
%>
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;"> 
<p style="margin: 4px 0px;"><%- s_introduced_in.replace('$0', $0) %></p> 
<%- template('geckoRelease', [$0]) %>
</div>
