<span lang='en' class='lang lang-en'><span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Requires Gecko {{web.html($0)}}</span><div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion inline|1.7}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_inline(1.7)}}
</p><p>This template should be used when an individual item in a list or a table appeared in Gecko version N. When a whole page or section describes a new Gecko feature, use <a href="Template:Gecko_minversion_header">Template:gecko minversion header</a>.
</p>
</div>
</span><span lang='*' class='lang lang-*'><span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Requires Gecko {{web.html($0)}}</span><div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion inline|1.7}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_inline(1.7)}}
</p><p>This template should be used when an individual item in a list or a table appeared in Gecko version N. When a whole page or section describes a new Gecko feature, use <a href="Template:Gecko_minversion_header">Template:gecko minversion header</a>.
</p>
</div>
</span><span lang='fr' class='lang lang-fr'><span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Nécessite Gecko {{web.html($0)}}</span><div class="noinclude">
<hr />
<p>Un des <a href="Project:fr/Mod%c3%a8les_personnalis%c3%a9s#Mod.C3.A8les_d.27information_de_version">modèles d'information de version</a>. Par exemple :
</p>
<pre class="eval"><span class="plain">{{gecko minversion inline|1.7}}</span>
</pre>
<p>donnera :
{{template.Gecko_minversion_inline(1.7)}}
</p><p>Ce modèle doit être utilisé lorsqu'un élément individuel d'une liste ou tableau apparait dans Gecko version. Lorsque toute une page ou section décrit une nouvelle fonctionnalité de Gecko, utilisez <a href="Template:Gecko_minversion_header">Modèle:gecko minversion header</a>.
</p>
</div>
</span><span lang='ja' class='lang lang-ja'><span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Gecko {{web.html($0)}} が必要</span><div class="noinclude">
<hr />
<p><a href="Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a> の 1 つです。例えば:
</p>
<pre class="eval"><span class="plain">{{gecko minversion inline|1.7}}</span>
</pre>
<p>は:
{{template.Gecko_minversion_inline(1.7)}}
という結果になります。
</p><p>このテンプレートはリストやテーブルの (Gecko バージョン N で登場した) 個々の項目に使うべきです。ページか章全体が新しい Gecko で登場した機能について述べているなら、 <a href="Template:Gecko_minversion_header">Template:gecko minversion header</a> を使ってください。
</p>
</div>
</span><span lang='pl' class='lang lang-pl'><span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Wymaga Gecko {{web.html($0)}}</span><div class="noinclude">
<hr />
<p>Jeden z <a href="Project:pl/W%c5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Przykładowo:
</p>
<pre class="eval"><span class="plain">{{gecko minversion inline|1.7}}</span>
</pre>
<p>spowoduje wyświetlenie:
{{template.Gecko_minversion_inline(1.7)}}
</p><p>Szablon ten powinien zostać użyty, gdy pojedyncze elementy listy lub tabeli pojawiły się w wersji N Gecko. Gdy cała strona lub jej część opisują nową funkcję Gecko, należy użyć <a href="Template:Gecko_minversion_header">Szablon:gecko minversion header</a>.
</p>
</div>
</span><span lang='pt' class='lang lang-pt'><span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Requer Gecko {{web.html($0)}}</span><div class="noinclude">
<hr />
<p>One of the <a href="Project:pt/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion inline|1.7}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_inline(1.7)}}
</p><p>This template should be used when an individual item in a list or a table appeared in Gecko version N. When a whole page or section describes a new Gecko feature, use <a href="Template:Gecko_minversion_header">Predefinição:gecko minversion header</a>.
</p>
</div>
</span>
