
<div class="noinclude">One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:<br />
<span class="script">template.Gecko_minversion_header(1.8)</span> <br />
<br />
This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a title="Template:gecko_minversion_inline" href="/Template:gecko_minversion_inline">Template:gecko minversion inline</a>.<hr />
</div>
<p><span lang="en" class="lang lang-en">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
<div init="var show=false; if (string.compare($0, '1.9.3') == 0) show=true;" if="show">Coming in a <a title="en/Upcoming Firefox features for developers" href="/en/Upcoming_Firefox_features_for_developers">future Firefox release</a>.</div>
<div init="var show=false; if (string.compare($0, '1.9.2') == 0) show=true;" if="show">Applies to Firefox 3.6 and Fennec 1.0</div>
<div init="var show=false; if (string.compare($0, '1.9.1.4') == 0) show=true;" if="show">Applies to Firefox 3.5.4 and later</div>
<div init="var show=false; if (string.compare($0, '1.9.1') == 0) show=true;" if="show">Applies to Firefox 3.5, SeaMonkey 2, and Thunderbird 3 and later</div>
<div init="var show=false; if (string.compare($0, '1.9') == 0) show=true;" if="show">Applies to Firefox 3 and Thunderbird 3 and later</div>
<div init="var show=false; if (string.compare($0, '1.8.1') == 0) show=true;" if="show">Applies to Firefox 2 and Thunderbird 2 and later</div>
<div init="var show=false; if (string.compare($0, '1.8') == 0) show=true;" if="show">Applies to Firefox 1.5 and Thunderbird 1.5 and later</div>
</div>
</span><span lang="*" class="lang lang-*">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
<div init="var show=false; if (string.compare($0, '1.9.3') == 0) show=true;" if="show">Coming in a <a title="en/Upcoming Firefox features for developers" href="/en/Upcoming_Firefox_features_for_developers">future Firefox release</a>.</div>
<div init="var show=false; if (string.compare($0, '1.9.2') == 0) show=true;" if="show">Applies to Firefox 3.6 and Fennec 1.0</div>
<div init="var show=false; if (string.compare($0, '1.9.1.4') == 0) show=true;" if="show">Applies to Firefox 3.5.4 and later</div>
<div init="var show=false; if (string.compare($0, '1.9.1') == 0) show=true;" if="show">Applies to Firefox 3.5, SeaMonkey 2, and Thunderbird 3 and later</div>
<div init="var show=false; if (string.compare($0, '1.9') == 0) show=true;" if="show">Applies to Firefox 3 and Thunderbird 3 and later</div>
<div init="var show=false; if (string.compare($0, '1.8.1') == 0) show=true;" if="show">Applies to Firefox 2 and Thunderbird 2 and later</div>
<div init="var show=false; if (string.compare($0, '1.8') == 0) show=true;" if="show">Applies to Firefox 1.5 and Thunderbird 1.5 and later</div>
</div>
</span><span lang="de" class="lang lang-de">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Eingeführt in Gecko <span class="script">web.html($0)</span></p>
<div init="var show=false; if (string.compare($0, '1.9.2') == 0) show=true;" if="show">Betrifft zukünftige Versionen von Firefox und Thunderbird</div>
<div init="var show=false; if (string.compare($0, '1.9.1') == 0) show=true;" if="show">Gilt ab Firefox 3.5, SeaMonkey 2 und Thunderbird 3</div>
<div init="var show=false; if (string.compare($0, '1.9') == 0) show=true;" if="show">Gilt ab Firefox 3 und Thunderbird 3</div>
<div init="var show=false; if (string.compare($0, '1.8.1') == 0) show=true;" if="show">Gilt ab Firefox 2 und Thunderbird 2</div>
<div init="var show=false; if (string.compare($0, '1.8') == 0) show=true;" if="show">Gilt ab Firefox 1.5 und Thunderbird 1.5</div>
</div>
</span><span lang="es" class="lang lang-es">
<div style="overflow:hidden; border: 1px solid rgb(129, 129, 81); margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introducido en Gecko <span class="script">web.html($0)</span></p>
</div>
</span><span lang="fr" class="lang lang-fr">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduit dans Gecko <span class="script">web.html($0)</span></p>
<div init="var show=false; if (string.compare($0, '1.9.2') == 0) show=true;" if="show">S'applique à Firefox 3.6 et Fennec 1.0</div>
<div init="var show=false; if (string.compare($0, '1.9.1.4') == 0) show=true;" if="show">S'applique à Firefox 3.5.4 et supérieurs</div>
<div init="var show=false; if (string.compare($0, '1.9.1') == 0) show=true;" if="show">S'applique à Firefox 3.5, SeaMonkey 2, Thunderbird 3 et supérieurs</div>
<div init="var show=false; if (string.compare($0, '1.9') == 0) show=true;" if="show">S'applique à Firefox 3, Thunderbird 3 et supérieurs</div>
<div init="var show=false; if (string.compare($0, '1.8.1') == 0) show=true;" if="show">S'applique à Firefox 2, Thunderbird 2 et supérieurs</div>
<div init="var show=false; if (string.compare($0, '1.8') == 0) show=true;" if="show">S'applique à Firefox 1.5, Thunderbird 1.5 et supérieurs</div>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Gecko <span class="script">web.html($0)</span> で導入</p>
<div init="var show=false; if (string.compare($0, '1.9.3') == 0) show=true;" if="show">Firefox 3.next に適用されます</div>
<div init="var show=false; if (string.compare($0, '1.9.2') == 0) show=true;" if="show">Firefox 3.6 と Fennec 1.0 に適用されます</div>
<div init="var show=false; if (string.compare($0, '1.9.1.4') == 0) show=true;" if="show">Firefox 3.5.4 以降に適用されます</div>
<div init="var show=false; if (string.compare($0, '1.9.1') == 0) show=true;" if="show">Firefox 3.5 と SeaMonkey 2、Thunderbird 3 以降に適用されます</div>
<div init="var show=false; if (string.compare($0, '1.9') == 0) show=true;" if="show">Firefox 3 と Thunderbird 3 以降に適用されます</div>
<div init="var show=false; if (string.compare($0, '1.8.1') == 0) show=true;" if="show">Firefox 2 と Thunderbird 2 以降に適用されます</div>
<div init="var show=false; if (string.compare($0, '1.8') == 0) show=true;" if="show">Firefox 1.5 と Thunderbird 1.5 以降に適用されます</div>
</div>
</span><span lang="ko" class="lang lang-ko">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
</div>
</span><span lang="pl" class="lang lang-pl">
<div style="overflow:hidden; border: 1px solid rgb(129, 129, 81); margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Wprowadzono w Gecko <span class="script">web.html($0)</span></p>
</div>
</span><span lang="pt" class="lang lang-pt">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduzido no Gecko <span class="script">web.html($0)</span></p>
<div init="var show=false; if (string.compare($0, '1.9.2') == 0) show=true;" if="show">Refere-se a futuras liberações do Firefox e Thunderbird</div>
<div init="var show=false; if (string.compare($0, '1.9.1') == 0) show=true;" if="show">Refere-se ao Firefox 3.5, SeaMonkey 2 Thunderbird 3 e posteriores</div>
<div init="var show=false; if (string.compare($0, '1.9') == 0) show=true;" if="show">Refere-se ao Firefox 3, Thunderbird 3 e posteriores</div>
<div init="var show=false; if (string.compare($0, '1.8.1') == 0) show=true;" if="show">Refere-se ao Firefox 2, Thunderbird 2 e posteriores</div>
<div init="var show=false; if (string.compare($0, '1.8') == 0) show=true;" if="show">Refere-se ao Firefox 1.5, Thunderbird 1.5 e posteriores</div>
</div>
</span><span lang="zh-cn" class="lang lang-zh-cn">
<div style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
</div>
</span></p>
