<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Wprowadzono w Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>Jeden z <a href="Project:pl/W%c5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Przykładowo:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>spowoduje wyświetlenie:
{{template.Gecko_minversion_header(1.8)}}
</p><p>Szablon ten powinien zostać użyty, gdy cała strona lub jej część opisuje nową funkcję Gecko. Dla pojedynczych elementów listy lub tabeli, należy użyć <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>.
</p>
</div>
