<span lang='en' class='lang lang-en'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduced in Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_header(1.8)}}
</p><p>This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>.
</p>
</div>
</span><span lang='*' class='lang lang-*'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduced in Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_header(1.8)}}
</p><p>This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>.
</p>
</div>
</span><span lang='de' class='lang lang-de'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Eingeführt in Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>Eine der <a href="Project:de/Benutzerdefinierte_Templates#Versionsinformationsvorlagen">Versionsinformationsvorlagen</a>. Zum Beispiel:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>ergibt:
{{template.Gecko_minversion_header(1.8)}}
</p><p>Diese Vorlage sollte verwendet werden, wenn sich der Inhalt der gesamten Seite auf die Version N oder höher von Firefox bezieht. Für spezielle Einträge einer Liste sollte <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a> verwendet werden.
</p>
</div>
</span><span lang='es' class='lang lang-es'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introducido en Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:es/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_header(1.8)}}
</p><p>This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>.
</p>
</div>
</span><span lang='fr' class='lang lang-fr'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduit dans Gecko {{web.html($0)}}</p></div>
</span><span lang='ja' class='lang lang-ja'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Gecko {{web.html($0)}} で導入</p></div>
<div class="noinclude">
<hr />
<p><a href="Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a> の 1 つです。例えば:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>は
{{template.Gecko_minversion_header(1.8)}}
という結果になります。
</p><p>このテンプレートはページか章全体の内容が新しい Gecko について述べている場合に使うべきです。リストや表の個々の項目には <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a> を使ってください。 
</p>
</div>
</span><span lang='ko' class='lang lang-ko'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduced in Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:ko/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_header(1.8)}}
</p><p>This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>.
</p>
</div>
</span><span lang='pl' class='lang lang-pl'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Wprowadzono w Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>Jeden z <a href="Project:pl/W%c5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Przykładowo:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>spowoduje wyświetlenie:
{{template.Gecko_minversion_header(1.8)}}
</p><p>Szablon ten powinien zostać użyty, gdy cała strona lub jej część opisuje nową funkcję Gecko. Dla pojedynczych elementów listy lub tabeli, należy użyć <a href="Template:Gecko_minversion_inline">Szablon:gecko minversion inline</a>.
</p>
</div>
</span><span lang='pt' class='lang lang-pt'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduzido no Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:pt/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_header(1.8)}}
</p><p>This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Predefinição:gecko minversion inline</a>.
</p>
</div>
</span><span lang='zh-cn' class='lang lang-zh-cn'><div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduced in Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:cn/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_header(1.8)}}
</p><p>This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>.
</p>
</div>
</span>
