<span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Wymaga Gecko {{web.html($0)}}</span><div class="noinclude">
<hr />
<p>Jeden z <a href="Project:pl/W%c5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Przykładowo:
</p>
<pre class="eval"><span class="plain">{{gecko minversion inline|1.7}}</span>
</pre>
<p>spowoduje wyświetlenie:
{{template.Gecko_minversion_inline(1.7)}}
</p><p>Szablon ten powinien zostać użyty, gdy pojedyncze elementy listy lub tabeli pojawiły się w wersji N Gecko. Gdy cała strona lub jej część opisują nową funkcję Gecko, należy użyć <a href="Template:Gecko_minversion_header">Template:gecko minversion header</a>.
</p>
</div>
