<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Dieser Artikel umfasst Features, die in {{wiki.pageexists(mediawiki.localurl("de", 'Firefox ' + $0 + ' für Entwickler')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' für Entwickler|Firefox ' + $0, "de")) : web.html('Firefox ' + $0)}} eingeführt wurden</p></div>
<div class="noinclude">
<hr />
<p>Eine der <a href="Project:de/Benutzerdefinierte_Templates#Versionsinformationsvorlagen">Versionsinformationsvorlagen</a>. Zum Beispiel:
</p>
<pre class="eval"><span class="plain">{{fx minversion header|3}}</span>
</pre>
<p>ergibt:
{{template.Fx_minversion_header(3)}}
</p><p>Diese Vorlage sollte verwendet werden, wenn sich der Inhalt der gesamten Seite auf die Version N oder höher von Firefox bezieht. Für spezielle Einträge einer Liste sollte <a href="Template:Fx_minversion_inline">Template:fx minversion inline</a> verwendet werden.
</p>
</div>
