<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Introduzido no Gecko {{web.html($0)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:pt/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{gecko minversion header|1.8}}</span>
</pre>
<p>results in:
{{template.Gecko_minversion_header(1.8)}}
</p><p>This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a href="Template:Gecko_minversion_inline">Template:gecko minversion inline</a>.
</p>
</div>
