
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{gecko_minversion_note|1.9|The <code>foobar()</code> method works differently in Gecko 1.9.}}</span>
</pre>
<p>results in: <span class="script">gecko_minversion_note(1.9, "The <code>foobar()</code> method works differently in Gecko 1.9.")</span></p>
<p>This template should be used when you need to insert a Firefox version-specific note into an article. For individual items in a list or a table use <a title="Template:gecko_minversion_inline" href="/Template:gecko_minversion_inline">Template:gecko minversion inline</a>, and to mark a whole page or section, use <a title="Template:gecko_minversion_header" href="/Template:gecko_minversion_header">Template:gecko_minversion_header</a>.</p>
</div>
<pre class="script">
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var geckoVersion = '<span title="' + geckoRelease($0) +'">' +($0) + '</span>';
var str = "Gecko " + geckoVersion + " note";


switch(lang) {
  case 'de':
    str = "Hinweis zu Gecko " + geckoVersion;
    break;
}
<div style="border: 0px none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); text-align: center;">
  <p style="margin: 4px 0px; font-weight: bold;">(str)</p>
  <p style="margin: 4px 0px;">($1)</p>
</div>
</pre>
