
<pre class="script">
/* one parameter: Gecko version */
/* get page language first */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var str = "Gecko " + $0 + " note";

switch(lang) {
  case 'de':
    str = "Hinweis zu Gecko " + $0;
    break;
}

<div class="geckoVersionHeading">(web.text(str))<div style="font-size:8px; position:relative; top:-5px; font-style:italic;">template.geckoRelease($0)</div></div>

%>
