
<div class="noinclude">One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:<br />
<span class="script">Gecko_minversion_header(1.8)</span> <br />
<br />
This template should be used when the whole page or section documents a new Gecko feature. For individual items in a list or a table use <a title="Template:gecko_minversion_inline" href="/Template:gecko_minversion_inline">Template:gecko minversion inline</a>.<hr />
</div>
<p><span lang="*" class="lang lang-*">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="en" class="lang lang-en">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="de" class="lang lang-de">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Eingeführt in Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span> <span lang="es" class="lang lang-es">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introducido en Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="ja" class="lang lang-ja">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Gecko <span class="script">web.html($0)</span> で導入</p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="ko" class="lang lang-ko">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="pl" class="lang lang-pl">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Wprowadzono w Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="pt" class="lang lang-pt">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduzido no Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="zh-cn" class="lang lang-zh-cn">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span><span lang="fr" class="lang lang-fr">
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Nouveau dans Gecko <span class="script">web.html($0)</span></p>
<span class="script">geckoRelease($0)</span></div>
</span></p>
