<ul>
<li><a href="/en-US/Mozilla_event_reference/MozSwipeGesture"><code>MozSwipeGesture</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozMagnifyGestureStart"><code>MozMagnifyGestureStart</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozMagnifyGestureUpdate"><code>MozMagnifyGestureUpdate</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozMagnifyGesture"><code>MozMagnifyGesture</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozRotateGestureStart"><code>MozRotateGestureStart</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozRotateGestureUpdate"><code>MozRotateGestureUpdate</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozRotateGesture"><code>MozRotateGesture</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozTapGesture"><code>MozTapGesture</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozPressTapGesture"><code>MozPressTapGesture</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/MozEdgeUIGesture"><code>MozEdgeUIGesture</code></a></li>
</ul>
