<%
// Inserts a link to a term's entry in our glossary.
// Appropriate styling is applied.
//
// Parameters:
//
//  $0 - Term name
//  $1 - name to display (optional)
//  $2 - Remove custom style on links; boolean (optional)

var str = $1 || $0;
var css = !$2 ? "glossaryLink" : "";

// Terme location
var URL = mdn.localString({
    "en-US": "/en-US/docs/Glossary/",
    "fr"   : "/fr/docs/Glossaire/",
    "pt-BR": "/pt-BR/docs/Glossario/",
});

URL += $0.replace(/\s+/g,'_');

var summary = "";
var page = wiki.getPage(URL);

if (page && page.summary) {
    summary = str + ': ' + mdn.escapeQuotes(page.summary);
} else {
    summary = mdn.localString({
        "en-US": "The definition of that term (" + str + ") has not been written yet; please consider contributing it!",
        "fr"   : "La définition de ce terme ("+ str + ") n'a pas encore été rédigée. Nous serions heureux de vous voir l'écrire&nbsp;!"
    });
}
%><a href="<%- URL %>" title="<%-summary%>" class="<%-css%>"><%= str %></a>
