<span lang='ja' class='lang lang-ja'>{{web.html($0)}}
<div style="margin-left: 5%">{{web.html($1)}}</div>
</span><span lang='*' class='lang lang-*'>{{web.html($0)}}
<div style="margin-left: 5%">{{web.html($1)}}</div>
</span>
