<div>
<span style="border: 1px solid rgb(129, 129, 81); padding: 1px; background-color: rgb(255, 255, 225); font-size: small; font-weight: bold; float: right; text-align: right; vertical-align: middle; white-space: nowrap;">Requires Gecko <%=$1%></span> 
<%- template("geckoRelease", [$1]) %>
<h3><%= $0 %></h3>
</div>
