<% /*
    $0 = [String] Gecko version
    $1 = [String] headline content
    $2 = [String / Optional] name/id attribute
*/

var str = "Requires Gecko " + $1;
var idAttr = $2 ? ' name="' + $2 + '" id="' + $2 + '"' : "";

str = mdn.localString({
    ja : "Gecko " + $1 + " が必要"
});


%><div>
    <span class="indicatorInHeadline minVer geckoMinVerMethod"><%- str %><%- template("geckoRelease", [$1]) %></span>
    <h2<%- idAttr %>><%= $0 %></h2>
</div>
