<%
var str = "Requires Gecko " + $1;

str = mdn.localString({
    ja : "Gecko " + $1 + " が必要"
});


%><div>
    <span class="indicatorInHeadline minVer geckoMinVerMethod"><%- str %><%- template("geckoRelease", [$1]) %></span>
    <h2><%= $0 %></h2>
</div>
