<div><% if ("en-US" == env.locale) { %>
<span class="inlineIndicator" style="border-color:#818151; background:#FFFFE1; font-weight:700; float:right; vertical-align:middle;">Requires Gecko <%- $1 %> <%- template("geckoRelease", [$1]) %></span><%
} %>
<h3><%- $0 %></h3>
</div>
