<%

var el = env.locale;

var s = mdn.localString({
    "en-US" : "<strong>This is an experimental technology, part of the Harmony (ECMAScript 6) proposal.</strong><br />" +
              "Because this technology's specification has not stabilized," +
              " check the <a href='#Browser_compatibility'>compatibility table</a> for usage in various browsers." +
              " Also note that the syntax and behavior of an experimental technology is subject to change in future version of browsers as the spec changes.",
    "fr"    : "<strong>Cette fonction, proposition pour ECMAScript 6 (Harmony), est expérimentale</strong><br />" +
              "Puisque cette fonction est toujours en développement dans certains navigateurs," +
              " veuillez consulter le <a href='#Browser_compatibility'>tableau de compatibilité</a> pour les préfixes à utiliser selon les navigateurs.<br/>" +
              "Il convient de noter qu'une fonctionnalité expérimentale peut voir sa syntaxe" +
              " ou son comportement modifié dans le futur en fonction des évolutions de la spécification.",
    "ru" : "<strong>Это экспериментальная технология, часть предложения Harmony (ECMAScript 6).</strong><br />" +
              "Поскольку спецификация этой технологии ещё не стабилизировалась," +
              " проверьте <a href='#Browser_compatibility'>таблицу совместимости</a> её использования в различных браузерах." +
              " Также обратите внимание, что синтаксис и поведение экспериментальной технологии могут быть изменены в будущих версиях браузеров в соответствии с изменениями в спецификации.",
    "ja"    : "<strong>これは Harmony(ECMAScript 6) 提案の一部であり、実験段階の技術です。</strong><br />" +
              "この技術の仕様は安定していません。<a href='#Browser_compatibility'>ブラウザ互換性の一覧表</a>を確認してください。" +
              "またこれらの構文や動作は、仕様変更などにより、新しいバージョンのブラウザでは変更される可能性があるという点に注意してください。",
    "zh-CN" : "<strong>该特性目前仍处于 ECMAScript 6 规范草案中</strong><br />" +
              "目前的实现在未来可能会发生改变，甚至被完全删除，请谨慎使用。",
});


%><div class="overheadIndicator" style="background:#9CF49C;">
    <p><%- s %></p>
</div>
