<tr>
  <td><code>oldURL</code></td>
  <td>string</td>
  <td>The previous URL from which the window was navigated. Read only</td>
</tr>
<tr>
  <td>newURL</td>
  <td>string</td>
  <td>The new URL to which the window is navigating. Read only</td>
</tr>
