<%
/* one parameter: HTML version */

var link = "HTML " + $0;
if ($0 == "4") {
  link = web.link("/" + env.locale + "/docs/HTML", "HTML 4");
} else if ($0 == "5") {
  link = web.link("/" + env.locale + "/docs/HTML/HTML5", "HTML5");
}
%>
<span style="border: 1px solid rgb(129, 129, 250); background-color: rgb(174, 218, 229); font-size: x-small; white-space: nowrap; padding: 2px;">
<%- link %>
</span>
