
<p><span lang="en" class="lang lang-en">
<table style="border: 1px solid rgb(204, 204, 204); margin: 0px 0px 10px 10px; padding: 0px 10px; background: rgb(238, 238, 238) none repeat scroll 0% 50%; clear: both; float: right; width: 250px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"> <tbody> <tr> <td> <strong>HTML5 Documentation</strong> </td> </tr> </tbody>
</table>
</span></p>
