
<pre class="script">
/* one parameter: HTML version */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var msgStart = "";
var msgEnd = "";
var link = "";

switch(lang) {
  default:
    msgStart = "Introduced in ";
    msgEnd = "";
    link = "/en/HTML/HTML5";
    break;
}

<div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(174, 218, 229); font-weight: bold; text-align: center;">
  <p style="margin: 4px 0px;">
    msgStart;web.link(link, "HTML " + $0);msgEnd;
  </p>
</div>
</pre>
