<span lang='en' class='lang lang-en'>{{wiki.template('Template:HTML:Element_Navigation', args)}}</span><span lang='*' class='lang lang-*'>{{wiki.template('Template:HTML:Element_Navigation', args)}}</span>
