<%
/* one parameter: name of sample's file in /samples/cssref */

var target = "/samples/html/" + $0;

var str = mdn.localString({
  "en-US": "View the live example",
  "ja": "実際の表示を確認",
  "zh-CN": "例子演示"
});
%>
<a class="button liveSample" href="<%=target%>"><%=str%></a>
