<br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="en/HTML/tag">HTML Tags</a></b></td>
</tr>
<tr align="center">
<td> <a href="#A">A</a> <a href="#B">B</a> <a href="#C">C</a> <a href="#D">D</a> <a href="#E">E</a> <a href="#F">F</a> <a href="#G">G</a> <a href="#H">H</a> <a href="#I">I</a> <a href="#J">J</a> <a href="#K">K</a> <a href="#L">L</a> <a href="#M">M</a> <a href="#N">N</a> <a href="#O">O</a> <a href="#P">P</a> <a href="#Q">Q</a> <a href="#R">R</a> <a href="#S">S</a> <a href="#T">T</a> <a href="#U">U</a> <a href="#V">V</a> <a href="#W">W</a> <a href="#X">X</a> <a href="#Y">Y</a> <a href="#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Quick Links: <a href="en/HTML_Element_Cross_Reference">HTML Element Cross Reference</a>)</small></td>
</tr>
</table>
</center>
