<br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="en/HTML/tag">HTML Tags</a></b></td>
</tr>
<tr align="center">
<td> <a href="en/HTML/tag#A">A</a> <a href="en/HTML/tag#B">B</a> <a href="en/HTML/tag#C">C</a> <a href="en/HTML/tag#D">D</a> <a href="en/HTML/tag#E">E</a> <a href="en/HTML/tag#F">F</a> <a href="en/HTML/tag#G">G</a> <a href="en/HTML/tag#H">H</a> <a href="en/HTML/tag#I">I</a> <a href="en/HTML/tag#J">J</a> <a href="en/HTML/tag#K">K</a> <a href="en/HTML/tag#L">L</a> <a href="en/HTML/tag#M">M</a> <a href="en/HTML/tag#N">N</a> <a href="en/HTML/tag#O">O</a> <a href="en/HTML/tag#P">P</a> <a href="en/HTML/tag#Q">Q</a> <a href="en/HTML/tag#R">R</a> <a href="en/HTML/tag#S">S</a> <a href="en/HTML/tag#T">T</a> <a href="en/HTML/tag#U">U</a> <a href="en/HTML/tag#V">V</a> <a href="en/HTML/tag#W">W</a> <a href="en/HTML/tag#X">X</a> <a href="en/HTML/tag#Y">Y</a> <a href="en/HTML/tag#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Quick Links: <a href="en/HTML_Element_Cross_Reference">HTML Element Cross Reference</a>, <a href="Special:Tags?tag=HTML:tag&language=en">HTML Tag Category</a>)</small></td>
</tr>
</table>
</center>
