<br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="pl/HTML/Element">Element HTML</a></b></td>
</tr>
<tr align="center">
<td> <a href="pl/HTML/Element#A">A</a> <a href="pl/HTML/Element#B">B</a> <a href="pl/HTML/Element#C">C</a> <a href="pl/HTML/Element#D">D</a> <a href="pl/HTML/Element#E">E</a> <a href="pl/HTML/Element#F">F</a> <a href="pl/HTML/Element#G">G</a> <a href="pl/HTML/Element#H">H</a> <a href="pl/HTML/Element#I">I</a> <a href="pl/HTML/Element#J">J</a> <a href="pl/HTML/Element#K">K</a> <a href="pl/HTML/Element#L">L</a> <a href="pl/HTML/Element#M">M</a> <a href="pl/HTML/Element#N">N</a> <a href="pl/HTML/Element#O">O</a> <a href="pl/HTML/Element#P">P</a> <a href="pl/HTML/Element#Q">Q</a> <a href="pl/HTML/Element#R">R</a> <a href="pl/HTML/Element#S">S</a> <a href="pl/HTML/Element#T">T</a> <a href="pl/HTML/Element#U">U</a> <a href="pl/HTML/Element#V">V</a> <a href="pl/HTML/Element#W">W</a> <a href="pl/HTML/Element#X">X</a> <a href="pl/HTML/Element#Y">Y</a> <a href="pl/HTML/Element#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Zobacz także: <a href="pl/Wsparcie_przegl%c4%85darek_dla_element%c3%b3w_HTML">Wsparcie przeglądarek dla elementów HTML</a>, <a href="Special:Tags?tag=HTML&language=pl">Kategoria HTML</a>)</small></td>
</tr>
</table>
</center>
<div class="includeonly"></div>
