<%
switch(page.language){
  case 'ja':
%>
    <table style="border: 1px solid #CCC; margin: 0 0 10px 10px; padding: 0 10px; background: #EEE; clear: both; width: 100%;">
    <tbody>
        <tr>
            <td colspan="2"><strong>HTML5 関連文書</strong></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#HTML" title="ja/HTML/HTML5/HTML5 Thematic Classification#HTML">HTML</a></td>
            <td><a href="https://developer.mozilla.org/ja/Using_HTML5_audio_and_video" title="ja/Using audio and video in Firefox">Audio/Video</a>　<a href="https://developer.mozilla.org/ja/HTML/Canvas" title="ja/HTML/Canvas">Canvas</a>　<a href="https://developer.mozilla.org/ja/WebGL" title="https://developer.mozilla.org/ja/WebGL">WebGL</a>　<a href="https://developer.mozilla.org/ja/SVG" title="ja/SVG">SVG</a>　<a href="https://developer.mozilla.org/ja/MathML" title="ja/MathML">MathML</a>　<a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#WebForms" title="ja/HTML/HTML5/HTML5 Thematic Classification#WebForms">WebForms</a>　<a href="https://developer.mozilla.org/ja/Using_Application_Cache" title="ja/Using Application Cache">AppCache</a>　<a href="https://developer.mozilla.org/ja/Using_microformats" title="ja/Using microformats">Microformats</a>　<a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#Semantic_tags" title="ja/HTML/HTML5/HTML5 Thematic Classification#Semantic tags">SemanticTags</a></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#Javascript" title="ja/HTML/HTML5/HTML5 Thematic Classification#Javascript">Javascript</a></td>
            <td><a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#Client-Side_Storage" title="ja/HTML/HTML5/HTML5 Thematic Classification#Client-Side Storage">Storage</a>　<a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#IndexedDB" title="ja/HTML/HTML5/HTML5 Thematic Classification#IndexedDB">IndexedDB</a>　<a href="https://developer.mozilla.org/ja/WebSockets" title="ja/WebSockets">WebSockets</a>　<a href="https://developer.mozilla.org/ja/Using_web_workers" title="ja/Using web workers">WebWorkers</a>　<a href="https://developer.mozilla.org/ja/Online_and_offline_events" title="ja/Online and offline events">Events</a>　<a href="https://developer.mozilla.org/ja/DragDrop/Drag_and_Drop" title="ja/DragDrop/Drag and Drop">Drag/Drop</a>　<a href="https://developer.mozilla.org/ja/Web-based_protocol_handlers" title="ja/Web-based protocol handlers">ProtocolHandler</a>　<a href="https://developer.mozilla.org/ja/Using_geolocation" title="ja/Using geolocation">Geolocation</a>　<a href="https://developer.mozilla.org/ja/Focus_management_in_HTML" title="ja/Focus management in HTML">Focus</a></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="/ja/HTML/HTML5/HTML5_Thematic_Classification#CSS" title="ja/HTML/HTML5/HTML5 Thematic Classification#CSS">CSS</a></td>
            <td><a href="https://developer.mozilla.org/ja/Mozilla_CSS_support_chart" title="ja/Mozilla CSS support chart">NewSelectors</a>　<a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#Typography" title="ja/HTML/HTML5/HTML5 Thematic Classification#Typography">Typography</a>　<a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#Visual" title="ja/HTML/HTML5/HTML5 Thematic Classification#Visual">Visual</a>　<a href="https://developer.mozilla.org/ja/HTML/HTML5/HTML5_Thematic_Classification#Effects" title="ja/HTML/HTML5/HTML5 Thematic Classification#Effects">Effects</a></td>
        </tr>
    </tbody>
    </table>
<%
    break;
  case 'zh-tw':
%>
    <table style="border: 1px solid #CCC; margin: 0 0 10px 10px; padding: 0 10px; background: #EEE; clear: both; width: 100%;">
    <tbody>
        <tr>
            <td colspan="2"><strong>HTML5 文件</strong></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="https://developer.mozilla.org/zh_tw/HTML/HTML5" title="zh tw/HTML/HTML5">HTML</a></td>
            <td><a href="https://developer.mozilla.org/en/Using_HTML5_audio_and_video" title="en/Using audio and video in Firefox">Audio/Video</a> <a href="https://developer.mozilla.org/zh_tw/HTML/Canvas" title="zh_tw/HTML/Canvas">Canvas</a> <a href="https://developer.mozilla.org/en/WebGL" title="https://developer.mozilla.org/en/WebGL">WebGL</a> <a href="https://developer.mozilla.org/en/SVG" title="en/SVG">SVG</a> <a href="https://developer.mozilla.org/en/MathML" title="en/MathML">MathML</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#WebForms" title="en/HTML/HTML5/HTML5 Thematic Classification#WebForms">WebForms</a> <a href="https://developer.mozilla.org/zh_tw/Offline_resources_on_Firefox" title="zh tw/Using Application Cache">AppCache</a> <a href="https://developer.mozilla.org/en/Using_microformats" title="en/Using microformats">Microformats</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Semantic_tags" title="en/HTML/HTML5/HTML5 Thematic Classification#Semantic tags">SemanticTags</a></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Javascript" title="en/HTML/HTML5/HTML5 Thematic Classification#Javascript">Javascript</a></td>
            <td><a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Client-Side_Storage" title="en/HTML/HTML5/HTML5 Thematic Classification#Client-Side Storage">Storage</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#IndexedDB" title="en/HTML/HTML5/HTML5 Thematic Classification#IndexedDB">IndexedDB</a> <a href="https://developer.mozilla.org/zh_tw/WebSockets" title="zh tw/WebSockets">WebSockets</a> <a href="https://developer.mozilla.org/en/Using_web_workers" title="en/Using web workers">WebWorkers</a> <a href="https://developer.mozilla.org/en/Online_and_offline_events" title="en/Online and offline events">Events</a> <a href="https://developer.mozilla.org/en/DragDrop/Drag_and_Drop" title="en/DragDrop/Drag and Drop">Drag/Drop</a> <a href="https://developer.mozilla.org/en/Web-based_protocol_handlers" title="en/Web-based protocol handlers">ProtocolHandler</a> <a href="https://developer.mozilla.org/en/Using_geolocation" title="en/Using geolocation">Geolocation</a> <a href="https://developer.mozilla.org/en/Focus_management_in_HTML" title="en/Focus management in HTML">Focus</a></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#CSS" title="en/HTML/HTML5/HTML5 Thematic Classification#CSS">CSS</a></td>
            <td><a href="https://developer.mozilla.org/en/Mozilla_CSS_support_chart" title="en/Mozilla CSS support chart">NewSelectors</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Typography" title="en/HTML/HTML5/HTML5 Thematic Classification#Typography">Typography</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Visual" title="en/HTML/HTML5/HTML5 Thematic Classification#Visual">Visual</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Effects" title="en/HTML/HTML5/HTML5 Thematic Classification#Effects">Effects</a></td>
        </tr>
    </tbody>
    </table>
<%
    break;
  default: /*en*/
%>
    <table style="border: 1px solid #CCC; margin: 0 0 10px 10px; padding: 0 10px; background: #EEE; clear: both; width: 100%;">
    <tbody>
        <tr>
            <td colspan="2"><strong>HTML5 Documentation</strong></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="/en/HTML/HTML5/HTML5_Thematic_Classification#HTML" title="en/HTML/HTML5/HTML5 Thematic Classification#HTML">HTML</a></td>
            <td><a href="https://developer.mozilla.org/en/Using_HTML5_audio_and_video" title="en/Using audio and video in Firefox">Audio/Video</a> <a href="https://developer.mozilla.org/en/HTML/Canvas" title="en/HTML/Canvas">Canvas</a> <a href="https://developer.mozilla.org/en/WebGL" title="https://developer.mozilla.org/en/WebGL">WebGL</a> <a href="https://developer.mozilla.org/en/SVG" title="en/SVG">SVG</a> <a href="https://developer.mozilla.org/en/MathML" title="en/MathML">MathML</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#WebForms" title="en/HTML/HTML5/HTML5 Thematic Classification#WebForms">WebForms</a> <a href="https://developer.mozilla.org/en/Using_Application_Cache" title="en/Using Application Cache">AppCache</a> <a href="https://developer.mozilla.org/en/Using_microformats" title="en/Using microformats">Microformats</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Semantic_tags" title="en/HTML/HTML5/HTML5 Thematic Classification#Semantic tags">SemanticTags</a></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Javascript" title="en/HTML/HTML5/HTML5 Thematic Classification#Javascript">Javascript</a></td>
            <td><a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Client-Side_Storage" title="en/HTML/HTML5/HTML5 Thematic Classification#Client-Side Storage">Storage</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#IndexedDB" title="en/HTML/HTML5/HTML5 Thematic Classification#IndexedDB">IndexedDB</a> <a href="https://developer.mozilla.org/en/WebSockets" title="en/WebSockets">WebSockets</a> <a href="https://developer.mozilla.org/en/Using_web_workers" title="en/Using web workers">WebWorkers</a> <a href="https://developer.mozilla.org/en/Online_and_offline_events" title="en/Online and offline events">Events</a> <a href="https://developer.mozilla.org/en/DragDrop/Drag_and_Drop" title="en/DragDrop/Drag and Drop">Drag/Drop</a> <a href="https://developer.mozilla.org/en/Web-based_protocol_handlers" title="en/Web-based protocol handlers">ProtocolHandler</a> <a href="https://developer.mozilla.org/en/Using_geolocation" title="en/Using geolocation">Geolocation</a> <a href="https://developer.mozilla.org/en/Focus_management_in_HTML" title="en/Focus management in HTML">Focus</a></td>
        </tr>
        <tr>
            <td style="width:100px"><a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#CSS" title="en/HTML/HTML5/HTML5 Thematic Classification#CSS">CSS</a></td>
            <td><a href="https://developer.mozilla.org/en/Mozilla_CSS_support_chart" title="en/Mozilla CSS support chart">NewSelectors</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Typography" title="en/HTML/HTML5/HTML5 Thematic Classification#Typography">Typography</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Visual" title="en/HTML/HTML5/HTML5 Thematic Classification#Visual">Visual</a> <a href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Thematic_Classification#Effects" title="en/HTML/HTML5/HTML5 Thematic Classification#Effects">Effects</a></td>
        </tr>
    </tbody>
    </table>
<%
    break;
}
%>
