<%
// Inserts a link to the specified attribute of a particular HTML element.
//
// Parameters:
//  $0  The attribute to insert
//  $1  The element on which the attribute is used (optional)
//
// If the element isn't specified, the link is made to the Global Attributes
// page.

var lang = env.locale;
var url = "";

$0 = $0.toLowerCase();

if ($1 && ($1 != undefined)) {
    url = '/' + lang + '/docs/Web/HTML/Element/' + $1;
} else {
    url = '/' + lang + 'docs/Web/HTML/Global_attributes';
}
var result = '<code><a href="' + url + '#attr-' + $0 +'">' + $0 + '</a></code>';
%>
<%- result %>
