<%
var name = ($0.toString()).toLowerCase();

var sectionname = mdn.localString({
  "en-US": "Element",
  "es": "Elemento"
});

var dest = '/' + env.locale + '/docs/HTML/' + sectionname + '/' + name;
var result = '<code><a href="' + dest +'" title="<' + name + '>">&lt;' + name + '&gt;</a></code>';
%>
<%- result %>
