<%
var name = ($0.toString()).toLowerCase();
var lang = env.locale;
var basePath = "/" + lang + "/docs/";
var sectionname = "Element";

switch(lang) {
    case 'ja':
    case 'en-US':
        dest = basePath + 'Web/HTML/' + sectionname + '/' + name;
        break;
    case 'es':
        sectionname = "Elemento";
        dest = basePath + 'HTML/' + sectionname + '/' + name;
        break;
    default:        // Using the old path for now
        sectionname = "Element";
        dest = basePath + 'HTML/' + sectionname + '/' + name;
        break;
}

var result = '<a href="' + dest + '"><code>&lt;' + name + '&gt;</code></a>';


%><%- result %>
