<%
var lang = env.locale;

/* check $1 exists */
if(wiki.pageExists(lang + '/HTML/Element/' + $1)) {
    %><code><%- (web.link(wiki.uri(lang + '/HTML/Element/' + $1 ) + '#attr-' + $0, ($2 || $0))) %></code><%
} else {
    %><code><a rel="internal" href="<%-(wiki.uri(lang + '/HTML/Element/' + $1 ) + '#attr-' + $0)%>" class="new"><%=($2 || $0)%></a></code><% 
} 
%>
