<%
var name = ($0.toString()).toLowerCase();
var lang = env.locale;
var basePath = "/" + lang + "/docs/";
var sectionname = "Element";
var dest = basePath + 'Web/HTML/' + sectionname + '/' + name;


switch(lang) {
    case "ja":
    case "en-US":
        break;
    case 'es':
        dest = basePath + 'HTML/Elemento/' + name;
        break;
    default:        // Using the old path for now
        dest = basePath + 'HTML/Element/' + name;
        break;
}

var result = '<a href="' + dest + '"><code>&lt;' + name + '&gt;</code></a>';


%><%- result %>
