<% if ('ja' == env.locale) { %>
    <table class="fullwidth-table" style="clear:both;border-width:5px;">
    <thead>
        <tr>
            <th colspan="2" style="padding: .5em 1em;">HTML5 関連文書</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#HTML" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#HTML">HTML</a></td>
            <td><a href="/ja/docs/Using_HTML5_audio_and_video" title="ja/docs/Using audio and video in Firefox">Audio/Video</a>　<a href="/ja/docs/HTML/Canvas" title="ja/docs/HTML/Canvas">Canvas</a>　<a href="/ja/docs/WebGL" title="/ja/docs/WebGL">WebGL</a>　<a href="/ja/docs/SVG" title="ja/docs/SVG">SVG</a>　<a href="/ja/docs/MathML" title="ja/docs/MathML">MathML</a>　<a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#WebForms" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#WebForms">WebForms</a>　<a href="/ja/docs/Using_Application_Cache" title="ja/docs/Using Application Cache">AppCache</a>　<a href="/ja/docs/Using_microformats" title="ja/docs/Using microformats">Microformats</a>　<a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#Semantic_tags" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#Semantic tags">SemanticTags</a></td>
        </tr>
        <tr>
            <td><a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#Javascript" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#Javascript">Javascript</a></td>
            <td><a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#Client-Side_Storage" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#Client-Side Storage">Storage</a>　<a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#IndexedDB" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#IndexedDB">IndexedDB</a>　<a href="/ja/docs/WebSockets" title="ja/docs/WebSockets">WebSockets</a>　<a href="/ja/docs/Using_web_workers" title="ja/docs/Using web workers">WebWorkers</a>　<a href="/ja/docs/Online_and_offline_events" title="ja/docs/Online and offline events">Events</a>　<a href="/ja/docs/DragDrop/Drag_and_Drop" title="ja/docs/DragDrop/Drag and Drop">Drag/Drop</a>　<a href="/ja/docs/Web-based_protocol_handlers" title="ja/docs/Web-based protocol handlers">ProtocolHandler</a>　<a href="/ja/docs/Using_geolocation" title="ja/docs/Using geolocation">Geolocation</a>　<a href="/ja/docs/Focus_management_in_HTML" title="ja/docs/Focus management in HTML">Focus</a></td>
        </tr>
        <tr>
            <td><a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#CSS" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#CSS">CSS</a></td>
            <td><a href="/ja/docs/Mozilla_CSS_support_chart" title="ja/docs/Mozilla CSS support chart">NewSelectors</a>　<a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#Typography" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#Typography">Typography</a>　<a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#Visual" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#Visual">Visual</a>　<a href="/ja/docs/HTML/HTML5/HTML5_Thematic_Classification#Effects" title="ja/docs/HTML/HTML5/HTML5 Thematic Classification#Effects">Effects</a></td>
        </tr>
    </tbody>
    </table>
<% } else if ('zh-TW' == env.locale) { %>
    <table class="fullwidth-table" style="clear:both;border-width:5px;">
    <thead>
        <tr>
            <th colspan="2" style="padding: .5em 1em;">HTML5 文件</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/zh-TW/docs/HTML/HTML5" title="zh tw/HTML/HTML5">HTML</a></td>
            <td><a href="/zh-TW/docs/Using_HTML5_audio_and_video" title="zh-TW/docs/Using audio and video in Firefox">Audio/Video</a> <a href="/zh-TW/docs/HTML/Canvas" title="zh-TW/docs/HTML/Canvas">Canvas</a> <a href="/zh-TW/docs/WebGL" title="/zh-TW/docs/WebGL">WebGL</a>　<a href="/zh-TW/docs/SVG" title="zh-TW/docs/SVG">SVG</a> <a href="/zh-TW/docs/MathML" title="zh-TW/docs/MathML">MathML</a>　<a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#WebForms" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#WebForms">WebForms</a>　<a href="/zh-TW/docs/Offline_resources_on_Firefox" title="zh tw/Using Application Cache">AppCache</a>　<a href="/zh-TW/docs/Using_microformats" title="zh-TW/docs/Using microformats">Microformats</a>　<a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#Semantic_tags" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#Semantic tags">SemanticTags</a></td>
        </tr>
        <tr>
            <td><a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#Javascript" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#Javascript">Javascript</a></td>
            <td><a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#Client-Side_Storage" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#Client-Side Storage">Storage</a>　<a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#IndexedDB" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#IndexedDB">IndexedDB</a>　<a href="/zh-TW/docs/WebSockets" title="zh tw/WebSockets">WebSockets</a>　<a href="/zh-TW/docs/Using_web_workers" title="zh-TW/docs/Using web workers">WebWorkers</a>　<a href="/zh-TW/docs/Online_and_offline_events" title="zh-TW/docs/Online and offline events">Events</a>　<a href="/zh-TW/docs/DragDrop/Drag_and_Drop" title="zh-TW/docs/DragDrop/Drag and Drop">Drag/Drop</a>　<a href="/zh-TW/docs/Web-based_protocol_handlers" title="zh-TW/docs/Web-based protocol handlers">ProtocolHandler</a>　<a href="/zh-TW/docs/Using_geolocation" title="zh-TW/docs/Using geolocation">Geolocation</a>　<a href="/zh-TW/docs/Focus_management_in_HTML" title="zh-TW/docs/Focus management in HTML">Focus</a></td>
        </tr>
        <tr>
            <td><a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#CSS" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#CSS">CSS</a></td>
            <td><a href="/zh-TW/docs/Mozilla_CSS_support_chart" title="zh-TW/docs/Mozilla CSS support chart">NewSelectors</a> <a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#Typography" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#Typography">Typography</a>　<a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#Visual" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#Visual">Visual</a>　<a href="/zh-TW/docs/HTML/HTML5/HTML5_Thematic_Classification#Effects" title="zh-TW/docs/HTML/HTML5/HTML5 Thematic Classification#Effects">Effects</a></td>
        </tr>
    </tbody>
    </table>
<% } else { %>
    <table class="fullwidth-table" style="clear:both;border-width:5px;">
    <thead>
        <tr>
            <th colspan="2" style="padding: .5em 1em;">HTML5 Documentation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#HTML" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#HTML">HTML</a></td>
            <td><a href="/en-US/docs/Using_HTML5_audio_and_video" title="en-US/docs/Using audio and video in Firefox">Audio/Video</a> <a href="/en-US/docs/HTML/Canvas" title="en-US/docs/HTML/Canvas">Canvas</a> <a href="/en-US/docs/WebGL" title="/en-US/docs/WebGL">WebGL</a> <a href="/en-US/docs/SVG" title="en-US/docs/SVG">SVG</a> <a href="/en-US/docs/MathML" title="en-US/docs/MathML">MathML</a> <a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#WebForms" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#WebForms">WebForms</a> <a href="/en-US/docs/Using_Application_Cache" title="en-US/docs/Using Application Cache">AppCache</a> <a href="/en-US/docs/Using_microformats" title="en-US/docs/Using microformats">Microformats</a> <a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#Semantic_tags" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#Semantic tags">SemanticTags</a></td>
        </tr>
        <tr>
            <td><a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#Javascript" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#Javascript">Javascript</a></td>
            <td><a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#Client-Side_Storage" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#Client-Side Storage">Storage</a> <a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#IndexedDB" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#IndexedDB">IndexedDB</a> <a href="/en-US/docs/WebSockets" title="en-US/docs/WebSockets">WebSockets</a> <a href="/en-US/docs/Using_web_workers" title="en-US/docs/Using web workers">WebWorkers</a> <a href="/en-US/docs/Online_and_offline_events" title="en-US/docs/Online and offline events">Events</a> <a href="/en-US/docs/DragDrop/Drag_and_Drop" title="en-US/docs/DragDrop/Drag and Drop">Drag/Drop</a> <a href="/en-US/docs/Web-based_protocol_handlers" title="en-US/docs/Web-based protocol handlers">ProtocolHandler</a> <a href="/en-US/docs/Using_geolocation" title="en-US/docs/Using geolocation">Geolocation</a> <a href="/en-US/docs/Focus_management_in_HTML" title="en-US/docs/Focus management in HTML">Focus</a></td>
        </tr>
        <tr>
            <td><a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#CSS" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#CSS">CSS</a></td>
            <td><a href="/en-US/docs/Mozilla_CSS_support_chart" title="en-US/docs/Mozilla CSS support chart">NewSelectors</a> <a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#Typography" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#Typography">Typography</a> <a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#Visual" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#Visual">Visual</a> <a href="/en-US/docs/HTML/HTML5/HTML5_Thematic_Classification#Effects" title="en-US/docs/HTML/HTML5/HTML5 Thematic Classification#Effects">Effects</a></td>
        </tr>
    </tbody>
    </table>
<% } %>
