<%
/* one parameter: HTML version */
var lang = env.locale;

var msgStart = "Introduced in ";
var msgEnd = "";
var link = "";
if ($0 == "5") {
  link = "/en/HTML/HTML5";
}

switch (lang) { 
  case "fr":
    msgStart = "Ajouté dans ";
    msgEnd = "";
    if ($0 == "5") {
      link = "/fr/HTML/HTML5";
    }
    break;
  case "es":
    msgStart = "Introducido en ";
    msgEnd = "";
    if ($0 == "5") {
      link = "/es/HTML/HTML5";
    }
    break;
  case "zh-cn":
    msgStart = "引进于 ";
    msgEnd = "";
    if ($0 == "5") {
      link = "/es/HTML/HTML5";
    }
    break;
  case "ja":
    msgStart = "";
    msgEnd = " で導入";
    if ($0 == "5") {
      link = "/ja/HTML/HTML5";
    }
    break;
}
%>
<div class="htmlVersionHeaderTemplate" style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(174, 218, 229); font-weight: bold; text-align: center;">
  <p style="margin: 4px 0px;">
    <%= msgStart %>
    <% if (link != "") { %>
    <%- web.link(link, "HTML " + $0) %>
    <% } else { %>
    HTML <%= $0 %>
    <% } %>
    <%= msgEnd %>
  </p>
</div>
