<span lang='en' class='lang lang-en'><br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="en/HTML/Element">HTML Elements</a></b></td>
</tr>
<tr align="center">
<td> <a href="en/HTML/Element#A">A</a> <a href="en/HTML/Element#B">B</a> <a href="en/HTML/Element#C">C</a> <a href="en/HTML/Element#D">D</a> <a href="en/HTML/Element#E">E</a> <a href="en/HTML/Element#F">F</a> <a href="en/HTML/Element#G">G</a> <a href="en/HTML/Element#H">H</a> <a href="en/HTML/Element#I">I</a> <a href="en/HTML/Element#J">J</a> <a href="en/HTML/Element#K">K</a> <a href="en/HTML/Element#L">L</a> <a href="en/HTML/Element#M">M</a> <a href="en/HTML/Element#N">N</a> <a href="en/HTML/Element#O">O</a> <a href="en/HTML/Element#P">P</a> <a href="en/HTML/Element#Q">Q</a> <a href="en/HTML/Element#R">R</a> <a href="en/HTML/Element#S">S</a> <a href="en/HTML/Element#T">T</a> <a href="en/HTML/Element#U">U</a> <a href="en/HTML/Element#V">V</a> <a href="en/HTML/Element#W">W</a> <a href="en/HTML/Element#X">X</a> <a href="en/HTML/Element#Y">Y</a> <a href="en/HTML/Element#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Quick Links: <a href="en/HTML_Element_Cross_Reference">HTML Element Cross Reference</a>, <a href="Special:Tags?tag=HTML&language=en">HTML Category</a>)</small></td>
</tr>
</table>
</center>
</span><span lang='*' class='lang lang-*'><br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="en/HTML/Element">HTML Elements</a></b></td>
</tr>
<tr align="center">
<td> <a href="en/HTML/Element#A">A</a> <a href="en/HTML/Element#B">B</a> <a href="en/HTML/Element#C">C</a> <a href="en/HTML/Element#D">D</a> <a href="en/HTML/Element#E">E</a> <a href="en/HTML/Element#F">F</a> <a href="en/HTML/Element#G">G</a> <a href="en/HTML/Element#H">H</a> <a href="en/HTML/Element#I">I</a> <a href="en/HTML/Element#J">J</a> <a href="en/HTML/Element#K">K</a> <a href="en/HTML/Element#L">L</a> <a href="en/HTML/Element#M">M</a> <a href="en/HTML/Element#N">N</a> <a href="en/HTML/Element#O">O</a> <a href="en/HTML/Element#P">P</a> <a href="en/HTML/Element#Q">Q</a> <a href="en/HTML/Element#R">R</a> <a href="en/HTML/Element#S">S</a> <a href="en/HTML/Element#T">T</a> <a href="en/HTML/Element#U">U</a> <a href="en/HTML/Element#V">V</a> <a href="en/HTML/Element#W">W</a> <a href="en/HTML/Element#X">X</a> <a href="en/HTML/Element#Y">Y</a> <a href="en/HTML/Element#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Quick Links: <a href="en/HTML_Element_Cross_Reference">HTML Element Cross Reference</a>, <a href="Special:Tags?tag=HTML&language=en">HTML Category</a>)</small></td>
</tr>
</table>
</center>
</span><span lang='de' class='lang lang-de'><br clear="all" />

<table id="toc" style="margin: 0 auto">
<tr style="background:#ccccff">
<th><b><a href="de/HTML/Element">HTML Elemente</a></b></th>
</tr>
<tr align="center">
<td> <a href="de/HTML/Element#A">A</a> <a href="de/HTML/Element#B">B</a> <a href="de/HTML/Element#C">C</a> <a href="de/HTML/Element#D">D</a> <a href="de/HTML/Element#E">E</a> <a href="de/HTML/Element#F">F</a> <a href="de/HTML/Element#G">G</a> <a href="de/HTML/Element#H">H</a> <a href="de/HTML/Element#I">I</a> <a href="de/HTML/Element#J">J</a> <a href="de/HTML/Element#K">K</a> <a href="de/HTML/Element#L">L</a> <a href="de/HTML/Element#M">M</a> <a href="de/HTML/Element#N">N</a> <a href="de/HTML/Element#O">O</a> <a href="de/HTML/Element#P">P</a> <a href="de/HTML/Element#Q">Q</a> <a href="de/HTML/Element#R">R</a> <a href="de/HTML/Element#S">S</a> <a href="de/HTML/Element#T">T</a> <a href="de/HTML/Element#U">U</a> <a href="de/HTML/Element#V">V</a> <a href="de/HTML/Element#W">W</a> <a href="de/HTML/Element#X">X</a> <a href="de/HTML/Element#Y">Y</a> <a href="de/HTML/Element#Z">Z</a></td>
</tr>
<tr>
<td style="text-align: center; font-size: 80%;">(Links: <a href="de/HTML_Element_Cross_Referenz">HTML Element Cross Referenz</a>)</td>
</tr>
</table>
</span><span lang='es' class='lang lang-es'><br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="es/HTML/Element">Elementos HTML</a></b></td>
</tr>
<tr align="center">
<td> <a href="es/HTML/Element#A">A</a> <a href="es/HTML/Element#B">B</a> <a href="es/HTML/Element#C">C</a> <a href="es/HTML/Element#D">D</a> <a href="es/HTML/Element#E">E</a> <a href="es/HTML/Element#F">F</a> <a href="es/HTML/Element#G">G</a> <a href="es/HTML/Element#H">H</a> <a href="es/HTML/Element#I">I</a> <a href="es/HTML/Element#J">J</a> <a href="es/HTML/Element#K">K</a> <a href="es/HTML/Element#L">L</a> <a href="es/HTML/Element#M">M</a> <a href="es/HTML/Element#N">N</a> <a href="es/HTML/Element#O">O</a> <a href="es/HTML/Element#P">P</a> <a href="es/HTML/Element#Q">Q</a> <a href="es/HTML/Element#R">R</a> <a href="es/HTML/Element#S">S</a> <a href="es/HTML/Element#T">T</a> <a href="es/HTML/Element#U">U</a> <a href="es/HTML/Element#V">V</a> <a href="es/HTML/Element#W">W</a> <a href="es/HTML/Element#X">X</a> <a href="es/HTML/Element#Y">Y</a> <a href="es/HTML/Element#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Enlaces rápidos: <a href="es/Referencia_cruzada_de_elementos_HTML">Referencia cruzada de elementos HTML</a>, <a href="Special:Tags?tag=HTML&language=es">Categoría HTML</a>)</small></td>
</tr>
</table>
</center>
</span><span lang='fr' class='lang lang-fr'><br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="fr/HTML/Element">Éléments HTML</a></b></td>
</tr>
<tr align="center">
<td> <a href="fr/HTML/Element#A">A</a> <a href="fr/HTML/Element#B">B</a> <a href="fr/HTML/Element#C">C</a> <a href="fr/HTML/Element#D">D</a> <a href="fr/HTML/Element#E">E</a> <a href="fr/HTML/Element#F">F</a> <a href="fr/HTML/Element#G">G</a> <a href="fr/HTML/Element#H">H</a> <a href="fr/HTML/Element#I">I</a> <a href="fr/HTML/Element#J">J</a> <a href="fr/HTML/Element#K">K</a> <a href="fr/HTML/Element#L">L</a> <a href="fr/HTML/Element#M">M</a> <a href="fr/HTML/Element#N">N</a> <a href="fr/HTML/Element#O">O</a> <a href="fr/HTML/Element#P">P</a> <a href="fr/HTML/Element#Q">Q</a> <a href="fr/HTML/Element#R">R</a> <a href="fr/HTML/Element#S">S</a> <a href="fr/HTML/Element#T">T</a> <a href="fr/HTML/Element#U">U</a> <a href="fr/HTML/Element#V">V</a> <a href="fr/HTML/Element#W">W</a> <a href="fr/HTML/Element#X">X</a> <a href="fr/HTML/Element#Y">Y</a> <a href="fr/HTML/Element#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Liens rapides : <a href="fr/R%c3%a9f%c3%a9rence_crois%c3%a9e_des_%c3%a9l%c3%a9ments_HTML">Référence croisée des éléments HTML</a>, <a href="Special:Tags?tag=HTML&language=fr">Catégorie HTML</a>)</small></td>
</tr>
</table>
</center>
</span><span lang='ja' class='lang lang-ja'><br clear="all" />

<div align="center">
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="ja/HTML/Element">HTML 要素</a></b></td>
</tr>
<tr align="center">
<td> <a href="ja/HTML/Element#A">A</a> <a href="ja/HTML/Element#B">B</a> <a href="ja/HTML/Element#C">C</a> <a href="ja/HTML/Element#D">D</a> <a href="ja/HTML/Element#E">E</a> <a href="ja/HTML/Element#F">F</a> <a href="ja/HTML/Element#G">G</a> <a href="ja/HTML/Element#H">H</a> <a href="ja/HTML/Element#I">I</a> <a href="ja/HTML/Element#J">J</a> <a href="ja/HTML/Element#K">K</a> <a href="ja/HTML/Element#L">L</a> <a href="ja/HTML/Element#M">M</a> <a href="ja/HTML/Element#N">N</a> <a href="ja/HTML/Element#O">O</a> <a href="ja/HTML/Element#P">P</a> <a href="ja/HTML/Element#Q">Q</a> <a href="ja/HTML/Element#R">R</a> <a href="ja/HTML/Element#S">S</a> <a href="ja/HTML/Element#T">T</a> <a href="ja/HTML/Element#U">U</a> <a href="ja/HTML/Element#V">V</a> <a href="ja/HTML/Element#W">W</a> <a href="ja/HTML/Element#X">X</a> <a href="ja/HTML/Element#Y">Y</a> <a href="ja/HTML/Element#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(簡易リンク: <a href="ja/HTML_Element_Cross_Reference">HTML 要素クロスリファレンス</a>, <a href="Special:Tags?tag=HTML&language=ja">HTML カテゴリ</a>)</small></td>
</tr>
</table>
</div>
</span><span lang='pl' class='lang lang-pl'><br clear="all" />

<center>
<table id="toc" style="margin: 0 2em 0 2em;">
<tr style="background:#ccccff" align="center">
<td><b><a href="pl/HTML/Element">Element HTML</a></b></td>
</tr>
<tr align="center">
<td> <a href="pl/HTML/Element#A">A</a> <a href="pl/HTML/Element#B">B</a> <a href="pl/HTML/Element#C">C</a> <a href="pl/HTML/Element#D">D</a> <a href="pl/HTML/Element#E">E</a> <a href="pl/HTML/Element#F">F</a> <a href="pl/HTML/Element#G">G</a> <a href="pl/HTML/Element#H">H</a> <a href="pl/HTML/Element#I">I</a> <a href="pl/HTML/Element#J">J</a> <a href="pl/HTML/Element#K">K</a> <a href="pl/HTML/Element#L">L</a> <a href="pl/HTML/Element#M">M</a> <a href="pl/HTML/Element#N">N</a> <a href="pl/HTML/Element#O">O</a> <a href="pl/HTML/Element#P">P</a> <a href="pl/HTML/Element#Q">Q</a> <a href="pl/HTML/Element#R">R</a> <a href="pl/HTML/Element#S">S</a> <a href="pl/HTML/Element#T">T</a> <a href="pl/HTML/Element#U">U</a> <a href="pl/HTML/Element#V">V</a> <a href="pl/HTML/Element#W">W</a> <a href="pl/HTML/Element#X">X</a> <a href="pl/HTML/Element#Y">Y</a> <a href="pl/HTML/Element#Z">Z</a></td>
</tr>
<tr align="center">
<td> <small>(Zobacz także: <a href="pl/Wsparcie_przegl%c4%85darek_dla_element%c3%b3w_HTML">Wsparcie przeglądarek dla elementów HTML</a>, <a href="Special:Tags?tag=HTML&language=pl">Kategoria HTML</a>)</small></td>
</tr>
</table>
</center>
<div class="includeonly"></div>
</span>
