
<div class="noinclude">Example: <span class="script">htmlattrxref("placeholder","textarea")</span><hr />
</div>
<pre class="script">
/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = u.path[0];
if(string.Contains(lang, "project") || string.Contains(lang, "Project")) {
 lang = string.Substr(lang, 8);
}

/* check $1 exists */
if(wiki.pageExists(lang + '/HTML/Element/' + $1)) {
    <b>(web.link(wiki.uri(lang + '/HTML/Element/' + $1 + '#attr-' + $0), ($2 || $0)))</b>;
} else {
    <b><a rel=('internal') href=(wiki.uri(lang + '/HTML/Element/' + $1 + '#attr-' + $0)) class=('new')>($2 || $0)</a></b>;
}</pre>
