
<div class="noinclude">Example: <span class="script">httpheader("Host")</span><hr />
</div>
<pre class="script">
/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = u.path[0];
if(string.Contains(lang, "project") || string.Contains(lang, "Project")) {
 lang = string.Substr(lang, 8);
}

/* check $1 exists */
if(wiki.pageExists(lang + '/HTTP/Headers')) {
    <code>(web.link(wiki.uri(lang + '/HTTP/Headers' ) + '#' + $0, $0 +':'))</code>;
} else {
    <code><a rel=('internal') href=(wiki.uri(lang + '/HTTP/Headers' ) + '#' + $0) class=('new')>$0 +':'</a></code>;
}
%>
