<%
// Creates a badge with an icon and some text
//
// Parameters:
//
//  $0 - Text to display in the badge
//  $1 - Class name for icon area of badge
//  $2 - Class name for text area of badge
//  $3 - Tooltip text (optional)
//
%>

<div class="iconBadgeWrap">
    <div class="iconBadge <%=$2%>" title="<%-$3%>">
        <div class="iconBadgeIcon <%=$1%>"></div>
        <p class="iconBadgeText"><%=$0%></p>
    </div>
</div>
