<span lang='en' class='lang lang-en'><span id="{{$0}}">{{web.html($0)}}</span>
</span><span lang='*' class='lang lang-*'><span id="{{$0}}">{{web.html($0)}}</span>
</span><span lang='ja' class='lang lang-ja'><span id="{{$0}}">{{web.html($0)}}</span>
</span>
