<tr>
  <td><code>newVersion</code></td>
  <td>unsigned long (int)</td>
  <td>The new version of the database. Read only.</td>
</tr>
<tr>
  <td><code>oldVersion</code></td>
  <td>unsigned long (int)</td>
  <td>The old version of the database. Read only.</td>
</tr>
