
<p><span lang="en" class="lang lang-en"><code><span class="script">web.link($0, $0)</span></code> method <code><span class="script">mediawiki.internal($0 + '#' + $1 + '()|' + $1 + '()', "en")</span></code>
<div class="noinclude">
<p>The ifandmethod template lets you easily place a link to a method in a specified interface, with the interface name included. For example:</p>
<p><span class="nowiki">{{ifmethod|nsINavBookmarksService|createFolder}}</span></p>
<p>Results in:</p>
<p><span class="script">template.Ifandmethod("nsINavBookmarksService", "createFolder")</span></p>
</div>
</span><span lang="*" class="lang lang-*"><code><span class="script">web.link($0, $0)</span></code> method <code><span class="script">mediawiki.internal($0 + '#' + $1 + '()|' + $1 + '()', "en")</span></code>
<div class="noinclude">
<p>The ifandmethod template lets you easily place a link to a method in a specified interface. For example:</p>
<p><span class="nowiki">{{ifmethod|nsINavBookmarksService|createFolder}}</span></p>
<p>Results in:</p>
<p><span class="script">template.Ifandmethod("nsINavBookmarksService", "createFolder")</span></p>
</div>
</span></p>
