<span lang='en' class='lang lang-en'><code>{{mediawiki.internal($0 + '#' + $1 + '()|' + $1 + '()', "en")}}</code><div class="noinclude">
<p>The ifmethod template lets you easily place a link to a method in a specified interface.  For example:
</p><p><span class="plain">{{ifmethod|nsINavBookmarksService|createFolder}}</span>
</p><p>Results in:
</p><p>{{template.Ifmethod("nsINavBookmarksService", "createFolder")}}
</p>
</div>
</span><span lang='*' class='lang lang-*'><code>{{mediawiki.internal($0 + '#' + $1 + '()|' + $1 + '()', "en")}}</code><div class="noinclude">
<p>The ifmethod template lets you easily place a link to a method in a specified interface.  For example:
</p><p><span class="plain">{{ifmethod|nsINavBookmarksService|createFolder}}</span>
</p><p>Results in:
</p><p>{{template.Ifmethod("nsINavBookmarksService", "createFolder")}}
</p>
</div>
</span><span lang='fr' class='lang lang-fr'><code>{{mediawiki.internal($0 + '#' + $1 + '()|' + $1 + '()', "fr")}}</code><div class="noinclude">
<p>Le modèle ifmethod permet de placer facilement un lien vers une méthode d'une interface précise. Par exemple :
</p><p><span class="plain">{{ifmethod|nsINavBookmarksService|createFolder}}</span>
</p><p>Donnera :
</p><p>{{template.Ifmethod("nsINavBookmarksService", "createFolder")}}
</p>
</div>
</span><span lang='ja' class='lang lang-ja'><code>{{mediawiki.internal($0 + '#' + $1 + '()|' + $1 + '()', "ja")}}</code><div class="noinclude">
<p>この ifmethod テンプレートを使うと、特定のインタフェースのメソッドへ簡単にリンクを張ることができます。例えば、
</p><p>The ifmethod template lets you easily place a link to a method in a specified interface.  For example:
</p><p><span class="plain">{{ifmethod|nsINavBookmarksService|createFolder}}</span>
</p><p>この結果は、
</p><p>{{template.Ifmethod("nsINavBookmarksService", "createFolder")}}
</p>
</div>
</span>
