
<pre class="script">
/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = u.path[0];
if(string.Contains(lang, "project") || string.Contains(lang, "Project")) {
 lang = string.Substr(lang, 8);
}

var destOldType = lang + '/' + $0;
var destNewType = lang + '/XPCOM Interface Reference/' + $0;

if (wiki.pageExists(destOldType)) { /* the page exists from the mediawiki age */
    <code>(web.link(wiki.uri(destOldType), $0 + '()'))</code>;
} else if(wiki.pageExists(destNewType)) { /* the page exists from the dekiwiki age */
    <code>(web.link(wiki.uri(destNewType), $0 + '()'))</code>;
} else { /* the page doesn't exist */
    <code><<span class="start-tag">a</span><span class="attribute-name"> rel</span>=(<span class="attribute-value">'internal') </span><span class="attribute-name">href</span><span>=</span>(<span>wiki.uri(</span>destNewType<span>)) </span><span class="attribute-name">class</span>=<span class="attribute-value">('new')></span>$0</<span class="end-tag">a></span></code>;
}

%>
