{{mediawiki.internal($0 + '#' + $1 + '()|' + $1 + '()', "en")}}

<div class="noinclude">
<p>The ifmethod template lets you easily place a link to a method in a specified interface.  For example:
</p><p><span class="plain">{{ifmethod|nsINavBookmarksService|createFolder}}</span>
</p><p>Results in:
</p><p>{{template.Ifmethod("nsINavBookmarksService", "createFolder")}}
</p>
</div>
