
<pre class="script">
/* parameters: path of IDL, parent class, scriptable/not scriptable, last Gecko version changed in, summary */
/* get page language first */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var scriptable = "Unknown";

switch($2) {
  case "scriptable":
    switch(lang) {
      default:
        scriptable = "Scriptable";
        break;
    }
  case "not scriptable":
    switch(lang) {
      default:
        scriptable = "Not scriptable";
        break;
    }
}

<div style="border:#dddddd 1px;">
<div style="background:#eeeeee; margin:1px;">(web.html($0))<span style="text-align:right;">(web.text(scriptable))</span></div>
(web.html($4))
</div>
</pre>
