
<pre class="script">
/* parameters: path of IDL, parent class, scriptable/not scriptable, last Gecko version changed in, summary */
/* get page language first */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var scriptable = "Unknown";

switch($2) {
  case "scriptable":
    switch(lang) {
      default:
        scriptable = "Scriptable";
        break;
    }
    scriptable = '<span style="color:#00cc00; font-weight:bold;">' + scriptable + '</span>';
    break;
  case "not scriptable":
    switch(lang) {
      default:
        scriptable = "Not scriptable";
        break;
    }
    scriptable = '<span style="color:#cc0000; font-weight:bold;">' + scriptable + '</span>';
    break;
}

<div style="border:solid #dddddd 1px; padding: 2px;">
<div style="background:#eeeeee; padding:2px;">(web.html("Interface: " + template.source($0)));<span style="text-align:right; float:right;">(web.html(scriptable));</span></div>
(web.html($4))
<div style="background:#eeeeee; padding:2px;">(web.html("Inerits from: " + template.interface($1)));</div>
</div>
</pre>
<p> </p>
