
<pre class="script">
/* one parameter: Gecko version */
/* get page language first */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

<div style="border:#dddddd 1px;">
<div style="background:#eeeeee;">(web.html($0))</div>
</div>

%>
