<div class="originaldocinfo">
<h2 name="Pagina_de_Teste">Pagina de Teste</h2>
<p>Esta area é geralmente usada para testes para o MDC wiki. Caso você queira adicionar 
</p><p>novas paginas de teste basta incluir "Pagina de Teste:" no inicio do nome pagina.
</p><p><br />
Por Exemplo: <a href="pt/Nova_Pagina_de_Teste">Nova Pagina de Teste</a>
</p>
<h3 name="Informa.C3.A7.C3.B5es_Sobre_o_Documento_Original"> Informações Sobre o Documento Original </h3>
<ul><li> Autor(es): {{web.html($0)}}
</li><li> Outros Contribuidores: {{web.html($1)}}
</li><li> Última Atualização: {{web.html($2)}}
</li><li> Informações sobre Copyright: {{web.html($3)}}
</li></ul>
</div>
<img src="File:pt/Media_Gallery/Firefox-logo.png" alt="Image:firefox-logo.png" />
