<span class="comment">- 1 - Interface Name   - 2 - Source Location relative to @topsrc@/mozilla/   - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL   - 4 - Since {{mediawiki.external('date/milestone')}} (in unfrozen case, last-changed-in)   - 5 - Scriptable? (yes/no)</span>
<code>{{web.html($0)}}</code> jest zdefiniowany w {{wiki.template('Source', mediawiki.args([$1]))}} i posiada status {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "pl"), mediawiki.args([$3]))}}.  Jest{{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "pl"))}}.
