<span class="comment">1 - DisplayName, e.g: nsIEditor    2 - Wiki Link    3 - Status: FROZEN/unfrozen/UNDER_REVIEW    4 - IDL link (in LXR): editor/idl/idlEditor.idl</span>
{{mediawiki.internal($0 + '|' + $1, "en")}}. Status: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "en"))}}.<br /> Defined in {{wiki.template('Source', mediawiki.args([$3]))}}
