<span lang='en' class='lang lang-en'><div class="noinclude">
<pre class="eval"> - 1 - Interface Name
 - 2 - Source Location relative to @topsrc@/mozilla/
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL
 - 4 - Since [date/milestone] (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a href="Project:en/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.
</p>
</div><code>{{web.html($0)}}</code> is defined in {{wiki.template('Source', mediawiki.args([$1]))}}.  It is {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "en"))}} and {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "en"), mediawiki.args([$3]))}}.
</span><span lang='*' class='lang lang-*'><div class="noinclude">
<pre class="eval"> - 1 - Interface Name
 - 2 - Source Location relative to @topsrc@/mozilla/
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL
 - 4 - Since [date/milestone] (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a href="Project:en/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.
</p>
</div><code>{{web.html($0)}}</code> is defined in {{wiki.template('Source', mediawiki.args([$1]))}}.  It is {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "en"))}} and {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "en"), mediawiki.args([$3]))}}.
</span><span lang='fr' class='lang lang-fr'><span class="comment">- 1 - Nom de l'interface   - 2 - Adresse de la source, relative à @topsrc@/mozilla/   - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL   - 4 - Depuis {{mediawiki.external('date/milestone')}} (in unfrozen case, last-changed-in)   - 5 - Scriptable ? (oui/non)</span>
<code>{{web.html($0)}}</code> est définie dans {{wiki.template('Source', mediawiki.args([$1]))}}, et {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "fr"), mediawiki.args([$3]))}}. Cette interface est {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "fr"))}}.
</span><span lang='ja' class='lang lang-ja'><div class="noinclude">
<pre class="eval"> - 1 - インタフェース名
 - 2 - ソースの @topsrc@/mozilla/ からの相対位置
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL
 - 4 - [date/milestone]からの経過 (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a href="Project:ja/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.
</p>
</div><code>{{web.html($0)}}</code> は {{wiki.template('Source', mediawiki.args([$1]))}} で定義されています。これは {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ja"))}} で {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "ja"), mediawiki.args([$3]))}}
</span><span lang='ko' class='lang lang-ko'><div class="noinclude">
<pre class="eval"> - 1 - Interface Name
 - 2 - Source Location relative to @topsrc@/mozilla/
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL
 - 4 - Since [date/milestone] (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a href="Project:ko/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.
</p>
</div><code>{{web.html($0)}}</code>는 {{wiki.template('Source', mediawiki.args([$1]))}}에 정의되어 있습니다. 인터페이스는 {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ko"))}}하며 {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "ko"), mediawiki.args([$3]))}}입니다.
</span><span lang='pl' class='lang lang-pl'><span class="comment">- 1 - Interface Name   - 2 - Source Location relative to @topsrc@/mozilla/   - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL   - 4 - Since {{mediawiki.external('date/milestone')}} (in unfrozen case, last-changed-in)   - 5 - Scriptable? (yes/no)</span>
<code>{{web.html($0)}}</code> jest zdefiniowany w {{wiki.template('Source', mediawiki.args([$1]))}}. Jest on {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "pl"))}} i {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "pl"), mediawiki.args([$3]))}}.
</span><span lang='ru' class='lang lang-ru'><span class="comment">- 1 - Interface Name   - 2 - Source Location relative to @topsrc@/mozilla/   - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL   - 4 - Since {{mediawiki.external('date/milestone')}} (in unfrozen case, last-changed-in)   - 5 - Scriptable? (yes/no)</span>
<code>{{web.html($0)}}</code> is defined in {{wiki.template('Source', mediawiki.args([$1]))}}, and {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "ru"), mediawiki.args([$3]))}}.  It is {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ru"))}}.
</span>
