
<p><span lang="en" class="lang lang-en"><a title="en/Interfaces/About_Scriptable_Interfaces" href="/en/Interfaces/About_Scriptable_Interfaces">not scriptable</a> </span><span lang="*" class="lang lang-*"><a title="en/Interfaces/About_Scriptable_Interfaces" href="/en/Interfaces/About_Scriptable_Interfaces">not scriptable</a> </span></p>
