<span lang='en' class='lang lang-en'><code>{{mediawiki.internal($0 + '#' + $1 + '|' + $0 + '.' + $1, "en")}}</code>
</span><span lang='*' class='lang lang-*'><code>{{mediawiki.internal($0 + '#' + $1 + '|' + $0 + '.' + $1, "en")}}</code>
</span>
