<div class="noinclude">
<pre class="eval"> - 1 - インタフェース名
 - 2 - ソースの @topsrc@/mozilla/ からの相対位置
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL
 - 4 - [date/milestone]からの経過 (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a href="Project:ja/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.
</p>
</div><code>{{web.html($0)}}</code> は {{wiki.template('Source', mediawiki.args([$1]))}} で定義されています。これは {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ja"))}} で {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "ja"), mediawiki.args([$3]))}}。
