
<p><span lang="en" class="lang lang-en">
<div class="noinclude">
<pre class="eval">
 - 1 - Interface Name
 - 2 - Source Location relative to @topsrc@/mozilla/
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL -- LEGACY, CONTENT IS NOT DISPLAYED
 - 4 - Since [date/milestone] (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a title="Project:en/Writing_interface_reference_documentation" href="/Project:en/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.</p>
</div>
<code><span class="script">web.html($0)</span></code> is defined in <span class="script">wiki.template('Source', mediawiki.args([$1]))</span>. It is <span class="script">wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "en"))</span> and <span class="script">wiki.template(mediawiki.path('InterfaceStatus:unfrozen', "en"), mediawiki.args([$3]))</span>.</span><span lang="*" class="lang lang-*">
<div class="noinclude">
<pre class="eval">
 - 1 - Interface Name
 - 2 - Source Location relative to @topsrc@/mozilla/
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL -- LEGACY, CONTENT IS NOT DISPLAYED
 - 4 - Since [date/milestone] (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a title="Project:en/Writing_interface_reference_documentation" href="/Project:en/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.</p>
</div>
<code><span class="script">web.html($0)</span></code> is defined in <span class="script">wiki.template('Source', mediawiki.args([$1]))</span>. It is <span class="script">wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "en"))</span> and <span class="script">wiki.template(mediawiki.path('InterfaceStatus:unfrozen', "en"), mediawiki.args([$3]))</span>. </span><span lang="fr" class="lang lang-fr"><span class="comment">- 1 - Nom de l'interface - 2 - Adresse de la source, relative à @topsrc@/mozilla/ - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL -- LEGACY, CONTENT IS NOT DISPLAYED - 4 - Depuis <span class="script">mediawiki.external('date/milestone')</span> (in unfrozen case, last-changed-in) - 5 - Scriptable ? (oui/non)</span> <code><span class="script">web.html($0)</span></code> est définie dans <span class="script">wiki.template('Source', mediawiki.args([$1]))</span>, et <span class="script">wiki.template(mediawiki.path('InterfaceStatus:unfrozen', "fr"), mediawiki.args([$3]))</span>. Cette interface est <span class="script">wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "fr"))</span>. </span><span lang="ja" class="lang lang-ja">
<div class="noinclude">
<pre class="eval">
 - 1 - インタフェース名
 - 2 - ソースの @topsrc@/mozilla/ からの相対位置
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL -- LEGACY, CONTENT IS NOT DISPLAYED
 - 4 - [date/milestone]からの経過 (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a title="Project:ja/Writing_interface_reference_documentation" href="/Project:ja/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.</p>
</div>
<code><span class="script">web.html($0)</span></code> は <span class="script">wiki.template('Source', mediawiki.args([$1]))</span> で定義されています。これは <span class="script">wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ja"))</span> で <span class="script">wiki.template(mediawiki.path('InterfaceStatus:unfrozen', "ja"), mediawiki.args([$3]))</span> </span><span lang="ko" class="lang lang-ko">
<div class="noinclude">
<pre class="eval">
 - 1 - Interface Name
 - 2 - Source Location relative to @topsrc@/mozilla/
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL -- LEGACY, CONTENT IS NOT DISPLAYED
 - 4 - Since [date/milestone] (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a title="Project:ko/Writing_interface_reference_documentation" href="/Project:ko/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.</p>
</div>
<code><span class="script">web.html($0)</span></code>는 <span class="script">wiki.template('Source', mediawiki.args([$1]))</span>에 정의되어 있습니다. 인터페이스는 <span class="script">wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ko"))</span>하며 <span class="script">wiki.template(mediawiki.path('InterfaceStatus:unfrozen', "ko"), mediawiki.args([$3]))</span>입니다. </span><span lang="pl" class="lang lang-pl"><span class="comment">- 1 - Interface Name - 2 - Source Location relative to @topsrc@/mozilla/ - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL -- LEGACY, CONTENT IS NOT DISPLAYED - 4 - Since <span class="script">mediawiki.external('date/milestone')</span> (in unfrozen case, last-changed-in) - 5 - Scriptable? (yes/no)</span> <code><span class="script">web.html($0)</span></code> jest zdefiniowany w <span class="script">wiki.template('Source', mediawiki.args([$1]))</span>. Jest on <span class="script">wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "pl"))</span> i <span class="script">wiki.template(mediawiki.path('InterfaceStatus:unfrozen' + ':DisplayName', "pl"), mediawiki.args([$3]))</span>. </span><span lang="ru" class="lang lang-ru"><span class="comment">- 1 - Interface Name - 2 - Source Location relative to @topsrc@/mozilla/ - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL -- LEGACY, CONTENT IS NOT DISPLAYED - 4 - Since <span class="script">mediawiki.external('date/milestone')</span> (in unfrozen case, last-changed-in) - 5 - Scriptable? (yes/no)</span> <code><span class="script">web.html($0)</span></code> is defined in <span class="script">wiki.template('Source', mediawiki.args([$1]))</span>, and <span class="script">wiki.template(mediawiki.path('InterfaceStatus:unfrozen', "ru"), mediawiki.args([$3]))</span>. It is <span class="script">wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ru"))</span>. </span></p>
