<span lang='en' class='lang lang-en'><span class="comment">1 - Frozen Since?</span>
is currently <a href="en/Interfaces/About_under_review_interfaces">under review</a>
</span><span lang='*' class='lang lang-*'><span class="comment">1 - Frozen Since?</span>
is currently <a href="en/Interfaces/About_under_review_interfaces">under review</a>
</span><span lang='ja' class='lang lang-ja'><span class="comment">1 - Frozen Since?</span>
現在<a href="ja/Interfaces/About_under_review_interfaces">レビュー中</a>です。
</span>
