<span lang='en' class='lang lang-en'><span class="comment">1 - Last changed in</span>
<a href="en/Interfaces/About_Frozen_Interfaces">unfrozen</a> (hasn't changed since {{web.html($0)}})
</span><span lang='*' class='lang lang-*'><span class="comment">1 - Last changed in</span>
<a href="en/Interfaces/About_Frozen_Interfaces">unfrozen</a> (hasn't changed since {{web.html($0)}})
</span><span lang='fr' class='lang lang-fr'><span class="comment">1 - Last changed in</span>
elle est <a href="fr/Interfaces/%c3%80_propos_des_interfaces_gel%c3%a9es">non figée</a> (n'a pas été modifiée depuis {{web.html($0)}})
</span><span lang='ja' class='lang lang-ja'><span class="comment">1 - Last changed in</span>
<a href="ja/Interfaces/About_Frozen_Interfaces">非凍結</a>です。 ({{web.html($0)}}から更新されていません)
</span><span lang='ko' class='lang lang-ko'><span class="comment">1 - 최종 변경</span>
<a href="ko/Interfaces/About_Frozen_Interfaces">비확정 상태</a>({{web.html($0)}} 이후로 변경되지 않음)
</span><span lang='pl' class='lang lang-pl'><span class="comment">1 - Last changed in</span>
<a href="pl/Interfaces/About_Frozen_Interfaces">unfrozen</a> (nie zmienił się od {{web.html($0)}})
</span><span lang='ru' class='lang lang-ru'><span class="comment">1 - Last changed in</span>
is <a href="ru/Interfaces/About_Frozen_Interfaces">unfrozen</a> (hasn't changed since {{web.html($0)}})
</span>
