<p><span class="comment">- 1 - Interface Name   - 2 - Source Location relative to @topsrc@/mozilla/   - 3 - FROZEN/unfrozen/UNDER_REVIEW   - 4 - Since {{mediawiki.external('date/milestone')}} (in unfrozen case, last-changed-in)   - 5 - Scriptable? (yes/no)</span>
</p><p><code>{{web.html($0)}}</code> is defined in {{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $1 + ' ' + $1)}}, and {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "en"), mediawiki.args([$3]))}}.  It is {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "en"))}}.
</p>
