<%
var lang = env.locale;

var str = "/XPCOM_Interface_Reference/";

switch(lang) {
  case 'de':
    str = "/XPCOM_Interface_Referenz/";
    break;
}

/* check $0 exists */
if(wiki.pageExists(lang + str + $0)) {
  %><code><%- web.link(wiki.uri(lang + str + $0), $0) %></code><%
} else if(wiki.pageExists(lang + '/' + $0)) {
  %><code><%- web.link(wiki.uri(lang + '/' + $0), $0) %></code><%
} else {
  var targeturi = "/docs/new?slug=" + lang + str + $0 + "&title=" + $0;
  %><code><a rel="internal" href="<%=targeturi%>" class="new"><%=$0%></a></code><%
}
%>
