<span lang='en' class='lang lang-en'>{{mediawiki.internal($0 + '|' + $1, "en")}}. Status: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "en"))}}.<br /> Defined in {{wiki.template('Source', mediawiki.args([$3]))}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal($0 + '|' + $1, "en")}}. Status: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "en"))}}.<br /> Defined in {{wiki.template('Source', mediawiki.args([$3]))}}
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.internal($0 + '|' + $1, "fr")}}. Statut: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "fr"))}}.<br /> Définie dans {{wiki.template('Source', mediawiki.args([$3]))}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal($0 + '|' + $1, "ja")}}. 状態: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "ja"))}}.<br /> {{wiki.template('Source', mediawiki.args([$3]))}} で定義されている
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.internal($0 + '|' + $1, "ko")}}. 상태: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "ko"))}}.<br /> {{wiki.template('Source', mediawiki.args([$3]))}}에 정의됨
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal($0 + '|' + $1, "pl")}}. Status: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "pl"))}}.<br /> Zdefiniowany w {{wiki.template('Source', mediawiki.args([$3]))}}
</span><span lang='ru' class='lang lang-ru'>{{mediawiki.internal($0 + '|' + $1, "ru")}}. Статус: {{wiki.template(mediawiki.path('InterfaceStatus:' + $2 + ':DisplayName', "ru"))}}.<br /> Определён в {{wiki.template('Source', mediawiki.args([$3]))}}
</span>
