<div class="noinclude">
<pre class="eval"> - 1 - Interface Name
 - 2 - Source Location relative to @topsrc@/mozilla/
 - 3 - FROZEN/unfrozen/UNDER_REVIEW/EXPERIMENTAL
 - 4 - Since [date/milestone] (in unfrozen case, last-changed-in)
 - 5 - Scriptable? (yes/no)
</pre>
<p>See <a href="Project:ko/Writing_interface_reference_documentation">MDC:Writing interface reference documentation</a> for an elaborate guide on documenting interfaces on MDC.
</p>
</div><code>{{web.html($0)}}</code>는 {{wiki.template('Source', mediawiki.args([$1]))}}에 정의되어 있습니다. 인터페이스는 {{wiki.template(mediawiki.path('InterfaceStatus:Scriptable_' + $4, "ko"))}}하고 {{wiki.template(mediawiki.path('InterfaceStatus:' + $2, "ko"), mediawiki.args([$3]))}}입니다.
