<span lang='en' class='lang lang-en'><a href="en/Interfaces/About_Frozen_Interfaces">frozen</a>
</span><span lang='*' class='lang lang-*'><a href="en/Interfaces/About_Frozen_Interfaces">frozen</a>
</span><span lang='fr' class='lang lang-fr'><a href="fr/Interfaces/%c3%80_propos_des_interfaces_gel%c3%a9es">gelée</a>
</span><span lang='ja' class='lang lang-ja'><a href="ja/Interfaces/About_Frozen_Interfaces">凍結</a>
</span><span lang='ko' class='lang lang-ko'><a href="ko/Interfaces/About_Frozen_Interfaces">frozen</a>
</span><span lang='pl' class='lang lang-pl'>został <a href="pl/Interfejsy/O_zamro%c5%bconych_interfejsach">zamrożony</a> począwszy od {{web.html($0)}}
</span>
