
<div class="constructor">
<h4><span class="constructor-name"><span class="script">$constructorName</span></span>(<span class="parameter"><span class="parameter-name"><span class="script">$parameterName</span></span> as <span class="parameter-type"><span class="script">$parameterType</span></span></span>) as <span class="constructor-type"><span class="script">$constructorType</span></span></h4>
<div class="label">Description</div>
<div class="description"><span class="script">$constructorDescr</span></div>
</div>
