
<div class="constructor">
<h4><span class="constructor-name"><span class="script">$constructorName</span></span>(<span class="script">foreach (var index in $params){index} </span>) as <span class="constructor-type"><span class="script">$constructorType</span></span></h4>
<div class="label"><strong>Description</strong></div>
<div class="description"><span class="script">web.format($constructorDescr)</span></div>
</div>
