
<h4 class="constructor"><span class="constructor-name"><span class="script">$constructorName</span></span>(<span class="script">buf = [];foreach(var param in $params){buf += [param.name+" as "+param.type]};string.join(buf,", ") </span>) as <span class="constructor-type"><span class="script">$constructorType</span></span></h4>
<div class="label"><strong>Description</strong></div>
<div class="description"><span class="script">web.format($constructorDescr)</span></div>
<div><span class="script">foreach(var param in $params) { web.format(
<div class="param-description"><span class="param-label">param.label</span>+param.description</div>
); } </span></div>
