<span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Żąda {{wiki.pageexists(mediawiki.localurl("pl", 'Nowości w JavaScript ' + $0)) ? web.html(mediawiki.internal('Nowości w JavaScript ' + $0 + '|JavaScript ' + $0, "pl")) : web.html('JavaScript ' + $0)}}</span><div class="noinclude">
<hr />
<p>Jeden z <a href="Project:pl/W%c5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Na przykład:
</p>
<pre class="eval"><span class="plain">{{js minversion inline|1.7}}</span>
</pre>
<p>Wyświetli:
{{template.Js_minversion_inline(1.7)}}
</p><p>Szablon ten powinien być stosowany kiedy indywidualne pozycje na liście lub w tabeli wyświetlają wersję N JavaScript. W momencie gdy cała strona lub sekcja opisuje nowe cechy, zastosuj <a href="Template:Js_minversion_header">Szablon:js minversion header</a>.
</p>
</div>
