<span lang='en' class='lang lang-en'><div style="border: 1px solid #818151; background-color: #FFFFE1; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px; font-weight: bold;">{{wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0 + ' note', "en")) : web.html('JavaScript ' + $0 + ' note')}}</p><p style="margin: 4px 0px 4px 0px;">{{web.html($1)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{js_minversion_note|1.8|This feature was implemented in JavaScript 1.8.}}</span>
</pre>
<p>results in:
{{template.Js_minversion_note(1.8, "This feature was implemented in JavaScript 1.8.")}}
</p><p>This template should be used when you need to insert a JavaScript version-specific note into an article. For individual items in a list or a table use <a href="Template:Js_minversion_inline">Template:js minversion inline</a>, and to mark a whole page or section, use <a href="Template:Js_minversion_header">Template:js_minversion_header</a>.
</p>
</div>
</span><span lang='*' class='lang lang-*'><div style="border: 1px solid #818151; background-color: #FFFFE1; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px; font-weight: bold;">{{wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0 + ' note', "en")) : web.html('JavaScript ' + $0 + ' note')}}</p><p style="margin: 4px 0px 4px 0px;">{{web.html($1)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{js_minversion_note|1.8|This feature was implemented in JavaScript 1.8.}}</span>
</pre>
<p>results in:
{{template.Js_minversion_note(1.8, "This feature was implemented in JavaScript 1.8.")}}
</p><p>This template should be used when you need to insert a JavaScript version-specific note into an article. For individual items in a list or a table use <a href="Template:Js_minversion_inline">Template:js minversion inline</a>, and to mark a whole page or section, use <a href="Template:Js_minversion_header">Template:js_minversion_header</a>.
</p>
</div>
</span><span lang='ja' class='lang lang-ja'><div style="border: 1px solid #818151; background-color: #FFFFE1; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px; font-weight: bold;">{{wiki.pageexists(mediawiki.localurl("ja", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0 + ' における注記', "ja")) : web.html('JavaScript ' + $0 + ' における注記')}}</p><p style="margin: 4px 0px 4px 0px;">{{web.html($1)}}</p></div>
<div class="noinclude">
<hr />
<p><a href="Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a> の一つです。使用例：
</p>
<pre class="eval"><span class="plain">{{js_minversion_note|1.8|この機能は、JavaScript 1.8 で実装されました。}}</span>
</pre>
<p>表示結果：
{{template.Js_minversion_note(1.8, "この機能は、JavaScript 1.8 で実装されました。")}}
</p><p>このテンプレートは、記事に JavaScript の特定のバージョンの注記を挿入する必要があるときに使用されるべきです。リストや表の個々のアイテムには、<a href="Template:Js_minversion_inline">Template:js minversion inline</a> を使用してください。ページ、または、セクション全体を対象にするときは、<a href="Template:Js_minversion_header">Template:js_minversion_header</a> を使用してください。
</p>
</div>
</span><span lang='pl' class='lang lang-pl'><div style="border: 1px solid #818151; background-color: #FFFFE1; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px; font-weight: bold;">{{wiki.pageexists(mediawiki.localurl("pl", 'Nowości w JavaScript ' + $0)) ? web.html(mediawiki.internal('Nowości w JavaScript ' + $0 + '|Uwaga dla JavaScript ' + $0, "pl")) : web.html('Uwaga dla JavaScript ' + $0)}}</p><p style="margin: 4px 0px 4px 0px;">{{web.html($1)}}</p></div>
<div class="noinclude">
<hr />
<p>Jeden z <a href="Project:pl/W%c5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Na przykład:
</p>
<pre class="eval"><span class="plain">{{js_minversion_note|1.8|Ta funkcja została zaimplementowana w JavaScripcie 1.8.}}</span>
</pre>
<p>Wyświetli:
{{template.Js_minversion_note(1.8, "Ta funkcja została zaimplementowana w JavaScripcie 1.8.")}}
</p><p>Szablon ten powinien zostać użyty, gdy konieczne jest wstawienie w artykule uwagi dla określonej wersji JavaScriptu. Dla poszczególnych elementów listy lub tabeli należy użyć <a href="Template:Js_minversion_inline">Szablon:js minversion inline</a>, a do oznaczenia całej strony lub jej części <a href="Template:Js_minversion_header">Szablon:js_minversion_header</a>.
</p>
</div>
</span><span lang='zh-cn' class='lang lang-zh-cn'><div style="border: 1px solid #818151; background-color: #FFFFE1; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px; font-weight: bold;">{{wiki.pageexists(mediawiki.localurl("zh-cn", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0 + ' note', "zh-cn")) : web.html('JavaScript ' + $0 + ' note')}}</p><p style="margin: 4px 0px 4px 0px;">{{web.html($1)}}</p></div>
<div class="noinclude">
<hr />
<p>One of the <a href="Project:cn/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{js_minversion_note|1.8|This feature was implemented in JavaScript 1.8.}}</span>
</pre>
<p>results in:
{{template.Js_minversion_note(1.8, "This feature was implemented in JavaScript 1.8.")}}
</p><p>This template should be used when you need to insert a JavaScript version-specific note into an article. For individual items in a list or a table use <a href="Template:Js_minversion_inline">Template:js minversion inline</a>, and to mark a whole page or section, use <a href="Template:Js_minversion_header">Template:js_minversion_header</a>.
</p>
</div>
</span>
