<%

/* one parameter: JavaScript version */

/* get the page language */
var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project")) {
  lang = string.substr(lang, 8);
}

/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var link = '';

/* check if English 'New in JavaScript/$0' page exists for fallback */
if(wiki.pageExists('en/JavaScript/New_in_JavaScript/' + $0)) {
  link = web.link(wiki.uri('en/JavaScript/New_in_JavaScript/' + $0), 'JavaScript ' + $0);
} else {
  link = 'JavaScript ' + $0;
}

var str = "Introduced in " + link;

switch(lang) {
  case 'fr':
    if(wiki.pageExists(lang + '/JavaScript/Nouveautés_dans_JavaScript/' + $0)) {
      link = web.link(wiki.uri(lang + '/JavaScript/Nouveautés_dans_JavaScript/' + $0), 'JavaScript ' + $0);
    } else if(wiki.pageExists(lang + '/Nouveautés_dans_JavaScript_' + $0)) {
      link = web.link(wiki.uri(lang + '/Nouveautés_dans_JavaScript_' + $0), 'JavaScript ' + $0);
    }
    str = "Introduit dans " + link;
    break;
  case 'ja':
    if(wiki.pageExists(lang + '/JavaScript/New_in_JavaScript/' + $0)) {
      link = web.link(wiki.uri(lang + '/JavaScript/New_in_JavaScript/' + $0), 'JavaScript ' + $0);
    } else if(wiki.pageExists(lang + '/New_in_JavaScript_' + $0)) {
      link = web.link(wiki.uri(lang + '/New_in_JavaScript_' + $0), 'JavaScript ' + $0);
    }
    str = link + " で導入";
    break;
  case 'pl':
    if(wiki.pageExists(lang + '/JavaScript/Nowości_w_JavaScript/' + $0)) {
      link = web.link(wiki.uri(lang + '/JavaScript/Nowości_w_JavaScript/' + $0), 'JavaScript ' + $0);
    } else if(wiki.pageExists(lang + '/Nowości_w_JavaScript_' + $0)) {
      link = web.link(wiki.uri(lang + '/Nowości_w_JavaScript_' + $0), 'JavaScript ' + $0);
    }
    str = "Wprowadzono w " + link;
    break;
  case 'zh-tw':
    str = "在 " + link + "引入";
    break;
  case 'zh-cn':
    str = "在 " + link + " 引入";
    break;
}

<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">(web.html(str))</p>
</div>
</pre>
