
<p><span lang="en" class="lang lang-en">
<div class="includeonly">
<div class="onlyinclude"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: 9px; vertical-align: text-top;">Requires <span class="script">wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0, "en")) : web.html('JavaScript ' + $0)</span></span></div>
</div>
One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
<pre class="eval"><span class="nowiki">{{js minversion inline|1.7}}</span>
</pre>
<p>results in: <span class="script">template.Js_minversion_inline(1.7)</span></p>
<p>This template should be used when an individual item in a list or a table appeared in JavaScript version N. When a whole page or section describes a new feature, use <a title="Template:js_minversion_header" href="/Template:js_minversion_header">Template:js minversion header</a>.</p>
</span><span lang="*" class="lang lang-*">
<div class="includeonly">
<div class="onlyinclude"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: 9px; vertical-align: text-top;">Requires <span class="script">wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0, "en")) : web.html('JavaScript ' + $0)</span></span></div>
</div>
One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
<pre class="eval"><span class="nowiki">{{js minversion inline|1.7}}</span>
</pre>
<p>results in: <span class="script">template.Js_minversion_inline(1.7)</span></p>
<p>This template should be used when an individual item in a list or a table appeared in JavaScript version N. When a whole page or section describes a new feature, use <a title="Template:js_minversion_header" href="/Template:js_minversion_header">Template:js minversion header</a>.</p>
</span><span lang="ja" class="lang lang-ja">
<div class="includeonly">
<div class="onlyinclude"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: 9px; vertical-align: text-top;"> <span class="script">wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0, "en")) : web.html('JavaScript ' + $0)</span> が必要</span></div>
</div>
One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:ja/Custom_Templates#Version_information_templates">Version information templates</a>. For example:
<pre class="eval"><span class="nowiki">{{js minversion inline|1.7}}</span>
</pre>
<p>results in: <span class="script">template.Js_minversion_inline(1.7)</span></p>
<p>This template should be used when an individual item in a list or a table appeared in JavaScript version N. When a whole page or section describes a new feature, use <a title="Template:js_minversion_header" href="/Template:js_minversion_header">Template:js minversion header</a>.</p>
</span><span lang="pl" class="lang lang-pl">
<div class="includeonly">
<div class="onlyinclude"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: 9px; vertical-align: text-top;">Wymaga <span class="script">wiki.pageexists(mediawiki.localurl("pl", 'Nowości w JavaScript ' + $0)) ? web.html(mediawiki.internal('Nowości w JavaScript ' + $0 + '|JavaScript ' + $0, "pl")) : web.html('JavaScript ' + $0)</span></span></div>
</div>
Jeden z <a title="Project:pl/Własne_szablony#Szablony_informuj.C4.85ce_o_wersji" href="/Project:pl/W%C5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Na przykład:</span></p>
<pre class="eval"><span class="nowiki">{{js minversion inline|1.7}}</span>
</pre>
<p>Wyświetli: <span class="script">template.Js_minversion_inline(1.7)</span></p>
<p>Szablon ten powinien być stosowany kiedy indywidualne pozycje na liście lub w tabeli wyświetlają wersję N JavaScript. W momencie gdy cała strona lub sekcja opisuje nowe cechy, zastosuj <a title="Template:js_minversion_header" href="/Template:js_minversion_header">Szablon:js minversion header</a>.</p>
<p> </p>
