
<p><span lang="en" class="lang lang-en">
<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Introduced in <span class="script">wiki.pageexists("en/New_in_JavaScript/" + $0) ? web.link("/en/New in JavaScript/" + $0, "JavaScript " + $0) : "JavaScript " + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{js minversion header|1.7}}</span>
</pre>
<p>results in: <span class="script">template.Js_minversion_header(1.7)</span></p>
<p>This template should be used when the whole page or section documents a feature of JavaScript version N or higher. For individual items in a list or a table use <a title="Template:js_minversion_inline" href="/Template:js_minversion_inline">Template:js minversion inline</a>.</p>
</div>
</span><span lang="*" class="lang lang-*">
<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Introduced in <span class="script">wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0, "en")) : web.html('JavaScript ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{js minversion header|1.7}}</span>
</pre>
<p>results in: <span class="script">template.Js_minversion_header(1.7)</span></p>
<p>This template should be used when the whole page or section documents a feature of JavaScript version N or higher. For individual items in a list or a table use <a title="Template:js_minversion_inline" href="/Template:js_minversion_inline">Template:js minversion inline</a>.</p>
</div>
</span><span lang="fr" class="lang lang-fr">
<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Introduit dans <span class="script">wiki.pageexists(mediawiki.localurl("fr", 'Nouveautés dans JavaScript ' + $0)) ? web.html(mediawiki.internal('Nouveautés dans JavaScript ' + $0 + '|JavaScript ' + $0, "fr")) : web.html('JavaScript ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>Un des <a title="Project:fr/Modèles_personnalisés#Mod.C3.A8les_d.27informations_sur_les_versions" href="/Project:fr/Modèles_personnalisés#Mod.C3.A8les_d.27informations_sur_les_versions">modèles d'informations sur les versions</a>. Par exemple :</p>
<pre class="eval"><span class="nowiki">{{js minversion header|1.7}}</span>
</pre>
<p>donnera : <span class="script">template.Js_minversion_header(1.7)</span></p>
<p>Ce modèle doit être utilisé lorsque la page ou section entière documente une fonctionnalité de JavaScript version N ou supérieure. Pour des éléments individuels dans une liste ou un tableau, utilisez <a title="Template:js_minversion_inline" href="/Template:js_minversion_inline">Modèle:js minversion inline</a>.</p>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;"><span class="script">wiki.pageexists(mediawiki.localurl("ja", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0, "ja")) : web.html('JavaScript ' + $0)</span> で導入</p>
</div>
<div class="noinclude"><hr />
<p><a title="Project:ja/Custom_Templates#Version_information_templates" href="/Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a> の 1 つです。例えば:</p>
<pre class="eval"><span class="nowiki">{{js minversion header|1.7}}</span>
</pre>
<p>は <span class="script">template.Js_minversion_header(1.7)</span> という結果になります。</p>
<p>このテンプレートはページか章全体の内容が JavaScript バージョン N 以上について述べている場合に使うべきです。リストや表の個々の項目には <a title="Template:js_minversion_inline" href="/Template:js_minversion_inline">Template:js minversion inline</a> を使ってください。</p>
</div>
</span><span lang="pl" class="lang lang-pl">
<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Wprowadzono w <span class="script">wiki.pageexists(mediawiki.localurl("pl", 'Nowości w JavaScript ' + $0)) ? web.html(mediawiki.internal('Nowości w JavaScript ' + $0 + '|JavaScript ' + $0, "pl")) : web.html('JavaScript ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>Jeden z <a title="Project:pl/Własne_szablony#Szablony_informuj.C4.85ce_o_wersji" href="/Project:pl/Własne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Na przykład:</p>
<pre class="eval"><span class="nowiki">{{js minversion header|1.7}}</span>
</pre>
<p>wyświetli: <span class="script">template.Js_minversion_header(1.7)</span></p>
<p>Szablon ten powinien być stosowany, gdy cała strona lub jej część opisuje funkcję JavaScriptu wersji N lub wyższej. Dla pojedynczych elementów listy lub tabeli należy użyć <a title="Template:js_minversion_inline" href="/Template:js_minversion_inline">Szablon:js minversion inline</a>.</p>
</div>
</span><span lang="zh-tw" class="lang lang-zh-tw">
<div style="border: 1px solid #818151; background-color: #FFFFE1; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">在 <span class="script">wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0, "en")) : web.html('JavaScript ' + $0)</span> 引入</p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{js minversion header|1.7}}</span>
</pre>
<p>results in: <span class="script">template.Js_minversion_header(1.7)</span></p>
<p>This template should be used when the whole page or section documents a feature of JavaScript version N or higher. For individual items in a list or a table use <a title="Template:js_minversion_inline" href="/Template:js_minversion_inline">Template:js minversion inline</a>.</p>
</div>
</span></p>
