<span style="border: 1px solid #818151; background-color: #FFFFE1; font-size: 9px; vertical-align: text-top;">Requires {{wiki.pageexists(mediawiki.localurl("en", 'New in JavaScript ' + $0)) ? web.html(mediawiki.internal('New in JavaScript ' + $0 + '|JavaScript ' + $0, "en")) : web.html('JavaScript ' + $0)}}</span>
