<%
// Generate a table of JavaScript object property's attributes
//
// Parameters:
//
//  $0 - writable 
//  $1 - enumerable
//  $2 - configurable
// 
// {{js_property_attributes(1,1,0)}}

var writable = 'No';
var enumerable = 'No';
var configurable = 'No';

if ($0 == 1) {
    writable = 'Yes';
}
if ($1 == 1) {
    enumerable = 'Yes';
}
if ($2 == 1) {
    configurable = 'Yes';
}

%>
<table class="standard-table">
  <thead>
    <tr>
      <th class="header" colspan="2">Property attributes of <code><%=env.title%></code></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Writable</td>
      <td><%=writable%></td>
    </tr>
    <tr>
      <td>Enumerable</td>
      <td><%=enumerable%></td>
    </tr>
    <tr>
      <td>Configurable</td>
      <td><%=configurable%></td>
    </tr>
  </tbody>
</table>
