Requires request.  <i>(In a <code><a href="en/JS_THREADSAFE">JS_THREADSAFE</a></code> build, the caller must be in a request on this <code>JSContext</code>.  See <code><a href="en/JS_BeginRequest">JS_BeginRequest</a></code>.)</i>
