Provides request.  <i>(In <code><a href="en/JS_THREADSAFE">JS_THREADSAFE</a></code> builds, the JS engine calls this callback only from within an active request on <code>cx</code>.  The callback does not need to call <code><a href="en/JS_BeginRequest">JS_BeginRequest</a></code>.)</i>
