<span lang='en' class='lang lang-en'><div class="includeonly"><div class="breadcrumbs"><a href="en">Main Page</a> > <a href="en/SpiderMonkey">SpiderMonkey</a> > <a href="en/JSAPI_Reference">JSAPI Reference</a> > <code>{{web.html($0)}}</code></div></div><div class="noinclude">
<p>Use this template at the top of every page that documents a JSAPI feature.  First argument is the name of the page as it should appear in the breadcrumbs (that is, with underscores instead of spaces).
</p><p>This template displays the page name in an HTML <code><code></code> tag.
</p><p>Usage:
</p>
<pre class="eval"><span class="plain">{{jsapi ref header|JS_DoStuffWithThing}}</span>
</pre>
<p>Looks like this:
</p>
<div style="padding: 1em; border:1px solid #ddd">{{template.Jsapi_ref_header("JS_DoStuffWithThing")}}</div>
<p>Note: This template cheats and creates a "breadcrumbs" div without actually using the <code><breadcrumbs></code> magic.  One reason for this is that <code><breadcrumbs></code> doesn't pick up the <a href="en/JSAPI_Reference">JSAPI Reference</a> link.
</p>
</div>
</span><span lang='*' class='lang lang-*'><div class="includeonly"><div class="breadcrumbs"><a href="en">Main Page</a> > <a href="en/SpiderMonkey">SpiderMonkey</a> > <a href="en/JSAPI_Reference">JSAPI Reference</a> > <code>{{web.html($0)}}</code></div></div><div class="noinclude">
<p>Use this template at the top of every page that documents a JSAPI feature.  First argument is the name of the page as it should appear in the breadcrumbs (that is, with underscores instead of spaces).
</p><p>This template displays the page name in an HTML <code><code></code> tag.
</p><p>Usage:
</p>
<pre class="eval"><span class="plain">{{jsapi ref header|JS_DoStuffWithThing}}</span>
</pre>
<p>Looks like this:
</p>
<div style="padding: 1em; border:1px solid #ddd">{{template.Jsapi_ref_header("JS_DoStuffWithThing")}}</div>
<p>Note: This template cheats and creates a "breadcrumbs" div without actually using the <code><breadcrumbs></code> magic.  One reason for this is that <code><breadcrumbs></code> doesn't pick up the <a href="en/JSAPI_Reference">JSAPI Reference</a> link.
</p>
</div>
</span><span lang='ja' class='lang lang-ja'><div class="includeonly"><div class="breadcrumbs"><a href="ja">メインページ</a> > <a href="ja/SpiderMonkey">SpiderMonkey</a> > <a href="ja/JSAPI_Reference">JSAPI リファレンス</a> > <code>{{web.html($0)}}</code></div></div><div class="noinclude">
<p>JSAPI 機能の各ドキュメントの冒頭にこのテンプレートを使用してください。最初の引数は breadcrumbs に表示されるページ名です。(スペースの代わりに下線が付きます。)
</p><p>このテンプレートは、ページ名を HTML の <code><code></code> タグで表示します。
</p><p>使用方法:
</p>
<pre class="eval"><span class="plain">{{jsapi ref header|JS_DoStuffWithThing}}</span>
</pre>
<p>これは、このようになります:
</p>
<div style="padding: 1em; border:1px solid #ddd">{{template.Jsapi_ref_header("JS_DoStuffWithThing")}}</div>
<p>注: このテンプレートは <code><breadcrumbs></code> 機能ではなく、div タグで "breadcrumbs" を実現しています。理由の一つは、<code><breadcrumbs></code> に <a href="ja/JSAPI_Reference">JSAPI リファレンス</a> へのリンクが含まれないことです。
</p>
</div>
</span>
