<span lang='en' class='lang lang-en'>Provides request.  <i>(In <code><a href="en/JS_THREADSAFE#Requests">JS_THREADSAFE</a></code> builds, the JS engine calls this callback only from within an active request on <code>cx</code>.  The callback does not need to call <code>JS_BeginRequest</code>.)</i>
</span><span lang='*' class='lang lang-*'>Provides request.  <i>(In <code><a href="en/JS_THREADSAFE#Requests">JS_THREADSAFE</a></code> builds, the JS engine calls this callback only from within an active request on <code>cx</code>.  The callback does not need to call <code>JS_BeginRequest</code>.)</i>
</span>
