<div class="includeonly"><div class="breadcrumbs"><a href="en">Main Page</a> > <a href="en/JSAPI_Reference">JSAPI Reference</a> > <code>{{web.html($0)}}</code></div></div>
<div class="noinclude">
<p>Use this template at the top of every page that documents a JSAPI feature.  First argument is the name of the page as it should appear in the breadcrumbs (that is, with underscores instead of spaces).
</p><p>This template displays the page name in an HTML <code><code></code> tag.
</p><p>Usage:
</p>
<pre class="eval"><span class="plain">{{jsapi ref header|JS_DoStuffWithThing}}</span>
</pre>
<p>Looks like this:
</p>
<div style="padding: 1em; border:1px solid #ddd">{{template.Jsapi_ref_header("JS_DoStuffWithThing")}}</div>
<p>Note: This template cheats and creates a "breadcrumbs" div without actually using the <code><breadcrumbs></code> magic.  One reason for this is that <code><breadcrumbs></code> doesn't pick up the <a href="en/JSAPI_Reference">JSAPI Reference</a> link.
</p>
</div>
