<span lang='en' class='lang lang-en'>Requires request.  <i>(In a <code><a href="en/JS_THREADSAFE#Requests">JS_THREADSAFE</a></code> build, the caller must be in a request on this <code>JSContext</code>.)</i>
</span><span lang='*' class='lang lang-*'>Requires request.  <i>(In a <code><a href="en/JS_THREADSAFE#Requests">JS_THREADSAFE</a></code> build, the caller must be in a request on this <code>JSContext</code>.)</i>
</span><span lang='ja' class='lang lang-ja'>リクエストが必要。 <i>(<code><a href="ja/JS_THREADSAFE#Requests">JS_THREADSAFE</a></code> ビルドでは、呼び出し側はこの <code>JSContext</code> 上のリクエストでなければなりません。)</i>
</span>
