
<div><span class="script">template.warning("Do not call the <code>JSFunction</code> produced by this conversion. It represents the compiled code of the argument. If the argument was a closure, its environment is lost. Instead, use <code>JSVAL_IS_OBJECT</code> and <code>JS_ObjectIsFunction</code> to check whether a value is already a function; or use <code>JS_ConvertValue</code> to convert a value to <code>JSTYPE_FUNCTION</code> safely.")</span></div>
