
<p><span lang="en" class="lang lang-en"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: 9px; vertical-align: text-top;">New in SpiderMonkey <span class="script">web.html($0)</span></span>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{template.jsapi_minversion_inline("1.8")}}</span>
</pre>
<p>results in: <span class="script">template.jsapi_minversion_inline("1.8")</span></p>
<p>This template should be used when an individual item in a list or a table appeared in JSAPI version N. When a whole page or section describes a feature that appeared in a new JSAPI version, use <a title="Template:jsapi_minversion_header" href="/Template:jsapi_minversion_header">Template:jsapi minversion header</a>.</p>
</div>
</span><span lang="*" class="lang lang-*"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: 9px; vertical-align: text-top;">New in SpiderMonkey <span class="script">web.html($0)</span></span>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{template.jsapi_minversion_inline("1.8")}}</span>
</pre>
<p>results in: <span class="script">template.jsapi_minversion_inline("1.8")</span></p>
<p>This template should be used when an individual item in a list or a table appeared in JSAPI version N. When a whole page or section describes a feature that appeared in a new JSAPI version, use <a title="Template:jsapi_minversion_header" href="/Template:jsapi_minversion_header">Template:jsapi minversion header</a>.</p>
</div>
</span><span lang="ja" class="lang lang-ja"><span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: 9px; vertical-align: text-top;">SpiderMonkey <span class="script">web.html($0)</span> の新機能</span>
<div class="noinclude"><hr />
<p><a title="Project:ja/Custom_Templates#Version_information_templates" href="/Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a>の一つ。例えば:</p>
<pre class="eval"><span class="nowiki">{{jsapi minversion inline|1.8}}</span>
</pre>
<p>これは、このようになる: <span class="script">template.Jsapi_minversion_inline(1.8)</span></p>
<p>このテンプレートは、一覧や表の各項目が JSAPI バージョン N の新機能である場合に使用されます。JSAPI の新しいバージョンで使用できる機能をページ全体やセクションで記述する場合は、<a title="Template:jsapi_minversion_header" href="/Template:jsapi_minversion_header">Template:jsapi minversion header</a> を使用してください。</p>
</div>
</span></p>
