
<div><span class="script">template.warning("Do not call the <code>JSFunction</code> produced by this conversion. It represents the compiled code of the argument. If the argument was a closure, its environment is lost. Use <code>o</code> instead, then use <code>JS_ObjectIsFunction</code> to check that it is a function or <code>JS_ConvertValue</code> to convert it.")</span></div>
