
<p><span lang="*" class="lang lang-*">
<div class="includeonly">
<div class="breadcrumbs"><a title="en" href="/en">Main Page</a> > <a title="en/SpiderMonkey" href="/en/SpiderMonkey">SpiderMonkey</a> > <a title="en/JSAPI_Reference" href="/en/JSAPI_Reference">JSAPI Reference</a> > <code><span class="script">web.html($0)</span></code></div>
</div>
<div class="noinclude">
<p>Use this template at the top of every page that documents a JSAPI feature. First argument is the name of the page as it should appear in the breadcrumbs (that is, with underscores instead of spaces).</p>
<p>This template displays the page name in an HTML <code><code></code> tag.</p>
<p>Usage:</p>
<pre class="eval"><span class="nowiki">{{jsapi ref header|JS_DoStuffWithThing}}</span>
</pre>
<p>Looks like this:</p>
<div style="border: 1px solid rgb(221, 221, 221); padding: 1em;"><span class="script">template.Jsapi_ref_header("JS_DoStuffWithThing")</span></div>
<p>Note: This template cheats and creates a "breadcrumbs" div without actually using the <code><breadcrumbs></code> magic. One reason for this is that <code><breadcrumbs></code> doesn't pick up the <a title="en/JSAPI_Reference" href="/en/JSAPI_Reference">JSAPI Reference</a> link.</p>
</div>
</span><span lang="ja" class="lang lang-ja">
<div class="includeonly">
<div class="breadcrumbs"><a title="ja" href="/ja">メインページ</a> > <a title="ja/SpiderMonkey" href="/ja/SpiderMonkey">SpiderMonkey</a> > <a title="ja/JSAPI_Reference" href="/ja/JSAPI_Reference">JSAPI リファレンス</a> > <code><span class="script">web.html($0)</span></code></div>
</div>
<div class="noinclude">
<p>JSAPI 機能の各ドキュメントの冒頭にこのテンプレートを使用してください。最初の引数は breadcrumbs に表示されるページ名です。(スペースの代わりに下線が付きます。)</p>
<p>このテンプレートは、ページ名を HTML の <code><code></code> タグで表示します。</p>
<p>使用方法:</p>
<pre class="eval"><span class="nowiki">{{jsapi ref header|JS_DoStuffWithThing}}</span>
</pre>
<p>これは、このようになります:</p>
<div style="border: 1px solid rgb(221, 221, 221); padding: 1em;"><span class="script">template.Jsapi_ref_header("JS_DoStuffWithThing")</span></div>
<p>注: このテンプレートは <code><breadcrumbs></code> 機能ではなく、div タグで "breadcrumbs" を実現しています。理由の一つは、<code><breadcrumbs></code> に <a title="ja/JSAPI_Reference" href="/ja/JSAPI_Reference">JSAPI リファレンス</a> へのリンクが含まれないことです。</p>
</div>
</span></p>
