<span lang='en' class='lang lang-en'><span style="border: 1px solid #818151; background-color: #FFE1C1; font-size: 9px; vertical-align: text-top;">JSAPI {{web.html($0)}} and earlier</span><div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{jsapi maxversion inline|1.8}}</span>
</pre>
<p>results in:
{{template.Jsapi_maxversion_inline(1.8)}}
</p><p>This template should be used when an individual item in a list or a table applies to JSAPI versions up to N. When a whole page or section refers only to up to JSAPI version N, use <a href="Template:Jsapi_maxversion_header">Template:jsapi maxversion header</a>.
</p>
</div>
</span><span lang='*' class='lang lang-*'><span style="border: 1px solid #818151; background-color: #FFE1C1; font-size: 9px; vertical-align: text-top;">JSAPI {{web.html($0)}} and earlier</span><div class="noinclude">
<hr />
<p>One of the <a href="Project:en/Custom_Templates#Version_information_templates">version information templates</a>. For example:
</p>
<pre class="eval"><span class="plain">{{jsapi maxversion inline|1.8}}</span>
</pre>
<p>results in:
{{template.Jsapi_maxversion_inline(1.8)}}
</p><p>This template should be used when an individual item in a list or a table applies to JSAPI versions up to N. When a whole page or section refers only to up to JSAPI version N, use <a href="Template:Jsapi_maxversion_header">Template:jsapi maxversion header</a>.
</p>
</div>
</span>
