<span lang='en' class='lang lang-en'><code>{{mediawiki.internal($0, "en")}}</code>
</span><span lang='*' class='lang lang-*'><code>{{mediawiki.internal($0, "en")}}</code>
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal('JSAPI Reference:' + $0 + '|' + $0, "ja")}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal($0, "pl")}}
</span>
