<%
/* one parameter: ID of sample on JSFiddle.net */

var s_text = mdn.localString({
    "en-US": "View on jsFiddle",
    "de":    "Sicht auf jsFiddle",
    "fr":    "Vue sur jsFiddle",
    "it":    "Visualizza il jsFiddle",
    "ja":    "jsFiddle で確認する",
    "ko":    "jsFiddle에서보기",
    "pl":    "Zobacz na jsFiddle",
    "pt":    "Veja em jsFiddle",
    "zh-CN": "在jsFiddle中查看",
    "zh-TW": "在jsFiddle中查看"
});

var s_result = '<a href="http://jsfiddle.net/' + $0 +'" class="liveSampleButton">' + s_text + '</a>';

%>

<%- s_result %>
