<%
/* one parameter: ID of sample on JSFiddle.net */

var s_text = mdn.localString({
    "en-US": "View on jsFiddle",
    "de":    "Sicht auf jsFiddle",
    "fr":    "Vue sur jsFiddle",
    "it":    "Visualizza il jsFiddle",
    "ja":    "jsFiddle で確認する",
    "ko":    "jsFiddle에서보기",
    "pl":    "Zobacz na jsFiddle",
    "pt":    "Veja em jsFiddle",
    "zh-CN": "在jsFiddle中查看",
    "zh-TW": "在jsFiddle中查看"
});

var s_result = '<a href="https://jsfiddle.net/' + $0 +'" style="cursor:pointer; padding: 2px 15px 2px 6px; border: solid 2px #333; color: #000; -webkit-box-shadow:2px 2px 2px #191919; -moz-box-shadow:2px 2px 2px #191919; box-shadow:2px 2px 2px #191919; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #dce3ff; background-image: -moz-linear-gradient(76% 26% 142deg, #DCE3FF, #FFF 47%);">' + s_text + '</a>';

%>

<%- s_result %>
