<%
/* one parameter: ID of sample on JSFiddle.net */

var s_text = mdn.localString({
    "en-US": "View on jsFiddle",
    "es":    "Ver en el jsFiddle",
    "de":    "Sicht auf jsFiddle",
    "fr":    "Vue sur jsFiddle",
    "ga-IE": "Féach ar jsFiddle",
    "he":    "צפה על jsFiddle",
    "id":    "Lihat pada jsFiddle",
    "it":    "Visualizza il jsFiddle",
    "ja":    "jsFiddle で確認",
    "ko":    "jsFiddle에서보기",
    "nl":    "Zicht op jsFiddle",
    "pl":    "Zobacz na jsFiddle",
    "pt-PT": "Veja em jsFiddle",
    "ru":    "Вид на jsFiddle",
    "tr":    "jsFiddle gör",
    "zh-CN": "在jsFiddle中查看",
    "zh-TW": "在jsFiddle中查看"
});

s_text = s_text || "View on jsFiddle"; // Default for all locale. Not only for English. 

var s_result = '<a class="button liveSample" href="http://jsfiddle.net/' + $0 +'">' + s_text + '</a>';

%><%- s_result %>
