
<p />
<p><span class="script">["/en/JavaScript/Guide",<br />
"/en/JavaScript/Guide/About",<br />
"/en/JavaScript/Guide/JavaScript_Overview",<br />
"/en/JavaScript/Guide/Values%2c_Variables%2c_and_Literals",<br />
"/en/JavaScript/Guide/Expressions_and_Operators",<br />
"/en/JavaScript/Guide/Regular_Expressions",<br />
"/en/JavaScript/Guide/Statements",<br />
"/en/JavaScript/Guide/Functions",<br />
"/en/JavaScript/Guide/Working_with_Objects",<br />
"/en/JavaScript/Guide/Predefined_Core_Objects",<br />
"/en/JavaScript/Guide/Details_of_the_Object_Model",<br />
"/en/JavaScript/Guide/Inheritance_Revisited",<br />
"/en/JavaScript/Guide/Iterators_and_Generators",<br />
"/en/JavaScript/Guide/Closures",<br />
"/en/JavaScript/Guide/LiveConnect_Overview",<br />
"/En/E4X/Processing_XML_with_E4X"]</span></p>
<p> </p>
<!-- <p><span lang="pt" class="lang lang-pt"> </span></p>
<p>{{["/pt/JavaScript/Guia",<br />
"/pt/JavaScript/Guia/Sobre",<br />
"/pt/JavaScript/Guia/Introdução ao JavaScript",<br />
"/pt/JavaScript/Guia/Valores, Variáveis e Literais",<br />
"/pt/JavaScript/Guia/Expressões e Operadores",<br />
"/pt/JavaScript/Guia/Expressões Regulares",<br />
"/pt/JavaScript/Guia/Declarações",<br />
"/pt/JavaScript/Guia/Funções",<br />
"/pt/JavaScript/Guia/Trabalhando com Objetos",<br />
"/pt/JavaScript/Guia/Objetos do núcleo pré definidos",<br />
"/pt/JavaScript/Guia/Detalhes da modelagem de objetos",<br />
"/pt/JavaScript/Guia/Herança revisitada",<br />
"/pt/JavaScript/Guia/Iteradores e geradores",<br />
"/pt/JavaScript/Guia/Closures",<br />
"/pt/JavaScript/Guia/Introdução ao LiveConnect",<br />
"/pt/E4X/Processando XML com E4X"]}}</p>
<p></p> -->
