
<p><span class="script">["/en/Core_JavaScript_1.5_Guide",<br />
"/en/Core_JavaScript_1.5_Guide/About",<br />
"/en/Core_JavaScript_1.5_Guide/JavaScript_Overview",<br />
"/en/Core_JavaScript_1.5_Guide/Values%2c_Variables%2c_and_Literals",<br />
"/en/Core_JavaScript_1.5_Guide/Expressions_and_Operators",<br />
"/en/Core_JavaScript_1.5_Guide/Regular_Expressions",<br />
"/en/Core_JavaScript_1.5_Guide/Statements",<br />
"/en/Core_JavaScript_1.5_Guide/Functions",<br />
"/en/Core_JavaScript_1.5_Guide/Working_with_Objects",<br />
"/en/Core_JavaScript_1.5_Guide/Working_with_Arrays",<br />
"/en/Core_JavaScript_1.5_Guide/Iterators_and_Generators",<br />
"/en/Core_JavaScript_1.5_Guide/Details_of_the_Object_Model",<br />
"/en/Core_JavaScript_1.5_Guide/Inheritance_Revisited",<br />
"/en/Core_JavaScript_1.5_Guide/Working_with_Closures",<br />
"/en/Core_JavaScript_1.5_Guide/LiveConnect_Overview",<br />
"/En/E4X/Processing_XML_with_E4X"]</span></p>
