
<p><span class="script">["/en/JavaScript/Guide",<br />
"/en/JavaScript/Guide/About",<br />
"/en/JavaScript/Guide/JavaScript_Overview",<br />
"/en/JavaScript/Guide/Values%2c_Variables%2c_and_Literals",<br />
"/en/JavaScript/Guide/Expressions_and_Operators",<br />
"/en/JavaScript/Guide/Regular_Expressions",<br />
"/en/JavaScript/Guide/Statements",<br />
"/en/JavaScript/Guide/Functions",<br />
"/en/JavaScript/Guide/Working_with_Objects",<br />
"/en/JavaScript/Guide/Working_with_Arrays",<br />
"/en/JavaScript/Guide/Details_of_the_Object_Model",<br />
"/en/JavaScript/Guide/Inheritance_Revisited",<br />
"/en/JavaScript/Guide/Iterators_and_Generators",<br />
"/en/JavaScript/Guide/Closures",<br />
"/en/JavaScript/Guide/LiveConnect_Overview",<br />
"/En/E4X/Processing_XML_with_E4X"]</span></p>
