
<p><span class="script">["https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/About",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/JavaScript_Overview",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Values%2c_Variables%2c_and_Literals",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Expressions_and_Operators",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Regular_Expressions",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Statements",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Functions",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Working_with_Closures",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Working_with_Objects",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Inheritance",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Working_with_Arrays",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Iterators_and_Generators",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/Details_of_the_Object_Model",<br />
  "https://developer.mozilla.org/en/Core_JavaScript_1.5_Guide/LiveConnect_Overview",<br />
  "https://developer.mozilla.org/En/E4X/Processing_XML_with_E4X"]</span></p>
