<span lang='en' class='lang lang-en'>{{template.Warning("<code>JSObjectOps</code> is not a supported API.  Details of the API may change from one release to the next.  This documentation should be considered SpiderMonkey internals documentation, not API documentation.  See bug 408416.")}}
</span><span lang='*' class='lang lang-*'>{{template.Warning("<code>JSObjectOps</code> is not a supported API.  Details of the API may change from one release to the next.  This documentation should be considered SpiderMonkey internals documentation, not API documentation.  See bug 408416.")}}
</span>
