
<p><span lang="*" class="lang lang-*"><span class="script">template.Warning("<code>JSObjectOps</code> is not a supported API. Details of the API may change from one release to the next. This documentation should be considered SpiderMonkey internals documentation, not API documentation. See " + template.Bug(408416) + ".")</span> </span></p>
