{{template.Warning("<code>JSObjectOps</code> is not a public, supported API.  Details of the API may change from one release to the next.  This documentation should be considered SpiderMonkey internals documentation, not API documentation.  See <a class=\"external\" href=\"https://bugzilla.mozilla.org/show_bug.cgi?id=408416\">bug 408416</a>.")}}
