
<div style="border: 1px solid rgb(204, 204, 204); margin: 10px 0px; padding: 0px 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
<p><span class="script"> var prototypes = { Object: { methods: [ "defineGetter", "defineSetter", "watch" ], properties: [ "constructor", "parent", "proto" ] } }; var desiredprototype = prototypes[$0][string.toLower($1)]; foreach (var override in $2) { var index = desiredprototype.indexOf(override); if (index != (-1)) { list.splice(desiredprototype, index, 1); } } var prefix = 'en/Core_JavaScript_1.5_Reference/Global_Objects/'; var lastindex = #desiredprototype - 1; var i = 0; foreach (var p in desiredprototype) { web.html(p); if (i != lastindex) { web.html(', '); } i = i + 1; } </span></p>
</div>
