<section class="Quick_links" id="Quick_Links">
 <ol>
  <li><a href="/en-US/docs/Web/JavaScript/Tutorials"><strong>Tutorials:</strong></a></li>
  <li data-default-state="closed"><a href="/en-US/docs/Web/JavaScript/Guide">JavaScript Guide</a>
     <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Guide', 1, 0, 1])%>
  </li>
  <li data-default-state="closed"><a href="#">Introductory</a>
   <ol>
    <li><a href="/en-US/docs/Web/JavaScript/Getting_Started">Getting started</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/JavaScript_technologies_overview">JavaScript technologies overview</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">Introduction to Object Oriented JavaScript</a></li>
   </ol>
  </li>
  <li data-default-state="closed"><a href="#">Intermediate</a>
   <ol>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">A re-introduction to JavaScript</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Data_structures">JavaScript data structures</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Inheritance_and_the_prototype_chain">Equality comparisons and when to use them</a></li>
   </ol>
  </li>
  <li data-default-state="closed"><a href="#">Advanced</a>
   <ol>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Inheritance_and_the_prototype_chain">Inheritance and the prototype chain</a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Functions_and_function_scope/Strict_mode">Strict mode</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays">JavaScript typed arrays</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Memory_Management">Memory Management</a></li>
   </ol>
  </li>
  <li><strong><a href="/en-US/docs/Web/JavaScript/Reference">References:</a></strong></li>
  <li data-default-state="closed"><a href="/en-US/docs/Web/JavaScript/Reference/Global_Objects">Objects</a>
      <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Reference/Global_Objects', 1, 0, 1])%>
  </li>
  <li data-default-state="closed"><a href="/en-US/docs/Web/JavaScript/Reference/Operators">Operators</a>
    <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Reference/Operators', 1, 0, 1])%>
  </li>
  <li data-default-state="closed"><a href="/en-US/docs/Web/JavaScript/Reference/Statements">Statements</a>
   <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Reference/Statements', 1, 0, 1])%>
  </li>
  <li><strong><a href="/en-US/docs/MDN">Documentation:</a></strong></li>
  <li data-default-state="closed"><a href="#">Useful lists</a>
   <ol>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Glossary">Glossary</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Index">All pages index</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Methods_Index">Methods index</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Properties_Index">Properties index</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/tag/JavaScript">Pages tagged "JavaScript"</a></li>
   </ol>
  </li>
  <li data-default-state="closed"><a href="#">Contribute</a>
   <ol>
    <li><a href="/en-US/docs/MDN/Doc_status/JavaScript">JavaScript doc status</a></li>
   </ol>
  </li>
 </ol>
</section>
