<%
// Inserts a link to a JS API's documentation in the JS Reference.
// Appropriate styling is applied.
//
// Parameters:
//
//  $0 - API name
//  $1 - name to display (optional)
//  $2 - anchor (#xyz) (optional)
//
//  {{jsxref("Date.prototype.getNumber()")}}
//  {{jsxref("Global_Objects/Date/getNumber", "Date.prototype.getNumber()")}}
//

var lang = env.locale;
var str = $1 || $0;

var URL = "/" + lang + "/docs/Web/JavaScript/Reference/";

var api = $0.replace('()', '');
var api2 = api.replace('.prototype.', '.');


var page = wiki.getPage(URL + $0);
var objectPage = wiki.getPage(URL + 'Global_Objects/' +  $0);

if (api2.indexOf(".") !== -1) {
    URL += "Global_Objects/";
    URL += api2.replace('.', '/');
} else if (!page.slug && objectPage.slug) {
    URL = URL + 'Global_Objects/' +  $0;
} else {
    URL += $0;
}

var page = wiki.getPage(URL);
var summary = "";

if (page && page.summary) {
    var summary = mdn.escapeQuotes(page.summary);
} else {
    summary = "The documentation about this has not yet been written; please consider contributing!";
    switch(lang){
        case "zh-CN":
            summary = "此页面仍未被本地化, 期待您的翻译!";
            break;
    }
}

%><a href="<%- URL + $2 %>" title="<%-summary%>"><code><%= str %></code></a>
