<tr>
  <td><code>char</code></td>
  <td>long (int)</td>
  <td>The character value of the key pressed. Read Only</td>
</tr>
<tr>
  <td><code>key</code></td>
  <td>long (int)</td>
  <td>The key value of the key pressed. Read Only</td>
</tr>
<tr>
  <td><code>location</code></td>
  <td>long (float)</td>
  <td>The location of the key on the device. Read Only</td>
</tr>
<tr>
  <td><code>repeat</code></td>
  <td>boolean</td>
  <td><%= ( $0 || "<code>true</code> if a key has been depressed long enough to trigger key repetition, otherwise <code>false</code>" ) %>. Read Only.</td>
</tr>
<tr>
  <td><code>locale</code></td>
  <td>string</td>
  <td>The language code for the key event, if available; otherwise, the empty string. Read Only.</td>
</tr>
