<ul>
<li><a href="/en-US/docs/Mozilla_event_reference/keydown"><code>keydown</code></a></li>
<li><a href="/en-US/docs/Mozilla_event_reference/keyup"><code>keyup</code></a></li>
<li><a href="/en-US/docs/Mozilla_event_reference/keypress"><code>keypress</code></a></li>
<li><a href="/en-US/docs/Mozilla_event_reference/input"><code>input</code></a></li>
</ul>
