{
    "css_ref_title": {
        "en-US": "CSS Reference",
        "fr"   : "Référence CSS",
        "de"   : "CSS Referenz",
        "ja"   : "CSS リファレンス",
        "zh-CN": "CSS 参考",
        "es"   : "Referencia CSS",
        "pl"   : "Dokumentacja CSS",
        "pt-PT": "Referência CSS"
    },
    "at_rules": {
        "en-US": "At-Rules",
        "de"   : "At-Regeln"
    }
    "missing": {
        "en-US": "Value not found in DB!",
        "de"   : "Wert nicht in der DB gefunden!"
    },
    "relatedAtRule": {
        "en-US": "Related <a href=\"/" + env.locale + "/docs/Web/CSS/At-rule\">at-rule</a>",
        "de"   : "Zugehörige <a href=\"/" + env.locale + "/docs/Web/CSS/At-Regel\">@-Regel</a>"
    },
    "visual": {
        "en-US": "visual",
        "de"   : "visuell"
    },
    "interactive": {
        "en-US": "interactive",
        "de"   : "interaktiv"
    },
    "asSpecified": {
        "en-US": "as specified",
        "de"   : "wie angegeben"
    }
}
