{
    "css_ref_title": {
        "en-US": "CSS Reference",
        "fr"   : "Référence CSS",
        "de"   : "CSS Referenz",
        "ja"   : "CSS リファレンス",
        "zh-CN": "CSS 参考",
        "es"   : "Referencia CSS",
        "pl"   : "Dokumentacja CSS",
        "pt-PT": "Referência CSS"
    },
    "at_rules": {
        "en-US": "At-Rules",
        "de"   : "At-Regeln"
    },
    "missing": {
        "en-US": "Value not found in DB!",
        "de"   : "Wert nicht in der DB gefunden!"
    },
    "relatedAtRule": {
        "en-US" : "Related <a href=\"/en-US/docs/Web/CSS/At-rule\">at-rule</a>",
        "de"    : "Zugehörige <a href=\"/de/docs/Web/CSS/At-Regel\">@-Regel</a>"
    },
    "visual": {
        "en-US": "visual",
        "de"   : "visuell"
    },
    "continuous": {
        "en-US": "continuous",
        "de"   : "fortlaufend"
    },
    "interactive": {
        "en-US": "interactive",
        "de"   : "interaktiv"
    },
    "asSpecified": {
        "en-US": "as specified",
        "de"   : "wie angegeben",
        "fr"   : "comme spécifié",
        "ja"   : "指定値"
    },
    "color": {
        "en-US": "If the value is translucent, the computed value will be the <code>rgba()<\/code> corresponding one. If it isn't, it will be the <code>rgb()<\/code> corresponding one. The <code>transparent<\/code> keyword maps to <code>rgba(0,0,0,0)<\/code>.",
        "de"   : "Für einen durchscheinenden Farbwert ist der berechnete Wert der entsprechende <code>rgba()<\/code> Wert. Falls nicht, ist er ein entsprechender <code>rgb()<\/code> Wert. Das <code>transparent<\/code> Schlüsselwort entspricht <code>rgb(0,0,0)<\/code>."
    },
    "yes": {
        "en-US": "yes",
        "de"   : "Ja",
        "fr"   : "oui",
        "ja"   : "継承する"
    },
    "no": {
        "en-US" : "no",
        "de"    : "Nein",
        "fr"    : "non",
        "ja"    : "不可",
        "zh-CN" : "否"
    },
    "media": {
        "en-US": "Media",
        "de"   : "Medien",
        "fr"   : "Média",
        "ja"   : "メディア",
        "zh-CN": "适用媒体" 
    },
    "percentages": {
        "en-US": "Percentages",
        "de"   : "Prozentwerte",
        "fr"   : "Pourcentages",
        "ja"   : "相対値の基準"
    },
    "appliesTo": {
        "en-US": "Applies to",
        "de"   : "Anwendbar auf",
        "fr"   : "S'applique à",
        "ja"   : "適用対象",
        "zh-CN": "适用元素"
    },
    "applyingToMultiple": {
        "en-US": "$1$. It also applies to $2$.",
        "de"   : "$1$. Auch anwendbar auf $2$.",
        "fr"   : "$1$. S'applique aussi à $2$."
    },
    "andInEnumeration": {
        "en-US": " and ",
        "de"   : " und ",
        "fr"   : " et "
    },
    "asLonghands": {
        "en-US": "as each of the properties of the shorthand:",
        "de"   : "wie die jeweiligen Kurzschreibweisen:",
        "fr"   : "pour chaque propriété individuelle de la propriété raccourcie&nbsp;:",
        "ja"   : "以下の各プロパティのショートハンドとして補完します:",
        "ru"   : "как каждое из свойств этого сокращённого свойства:"
    },
    "yesAs": {
          "en-US": "yes, as $1$$2$",
          "de"   : "ja, als $1$$2$",
          "fr"   : "oui, comme $1$$2$",
          "ja"   : "可。 $2$の値として補完します$1$",
          "ru"   : "анимируется, как $1$$2$"
    },
    "repeatableList": {
          "en-US": "a repeatable list of ",
          "de"   : "mehrfache Werte der folgenden Eigenschaften: ",
          "fr"   : "une liste répétable de ",
          "ja"   : "の反復可能リスト",
          "ru"   : "посторяющийся список из: "
    },
    "simpleList": {
          "en-US": "a simple list of ",
          "de"   : "ein einfacher Wert der folgenden Eigenschaften: ",
          "fr"   : "une simple liste de ",
          "ja"   : "の単純なリスト形式$1$",
          "ru"   : "простой список из: "
    },
    "listSeparator": {
          "en-US": ", "
    },
    "transform": {
          "en-US": "a transform",
          "de"   : "Transformation",
          "fr"   : "une transformation",
          "ja"   : "transform",
          "ru"   : "преобразование"
    },
    "length": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/length#Interpolation\" title=\"Values of the <length> CSS data type are interpolated as real, floating-point numbers.\">length</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/length#Interpolation\">Längenangabe</a>",
          "fr"   : "une <a href=\"/fr/docs/Web/CSS/longueur#Interpolation\" title=\"Les valeurs du type <longueur> sont interpolées comme des nombres réels à virgule flottante.\">longueur</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/length#Interpolation\" title=\"Values of the <length> CSS data type are interpolated as real, floating-point numbers.\">length</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/length#Interpolation\" title=\"Значения типа данных CSS <длина> интерполируются как вещественные числа с плавающей запятой.\">длина</a>"
    },
    "lpc": {
          "en-US": "$1$, <a href=\"/en-US/docs/Web/CSS/percentage#Interpolation\" title=\"Values of the <percentage> CSS data type are interpolated as real, floating-point numbers.\">percentage</a> or calc();",
          "de"   : "$1$, <a href=\"/de/docs/Web/CSS/percentage#Interpolation\">Prozentsatz</a> oder  <a href=\"/de/docs/Web/CSS/calc\"><code>calc()</code></a>;",
          "fr"   : "$1$, <a href=\"/fr/docs/Web/CSS/percentage#Interpolation\" title=\"Les valeurs du type <pourcentage> sont interpolées comme des nombres réels à virgule flottante.\">pourcentage</a> ou calc()&nbsp;;",
          "ja"   : "$1$ または <a href=\"/ja/docs/Web/CSS/percentage#Interpolation\" title=\"Values of the <percentage> CSS data type are interpolated as real, floating-point numbers.\">percentage</a>, calc();",
          "ru"   : "$1$, <a href=\"/ru/docs/Web/CSS/percentage#Interpolation\" title=\"Значения типа данных CSS <проценты> интерполируются как вещественные числа с плавающей запятой.\">проценты</a> или функция calc();"
    },
    "lpcNote": {
          "en-US": " when both values are lengths, they are interpolated as lengths; when both values are percentages, they are interpolated as percentages; otherwise, both values are converted into a calc() function that is the sum of a length and a percentage (each possibly zero), and these calc() functions have each half interpolated as real numbers. ",
          "de"   : " wenn beides Längenwerte sind, werden sie als Längenwerte gehandhabt. Wenn beides Prozentsätze sind, werden sie als Prozentsätze gehandhabt. Ansonsten werden beide Werte wie in einer <code>calc()</code> Funktion addiert (Wird ggf. zu Null), and these calc() functions have each half interpolated as real numbers. ",
          "fr"   : " quand les deux valeurs sont des longueurs, elles sont interpolées comme des longueurs&nbsp;; quand les deux valeurs sont des pourcentages, elles sont interpolées comme des pourcentages ; sinon, les deux valeurs sont converties dans une fonction calc() qui est la somme d'une longueur et d'un pourcentage (chaque valeur pouvant être à zéro), et cette fonction calc() interpole chaque moitié comme un nombre réel. ",
          "ja"   : "。両方の値が length の場合は、length 値として補完されます。両方の値が percentage の場合は、percentage 値として補完されます。それ以外の場合は、両方の値が calc() 関数にコンバートされ、length と percentage の合計になります (または各値が 0)。そして、これらの calc() 関数は、それぞれ半分ずつ補完された実数を持ちます",
          "ru"   : " когда оба значения являются длинами, они интерполируются как длины; когда оба значения являются процентами, они интерполируются как проценты; в остальных случаях, оба значения преобразуются функцией calc() в сумму длины и процента (каждый из них может быть равен нулю), а затем эта функция calc() интерполирует каждую половину как вещественные числа. "
    },
    "color": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/color_value#Interpolation\" title=\"Values of the <color> CSS data type are interpolated on each of their red, green, blue components, each handled as a real, floating-point number. Note that interpolation of colors happens in the alpha-premultiplied sRGBA color space to prevent unexpected grey colors to appear.\">color</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/color_value#Interpolation\">Farbe</a>",
          "fr"   : "une <a href=\"/fr/docs/Web/CSS/color_value#Interpolation\" title=\"Les valeurs de type <couleur> sont interpolées sur chacune des composantes rouge, bleue et verte, considérées chacunes comme un nombre réel à virgule flottante. Notez que l'interpolation des couleurs a lieu dans l'espace couleur sRGBA pré-multiplié pour éviter l'apparition de teintes grises non désirées.\">couleur</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/color_value#Interpolation\" title=\"Values of the <color> CSS data type are interpolated on each of their red, green, blue components, each handled as a real, floating-point number. Note that interpolation of colors happens in the alpha-premultiplied sRGBA color space to prevent unexpected grey colors to appear.\">color</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/color_value#Interpolation\" title=\"Значения типа данных CSS <цвет> интерполируются по каждой компоненте - красной, зелёной и голубой - как вещественные числа с плавающей запятой. Обратите внимание, что интерполяция цветов происходит в цветовом пространстве sRGBA, уже умноженного на альфу, для предотвращения появления неожиданных серых цветов.\">цвет</a>"
    },
    "integer": {
          "en-US": "an <a href=\"/en-US/docs/Web/CSS/integer#Interpolation\" title=\"Values of the <integer> CSS data type are interpolated via integer discrete steps. The calculation is done as if they were real, floating-point numbers and the discrete value is obtained using the floor function.\">integer</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/integer#Interpolation\">Integer</a>",
          "fr"   : "un <a href=\"/fr/docs/Web/CSS/integer#Interpolation\" title=\"Les valeurs du type <entier> sont interpolées par incrémentation discrète. Le calcul est réalisé comme si les valeurs étaient des nombres réels, en virgule flottante et la valeur discrète est obtenue en utilisant la fonction partie entière.\">entier</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/integer#Interpolation\" title=\"Values of the <integer> CSS data type are interpolated via integer discrete steps. The calculation is done as if they were real, floating-point numbers and the discrete value is obtained using the floor function.\">integer</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/integer#Interpolation\" title=\"Значения типа данных CSS <целое число> интерполируются через целое число дискретных шагов. Вычисления производятся словно над вещественными числами с плавающей запятой, а дискретные значения получаются с использованием функции floor.\">целое число</a>"
    },
    "number": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/number#Interpolation\" title=\"Values of the <number> CSS data type are interpolated as real, floating-point, numbers.\">number</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/number#Interpolation\">Nummer</a>",
          "fr"   : "un <a href=\"/fr/docs/Web/CSS/nombre#Interpolation\" title=\"Les valeurs du type <nombre> sont interpolées comme des nombres réels, en virgule flottante.\">nombre</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/number#Interpolation\" title=\"Values of the <number> CSS data type are interpolated as real, floating-point, numbers.\">number</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/number#Interpolation\" title=\"Значения типа данных CSS <число> интерполируются как вещественные числа с плавающей запятой.\">число</a>"
    },
    "position": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/position_value#Interpolation\" title=\"Values of the <position> data type are interpolated independently for the abscissa and ordinate. As the speed is defined by the same <timing-function> for both, the point will move following a line.\">position</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/number#Interpolation\" title=\"Werte des <position> Datentyps werden unabhängig für Abszisse und Ordinate interpoliert. Da die Geschwindigkeit für beide durch dieselbe <timing-function> bestimmt wird, wird der Punkt einer Linie folgen.\">Position</a>"
    },
    "shadowList": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/box-shadow#Interpolation\" title=\"The color, x, y, blur and spread (if applicable) components of shadow lists are interpolated independently. If the inset value of any shadow pair differs between both lists, the whole list is uninterpolable. If one list is smaller than the other, it gets padded with transparent shadows with all their lengths set to 0 and its inset value matching the longer list.\">shadow list</a>",
          "de"   : "eine <a href=\"/de/docs/Web/CSS/box-shadow#Interpolation\" title=\"Die color, x, y, blur und spread (falls anwendbar) Komponenten einer Schattenliste werden unabhängig voneinander interpoliert. Falls sich der inset-Wert irgendeines Schattenpaares der beiden Listen unterscheidet, gilt die gesamte liste als nicht interpolierbar. Falls eine Liste kürzer ist als die andere, wird die kürzere mit transparenten Schatten aufgefüllt, deren Längen alle auf 0 gesetzt sind und deren inset-Wert der längeren Liste entspricht.\">Liste von Schatten</a>",
          "fr"   : "une liste d\"ombres",
          "ja"   : "shadow リスト",
          "ru"   : "список теней"
    },
    "visibility": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/visibility#Interpolation\" title=\"Values of the visibility CSS property are interpolable if the start or the end value is visible. In that case all values of the timing function which are equal to 1 map to visible and non-equal to 1 to non-visible.\">visibility</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/visibility#Interpolation\">Sichtbarkeit</a>",
          "fr"   : "une <a href=\"/fr/docs/Web/CSS/visibility#Interpolation\" title=\"Les valeurs de la propriété CSS visibility sont interpolables si une des valeurs de début ou de fin est visible. Dans ce cas, toutes les valeurs de la fonction de temporisation qui sont égales à 1 sont associées à visible, et celles non égales à 1, à non-visible.\">visibilité</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/visibility#Interpolation\" title=\"Values of the visibility CSS property are interpolable if the start or the end value is visible. In that case all values of the timing function which are equal to 1 map to visible and non-equal to 1 to non-visible.\">visibility</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/visibility#Interpolation\" title=\"Значения свойства CSS visibility интерполируются, если начальное или конечное значение установлено в visible. В этом случае все значения временной функции, равные 1, отображаются на видимость, а не равные 1 отображаются на невидимость.\">видимость</a>"
    },
    "fontStretch": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/font-stretch#Interpolation\" title=\"Font stretch values are interpolated in discrete steps. The interpolation happens as though the ordered values are equally spaced real numbers; the result is rounded to the nearest value, with values exactly halfway between two values rounded towards the later value, that is the most expanded one.\">font stretch</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/font-stretch#Interpolation\">Schriftbreite</a>",
          "fr"   : "une <a href=\"/fr/docs/CSS/font-stretch#Interpolation\" title=\"Font stretch values are interpolated in discrete steps. The interpolation happens as though the ordered values are equally spaced real numbers; the result is rounded to the nearest value, with values exactly halfway between two values rounded towards the later value, that is the most expanded one.\">font stretch</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/font-stretch#Interpolation\" title=\"Font stretch values are interpolated in discrete steps. The interpolation happens as though the ordered values are equally spaced real numbers; the result is rounded to the nearest value, with values exactly halfway between two values rounded towards the later value, that is the most expanded one.\">font stretch</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/font-stretch#Interpolation\" title=\"Значения ширины начертания шрифта интерполируются по дискретным шагам. Интерполяция происходит по упорядоченно расположенным значениям в пространстве действительных чисел; результат округляется к ближайшему значению, значения точно между двумя соседними значениями округляются в сторону большего значения, которое является наиболее широким.\">ширина начертания шрифта</a>"
    },
    "fontWeight": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/font-weight#Interpolation\" title=\"Font weight values are interpolated via discrete steps (multiples of 100). The interpolation happens in real number space and is converted to an integer by rounding to the nearest multiple of 100, with values halfway between multiples of 100 rounded towards positive infinity.\">font weight</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/font-weight#Interpolation\">Schriftgewichtung</a>",
          "fr"   : "une <a href=\"/fr/docs/Web/CSS/font-weight#Interpolation\" title=\"Les valeurs de graisse de police sont interpolées via des étapes discrètes (multiple de 100). L'interpolation a lieu dans un espace de nombres réels et est convertis en un entier arroundi au plus proche multiple de 100, avec les valeurs à mis chemin entre les multiples de 100, arrondies vers l'infini positif.\">graisse de police</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/font-weight#Interpolation\" title=\"Font weight values are interpolated via discrete steps (multiples of 100). The interpolation happens in real number space and is converted to an integer by rounding to the nearest multiple of 100, with values halfway between multiples of 100 rounded towards positive infinity.\">font weight</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/font-weight#Interpolation\" title=\"Значения жирности шрифта интерполируются через целое число дискретных шагов (умноженных на 100). Интерполяция происходит в пространстве действительных чисел, а получившееся значение преобразуется в целое путём округления до ближайшей сотни, значения точно между соседними множителями 100 округляются в сторону положительной бесконечности.\">жирность шрифта</a>"
    },
    "rectangle": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/shape#Interpolation\" title=\"Values of the <shape> CSS data type which are rectangles are interpolated over their top, right, bottom and left component, each treated as a real, floating-point number.\">rectangle</a>",
          "de"   : "<a href=\"/de/docs/Web/CSS/shape#Interpolation\">Rechteck</a>",
          "fr"   : "un <a href=\"/fr/docs/Web/CSS/shape#Interpolation\" title=\"Values of the <shape> CSS data type which are rectangles are interpolated over their top, right, bottom and left component, each treated as a real, floating-point number.\">rectangle</a>",
          "ja"   : "<a href=\"/ja/docs/Web/CSS/shape#Interpolation\" title=\"Values of the <shape> CSS data type which are rectangles are interpolated over their top, right, bottom and left component, each treated as a real, floating-point number.\">rectangle</a>",
          "ru"   : "<a href=\"/ru/docs/Web/CSS/shape#Interpolation\" title=\"Значения типа данных CSS <фигура>, которыми являются прямоугольники интерполируются по их верхней, правой, нижней и левой компоненте, каждая из которых трактуется как вещественныое число с плавающей запятой.\">прямоугольник</a>"
    },
    "basicShape": {
          "en-US": "a <a href=\"/en-US/docs/Web/CSS/shape-outside#Interpolation\" title=\"Values of the <basic-shape> CSS data type interpolate as a simple list. The list values interpolate as length, percentage, or calc where possible. If list values are not one of those types but are identical, those values do interpolate.\">basic shape</a>",
          "de"   : "eine <a href=\"/de/docs/Web/CSS/shape-outside#Interpolation\" title=\"Werte des <basic-shape> CSS Datentyps interpolieren als einfache Liste. Die Listenwerte interpolieren als Länge, Prozentwert oder calc, wo möglich. Falls Listenwerte nicht einem dieser Typen entsprechen, aber identisch sind, werden diese Werte interpoliert.\">einfache Form</a>"
    },
    "allElements": {
        "en-US": "all elements",
        "de"   : "alle Elemente",
        "fr"   : "tous les éléments",
        "ja"   : "全要素"
    },
    "allElementsAndPseudos": {
        "en-US": "all elements, {{cssxref(\"::before\")}} and {{cssxref(\"::after\")}} <a href=\"/en-US/docs/Web/CSS/Pseudo-elements\">pseudo-elements</a>",
        "de"   : "alle Elemente, {{cssxref(\"::before\")}} und {{cssxref(\"::after\")}} <a href=\"/de/docs/Web/CSS/Pseudo-elements\">Pseudoelemente</a>",
        "fr"   : "tous les éléments, ainsi que les <a href=\"/fr/docs/Web/CSS/Pseudo-elements\">pseudo-elements</a> {{cssxref(\"::before\")}} et {{cssxref(\"::after\")}}",
        "ja"   : "全要素、{{cssxref(\"::before\")}} / {{cssxref(\"::after\")}} <a href=\"/ja/docs/Web/CSS/Pseudo-elements\">疑似要素</a>"
    },
    "allElementsSVGContainerElements": {
        "en-US": "all elements; In SVG, it applies to container elements excluding the {{SVGElement(\"defs\")}} element and all graphics elements",
        "de"   : "alle Elemente; In SVG gilt betrifft dies Containerelemente mit Ausnahme des {{SVGElement(\"defs\")}} Elements und allen Grafikelementen"
    },
    "nonReplacedBlockElements": {
        "en-US": "non-replaced <code>block</code> elements (except <code>table</code> elements), <code>table-cell</code> or <code>inline-block</code> elements",
        "de"   : "Nicht ersetzte <code>block</code>-Elemente (außer <code>table</code>-Elemente), <code>table-cell</code>- oder <code>inline-block</code>-Elemente",
        "fr"   : "éléments non-replacés de type <code>block</code> ou <code>table</code>, ou éléments de type <code>table-cell</code> ou <code>inline-block</code>",
        "ja"   : "非置換ブロック要素（テーブル要素を除く）、テーブルセル、インラインブロック要素"
    },
    "blockLevelElements": {
        "en-US": "block-level elements",
        "de"   : "Blocklevel Elemente",
        "fr"   : "éléments de type bloc",
        "ja"   : "ブロックレベル要素"
    },
    "blockContainers": {
        "en-US": "block containers",
        "de"   : "Blockcontainer",
        "fr"   : "conteneurs de type bloc",
        "ja"   : "ブロックコンテナ"
    },
    "transformableElements": {
        "en-US": "transformable elements",
        "de"   : "transformierbare Elemente",
        "fr"   : "éléments transformables",
        "ja"   : "変形可能要素"
    },
    "multicolElements": {
        "en-US": "multicol elements",
        "de"   : "mehrspaltige Elemente",
        "fr"   : "éléments de type multicol",
        "ja"   : "多段要素"
    },
    "flexContainers": {
        "en-US": "flex containers",
        "de"   : "flexible Container",
        "fr"   : "conteneurs flexibles"
    },
    "flexItemsAndInFlowPseudos": {
        "en-US": "flex items, including in-flow pseudo-elements",
        "de"   : "flexible Elemente einschließlich In-Flow-Pseudo-Elemente",
        "fr"   : "éléments flexibles"
    },
    "allElementsUAsNotRequiredWhenCollapse": {
        "en-US": "all elements; but User Agents are not required to apply to <code>table</code> and <code>inline-table</code> elements when {{cssxref(\"border-collapse\")}} is <code>collapse</code>. The behavior on internal table elements is undefined for the moment.",
        "de"   : "alle Elemente; aber User Agents sind nicht gezwungen dies auf <code>table</code> und <code>inline-table</code> Elemente anzuwenden, falls {{cssxref(\"border-collapse\")}} <code>collapse</code> ist. Das Verhalten bei internen Tabellenelementen ist momentan undefiniert.",
        "fr"   : "tous les éléments, mais les agents utilisateurs ne sont pas tenus de l'appliquer aux éléments de type <code>table</code> ou <code>inline-table</code> lorsque {{cssxref(\"border-collapse\")}} vaut <code>collapse</code>. Le comportement sur les éléments de type table interne est pour l'instant indéfini."
    },
    "allElementsExceptTableElementsWhenCollapse": {
        "en-US": "all elements, except internal table elements when {{cssxref(\"border-collapse\")}} is <code>collapse</code>",
        "de"   : "Alle Elemente, außer interne Tabellenelemente, falls {{cssxref(\"border-collapse\")}} <code>collapse</code> ist",
        "fr"   : "tous les éléments sauf les éléments de table internes lorsque {{cssxref(\"border-collapse\")}} vaut <code>collapse</code>",
        "ja"   : "全要素。ただし <code>border-collapse</code> が <code>collapse</code> のときはテーブル要素内部にあるものを除く"
    },
    "allElementsExceptTableDisplayTypes": {
        "en-US": "all elements except elements with table {{cssxref(\"display\")}} types other than <code>table-caption</code>, <code>table</code> and <code>inline-table</code>",
        "de"   : "alle Elemente außer Elemente mit Tabellen-{{cssxref(\"display\")}}-Typen, die nicht <code>table-caption</code>, <code>table</code> und <code>inline-table</code> entsprechen"
    },
    "allElementsExceptInternalTableDisplayTypes": {
        "en-US": "all elements except <code>table-row-group</code>, <code>table-header-group</code>, <code>table-footer-group</code>, <code>table-row</code>, <code>table-column-group</code> and <code>table-column</code>",
        "de"   : "alle Elemente außer <code>table-row-group</code>, <code>table-header-group</code>, <code>table-footer-group</code>, <code>table-row</code>, <code>table-column-group</code> und <code>table-column</code>"
    },
    "allElementsButNonReplacedAndTableColumns": {
        "en-US": "all elements but non-replaced inline elements, table columns, and column groups",
        "de"   : "alle Elemente außer nicht ersetzte Inlineelemente, Tabellenspalten und Spaltengruppen"
    },
    "allElementsButNonReplacedAndTableRows": {
        "en-US": "all elements but non-replaced inline elements, table rows, and row groups",
        "de"   : "alle Elemente außer nicht ersetzte Inlineelemente, Tabellenzeilen und Zeilengruppen"
    },
    "nonReplacedBlockElements": {
        "en-US": "non-replaced block-level elements and non-replaced inline-block elements",
        "de"   : "non-replaced block-level Elemente undnon-replaced inline-block Elemente",
        "ja"   : "非置換ブロックレベル要素と非置換インラインブロック要素"
    },
    "tableElements": {
        "en-US": "<code>table</code> and <code>inline-table</code> elements",
        "de"   : "<code>table</code>- und <code>inline-table</code>-Elemente",
        "ja"   : "<code>table</code> および <code>inline-table</code> 要素"
    },
    "positionedElements": {
        "en-US": "positioned elements",
        "de"   : "positionierte Elemente",
        "ja"   : "配置された要素"
    },
    "listItems": {
        "en-US": "list items",
        "de"   : "Listenelemente"
    },
    "blockContainerElements": {
        "en-US": "block container elements",
        "de"   : "Blockcontainerelemente",
        "ja"   : "ブロックコンテナ要素"
    },
    "blockElementsInNormalFlow": {
        "en-US": "block-level elements in the normal flow of the root element. User agents may also apply it to other elements like <code>table-row</code> elements.",
        "de"   : "Blocklevelelemente in normalem Fluss des Wurzelelements. User Agents können es auch auf andere Elemente wie <code>table-row</code>-Elemente anwenden."
    },
    "floats": {
        "en-US": "floats"
    },
    "sameAsWidthAndHeight": {
        "en-US": "same as {{cssxref(\"width\")}} and {{cssxref(\"height\")}}",
        "de"   : "wie bei {{cssxref(\"width\")}} und {{cssxref(\"height\")}}"
    },
    "sameAsMargin": {
        "en-US": "same as {{cssxref(\"margin\")}}",
        "de"   : "wie bei {{cssxref(\"margin\")}}"
    },
    "scrollContainers": {
        "en-US": "scroll containers",
        "de"   : "Scrollcontainer"
    },
    "referToSizeOfBoundingBox": {
        "en-US": "refer to the size of bounding box",
        "de"   : "bezieht sich auf die Größe der äußeren Box",
        "fr"   : "se rapporte à la taille de la boîte de l'élément"
    },
    "referToWidthOfContainingBlock": {
        "en-US": "refer to the width of the containing block",
        "de"   : "bezieht sich auf die Breite des äußeren Elements",
        "fr"   : "se rapporte à la largeur du bloc contenant"
    },
    "blockSizeOfContainingBlock": {
        "en-US": "block-size of containing block",
        "de"   : "Blockgröße des beinhaltenden Blocks"
    },
    "inlineSizeOfContainingBlock": {
        "en-US": "inline-size of containing block",
        "de"   : "Inlinegröße des beinhaltenden Blocks"
    },
    "dependsOnLayoutModel": {
        "en-US": "depends on layout model",
        "de"   : "hängt vom Layoutmodell ab"
    },
    "logicalWidthOfContainingBlock": {
        "en-US": "logical-width of containing block",
        "de"   : "logische Breite des beinhaltenden Blocks"
    },
    "logicalWidthOfContainingBlock": {
        "en-US": "relative to same axis of the padding-box of the scroll container",
        "de"   : "relativ zur gleichen Achse der Innenabstandsbox des Scrollcontainers"
    },
    "asSpecifiedRelativeToAbsoluteLengths": {
        "en-US": "as specified, but with relative lengths converted into absolute lengths",
        "de"   : "relativ zur gleichen Achse der Innenabstandsbox des Scrollcontainers"
    },
    "twoAbsoluteLengthOrPercentages": {
        "en-US": "two absolute {{cssxref(\"length\", \"&lt;length&gt;\")}}s or {{cssxref(\"percentage\", \"&lt;percentage&gt;\")}}s",
        "de"   : "zwei absolute {{cssxref(\"length\", \"&lt;length&gt;\")}} oder {{cssxref(\"percentage\", \"&lt;percentage&gt;\")}}",
        "fr"   : "deux valeurs, longueurs absolues ou pourcentages",
        "ja"   : "絶対的な長さかパーセンテージ値の 2 値"
    },
    "percentageAsSpecifiedOrAbsoluteLength": {
        "en-US": "the percentage as specified or the absolute length",
        "de"   : "der Prozentwert wie angegeben oder die absolute Länge",
        "fr"   : "le pourcentage tel que spécifé ou une longeur absolue",
        "ja"   : "指定されたパーセンテージ値または絶対的な長さ"
    },
    "lengthAbsolutePercentageAsSpecifiedOtherwiseAuto": {
        "en-US": "if specified as a length, the corresponding absolute length; if specified as a percentage, the specified value; otherwise, <code>auto</code>",
        "de"   : "falls als Länge angegeben, die zugehörige absolute Länge; falls als Prozentwert angegeben, der angegebene Wert; ansonsten <code>auto</code>",
        "fr"   : "si spécifié par une longueur, la valeur absolue correspondante; si spécifié par un pourcentage, la valeur telle que spécifiée; sinon, <code>auto</code>"
    },
    "sameAsBoxOffsets": {
        "en-US": "same as box offsets: {{cssxref(\"top\")}}, {{cssxref(\"right\")}}, {{cssxref(\"bottom\")}}, {{cssxref(\"left\")}} properties except that directions are logical",
        "de"   : "wie die Boxoffsets: {{cssxref(\"top\")}}, {{cssxref(\"right\")}}, {{cssxref(\"bottom\")}}, {{cssxref(\"left\")}} Eigenschaften, mit dem Unterschied, dass die Richtungen logisch sind"
    },
    "asLength": {
        "en-US": "as {{cssxref(\"length\", \"&lt;length&gt;\")}}"
    },
    "absoluteLengthZeroIfBorderStyleNoneOrHidden": {
        "en-US": "absolute length; <code>0</code> if the border style is <code>none</code> or <code>hidden</code>",
        "de"   : "absolute Länge; <code>0</code>, falls der Rahmenstil <code>none</code> oder <code>hidden</code> ist"
    },
    "autoNonNegativeOrPercentage": {
        "en-US": "<code>auto</code>, or a non-negative number or percentage as specified",
        "de": "<code>auto</code>, eine nicht negative Zahl oder ein Prozentwert wie angegeben"
    },
    "computedColor": {
        "en-US": "computed color",
        "de"   : "berechnete Farbe"
    },
    "uniqueOrder": {     
        "en-US": "the unique non-ambiguous order defined by the formal grammar",
        "de"   : "die eindeutige Reihenfolge definiert durch die formale Grammatik",
        "fr"   : "l'ordre unique et non-ambigu défini par la grammaire formelle",
        "ja"   : "形式文法で定義される一意のあいまいでない順序"
    },
    "orderOfAppearance": {
        "en-US": "order of appearance in the formal grammar of the values",
        "de"   : "Reihenfolge des Auftretens in der formalen Grammatik der Werte",
        "fr"   : "l'ordre d'apparition dans la grammaire formelle des valeurs"
    },
    "createsStackingContext": {
        "en-US": "Creates <a href=\"/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context\">stacking context</a>",
        "de"   : "Erstellt Stapelkontext"
    }
}
