<%
// Inserts a definition list of the subpages of the current page, with each
// page's title as the <dt> term and its SEO summary as the <dd> term.
//
// Also adds other content to the page based on inputs.
//
// Parameters:
//  $0  Name of the mailing list for the topic
//  $1  Name of the newsgroup for the topic

function pageSorter(a, b) {
    return a.title.localeCompare(b.title);
}

function escapeQuotes(a) {
    var b = "";
    var len = a.length;
    
    for (var i=0; i<len; i++) {
        var c = a[i];
        if (c=="\"") {
            c="&quot;";
        }
        b += c;
    }
    var regex = /(<([^>]+)>)/ig;
    b = b.replace(regex, "");
    return b;
}

function containsTag(tagList, tag) {
    if (!tagList || tagList == undefined) return 0;
    tag = tag.toLowerCase();
    for (var i = 0, len = tagList.length; i < len; i++) {
        if (tagList[i].toLowerCase() == tag) return 1;
    }
    return 0;
}

var termList = page.subpagesExpand();
var numTerms = termList.length;
var html = "";

if (numTerms) {
    var html = "<h2 class='Documentation'>Documentation</h2><dl>";
    
    termList.sort(pageSorter);
    
    var termIndex = 0;
    var numTerms = termList.length;
    
    for (var i=0; i<numTerms; i++) {
        var page = termList[i];
        
        if (!containsTag(page.tags, "junk")) {
            var title = page.title;
            var summary = page.summary.replace(/<img[^>]*>/g," ");
            var url = page.url;
        
            html += "<dt class='landingPageList'><a href='" + url + "'>" + title + "</a></dt><dd class='landingPageList'>" + summary + "</dd>";
        }
    }
    
    html += "</dl>";
}

// Build the community box

var communityBox = template("LandingPageCommunityBox", [$0, $1]);

// Now we have the entire list in HTML. Let's go through it and try to split it into two columns by force.

var len = html.length;
var fullLen = len + communityBox.length;

if (fullLen) {
    var col1 = "";
    var col2 = "";
    
    if (numTerms > 1) {
        var pt = fullLen/2;
        if (pt > len) {
            pt = len;
        } else {
            col2 = html.substr(pt);
            ofs = col2.search("<dt ");
            pt += ofs;
        }
        col2 = communityBox + html.substr(pt);
        col1 = html.substr(0, pt);
    } else {
        col1 = html;
        col2 = communityBox;
    }
    
    %>
    <div class="row topicpage-table">
    <div class="section"><%-col1%></div>
    <div class="section"><%-col2%></div>
    </div>
    <%
} else {
    %><p><strong>There are no subpages at this time.</strong></p><%
}
%>
