<% /* TODO: This needs some work */ %>
<div><h3 id="other_languages">Other Languages</h3>
<ul class="languages">
    <% for (lang in $0) { %>
        <% var url = $0[lang]; %>
        <li><a href="/docs/<%=url%>"><%=lang%></a></li>
    <% } %>
</ul>
</div>
