<%
var subpages = JSON.parse(page.subpages());

if (subpages.length > 0) {
    %><ul><%
    subpages.forEach(function (subPage) {
        %><li><a href="<%- subPage.path %>"><%= subPage.title %></a></li><%
    });
    %></ul><%
}
%>
