
<pre class="script">
var children = Page.subpages;
if (# children) {
  <p>The following subpages are available for this topic. It would be nice if someone made a pretty version of this page.</p>
  <ul>
  foreach(var p in children) {
    <li>p.title</li>
  }
  </ul>
} else {
  wiki.localize('System.API.page-generated-for-subpage');

%>
