<span lang='fr' class='lang lang-fr'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' comme mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' comme newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' comme groupe Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds comme flux Web')}}
</li></ul>
</li></ul>
</span><span lang='*' class='lang lang-*'><ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' comme mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' comme newsgroup')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' comme groupe Google')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds comme flux Web')}}
</li></ul>
</li></ul>
</span>
