<%
// Creates a button offering a link to a live sample.
//
// Input parameters:
//      Path of sample's file under developer.mozilla.org/
//
// See also: CSSLiveSample, DOMLiveSample, SVGLiveSample

var style = "cursor:pointer; padding: 5px; border: solid 1px #333; color: black; -moz-box-shadow:1px 1px 0 #ccc; -webkit-box-shadow:1px 1px 0 #ccc; -o-box-shadow:1px 1px 0 #ccc; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; background:-moz-linear-gradient(90deg, #FEF49C, #FFFFFF);";

// Localizers: Add your language to the switch statement below

switch(env.locale) {
    case "de":
        str = "Live-Beispiel ansehen";
        break;
    default:
        str = "View the live example";
        break;
}

var target = "/" + $0;

if ($0.charAt(0) == "/") {
    target = $0;
}
%>
<a href="<%=target%>"><span style="<%-style%>"><%=str%></span></a>
