<%
// Creates a button offering a link to a live sample.
//
// Input parameters: Path of sample's file under developer.mozilla.org/
// Localizers: Add your language to the switch statement below
// See also : HTMLLiveSample, CSSLiveSample, DOMLiveSample, SVGLiveSample

var str,
    target;

switch(env.locale) {
    case 'es':
        str = "Ver El Ejemplo Vivo"; break;
    case 'de':
        str = "Live-Beispiel ansehen"; break;
    case 'fr':
        str = "Voir l'exemple sur une page"; break;
    case "ja":
        str = "実際の表示を確認"; break;
    case 'zh-CN':
        str = "查看示例"; break;
    case 'zh-TW':
        str = "查看示例"; break;
    default:
        str = "View the live example"; break;
}

target = ($0.charAt(0) == "/") ? $0 : "/" + $0;
%><a class="button liveSample" href="<%=target%>"><%=str%></a>
