<tr>
  <td><code>mozChannels</code></td>
  <td>int</td>
  <td>The number of channels. Read only.</td>
</tr>
<tr>
  <td><code>mozSampleRate</code></td>
  <td>int</td>
  <td>The sample rate per second. Read only.</td>
</tr>
<tr>
  <td><code>mozFrameBufferLength</code></td>
  <td>int</td>
  <td>The number of samples collected in all channels. Read only.</td>
</tr>
