<ul>
<li><a href="/en-US/docs/Mozilla_event_reference/DOMContentLoaded_(event)"><code>DOMContentLoaded</code></a></li>
<li><a href="/en-US/docs/Mozilla_event_reference/readystatechange"><code>readystatechange</code></a></li>
<li><a href="/en-US/docs/Mozilla_event_reference/load"><code>load</code></a></li>
<li><a href="/en-US/docs/Mozilla_event_reference/beforeunload"><code>beforeunload</code></a></li>
<li><a href="/en-US/docs/Mozilla_event_reference/unload"><code>unload</code></a></li>
</ul>
