<span class="comment">1 - stuff after ? in lxr search             ex. {{mediawiki.external('http://lxr.mozilla.org/mozilla/search?string=us+FROZEN')}}             {{{1}}} would be |string=us+FROZEN|    - 2 - Link Text</span>{{mediawiki.external('http://lxr.mozilla.org/mozilla/search?' + $0 + ' ' + $1)}}
