<%
// Outputs a two-column view for the input HTML, which must be a <dl>
// list.
//
// Parameters:
//
//  $0  The HTML containing a <dl> to turn into a two column menu.

var html = $0;
var len = html.length;

if (len) {
    var col1 = "";
    var col2 = "";
    var numTerms = (html.match(/\<dt /g) || []).length;
   
    if (numTerms > 1) {
        var pt = len/2;
        col2 = html.substr(pt);
        ofs = col2.search("<dt ");
        pt += ofs;
        col2 = html.substr(pt);
        col1 = html.substr(0, pt);
    } else {
        col1 = html;
    }
    
    %>
    <div class="row topicpage-table">
    <div class="section"><%-col1%></div>
    <div class="section"><%-col2%></div>
    </div>
    <%
} else {
    %><p><strong>There are no subpages at this time.</strong></p><%
}
%>
