<div class="note"><strong>Note:</strong> The Firefox OS Marketplace does not currently support paid apps or in-app payments. We hope to enable this feature for testing late in the first quarter of 2013.</div>
