
<pre class="script">
/* accepts as input one required parameter: MathML element to create a xref to */ 
var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
  lang = page.language;
}
var dest = lang + '/' + 'MathML/Element/' + $0;

if (wiki.pageExists(dest)) { /* the page exists */
    <code>(web.link(wiki.uri(dest), '<' + ($1 || $0) + '>'))</code>;
} else { /* the page doesn't exist */
    <code><a rel=('internal') href=(wiki.uri(dest)) class=('new')><($1 || $0)></a></code>
}
%>
