<div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:en/How_to_Help">How to help: contents</a></big>
</dt><dt> Lists
</dt><dd> <a href="Project:en/Documentation_Wishlist">Documentation wishlist</a>
</dd><dd> <a href="Project:en/To_Do_List">Editing/review to do list</a>
</dd><dd> <a href="Project:en/Existing_Content">Migration list</a>
</dd><dt> Guides
</dt><dd> <a href="Project:en/Getting_started">Getting started</a>
</dd><dd> <a href="Project:en/Writer's_guide">Writer's guide</a>
</dd><dd> <a href="Project:en/Page_Naming_Guide">Page naming guide</a>
</dd><dd> <a href="Project:en/Disambiguation">Disambiguation pages</a>
</dd><dd> <a href="Project:en/Localization_Projects">Localizing MDC</a>
</dd><dd> <a href="Project:en/Copyrights">Copyrights and licensing</a>
</dd><dt> References
</dt><dd> <a href="Project:en/Wiki_Markup_Reference">Wiki markup reference</a>
</dd><dd> <a href="Project:en/Custom_CSS_Classes">Custom CSS classes</a>
</dd><dd> <a href="Project:en/Custom_Templates">Custom templates</a>
</dd><dd> <a href="Project:en/MediaWiki_Extensions">MediaWiki extensions</a>
</dd><dd> <a href="Project:en/External_Redirects">External redirects</a>
</dd><dd> <a href="Project:en/Needs_Redirect">Needs redirect</a></dd></dl></div>

<div class="includeonly"></div>
