<div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:pl/Jak_pom%c3%b3c">Jak pomóc: Treść</a></big>
</dt><dt> Listy
</dt><dd> <a href="Project:pl/Lista_%c5%bcycze%c5%84">Lista życzeń</a>
</dd><dd> <a href="Project:pl/Do_zrobienia">Edycja/przegląd listy</a>
</dd><dd> <a href="Project:pl/Istniej%c4%85ca_tre%c5%9b%c4%87">Lista migracji</a> 
</dd><dt> Poradniki
</dt><dd> <a href="Project:pl/Na_pocz%c4%85tek">Na początek</a>
</dd><dd> <a href="Project:pl/Jak_edytowa%c4%87_stron%c4%99">Przewodnik dla edytorów</a>
</dd><dd> <a href="Project:pl/Poradnik_nazywania_stron">Poradnik nazywania stron</a>
</dd><dd> <a href="Project:pl/Ujednoznacznienie">Strony ujednoznaczniające</a>
</dd><dd> <a href="Project:pl/Projekty_lokalizacyjne">Rozpoczynanie nowej lokalizacji MDC</a> 
</dd><dd> <a href="Project:pl/Prawa_autorskie">Prawa autorskie i licencje</a>
</dd><dt> Dokumentacja
</dt><dd> <a href="Project:pl/Opis_sk%c5%82adni_Wiki">Opis składni Wiki</a>
</dd><dd> <a href="Project:pl/W%c5%82asne_klasy_CSS">Własne klasy CSS</a>
</dd><dd> <a href="Project:pl/W%c5%82asne_szablony">Własne szablony</a>
</dd><dd> <a href="Project:pl/Rozszerzenia_MediaWiki">Rozszerzenia MediaWiki</a>
</dd><dd> <a href="Project:pl/Zewn%c4%99trzne_przekierowania">Zewnętrzne przekierowania</a>
</dd><dd> <a href="Project:pl/Do_przekierowania">Do przekierowania</a></dd></dl></div>

<div class="includeonly"></div>
