<%
    var lang = env.locale;
    
    switch(lang) {
        default:
            englishText();
            break;
    }
    
    function englishText() {
        %>
        <div class="standardSidebar">
            <dl>
                <dt><a href="en-US/docs/Project:How_to_Help" style="font-size:large;">How to help: contents</a></dt>
                <dt>Lists</dt>
                    <dd><a href="en-US/docs/Project:Documentation_Wishlist">Documentation wish list</a></dd>
                    <dd><a href="en-US/docs/Project:To_Do_List">Editing/review to do list</a></dd>
                    <dd><a href="en-US/docs/Project:Existing_Content">Migration list</a></dd>
                <dt>Guides</dt>
                    <dd><a href="en-US/docs/Project:Getting_started">Getting started</a></dd>
                    <dd><a href="en-US/docs/Project:Writer's_guide">Writer's guide</a></dd>
                    <dd><a href="en-US/docs/Project:How_to_document_Mozilla">How to document Mozilla</a></dd>>
                    <dd><a href="en-US/docs/Project:Writing_interface_reference_documentation">Writing interface reference documentation</a></dd>
                    <dd><a href="en-US/docs/Project:Page_Naming_Guide">Page naming guide</a></dd>
                    <dd><a href="en-US/docs/Project:Disambiguation">Disambiguation</a></dd>
                    <dd><a href="en-US/docs/Project:Localization_Projects">Localization projects</a></dd>
                    <dd><a href="en-US/docs/Project:Copyrights">Copyrights and licensing</a></dd>
                <dt>References</dt>
                    <dd><a href="en-US/docs/Project:MDC_style_guide">MDC formatting guide</a></dd>
                    <dd><a href="en-US/docs/Project:Custom_CSS_Classes">Custom CSS classes</a></dd>
                    <dd><a href="en-US/docs/Project:Custom_templates">Custom templates</a></dd>
                    <dd><a href="en-US/docs/Project:External_Redirects">External redirects</a></dd>
                    <dd><a href="en-US/docs/Project:Needs_Redirect">Needs redirect</a></dd>
            </dl>
        </div>
        <%
    }
%>
