<div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:pl/Pomoc">Jak pomóc: Treść</a></big>
</dt><dt> Poradnik
</dt><dd> <a href="Project:pl/Na_pocz%c4%85tek">Na początek</a>
</dd><dd> <a href="Project:pl/Jak_edytowa%c4%87_stron%c4%99">Przewodnik dla edytorów</a>
</dd><dd> <a href="Project:pl/Poradnik_nazywania_stron">Poradnik nazywania stron</a>
</dd><dd> <a href="Project:pl/Ujednoznacznienie">Strony ujednoznaczniające</a>
</dd></dl>
<p><span class="comment">: {{mediawiki.internal('MDC:Projekty lokalizacyjne|Rozpoczynanie nowej lokalizacji MDC', "pl")}}</span> 
</p>
<dl><dd> <a href="Project:pl/Prawa_autorskie">Prawa autorskie i licencje</a>
</dd><dt> Dokumentacja
</dt><dd> <a href="Project:pl/Opis_sk%c5%82adni_Wiki">Opis składni Wiki</a>
</dd><dd> <a href="Project:pl/W%c5%82asne_klasy_CSS">Własne klasy CSS</a>
</dd><dd> <a href="Project:pl/W%c5%82asne_szablony">Własne szablony</a>
</dd><dd> <a href="Project:pl/Rozszerzenia_MediaWiki">Rozszerzenia MediaWiki</a>
</dd><dd> <a href="Project:pl/Zewn%c4%99trzne_przekierowania">Zewnętrzne przekierowania</a>
</dd><dt> Dodatkowa pomoc
</dt><dd> <a href="Project:pl/Do_zrobienia">Edycja/przegląd listy</a>
</dd><dd> <a href="Project:pl/S%c5%82ownik">Słownik</a>
</dd><dd> <a href="Project:pl/Cz%c4%99sto_Zadawane_Pytania">FAQ</a>
</dd><dd> <a href="Project:pl/Spo%c5%82eczno%c5%9b%c4%87">Społeczność MDC</a>
</dd><dd> <a href="Project:pl/Lista_kontakt%c3%b3w">Lista kontaktów</a></dd></dl></div>

<div class="includeonly"></div>
