<div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:fr/Comment_aider">Comment aider : contenu</a></big>
</dt><dt> Listes
</dt><dd> <a href="Project:fr/Pages_%c3%a0_traduire">Pages à traduire</a>
</dd><dd> <a href="Special:Tags?tag=Traduction_à_relire&language=fr">Traductions à relire</a>
</dd><dd> <a href="Special:Tags?tag=Traduction_en_cours&language=fr">Traductions en cours</a>
</dd><dt> Guides
</dt><dd> <a href="Project:fr/Pour_commencer">Pour commencer</a>
</dd><dd> <a href="Project:fr/Guide_du_r%c3%a9dacteur">Guide du rédacteur</a>
</dd><dd> <a href="Project:fr/Guide_de_nommage_des_pages">Guide de nommage des pages</a>
</dd><dd> <a href="Project:fr/D%c3%a9sambiguation">Pages de désambiguation</a>
</dd><dd> <a href="Project:fr/Projets_de_localisation">Commencer une nouvelle localisation de MDC</a>
</dd><dd> <a href="Project:fr/Copyrights">Copyrights et licences</a>
</dd><dt> Références
</dt><dd> <a href="Project:fr/R%c3%a9f%c3%a9rence_des_balises_wiki">Référence des balises wiki</a>
</dd><dd> <a href="Project:fr/Classes_CSS_personnalis%c3%a9es">Classes CSS personnalisées</a>
</dd><dd> <a href="Project:fr/Mod%c3%a8les_personnalis%c3%a9s">Modèles personnalisés</a>
</dd><dd> <a href="Project:fr/Extensions_MediaWiki">Extensions MediaWiki</a>
</dd><dd> <a href="Project:fr/Redirections_externes">Redirections externes</a>
</dd><dd> <a href="Project:fr/Redirections_n%c3%a9cessaires">Redirections nécessaires</a></dd></dl></div>

<div class="includeonly"></div>
