<div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <a href="Help:cn/Contents">帮助目录</a>
</dt><dt> 列表
</dt><dd> <a href="Project:cn/%e6%96%87%e6%a1%a3%e8%af%b7%e6%b1%82%e5%88%97%e8%a1%a8">文档请求列表</a>
</dd><dd> <a href="Project:cn/To_Do_List">Editing/review to do list</a>
</dd><dd> <a href="Project:cn/%e5%b7%b2%e6%9c%89%e5%86%85%e5%ae%b9">合并列表</a>
</dd><dt> 指导
</dt><dd> <a href="Project:cn/Getting_started">Getting started</a>
</dd><dd> <a href="Project:cn/Writer's_guide">Writer's guide</a>
</dd><dd> <a href="Project:cn/%e9%a1%b5%e9%9d%a2%e5%91%bd%e5%90%8d%e6%8c%87%e5%8d%97">页面命名指南</a>
</dd><dd> <a href="Project:cn/%e6%b6%88%e6%ad%a7%e4%b9%89">消歧义页</a>
</dd><dd> <a href="Project:cn/%e6%9c%ac%e5%9c%b0%e5%8c%96%e9%a1%b9%e7%9b%ae">开始一项新的mdc本地化项目</a>
</dd><dd> <a href="Project:cn/%e7%89%88%e6%9d%83">版权和许可</a>
</dd><dt> 参考
</dt><dd> <a href="Project:cn/Wiki_Markup_Reference">维基语法参考</a>
</dd><dd> <a href="Project:cn/%e8%87%aa%e5%ae%9a%e4%b9%89_CSS_%e7%b1%bb">自定义 CSS 类</a>
</dd><dd> <a href="Project:cn/%e8%87%aa%e5%ae%9a%e4%b9%89%e6%a8%a1%e6%9d%bf">自定义模板</a>
</dd><dd> <a href="Project:cn/MediaWiki_%e6%89%a9%e5%b1%95">MediaWiki 扩展</a>
</dd><dd> <a href="Project:cn/%e5%a4%96%e9%83%a8%e9%87%8d%e5%ae%9a%e5%90%91">外部重定向</a>
</dd><dd> <a href="Project:cn/%e9%9c%80%e8%a6%81%e9%87%8d%e5%ae%9a%e5%90%91">需要重定向</a></dd></dl></div>

