<span lang='en' class='lang lang-en'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:en/How_to_Help">How to help: contents</a></big>
</dt><dt> Lists
</dt><dd> <a href="Project:en/Documentation_Wishlist">Documentation wishlist</a>
</dd><dd> <a href="Project:en/To_Do_List">Editing/review to do list</a>
</dd><dd> <a href="Project:en/Existing_Content">Migration list</a>
</dd><dt> Guides
</dt><dd> <a href="Project:en/Getting_started">Getting started</a>
</dd><dd> <a href="Project:en/Writer's_guide">Writer's guide</a>
</dd><dd> <a href="Project:en/Writing_interface_reference_documentation">Writing interface reference documentation</a>
</dd><dd> <a href="Project:en/Page_Naming_Guide">Page naming guide</a>
</dd><dd> <a href="Project:en/Disambiguation">Disambiguation pages</a>
</dd><dd> <a href="Project:en/Localization_Projects">Localizing MDC</a>
</dd><dd> <a href="Project:en/Copyrights">Copyrights and licensing</a>
</dd><dt> References
</dt><dd> <a href="Project:en/Wiki_Markup_Reference">Wiki markup reference</a>
</dd><dd> <a href="Project:en/Custom_CSS_Classes">Custom CSS classes</a>
</dd><dd> <a href="Project:en/Custom_Templates">Custom templates</a>
</dd><dd> <a href="Project:en/MediaWiki_Extensions">MediaWiki extensions</a>
</dd><dd> <a href="Project:en/External_Redirects">External redirects</a>
</dd><dd> <a href="Project:en/Needs_Redirect">Needs redirect</a></dd></dl></div>

<div class="includeonly"></div>
</span><span lang='*' class='lang lang-*'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:en/How_to_Help">How to help: contents</a></big>
</dt><dt> Lists
</dt><dd> <a href="Project:en/Documentation_Wishlist">Documentation wishlist</a>
</dd><dd> <a href="Project:en/To_Do_List">Editing/review to do list</a>
</dd><dd> <a href="Project:en/Existing_Content">Migration list</a>
</dd><dt> Guides
</dt><dd> <a href="Project:en/Getting_started">Getting started</a>
</dd><dd> <a href="Project:en/Writer's_guide">Writer's guide</a>
</dd><dd> <a href="Project:en/Writing_interface_reference_documentation">Writing interface reference documentation</a>
</dd><dd> <a href="Project:en/Page_Naming_Guide">Page naming guide</a>
</dd><dd> <a href="Project:en/Disambiguation">Disambiguation pages</a>
</dd><dd> <a href="Project:en/Localization_Projects">Localizing MDC</a>
</dd><dd> <a href="Project:en/Copyrights">Copyrights and licensing</a>
</dd><dt> References
</dt><dd> <a href="Project:en/Wiki_Markup_Reference">Wiki markup reference</a>
</dd><dd> <a href="Project:en/Custom_CSS_Classes">Custom CSS classes</a>
</dd><dd> <a href="Project:en/Custom_Templates">Custom templates</a>
</dd><dd> <a href="Project:en/MediaWiki_Extensions">MediaWiki extensions</a>
</dd><dd> <a href="Project:en/External_Redirects">External redirects</a>
</dd><dd> <a href="Project:en/Needs_Redirect">Needs redirect</a></dd></dl></div>

<div class="includeonly"></div>
</span><span lang='fr' class='lang lang-fr'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:fr/Comment_aider">Comment aider : contenu</a></big>
</dt><dt> Listes
</dt><dd> <a href="Project:fr/Pages_%c3%a0_traduire">Pages à traduire</a>
</dd><dd> <a href="Special:Tags?tag=Traduction_à_relire&language=fr">Traductions à relire</a>
</dd><dd> <a href="Special:Tags?tag=Traduction_en_cours&language=fr">Traductions en cours</a>
</dd><dt> Guides
</dt><dd> <a href="Project:fr/Pour_commencer">Pour commencer</a>
</dd><dd> <a href="Project:fr/Guide_du_r%c3%a9dacteur">Guide du rédacteur</a>
</dd><dd> <a href="Project:fr/Guide_de_nommage_des_pages">Guide de nommage des pages</a>
</dd><dd> <a href="Project:fr/D%c3%a9sambiguation">Pages de désambiguation</a>
</dd><dd> <a href="Project:fr/Projets_de_localisation">Commencer une nouvelle localisation de MDC</a>
</dd><dd> <a href="Project:fr/Copyrights">Copyrights et licences</a>
</dd><dt> Références
</dt><dd> <a href="Project:fr/R%c3%a9f%c3%a9rence_des_balises_wiki">Référence des balises wiki</a>
</dd><dd> <a href="Project:fr/Classes_CSS_personnalis%c3%a9es">Classes CSS personnalisées</a>
</dd><dd> <a href="Project:fr/Mod%c3%a8les_personnalis%c3%a9s">Modèles personnalisés</a>
</dd><dd> <a href="Project:fr/Extensions_MediaWiki">Extensions MediaWiki</a>
</dd><dd> <a href="Project:fr/Redirections_externes">Redirections externes</a></dd></dl></div>

<div class="includeonly"></div>
</span><span lang='ja' class='lang lang-ja'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:ja/How_to_Help">How to help: 目次</a></big>
</dt><dt> (MDC各言語共通)
</dt><dt> 一覧
</dt><dd> <a href="Project:ja/Documentation_Wishlist">Documentation wishlist</a>
</dd><dd> <a href="Project:ja/To_Do_List">編集/レビューが必要な項目一覧</a>
</dd><dd> <a href="Project:ja/Existing_Content">移設リスト</a>
</dd><dt> ガイド
</dt><dd> <a href="Project:ja/Getting_started">はじめるには</a>
</dd><dd> <a href="Project:ja/%e8%a8%98%e8%bf%b0%e8%80%85%e3%82%ac%e3%82%a4%e3%83%89">記述者ガイド</a> (<a href="Project:ja/Writer's_guide">英語版の訳</a>)
</dd><dd> <a href="Project:ja/Writing_interface_reference_documentation">Writing interface reference documentation</a>
</dd><dd> <a href="Project:ja/Page_Naming_Guide">ページ命名ガイド</a>
</dd><dd> <a href="Project:ja/Disambiguation">あいまい性除去のページ</a>
</dd><dd> <a href="Project:ja/Localization_Projects">MDCの新しいローカライズをはじめる</a>
</dd><dd> <a href="Project:ja/Copyrights">著作権とライセンス</a>
</dd><dt> リファレンス
</dt><dd> <a href="Project:ja/Wiki_Markup_Reference">Wiki マークアップリファレンス</a>
</dd><dd> <a href="Project:ja/Custom_CSS_Classes">カスタム CSS クラス</a>
</dd><dd> <a href="Project:ja/Custom_Templates">カスタムテンプレート</a>
</dd><dd> <a href="Project:ja/MediaWiki_Extensions">MediaWiki 拡張</a>
</dd><dd> <a href="Project:ja/External_Redirects">外部リダイレクト</a>
</dd><dd> <a href="Project:ja/Needs_Redirect">リダイレクトが必要なページ</a>
</dd><dt> MDC日本語版
</dt><dd> <a href="Project:ja/%e6%97%a5%e6%9c%ac%e8%aa%9e%e7%89%88">日本語版</a>
</dd><dd> <a href="Project:ja/%e7%bf%bb%e8%a8%b3">翻訳</a>
</dd><dd> <a href="Project:ja/%e4%ba%95%e6%88%b8%e7%ab%af%e4%bc%9a%e8%ad%b0">井戸端会議</a>
</dd><dd> <a href="Project:ja/%e9%80%9a%e4%bf%a1">通信</a></dd></dl></div>

<div class="includeonly"></div>
</span><span lang='ko' class='lang lang-ko'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:ko/How_to_Help">프로젝트 참여 방법</a></big>
</dt><dt> 항목
</dt><dd> <a href="Project:ko/Documentation_Wishlist">문서 요청 목록</a>
</dd><dd> <a href="Project:ko/To_Do_List">할 일 편집 및 관리</a>
</dd><dd> <a href="Project:ko/Existing_Content">목록 이전</a>
</dd><dt> 가이드
</dt><dd> <a href="Project:ko/Getting_started">시작하기</a>
</dd><dd> <a href="Project:ko/Writer's_guide">작성자 가이드</a>
</dd><dd> <a href="Project:ko/Page_Naming_Guide">문서 제목 만들기</a>
</dd><dd> <a href="Project:ko/Disambiguation">Disambiguation pages</a>
</dd><dd> <a href="Project:ko/Localization_Projects">새 MDC 다국어 버전 만들기</a>
</dd><dd> <a href="Project:ko/Copyrights">저작권 및 라이센스</a>
</dd><dt> 참고 문서
</dt><dd> <a href="Project:ko/Wiki_Markup_Reference">Wiki 마크업 자료</a>
</dd><dd> <a href="Project:ko/Custom_CSS_Classes">사용자 정의CSS 항목</a>
</dd><dd> <a href="Project:ko/Custom_Templates">사용자 정의 템플릿</a>
</dd><dd> <a href="Project:ko/MediaWiki_Extensions">MediaWiki 확장 기능</a>
</dd><dd> <a href="Project:ko/External_Redirects">외부 이동</a>
</dd><dd> <a href="Project:ko/Needs_Redirect">이동 필요성</a></dd></dl></div>

<div class="includeonly"></div>
</span><span lang='pl' class='lang lang-pl'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:pl/Pomoc">Jak pomóc: Treść</a></big>
</dt><dt> Poradnik
</dt><dd> <a href="Project:pl/Na_pocz%c4%85tek">Na początek</a>
</dd><dd> <a href="Project:pl/Jak_edytowa%c4%87_stron%c4%99">Przewodnik dla edytorów</a>
</dd><dd> <a href="Project:pl/Poradnik_nazywania_stron">Poradnik nazywania stron</a>
</dd><dd> <a href="Project:pl/Ujednoznacznienie">Strony ujednoznaczniające</a>
</dd></dl>
<p><span class="comment">: {{mediawiki.internal('MDC:Projekty lokalizacyjne|Rozpoczynanie nowej lokalizacji MDC', "pl")}}</span> 
</p>
<dl><dd> <a href="Project:pl/Prawa_autorskie">Prawa autorskie i licencje</a>
</dd><dt> Dokumentacja
</dt><dd> <a href="Project:pl/Opis_sk%c5%82adni_Wiki">Opis składni Wiki</a>
</dd><dd> <a href="Project:pl/W%c5%82asne_klasy_CSS">Własne klasy CSS</a>
</dd><dd> <a href="Project:pl/W%c5%82asne_szablony">Własne szablony</a>
</dd><dd> <a href="Project:pl/Rozszerzenia_MediaWiki">Rozszerzenia MediaWiki</a>
</dd><dd> <a href="Project:pl/Zewn%c4%99trzne_przekierowania">Zewnętrzne przekierowania</a>
</dd><dt> Dodatkowa pomoc
</dt><dd> <a href="Project:pl/Do_zrobienia">Edycja/przegląd listy</a>
</dd><dd> <a href="Project:pl/S%c5%82ownik">Słownik</a>
</dd><dd> <a href="Project:pl/Cz%c4%99sto_zadawane_pytania">FAQ</a>
</dd><dd> <a href="Project:pl/Spo%c5%82eczno%c5%9b%c4%87">Społeczność MDC</a>
</dd><dd> <a href="Project:pl/Lista_kontakt%c3%b3w">Lista kontaktów</a></dd></dl></div>

<div class="includeonly"></div>
</span><span lang='zh-cn' class='lang lang-zh-cn'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <a href="Help:cn/Contents">帮助目录</a>
</dt><dt> 列表
</dt><dd> <a href="Project:cn/%e6%96%87%e6%a1%a3%e8%af%b7%e6%b1%82%e5%88%97%e8%a1%a8">文档请求列表</a>
</dd><dd> <a href="Project:cn/To_Do_List">Editing/review to do list</a>
</dd><dd> <a href="Project:cn/%e5%b7%b2%e6%9c%89%e5%86%85%e5%ae%b9">合并列表</a>
</dd><dt> 指导
</dt><dd> <a href="Project:cn/%e7%8e%b0%e5%9c%a8%e5%b0%b1%e5%bc%80%e5%a7%8b">现在就开始</a>
</dd><dd> <a href="Project:cn/%e7%bc%96%e8%80%85%e5%90%91%e5%af%bc">编者向导</a>
</dd><dd> <a href="Project:cn/%e9%a1%b5%e9%9d%a2%e5%91%bd%e5%90%8d%e6%8c%87%e5%8d%97">页面命名指南</a>
</dd><dd> <a href="Project:cn/%e6%b6%88%e6%ad%a7%e4%b9%89">消歧义页</a>
</dd><dd> <a href="Project:cn/%e6%9c%ac%e5%9c%b0%e5%8c%96%e9%a1%b9%e7%9b%ae">开始一项新的mdc本地化项目</a>
</dd><dd> <a href="Project:cn/%e7%89%88%e6%9d%83">版权和许可</a>
</dd><dt> 参考
</dt><dd> <a href="Project:cn/Wiki_Markup_Reference">维基语法参考</a>
</dd><dd> <a href="Project:cn/%e8%87%aa%e5%ae%9a%e4%b9%89_CSS_%e7%b1%bb">自定义 CSS 类</a>
</dd><dd> <a href="Project:cn/%e8%87%aa%e5%ae%9a%e4%b9%89%e6%a8%a1%e6%9d%bf">自定义模板</a>
</dd><dd> <a href="Project:cn/MediaWiki_%e6%89%a9%e5%b1%95">MediaWiki 扩展</a>
</dd><dd> <a href="Project:cn/%e5%a4%96%e9%83%a8%e9%87%8d%e5%ae%9a%e5%90%91">外部重定向</a>
</dd><dd> <a href="Project:cn/%e9%9c%80%e8%a6%81%e9%87%8d%e5%ae%9a%e5%90%91">需要重定向</a></dd></dl></div>

</span><span lang='zh-tw' class='lang lang-zh-tw'>{{wiki.template('Template:MDC專案頁目錄', args)}}</span>
