<div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:ja/How_to_Help">How to help: contents</a></big>
</dt><dt> (MDC各言語共通)
</dt><dt> 一覧
</dt><dd> <a href="Project:ja/Documentation_Wishlist">Documentation wishlist</a>
</dd><dd> <a href="Project:ja/To_Do_List">Editing/review to do list</a>
</dd><dd> <a href="Project:ja/Existing_Content">Migration list</a>
</dd><dt> ガイド
</dt><dd> <a href="Project:ja/Getting_started">はじめるには</a>
</dd><dd> <a href="Project:ja/Writer's_guide">Writer's guide</a>
</dd><dd> <a href="Project:ja/Page_Naming_Guide">ページ命名ガイド</a>
</dd><dd> <a href="Project:ja/Disambiguation">Disambiguation pages</a>
</dd><dd> <a href="Project:ja/Localization_Projects">MDCの新しいローカライズをはじめる</a>
</dd><dd> <a href="Project:ja/Copyrights">Copyrights and licensing</a>
</dd><dt> リファレンス
</dt><dd> <a href="Project:ja/Wiki_Markup_Reference">Wiki マークアップリファレンス</a>
</dd><dd> <a href="Project:ja/Custom_CSS_Classes">Custom CSS classes</a>
</dd><dd> <a href="Project:ja/Custom_Templates">Custom templates</a>
</dd><dd> <a href="Project:ja/MediaWiki_Extensions">MediaWiki extensions</a>
</dd><dd> <a href="Project:ja/External_Redirects">External redirects</a>
</dd><dd> <a href="Project:ja/Needs_Redirect">redirectが必要</a>
</dd><dt> MDC日本語版
</dt><dd> <a href="Project:ja/%e6%97%a5%e6%9c%ac%e8%aa%9e%e7%89%88">日本語版</a>
</dd><dd> <a href="Project:ja/%e7%bf%bb%e8%a8%b3">翻訳</a>
</dd><dd> <a href="Project:ja/%e4%ba%95%e6%88%b8%e7%ab%af%e4%bc%9a%e8%ad%b0">井戸端会議</a>
</dd><dd> <a href="Project:ja/Current_events">現在のイベント</a>
</dd><dd> <a href="Project:ja/%e3%83%90%e3%82%b0%e3%81%ae%e5%a0%b1%e5%91%8a">バグの報告</a>
</dd><dd> <a href="Project:ja/Deletion_Requests">削除依頼</a></dd></dl></div>

<div class="includeonly"></div>
