<ul>
<li><a href="/en-US/Mozilla_event_reference/playing"><code>playing</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/waiting"><code>waiting</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/seeking"><code>seeking</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/seeked"><code>seeked</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/ended"><code>ended</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/loadedmetadata"><code>loadedmetadata</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/loadeddata"><code>loadeddata</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/canplay"><code>canplay</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/canplaythrough"><code>canplaythrough</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/duration"><code>duration</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/timeupdate"><code>timeupdate</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/play"><code>play</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/pause"><code>pause</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/ratechange"><code>ratechange</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/volumechange"><code>volumechange</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/suspend"><code>suspend</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/emptied"><code>emptied</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/stalled"><code>stalled</code></a></li>
</ul>
