
<p><span class="script"> var s = $0;<br />
var homePageURI = site.homePage.URI;<br />
if string.startsWith(s, homePageURI){<br />
  s = string.subStr(s, string.length(homePageURI) - 1);<br />
}<br />
else if !string.startsWith(s, "/"){<br />
  s = "/" + s;<br />
}<br />
Note("This page is obsolete and has been merged into " + web.link(s, wiki.getPage(string.remove(s, string.IndexOf(s, "#"))).title) + ".")</span></p>
