
<p><span class="script"> var s = xml.text(getRelativeURL($0));<br />
Note("The content of this page has been merged into " + web.link(s, wiki.getPage(string.remove(s, string.IndexOf(s, "#"))).title) + ".")</span></p>
