
<p><span lang="en" class="lang lang-en"><span title="This method has been deprecated and will be removed in {{web.html($1)}}." style="border: 1px solid rgb(129, 129, 81); padding: 2px; color: white; background-color: red; font-size: small; font-weight: bold; float: right; vertical-align: middle; white-space: nowrap;">Deprecated</span>
<h3><span class="script">web.html($0)</span>()</h3>
</span></p>
