
<p><span lang="en" class="lang lang-en"><span style="border: 1px solid rgb(129, 129, 81); padding: 1px; background-color: #d4f3ff; font-size: small; font-weight: bold; float: right; text-align: right; vertical-align: middle; white-space: nowrap;">Renamed from <code><span class="script">$1</span></code> in Gecko <span class="script">$2</span> <span class="script">geckoRelease($2)</span></span>
<h3><span class="script">web.html($0)</span>()</h3>
</span></p>
<p class="noinclude"><span class="script">method_renamed("currentName","oldName", "1.9.1")</span></p>
