<%
// One parameter:
//  $0 - Name of method

switch(env.locale) {
  default:
    str = "Unimplemented"
    break;
}
%>
<div>
<span style="border: 1px solid rgb(246, 111, 111); background-color: #FF99CC; padding: 2px; font-size: small; font-weight: bold; float: right; vertical-align: middle; white-space: nowrap;"><%- str %></span>
<h3><%= $0 %>()</h3>
</div>
