
<p><span lang="en" class="lang lang-en"><span style="border: 1px solid #FF5151; background-color: #FEBCBC; padding: 2px; color: black; font-size: small; font-weight: bold; float: right; vertical-align: middle; white-space: nowrap;">Obsolete starting with Gecko <span class="script">web.html($1)</span> <span class="script">geckoRelease($1)</span></span> </span></p>
<h3><span class="script">web.html($0)</span>()</h3>
<p> </p>
<pre class="script">
/* first parameter: method name */
/* second parameter: version of obsolescence */

var str = "gecko" + $1;

template.obsoleteGeneric("method",str,$0);

%>
