
<div class="noinclude"><span class="script">method_deprecated("MethodName","GeckoVersion")</span><hr />
</div>
<pre class="script">
/* first parameter: method name */
/* second parameter: version of obsolescence */

var str = "gecko" + $1;

template.deprecatedGeneric("method",str,$0);

%>
