<span title="This method may only be called from C++; don't use it from JavaScript." style="border: 1px solid rgb(129, 129, 81); padding: 2px; color: white; background-color: red; font-size: small; font-weight: bold; float: right; vertical-align: middle; white-space: nowrap;">Native code only!</span>
<h3 name="<%= $0 %>()"><%= $0 %>()</h3>
