
<p><span lang="en" class="lang lang-en"><span style="border: 1px solid rgb(129, 129, 81); padding: 2px; background-color: rgb(255, 255, 225); font-size: small; font-weight: bold; float: right; vertical-align: middle; white-space: nowrap;">Requires <span class="script">wiki.pageexists(mediawiki.localurl("en", 'Firefox ' + $1 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $1 + ' for developers|Firefox ' + $1, "en")) : web.html('Firefox ' + $1)</span></span></span></p>
<h3><span class="script">web.html($0)</span>()</h3>
