
<pre class="script">
/* one parameter: Gecko version as of which should only be used in mobile */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var str = "";
var title = "";

switch(lang) {
  default:
    str = "Mobile Only in Gecko " + $0;
    title = "Available only in Firefox Mobile as of Gecko $0 " + template.geckoRelease($0);
    break;
}
<div class="geckoMinversionHeaderTemplate" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(255, 225, 190); font-weight: bold; text-align: center;"><p style="margin: 4px 0px;">(str)</p> <p style="margin: 4px 0px;">(title)</p></div>
</pre>
