<%
var str = "";
var title = "";

switch(env.locale) {
  default:
    str = "Mobile Only in Gecko " + $0;
    title = "Available only in Firefox Mobile as of Gecko " + $0 + " " + template("geckoRelease", [$0]);
    break;
}
%>
<div class="overheadIndicator geckoMinVer geckoMinVerHeader" style="border-color:maroon; background-color: rgb(255, 225, 190);"><p style="margin: 4px 0;"><%=str%></p> <p style="margin: 4px 0;"><%=title%></p></div>
