<tr>
  <td><code>ctrlKey<br /> </code></td>
  <td>boolean</td>
  <td><code>true</code> if the control key was down when the event was fired. <code>false</code> otherwise. <strong>Read only.</strong></td>
</tr>
<tr>
  <td><code>shiftKey<br /> </code></td>
  <td>boolean</td>
  <td><code>true</code> if the shift key was down when the event was fired. <code>false</code> otherwise. <strong>Read only.</strong></td>
</tr>
<tr>
  <td><code>altKey<br /> </code></td>
  <td>boolean</td>
  <td><code>true</code> if the alt key was down when the event was fired. <code>false</code> otherwise. <strong>Read only.</strong></td>
</tr>
<tr>
  <td><code>metaKey<br /> </code></td>
  <td>boolean</td>
  <td><code>true</code> if the meta key was down when the event was fired. <code>false</code> otherwise. <strong>Read only.</strong></td>
</tr>
