<ul>
<li><a href="/en-US/Mozilla_event_reference/mousedown"><code>mousedown</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/mouseup"><code>mouseup</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/mousemove"><code>mousemove</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/click"><code>click</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/dblclick"><code>dblclick</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/mouseover"><code>mouseover</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/mouseout"><code>mouseout</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/mouseenter"><code>mouseenter</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/mouseleave"><code>mouseleave</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/contextmenu"><code>contextmenu</code></a></li>
</ul>
