<span lang='en' class='lang lang-en'>{{mediawiki.external('http://msdn.microsoft.com/en-us/library/' + $0 + '(VS.85).aspx MSDN: ' + $1)}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://msdn.microsoft.com/en-us/library/' + $0 + '(VS.85).aspx MSDN: ' + $1)}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.external('http://msdn.microsoft.com/en-us/library/' + $0 + '(VS.85).aspx MSDN: ' + $1)}}
</span>
