{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $1)}}

<div class="noinclude">
<p>fonte: <a class="external" href="http://developer.mozilla.org/en/docs/Template:named-source">MDC-en</a>
</p>
</div>
