<span lang='en' class='lang lang-en'>{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' ' + $1)}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' ' + $1)}}
</span><span lang='es' class='lang lang-es'>{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' ' + $1)}}
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' ' + $1)}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' ' + $1)}}
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' ' + $1)}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.external('https://bugzilla.mozilla.org/show_bug.cgi?id=' + $0 + ' ' + $1)}}
</span>
