<span lang='en' class='lang lang-en'><span class="comment">1 - Interface Name    - 2 - Named Item</span>{{mediawiki.internal($0 + '|' + $1, "en")}}
</span><span lang='*' class='lang lang-*'><span class="comment">1 - Interface Name    - 2 - Named Item</span>{{mediawiki.internal($0 + '|' + $1, "en")}}
</span><span lang='ja' class='lang lang-ja'><span class="comment">1 - Interface Name    - 2 - Named Item</span>{{mediawiki.internal($0 + '|' + $1, "ja")}}
</span>
