
<p><span lang="en" class="lang lang-en">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|Next', "en")</span> »</p>
</div>
<span class="comment">Comment</span> </span> <span lang="de" class="lang lang-de">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|weiter', "de")</span> »</p>
</div>
<span class="comment">Comment</span></span> <span lang="es" class="lang lang-es">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|Siguiente', "es")</span> »</p>
</div>
<span class="comment">Comment</span> </span> <span lang="ja" class="lang lang-ja">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|次', "ja")</span> »</p>
</div>
<span class="comment">Comment</span> </span> <span lang="ko" class="lang lang-ko">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal('/ko/' + $0 + '|다음', "ko")</span> »</p>
</div>
<span class="comment">주석</span> </span> <span lang="pl" class="lang lang-pl">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|Następny', "pl")</span> »</p>
</div>
<span class="comment">Komentarz</span> </span> <span lang="ru" class="lang lang-ru">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|Next', "ru")</span> »</p>
</div>
<span class="comment">Comment</span> </span> <span lang="zh-cn" class="lang lang-zh-cn">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|Next', "zh-cn")</span> »</p>
</div>
<span class="comment">Comment</span> </span> <span lang="zh-tw" class="lang lang-zh-tw">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|下一頁', "zh-tw")</span> »</p>
</div>
<span class="comment">Comment</span> </span> <span lang="*" class="lang lang-*">
<div class="prevnext">
<p align="right"><span class="script">mediawiki.internal($0 + '|Next', "en")</span> »</p>
</div>
<span class="comment">Comment</span> </span></p>
