
<p> </p>
<pre class="script">
/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = u.path[0];
if(string.Contains(lang, "project") || string.Contains(lang, "Project")) {
 lang = string.Substr(lang, 8);
}

/* assume English */

var nextStr = 'Next »';

/* fix for other languages */

if (!string.compare(lang, "de", true)) {
  nextStr = "weiter »";
} else if (!string.compare(lang, "es", true)) {
  nextStr = "Siguiente »";
} else if (!string.compare(lang, "ja", true)) {
  nextStr = "次 »";
} else if (!string.compare(lang, "ko", true)) {
  nextStr = "다음 »";
} else if (!string.compare(lang, "pl", true)) {
  nextStr = "Następny »";
} else if (!string.compare(lang, "ru", true)) {
  nextStr = "Следующая статья »";
} else if (!string.compare(lang, "zh-tw", true)) {
  nextStr = "次頁 »";
}

<div class="prevnext">
<p align="right">(web.link(wiki.uri($1), nextStr))</p>
</div>
<br />
</pre>
