<%
/* get the page language */
var lang = env.locale;

var str = "Non-standard";

switch(lang) {
  case 'de':
    str = "Kein Standard";
    break;
  case 'fr':
    str = "Non standard";
    break;
  case 'ja':
    str = "非標準";
    break;
  case 'pl':
    str = "Niestandardowy";
    break;
  case 'ru':
    str = "Не стандартно";
    break;
  case 'zh-cn':
    str = "未标准化";
    break;
}
%>
<div style="overflow:hidden; border: 1px solid #FFB752; background-color: #FEE3BC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
  <p style="margin: 4px 0px 4px 0px;">
    <%= str %>
  </p>
</div>
