<%
/*
 * first parameter: inline/header
*/

var str = mdn.localString({
  "en-US": "Non-standard",
  "de":    "Kein Standard",
  "es":    "No estándar",
  "fr":    "Non standard",
  "ja":    "非標準",
  "pl":    "Niestandardowy",
  "ru":    "Не стандартно",
  "zh-CN": "非标准",
  "zh-TW": "非標準"
});

switch($0) {
  case 'inline':
    %><span class="inlineIndicator nonStandard nonStandardInline"><%-str%></span><%
    break;
  case 'header':
    %><div class="overheadIndicator nonStandard nonStandardHeader">
      <p><%-str%></p>
      </div><%
    break;
}
%>
