<%
/*
 * first parameter: inline/header
*/

var str_inline = mdn.localString({
  "en-US": "Non-standard2",
  "de":    "Kein Standard",
  "es":    "No estándar",
  "fr":    "Non standard",
  "ja":    "非標準",
  "pl":    "Niestandardowy",
  "ru":    "Не стандартно",
  "zh-CN": "非标准",
  "zh-TW": "非標準"
});

var str_long = mdn.localString({
  "en-US": "This feature is non-standard and is not on a standards track. Do not use it on production sites facing the Web: it will not work for every user. There may also be large incompatibilities between implementations and the behavior may change in the future.",
  "de":    "",
  "es":    "",
  "fr":    "Cette fonctionnalité n'est ni standard, ni en voie de standardisation. Ne l'utilisez pas pour des sites accessibles sur le Web: elle ne fonctionnera pas pour tout utilisateur. Il peut également y avoir d'importantes incompatibilité entre les implémentations et son comportement peut être modifié dans le futur.",
  "ja":    "",
  "pl":    "",
  "ru":    "",
  "zh-CN": "",
  "zh-TW": ""
});

switch($0) {
  case 'inline':
    %><span class="inlineIndicator nonStandard nonStandardInline"><%-str_inline%></span><%
    break;
  case 'header':
    %><div class="overheadIndicator nonStandard nonStandardHeader">
      <p><%-str_inline%></p>
      <p><%-str_long%></p>
      </div><%
    break;
}
%>
