<%
var s_text = mdn.localString({
  "en-US": "Non-standard",
  "de":    "Kein Standard",
  "fr":    "Non standard",
  "ja":    "非標準",
  "zh-cn": "非标准",
  "zh-tw": "非標準",
  "pl":    "Niestandardowy"
});
%>
<span class="nonStandardInlineTemplate" style="border: 1px solid #FFD599; background: #FFEFD9;font-size: x-small; white-space: nowrap; padding: 2px;"><%= s_text %></span>
