
<p><span lang="en" class="lang lang-en">
<div class="note"><strong>Note:</strong> <span class="script">web.html($0)</span></div>
</span><span lang="*" class="lang lang-*">
<div class="note"><strong>Note:</strong> <span class="script">web.html($0)</span></div>
</span><span lang="es" class="lang lang-es">
<div class="note"><strong>Nota:</strong> <span class="script">web.html($0)</span></div>
</span><span lang="fr" class="lang lang-fr">
<div class="note"><strong>Note :</strong> <span class="script">web.html($0)</span></div>
</span><span lang="pl" class="lang lang-pl">
<div class="note"><strong>Uwaga:</strong> <span class="script">web.html($0)</span></div>
</span><span lang="ja" class="lang lang-ja">
<div class="note"><strong>註:</strong> <span class="script">web.html($0)</span></div>
</span><span lang="ko" class="lang lang-ko"> <blockquote>
<div class="note"><strong>주의:</strong> <span class="script">web.html($0)</span></div>
</blockquote> </span><span lang="zh-tw" class="lang lang-zh-tw"> <blockquote>
<div class="note"><strong>註：</strong> <span class="script">web.html($0)</span></div>
</blockquote> </span> <span lang="de" class="lang lang-de">
<div class="note"><strong>Hinweis:</strong> <span class="script">web.html($0)</span></div>
</span></p>
