
<pre class="script">
/* Purpose: Important paragraphs, NOT endnotes or footnotes */

/* get page language first */
var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

/* defaults to English */
var note = "Note:";

switch(lang) {
  case "de":
    var note = "Hinweis:";
    break;
  case "es":
    var note = "Nota:";
    break;
  case "fr":
    var note = "Note:";
    break;
  case "ja":
    var note = "註:";
    break;
  case "ko":
    var note = "주의:";
    break;
  case "pl":
    var note = "Uwaga:";
    break;
  case "zh-tw":
    var note = "註：";
    break;
}

<div class="note"><strong>web.html(note)</strong>&nbsp;web.html($0)</div>
</pre>
