<%
/* Presents a "target page not found" page. */
/* Parameters: */
/*   $0: target URL that wasn't found */
/*   $1: search term (or empty string to not offer search of MXR) */
/*   $2: URL of relevant file on mozilla-central (optional) */

/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = string.toLower(u.path[0]);
if(string.Contains(lang, "project")) {
 lang = string.Substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var str = "The page you're trying to visit (" + $0 + ") doesn't exist yet. If you'd like, you can <a href='https://developer.mozilla.org/index.php?title=Special:Userlogin&returntotitle=" + $0 + "'>log in</a> and create it.";

switch(lang) {
  case 'de':
    str = "The page you're trying to visit (" + $0 + ") doesn't exist yet. If you'd like, you can log in and create it.";
    break;
}

web.html(str); /* primary text */

<script type="text/javascript"><![CDATA[
        $(function() {
            $('.htab').append($('#source-text'));
            $('.htab').append($('#source-search'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    ]]></script>
<div class="htab"><a name="SearchTable" />
	<ul>
		<li class="selected">Source Text</li>
		<li>Source Search</li>
	</ul>
</div>

<div id="source-text">
if ($2) {
  web.html("http://mxr.mozilla.org/mozilla-central/source/" + $2);
} else {
  web.html("We don't have a source link to suggest; try the Source Search tab.");
}
</div>
<div id="source-search">
if ($1) {
  web.html("http://mxr.mozilla.org/mozilla-central/ident?i=" + $1);
} else {
  web.html("We have no search term to try a search for you.");
}
</div>
%>
