<%
/* Presents a "target page not found" page. */
/* Parameters: */
/*   $0: target URL that wasn't found */
/*   $1: search term (or empty string to not offer search of MXR) */
/*   $2: URL of relevant file on mozilla-central (optional) */

/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = string.toLower(u.path[0]);
if(string.Contains(lang, "project")) {
 lang = string.Substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

/* root URLs for the options */

var sourceUrl = "http://mxr.mozilla.org/mozilla-central/source/";
var searchUrl = "http://mxr.mozilla.org/mozilla-central/ident?i=";
var loginUrl = "https://developer.mozilla.org/index.php?title=Special:Userlogin&returntotitle=";

/* Heading strings in English; localize in the switch below */

var heading = "That page doesn't exist yet";
var optionsHeading = "You have options";

/* Section body texts; localize in the switch below */

var intro = "The page you're trying to visit (" + $0 + ") doesn't exist yet. Either you came upon a bad link or you've discovered a link to an article that nobody has written yet.";

var optionsText = "<p>Here are some things things you can do now:<p><ul>";

optionsText = optionsText + "<li><a href=" + loginUrl + $0 + ">Log in</a> and create the page! We're always looking for help adding new material to our documentation.</li>";

if ($2) {
  optionsText = optionsText + "<li>Read the related source or header file: " + Source($2) + "</li>";
}

if ($1) {
  optionsText = optionsText + "<li>" + LXRSearch("ident", "string", $1) + "</li>";
}

switch(lang) {
  case 'de':
    intro = "The page you're trying to visit (" + $0 + ") doesn't exist yet. If you'd like, you can log in and create it.";
    break;
}

optionsText = optionsText + "</ul>";

/* generate output */

web.html("<h2>" + heading + "</h2>");
web.html("<p>" + intro + "</p>"); /* primary introductory text */
web.html("<h2>" + optionsHeading + "</h2>");
web.html(optionsText);
</pre>
