<span lang='en' class='lang lang-en'>« <a href="en/Gecko_Plugin_API_Reference">Gecko Plugin API Reference</a> « <a href="en/Gecko_Plugin_API_Reference/Scripting_plugins">Scripting plugins</a>
</span><span lang='*' class='lang lang-*'>« <a href="en/Gecko_Plugin_API_Reference">Gecko Plugin API Reference</a> « <a href="en/Gecko_Plugin_API_Reference/Scripting_plugins">Scripting plugins</a>
</span>
