<span lang='en' class='lang lang-en'>« <a href="en/Gecko_Plugin_API_Reference">Gecko Plugin API Reference</a> « <a href="en/Gecko_Plugin_API_Reference/Plug-in_Side_Plug-in_API">Plug-in Side Plug-in API</a>
</span><span lang='*' class='lang lang-*'>« <a href="en/Gecko_Plugin_API_Reference">Gecko Plugin API Reference</a> « <a href="en/Gecko_Plugin_API_Reference/Plug-in_Side_Plug-in_API">Plug-in Side Plug-in API</a>
</span><span lang='ja' class='lang lang-ja'>« <a href="ja/Gecko_Plugin_API_Reference">Gecko Plugin API Reference</a> « <a href="ja/Gecko_Plugin_API_Reference/Plug-in_Side_Plug-in_API">Plug-in Side Plug-in API</a>
</span>
