
<p><span lang="en" class="lang lang-en"><span class="script">web.link('Gecko Plugin API Reference:' + $0 + '#' + $1, $1)</span> </span></p>
<p><span lang="de" class="lang lang-de"><span class="script">web.link('Gecko_Plugin_API_Referenz/' + $0 + '#' + $1, $1)</span></span></p>
<div class="noinclude">
<p>See <a title="Talk:en/Gecko_Plugin_API_Reference" href="/Talk:en/Gecko_Plugin_API_Reference">Talk:Gecko Plugin API Reference</a> for usage guidelines.</p>
</div>
<p><span lang="*" class="lang lang-*"><span class="script">web.link('Gecko Plugin API Reference:' + $0 + '#' + $1, $1)</span> </span></p>
<div class="noinclude">
<p>See <a title="Talk:en/Gecko_Plugin_API_Reference" href="/Talk:en/Gecko_Plugin_API_Reference">Talk:Gecko Plugin API Reference</a> for usage guidelines.</p>
</div>
<p><span lang="ja" class="lang lang-ja"><span class="script">mediawiki.internal('Gecko Plugin API Reference:' + $0 + '#' + $1 + '|' + $1, "ja")</span> </span><span lang="pl" class="lang lang-pl"><span class="script">mediawiki.internal('Dokumentacja wtyczek Gecko:' + $0 + '#' + $1 + '|' + $1, "pl")</span>
<div class="noinclude">
<p>Zobacz również <a title="Talk:pl/Dokumentacja_wtyczek_Gecko" href="/Talk:pl/Dokumentacja_wtyczek_Gecko">Dyskusja:Dokumentacja wtyczek Gecko</a>.</p>
</div></span></p>
