<a href="en/Gecko_Plugin_API_Reference">{{web.html($0)}}|{{web.html($0)}}</a><div class="noinclude">
<p>See <a href="Talk:en/Gecko_Plugin_API_Reference">Talk:Gecko Plugin API Reference</a> for usage guidelines.
</p>
</div>
