{{mediawiki.internal('Dokumentacja wtyczek Gecko:' + $0 + '#' + $1 + '|' + $1, "pl")}}<div class="noinclude">
<p>Zobacz rowniez <a href="Talk:pl/Dokumentacja_wtyczek_Gecko">Talk:Dokumentacja wtyczek Gecko</a>.
</p>
</div>
