<span lang='en' class='lang lang-en'>{{mediawiki.internal('Gecko Plugin API Reference:' + $0 + '#' + $1 + '|' + $1, "en")}}<div class="noinclude">
<p>See <a href="Talk:en/Gecko_Plugin_API_Reference">Talk:Gecko Plugin API Reference</a> for usage guidelines.
</p>
</div>
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('Gecko Plugin API Reference:' + $0 + '#' + $1 + '|' + $1, "en")}}<div class="noinclude">
<p>See <a href="Talk:en/Gecko_Plugin_API_Reference">Talk:Gecko Plugin API Reference</a> for usage guidelines.
</p>
</div>
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal('Gecko Plugin API Reference:' + $0 + '#' + $1 + '|' + $1, "ja")}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal('Dokumentacja wtyczek Gecko:' + $0 + '#' + $1 + '|' + $1, "pl")}}<div class="noinclude">
<p>Zobacz również <a href="Talk:pl/Dokumentacja_wtyczek_Gecko">Dyskusja:Dokumentacja wtyczek Gecko</a>.
</p>
</div>
</span>
