
<p><span lang="en" class="lang lang-en"><code><span class="script">web.link("en/" . $0, $0)</span></code> </span><span lang="*" class="lang lang-*"><code><span class="script">web.link("en/" . $0, $0)</span></code> </span><span lang="ja" class="lang lang-ja"><code><span class="script">mediawiki.internal($0, "ja")</span></code> </span><span lang="pl" class="lang lang-pl"><code><span class="script">mediawiki.internal($0, "pl")</span></code> </span></p>
