
<p><span lang="en" class="lang lang-en"><code><span class="script">web.link("/en/" + $0, $0)</span></code></span><span lang="*" class="lang lang-*"><code><span class="script">web.link("/en/" + $0, $0)</span></code> </span><span lang="ja" class="lang lang-ja"><code><span class="script">web.link("/ja/" + $0, $0)</span></code> </span><span lang="pl" class="lang lang-pl"><code><span class="script">web.link("/pl/" + $0, $0)</span></code> </span></p>
