
<p><span lang="en" class="lang lang-en"><span class="script">web.link('Gecko Plugin API Reference:' + $0 + '#' + $1, $1)</span> </span></p>
<pre class="script">
/* get the page language */
var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var langName = "Gecko Plugin API Reference";

switch(lang) {
  case 'pl':
    langName = "Dokumentacja wtyczek Gecko";
    break;
  case 'de':
    langName = "Gecko Plugin API Referenz";
    break;
}
var destOldType = lang + '/' + langName + ':' + $0 + '#' +$1;
var destNewType = lang + '/' + langName + '/' + $0 + '#' +$1;

if (wiki.pageExists(destNewType)) {
 (web.link(wiki.uri(destNewType), $1))
} else if (wiki.pageExists(destOldType)) {
  (web.link(wiki.uri(destOldType), $1))
} else {
<a href="wiki.uri(destNewType)" rel="internal" class="new">$1</a>
}

%>
