<%
// Inserts a link to an API located at the top level of the site;
// these should really move to where they actually belong, but there you go.
//
//  $0 - Name of API
%>
    <code><a href="<%-wiki.uri("/" + env.locale + "/" + $0)%>"><%-$0%></a></code>
