<span class="comment">temporary, until breadcrumbs work with breadcrumbs>path:to:article</breadcrumbs</span>

< <a href="ja/NSPR_API_Reference">NSPR API リファレンス</a> < {{mediawiki.internal('NSPR API Reference:' + $0 + '|' + $0, "ja")}} <div class="includeonly"></div>
