<span lang='cs' class='lang lang-cs'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:cs/Obsah">Obsah</a></big>
</dt><dd> <a href="Project:cs/Jak_pomoci">Jak pomoci</a>
</dd><dt> Návody
</dt><dd> <a href="Project:cs/Jak_za%c4%8d%c3%adt">Jak začít</a>
</dd><dd> <a href="Project:cs/Pr%c5%afvodce_p%c5%99ekladatele">Průvodce překladatele</a>
</dd><dd> <a href="Project:cs/N%c3%a1zvy_str%c3%a1nek">Názvy stránek</a>
</dd><dd> <a href="Project:cs/Autorsk%c3%a1_pr%c3%a1va">Autorská práva</a>
</dd><dt> Příručky
</dt><dd> <a href="Project:cs/P%c5%99%c3%adru%c4%8dka_Wiki">Příručka Wiki</a>
</dd><dd> <a href="Project:cs/Vlastn%c3%ad_CSS_t%c5%99%c3%addy">Vlastní CSS třídy</a>
</dd><dd> <a href="Project:cs/Vlastn%c3%ad_%c5%a1ablony">Vlastní šablony</a>
</dd><dd> <a href="Project:cs/Roz%c5%a1%c3%ad%c5%99en%c3%ad_MediaWiki">Rozšíření MediaWiki</a>
</dd><dd> <a href="Project:cs/Extern%c3%ad_p%c5%99esm%c4%9brov%c3%a1n%c3%ad">Externí přesměrování</a>
</dd></dl>
<div class="includeonly"></div></div>
</span><span lang='*' class='lang lang-*'><div style="float:right; border:solid #777 1px; padding: 0px 15px 5px 15px; margin: 0px 0px 15px 15px; background-color:#EEE; font-size:0.85em;">
<dl><dt> <big><a href="Project:cs/Obsah">Obsah</a></big>
</dt><dd> <a href="Project:cs/Jak_pomoci">Jak pomoci</a>
</dd><dt> Návody
</dt><dd> <a href="Project:cs/Jak_za%c4%8d%c3%adt">Jak začít</a>
</dd><dd> <a href="Project:cs/Pr%c5%afvodce_p%c5%99ekladatele">Průvodce překladatele</a>
</dd><dd> <a href="Project:cs/N%c3%a1zvy_str%c3%a1nek">Názvy stránek</a>
</dd><dd> <a href="Project:cs/Autorsk%c3%a1_pr%c3%a1va">Autorská práva</a>
</dd><dt> Příručky
</dt><dd> <a href="Project:cs/P%c5%99%c3%adru%c4%8dka_Wiki">Příručka Wiki</a>
</dd><dd> <a href="Project:cs/Vlastn%c3%ad_CSS_t%c5%99%c3%addy">Vlastní CSS třídy</a>
</dd><dd> <a href="Project:cs/Vlastn%c3%ad_%c5%a1ablony">Vlastní šablony</a>
</dd><dd> <a href="Project:cs/Roz%c5%a1%c3%ad%c5%99en%c3%ad_MediaWiki">Rozšíření MediaWiki</a>
</dd><dd> <a href="Project:cs/Extern%c3%ad_p%c5%99esm%c4%9brov%c3%a1n%c3%ad">Externí přesměrování</a>
</dd></dl>
<div class="includeonly"></div></div>
</span>
