
<div class="noinclude"><span class="script">obsolete_header(<span class="nowiki">"1.9.1"</span>)</span> (note that the parameter is optional)<hr />
</div>
<pre class="script">
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var str = "Obsolete";

/* Two paths, one for Gecko version, one without. */
/* Allows languages with different to English */
/*  sentence structures more flexibility. */

if ($0) {
  /* Work around of Gecko 1.9.3 renamed to 2. */
  if ($0 == "1.9.3") {
    $0 = "2";
  }

  str = "Obsolete in Gecko " + $0 + " " + geckoRelease($0);

  switch(lang) {
    case 'de':
      str = "Veraltet Gecko " + $0 + " " + geckoRelease($0);
      break;
    case 'fr':
      str = "Obsolète Gecko " + $0 + " " + geckoRelease($0);
      break;
    case 'ja':
      str = "廃止 Gecko " + $0 + " " + geckoRelease($0);
      break;
    case 'pl':
      str = "Przestarzały Gecko " + $0 + " " + geckoRelease($0);
      break;
  }
}
else {
  switch(lang) {
    case 'de':
      str = "Veraltet";
      break;
    case 'fr':
      str = "Obsolète";
      break;
    case 'ja':
      str = "廃止";
      break;
    case 'pl':
      str = "Przestarzały";
      break;
  }
}

<div style="overflow:hidden; border: 1px solid #FF0000; background-color: #FEBCBC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
  <p style="margin: 4px 0px 4px 0px;">
    str;
  </p>
</div>

%>
