
<div class="noinclude"><span class="script">obsolete_header(<span class="nowiki">"1.9.1"</span>)</span> (note that the parameter is optional)<hr />
</div>
<p><span lang="en" class="lang lang-en">
<div style="overflow:hidden; border: 1px solid #FF5151; background-color: #FEBCBC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Obsolete <span class="script"> if ($0) { ' in Gecko ' + $0 }</span></p>
</div>
</span><span lang="*" class="lang lang-*">
<div style="overflow:hidden; border: 1px solid #FF5151; background-color: #FEBCBC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Obsolete <span class="script"> if ($0) { ' in Gecko ' + $0 }</span></p>
</div>
</span><span lang="de" class="lang lang-de">
<div style="overflow:hidden; border: 1px solid #FF5151; background-color: #FEBCBC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Veraltet <span class="script"> if ($0) { ' Gecko ' + $0 }</span></p>
</div>
</span><span lang="fr" class="lang lang-fr">
<div style="overflow:hidden; border: 1px solid #FF5151; background-color: #FEBCBC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Obsolète <span class="script"> if ($0) { ' Gecko ' + $0 }</span></p>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="overflow:hidden; border: 1px solid #FF5151; background-color: #FEBCBC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">廃止 <span class="script"> if ($0) { ' Gecko ' + $0 }</span></p>
</div>
</span><span lang="pl" class="lang lang-pl">
<div style="overflow:hidden; border: 1px solid #FF0000; background-color: #FEBCBC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Przestarzały <span class="script"> if ($0) { ' Gecko ' + $0 }</span></p>
</div>
</span></p>
