<table class="standard-table"><tbody>
  <tr>
    <td class="header">Property</td>
    <td class="header">Description</td>
  </tr>
  <tr>
    <td>type</td>
    <td>The type of event.</td>
  </tr>
  <tr>
    <td>target</td>
    <td>The event target (the topmost target in the DOM tree).</td>
  </tr>
  <tr>
    <td>currentTarget</td>
    <td>The node that had the event listener attached.</td>
  </tr>
