<table class="standard-table"><tbody>
  <tr>
    <td class="header" width="150">Property</td>
    <td class="header" width="100">Type</td>
    <td class="header">Description</td>
  </tr>
 <% if ( $0 != "false" ) { %>
 <tr>
    <td><code>target</code></td>
    <td>EventTarget (DOM element)</td>
    <td><%= ( $0 || "The event target (the topmost target in the DOM tree)." ) %> Read Only.</td>
 </tr>
 <% } %>
  <tr>
    <td><code>type</code></td>
    <td>string</td>
    <td>The type of event. Read only.</td>
  </tr>
  <tr>
    <td><code>canBubble</code></td>
    <td>boolean</td>
    <td>Does the event normally bubble? Read only.</td>
  </tr>
  <tr>
    <td><code>cancelable</code></td>
    <td>boolean</td>
    <td>Is it possible to cancel the event? Read only.</td>
  </tr>
