<%
var attr = "";
if ($0){
  attr = geckoRelease($0);
}
switch(page.language){
  case 'zh-tw':
    <span style="border: 1px solid #9ED2A4; background-color: #C0FFC7; font-size: x-small; white-space: nowrap; padding: 2px;" title=(attr)>($0 ? '自 Gecko ' + $0 + '開始變為' : '') + "選擇性"</span>
    break;
  case 'zh-cn':
    <span style="border: 1px solid #9ED2A4; background-color: #C0FFC7; font-size: x-small; white-space: nowrap; padding: 2px;" title=(attr)>"可选" + ($0 ? '试用于Gecko ' + $0 : '')</span>
    break;
  default: /*en*/
    <span style="border: 1px solid #9ED2A4; background-color: #C0FFC7; font-size: x-small; white-space: nowrap; padding: 2px;" title=(attr)>"Optional" + ($0 ? ' from Gecko ' + $0 : '')</span>
    break;
}
</pre>
<p class="noinclude"><span class="script">optional_inline("1.9.1")</span> (note that the parameter is optional)</p>
