<div class="originaldocinfo">
<h3 name="Original_Document_Information">Original Document Information</h3>
<ul><li> Author(s): {{web.html($author)}}
</li><li> Other Contributors: {{web.html($others)}}
</li><li> Last Updated Date: {{web.html($last_date)}}
</li><li> Copyright Information: {{web.html($copyright)}}
</li></ul>
</div>
