<div class="originaldocinfo">
<h3 name=".E5.8E.9F.E6.96.87.E6.9B.B8.E3.81.AE.E6.83.85.E5.A0.B1"> 原文書の情報 </h3>
<ul><li> 著者: {{web.html($0)}}
</li><li> 貢献者: {{web.html($1)}}
</li><li> 最終変更日: {{web.html($2)}}
</li><li> 著作権: {{web.html($3)}}
</li></ul>
</div>
