<div class="originaldocinfo">
<h3 name="Original_Document_Information"> Original Document Information </h3>
<ul><li> 作者: {{web.html($0)}}
</li><li> 貢献者: {{web.html($1)}}
</li><li> 最終更新: {{web.html($2)}}
</li><li> 著作権: {{web.html($3)}}
</li></ul>
</div>
