<div class="originaldocinfo">
<h3 name="Original_Document_Information"> Original Document Information </h3>
<ul><li> Author(s): {{template.Author()}}
</li><li> Other Contributors: {{template.Contributors()}}
</li><li> Last Updated Date: {{template.Lastupdated()}}
</li><li> Copyright Information: {{template.Copyright()}}
</li></ul>
</div>
