
<div class="noinclude"><span class="script">template.outdated("trallala")</span><hr />
</div>
<p><span lang="en" class="lang lang-en"><span class="script">wiki.template('Warning', mediawiki.args(['<b>The content of this article may be out of date.</b> ' + ($0 || '')]))</span></span> <span lang="*" class="lang lang-*"><span class="script">wiki.template('Warning', mediawiki.args(['<b>The content of this article may be out of date.</b> ' + ($0 || '')]))</span></span> <span lang="de" class="lang lang-de"><span class="script">wiki.template('Warning', mediawiki.args(['<b>Dieser Artikel ist möglicherweise veraltet.</b> ' + ($0 || '')]))</span></span> <span lang="ja" class="lang lang-ja"><span class="script">wiki.template('Warning', mediawiki.args(['<b>この記事の内容は古くなっている可能性があります。</b> ' + ($0 || '')]))</span> </span></p>
