<span lang='en' class='lang lang-en'>{{wiki.template('Warning', mediawiki.args(['<b>The content of this article may be out of date.</b>  ' + ($0 || '')]))}}

<div class="includeonly">
</div>
</span><span lang='*' class='lang lang-*'>{{wiki.template('Warning', mediawiki.args(['<b>The content of this article may be out of date.</b>  ' + ($0 || '')]))}}

<div class="includeonly">
</div>
</span><span lang='ja' class='lang lang-ja'>{{wiki.template('Warning', mediawiki.args(['<b>この記事の内容は古くなっている可能性があります。</b>  ' + ($0 || '')]))}}

<div class="includeonly">
</div>
</span>
