<%

/*

two parameters:

$0: Platform you want to declare specific support for, e.g. "Firefox Desktop", "Firefox Mobile", "Desktop", "Mobile", "Mac OS X", "Firefox OS"
$1: Gecko version feature is supported in mobile or desktop (optional if specific version number is required)

*/

var str = "";
var title = "";
if($1) { 
    str = mdn.localString({
        "en-US": $0 + " "  + $1 + " Only",
        "zh-CN": "只支持Gecko移动设备" + ($1 ? ("(Gecko" + $1 +"以上)") : "")
    });

    title = mdn.localString({
        "en-US": "Available only in " + $0 + " " + $1,
        "zh-CN": "只在内核为Gecko " + ($1 ? ($1 + " " + template(geckoRelease, [$1]) + "以上版本") : "") + "的" + $0 + "中可用"
    });
} else {
    str = mdn.localString({
        "en-US": $0 + " Only"
    });

    title = mdn.localString({
        "en-US": $0 + " Only"
    });
}

%><span title=<%= title %> class="inlineIndicator optional optionalInline"><%= str %></span>
