<span lang='cs' class='lang lang-cs'><cite id="{{'endnote_' + $0}}">{{mediawiki.internal('#ref_' + $0 + '|<b>^</b>', "cs")}}</cite> 
</span><span lang='*' class='lang lang-*'><cite id="{{'endnote_' + $0}}">{{mediawiki.internal('#ref_' + $0 + '|<b>^</b>', "cs")}}</cite> 
</span>
