
<p><span lang="en" class="lang lang-en"><span class="script">web.link('#' + $0 + $1, (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)))</span>
<div class="noinclude">
<p>Usage:</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>or,</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span> <span lang="es" class="lang lang-es"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "es")</span>
<div class="noinclude">
<p>Uso:</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>o,</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span> <span lang="*" class="lang lang-*"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "en")</span>
<div class="noinclude">
<p>Usage:</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>or,</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span><span lang="de" class="lang lang-de"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "de")</span>
<div class="noinclude">
<p>Benutzung:</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>oder,</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span><span lang="fr" class="lang lang-fr"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "fr")</span>
<div class="noinclude">
<p>Utilisation :</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>ou,</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span><span lang="ja" class="lang lang-ja"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "ja")</span> </span><span lang="ko" class="lang lang-ko"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + $1, "ko")</span> </span><span lang="pl" class="lang lang-pl"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + $1, "pl")</span> </span><span lang="zh-cn" class="lang lang-zh-cn"><span class="script">mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "zh-cn")</span>
<div class="noinclude">
<p>Usage:</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>or,</p>
<pre class="eval">
 <span class="nowiki">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span></p>
