<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><b><a href="ja/Preferences_System">設定システム</a>の資料:</b>
</p>
<ul><li> 簡単な紹介: <a href="ja/Preferences_System/Getting_Started">Getting Started</a> | <a href="ja/Preferences_System/Examples">サンプル</a>
</li><li> リファレンス: <a href="ja/Preferences_System/prefwindow"><prefwindow></a> | <a href="ja/Preferences_System/prefpane"><prefpane></a> | <a href="ja/Preferences_System/preferences"><preferences></a> | <a href="ja/Preferences_System/preference"><preference></a> | <a href="ja/Preferences_System/New_attributes">新しい属性</a>
</li></ul>
</div> <div class="includeonly"></div>
