
<p><span lang="en" class="lang lang-en">
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong><a title="en/Preferences_System" href="/en/Preferences_System">Preferences System</a> documentation:</strong></p>
<ul> <li>Introduction: <a title="en/Preferences_System/Getting_Started" href="/en/Preferences_System/Getting_Started">Getting Started</a> | <a title="en/Preferences_System/Examples" href="/en/Preferences_System/Examples">Examples</a> | <a title="en/Preferences_System/Troubleshooting" href="/en/Preferences_System/Troubleshooting">Troubleshooting</a></li> <li>Reference: <a title="en/XUL/prefwindow" href="/en/XUL/prefwindow"><prefwindow></a> | <a title="en/XUL/prefpane" href="/en/XUL/prefpane"><prefpane></a> | <a title="en/XUL/preferences" href="/en/XUL/preferences"><preferences></a> | <a title="en/Preferences_System/preference" href="/en/Preferences_System/preference"><preference></a> | <a title="en/Preferences_System/New_attributes" href="/en/Preferences_System/New_attributes">New attributes</a></li>
</ul>
</div>
</span><span lang="*" class="lang lang-*">
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong><a title="en/Preferences_System" href="/en/Preferences_System">Preferences System</a> documentation:</strong></p>
<ul> <li>Introduction: <a title="en/Preferences_System/Getting_Started" href="/en/Preferences_System/Getting_Started">Getting Started</a> | <a title="en/Preferences_System/Examples" href="/en/Preferences_System/Examples">Examples</a> | <a title="en/Preferences_System/Troubleshooting" href="/en/Preferences_System/Troubleshooting">Troubleshooting</a></li> <li>Reference: <a title="en/XUL/prefwindow" href="/en/XUL/prefwindow"><prefwindow></a> | <a title="en/XUL/prefpane" href="/en/XUL/prefpane"><prefpane></a> | <a title="en/XUL/preferences" href="/en/XUL/preferences"><preferences></a> | <a title="en/Preferences_System/preference" href="/en/Preferences_System/preference"><preference></a> | <a title="en/Preferences_System/New_attributes" href="/en/Preferences_System/New_attributes">New attributes</a></li>
</ul>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong><a title="ja/Preferences_System" href="/ja/Preferences_System">設定システム</a>の資料:</strong></p>
<ul> <li>簡単な紹介: <a title="ja/Preferences_System/Getting_Started" href="/ja/Preferences_System/Getting_Started">Getting Started</a> | <a title="ja/Preferences_System/Examples" href="/ja/Preferences_System/Examples">サンプル</a> | <a title="ja/Preferences_System/Troubleshooting" href="/ja/Preferences_System/Troubleshooting">トラブルシューティング</a></li> <li>リファレンス: <a title="ja/Preferences_System/prefwindow" href="/ja/Preferences_System/prefwindow"><prefwindow></a> | <a title="ja/Preferences_System/prefpane" href="/ja/Preferences_System/prefpane"><prefpane></a> | <a title="ja/Preferences_System/preferences" href="/ja/Preferences_System/preferences"><preferences></a> | <a title="ja/Preferences_System/preference" href="/ja/Preferences_System/preference"><preference></a> | <a title="ja/Preferences_System/New_attributes" href="/ja/Preferences_System/New_attributes">新しい属性</a></li>
</ul>
</div>
</span><span lang="ko" class="lang lang-ko">
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong><a title="ko/Preferences_System" href="/ko/Preferences_System">Preferences System</a> 문서:</strong></p>
<ul> <li>소개: <a title="ko/Preferences_System/Getting_Started" href="/ko/Preferences_System/Getting_Started">시작하기</a> | <a title="ko/Preferences_System/Examples" href="/ko/Preferences_System/Examples">예제</a> | <a title="ko/Preferences_System/Troubleshooting" href="/ko/Preferences_System/Troubleshooting">문제 해결하기</a></li> <li>참조: <a title="ko/Preferences_System/prefwindow" href="/ko/Preferences_System/prefwindow"><prefwindow></a> | <a title="ko/Preferences_System/prefpane" href="/ko/Preferences_System/prefpane"><prefpane></a> | <a title="ko/Preferences_System/preferences" href="/ko/Preferences_System/preferences"><preferences></a> | <a title="ko/Preferences_System/preference" href="/ko/Preferences_System/preference"><preference></a> | <a title="ko/Preferences_System/New_attributes" href="/ko/Preferences_System/New_attributes">새 속성</a></li>
</ul>
</div>
</span><span lang="pl" class="lang lang-pl">
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong>Dokumentacja <a title="pl/System_preferencji" href="/pl/System_preferencji">Systemu preferencji</a>:</strong></p>
<ul> <li>Wprowadzenie: <a title="pl/System_preferencji/Na_początek" href="/pl/System_preferencji/Na_początek">Na początek</a> | <a title="pl/System_preferencji/Przykłady" href="/pl/System_preferencji/Przykłady">Przykłady</a> | <a title="pl/Preferences_System/Usuwanie_nieprawidłowości" href="/pl/Preferences_System/Usuwanie_nieprawidłowości">Usuwanie nieprawidłowości</a></li> <li>Dokumentacja: <a title="pl/System_preferencji/prefwindow" href="/pl/System_preferencji/prefwindow"><prefwindow></a> | <a title="pl/System_preferencji/prefpane" href="/pl/System_preferencji/prefpane"><prefpane></a> | <a title="pl/System_preferencji/preferences" href="/pl/System_preferencji/preferences"><preferences></a> | <a title="pl/System_preferencji/preference" href="/pl/System_preferencji/preference"><preference></a> | <a title="pl/System_preferencji/Nowe_atrybuty" href="/pl/System_preferencji/Nowe_atrybuty">Nowe atrybuty</a></li>
</ul>
</div>
</span></p>
