<span lang='en' class='lang lang-en'>{{mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "en")}}<div class="noinclude">
<p>Usage:
</p>
<pre class="eval"> <span class="plain">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>or,
</p>
<pre class="eval"> <span class="plain">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "en")}}<div class="noinclude">
<p>Usage:
</p>
<pre class="eval"> <span class="plain">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>or,
</p>
<pre class="eval"> <span class="plain">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span><span lang='de' class='lang lang-de'>{{mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "de")}}<div class="noinclude">
<p>Benutzung:
</p>
<pre class="eval"> <span class="plain">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>oder,
</p>
<pre class="eval"> <span class="plain">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "fr")}}<div class="noinclude">
<p>Utilisation :
</p>
<pre class="eval"> <span class="plain">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>ou,
</p>
<pre class="eval"> <span class="plain">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "ja")}}
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.internal('#' + $0 + $1 + '|' + $1, "ko")}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal('#' + $0 + $1 + '|' + $1, "pl")}}
</span><span lang='zh-cn' class='lang lang-zh-cn'>{{mediawiki.internal('#' + $0 + $1 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($1)), "zh-cn")}}<div class="noinclude">
<p>Usage:
</p>
<pre class="eval"> <span class="plain">{{prefAnch|a-|label.value|value}}</span>
</pre>
<p>or,
</p>
<pre class="eval"> <span class="plain">{{prefAnch|p-|accessibleType}}</span>
</pre>
</div>
</span>
