<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><b><a href="en/Preferences_System">Preferences System</a> documentation:</b>
</p>
<ul><li> Reference: <a href="en/Preferences_System/prefwindow"><prefwindow></a> | <a href="en/Preferences_System/prefpane"><prefpane></a> | <a href="en/Preferences_System/preferences"><preferences></a> | <a href="en/Preferences_System/preference"><preference></a> | <a href="en/Preferences_System/New_attributes">New attributes</a>
</li></ul>
</div>
