<span lang='en' class='lang lang-en'><div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><b><a href="en/Preferences_System">Preferences System</a> documentation:</b>
</p>
<ul><li> Introduction: <a href="en/Preferences_System/Getting_Started">Getting Started</a> | <a href="en/Preferences_System/Examples">Examples</a> | <a href="en/Preferences_System/Troubleshooting">Troubleshooting</a>
</li><li> Reference: <a href="en/Preferences_System/prefwindow"><prefwindow></a> | <a href="en/Preferences_System/prefpane"><prefpane></a> | <a href="en/Preferences_System/preferences"><preferences></a> | <a href="en/Preferences_System/preference"><preference></a> | <a href="en/Preferences_System/New_attributes">New attributes</a>
</li></ul>
</div> <div class="includeonly"></div>
</span><span lang='*' class='lang lang-*'><div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><b><a href="en/Preferences_System">Preferences System</a> documentation:</b>
</p>
<ul><li> Introduction: <a href="en/Preferences_System/Getting_Started">Getting Started</a> | <a href="en/Preferences_System/Examples">Examples</a> | <a href="en/Preferences_System/Troubleshooting">Troubleshooting</a>
</li><li> Reference: <a href="en/Preferences_System/prefwindow"><prefwindow></a> | <a href="en/Preferences_System/prefpane"><prefpane></a> | <a href="en/Preferences_System/preferences"><preferences></a> | <a href="en/Preferences_System/preference"><preference></a> | <a href="en/Preferences_System/New_attributes">New attributes</a>
</li></ul>
</div> <div class="includeonly"></div>
</span><span lang='ja' class='lang lang-ja'><div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><b><a href="ja/Preferences_System">設定システム</a>の資料:</b>
</p>
<ul><li> 簡単な紹介: <a href="ja/Preferences_System/Getting_Started">Getting Started</a> | <a href="ja/Preferences_System/Examples">サンプル</a> | <a href="ja/Preferences_System/Troubleshooting">トラブルシューティング</a>
</li><li> リファレンス: <a href="ja/Preferences_System/prefwindow"><prefwindow></a> | <a href="ja/Preferences_System/prefpane"><prefpane></a> | <a href="ja/Preferences_System/preferences"><preferences></a> | <a href="ja/Preferences_System/preference"><preference></a> | <a href="ja/Preferences_System/New_attributes">新しい属性</a>
</li></ul>
</div> <div class="includeonly"></div>
</span><span lang='ko' class='lang lang-ko'><div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><b><a href="ko/Preferences_System">Preferences System</a> 문서:</b>
</p>
<ul><li> 소개: <a href="ko/Preferences_System/Getting_Started">시작하기</a> | <a href="ko/Preferences_System/Examples">예제</a> | <a href="ko/Preferences_System/Troubleshooting">문제 해결하기</a>
</li><li> 참조: <a href="ko/Preferences_System/prefwindow"><prefwindow></a> | <a href="ko/Preferences_System/prefpane"><prefpane></a> | <a href="ko/Preferences_System/preferences"><preferences></a> | <a href="ko/Preferences_System/preference"><preference></a> | <a href="ko/Preferences_System/New_attributes">새 속성</a>
</li></ul>
</div> <div class="includeonly"></div>
</span><span lang='pl' class='lang lang-pl'><div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><b>Dokumentacja <a href="pl/System_preferencji">Systemu preferencji</a>:</b>
</p>
<ul><li> Wprowadzenie: <a href="pl/System_preferencji/Na_pocz%c4%85tek">Na początek</a> | <a href="pl/System_preferencji/Przyk%c5%82ady">Przykłady</a> | <a href="pl/Preferences_System/Usuwanie_nieprawid%c5%82owo%c5%9bci">Usuwanie nieprawidłowości</a>
</li><li> Dokumentacja: <a href="pl/System_preferencji/prefwindow"><prefwindow></a> | <a href="pl/System_preferencji/prefpane"><prefpane></a> | <a href="pl/System_preferencji/preferences"><preferences></a> | <a href="pl/System_preferencji/preference"><preference></a> | <a href="pl/System_preferencji/Nowe_atrybuty">Nowe atrybuty</a>
</li></ul>
</div> <div class="includeonly"></div>
</span>
