<% if (env.locale == 'ja') { %>
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong><a title="ja/docs/Preferences_System" href="/ja/docs/Preferences_System">設定システム</a>の資料:</strong></p>
<ul> <li>簡単な紹介: <a title="ja/docs/Preferences_System/Getting_Started" href="/ja/docs/Preferences_System/Getting_Started">Getting Started</a> | <a title="ja/docs/Preferences_System/Examples" href="/ja/docs/Preferences_System/Examples">サンプル</a> | <a title="ja/docs/Preferences_System/Troubleshooting" href="/ja/docs/Preferences_System/Troubleshooting">トラブルシューティング</a></li> <li>リファレンス: <a title="ja/docs/Preferences_System/prefwindow" href="/ja/docs/Preferences_System/prefwindow"><prefwindow></a> | <a title="ja/docs/Preferences_System/prefpane" href="/ja/docs/Preferences_System/prefpane"><prefpane></a> | <a title="ja/docs/Preferences_System/preferences" href="/ja/docs/Preferences_System/preferences"><preferences></a> | <a title="ja/docs/Preferences_System/preference" href="/ja/docs/Preferences_System/preference"><preference></a> | <a title="ja/docs/Preferences_System/New_attributes" href="/ja/docs/Preferences_System/New_attributes">新しい属性</a></li>
</ul>
</div>
<% } else if (env.locale == 'ko') { %>
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong><a title="ko/docs/Preferences_System" href="/ko/docs/Preferences_System">Preferences System</a> 문서:</strong></p>
<ul> <li>소개: <a title="ko/docs/Preferences_System/Getting_Started" href="/ko/docs/Preferences_System/Getting_Started">시작하기</a> | <a title="ko/docs/Preferences_System/Examples" href="/ko/docs/Preferences_System/Examples">예제</a> | <a title="ko/docs/Preferences_System/Troubleshooting" href="/ko/docs/Preferences_System/Troubleshooting">문제 해결하기</a></li> <li>참조: <a title="ko/docs/Preferences_System/prefwindow" href="/ko/docs/Preferences_System/prefwindow"><prefwindow></a> | <a title="ko/docs/Preferences_System/prefpane" href="/ko/docs/Preferences_System/prefpane"><prefpane></a> | <a title="ko/docs/Preferences_System/preferences" href="/ko/docs/Preferences_System/preferences"><preferences></a> | <a title="ko/docs/Preferences_System/preference" href="/ko/docs/Preferences_System/preference"><preference></a> | <a title="ko/docs/Preferences_System/New_attributes" href="/ko/docs/Preferences_System/New_attributes">새 속성</a></li>
</ul>
</div>
<% } else if (env.locale == 'pl') { %>
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong>Dokumentacja <a title="pl/docs/System_preferencji" href="/pl/docs/System_preferencji">Systemu preferencji</a>:</strong></p>
<ul> <li>Wprowadzenie: <a title="pl/docs/System_preferencji/Na_początek" href="/pl/docs/System_preferencji/Na_początek">Na początek</a> | <a title="pl/docs/System_preferencji/Przykłady" href="/pl/docs/System_preferencji/Przykłady">Przykłady</a> | <a title="pl/docs/Preferences_System/Usuwanie_nieprawidłowości" href="/pl/docs/Preferences_System/Usuwanie_nieprawidłowości">Usuwanie nieprawidłowości</a></li> <li>Dokumentacja: <a title="pl/docs/System_preferencji/prefwindow" href="/pl/docs/System_preferencji/prefwindow"><prefwindow></a> | <a title="pl/docs/System_preferencji/prefpane" href="/pl/docs/System_preferencji/prefpane"><prefpane></a> | <a title="pl/docs/System_preferencji/preferences" href="/pl/docs/System_preferencji/preferences"><preferences></a> | <a title="pl/docs/System_preferencji/preference" href="/pl/docs/System_preferencji/preference"><preference></a> | <a title="pl/docs/System_preferencji/Nowe_atrybuty" href="/pl/docs/System_preferencji/Nowe_atrybuty">Nowe atrybuty</a></li>
</ul>
</div>
<% } else { %>
<div style="border: solid grey 1px; padding: 5px; margin: 5px; background-color: #fafafa;">
<p><strong><a title="en-US/docs/Preferences_System" href="/en-US/docs/Preferences_System">Preferences System</a> documentation:</strong></p>
<ul> <li>Introduction: <a title="en-US/docs/Preferences_System/Getting_Started" href="/en-US/docs/Preferences_System/Getting_Started">Getting Started</a> | <a title="en-US/docs/Preferences_System/Examples" href="/en-US/docs/Preferences_System/Examples">Examples</a> | <a title="en-US/docs/Preferences_System/Troubleshooting" href="/en-US/docs/Preferences_System/Troubleshooting">Troubleshooting</a></li> <li>Reference: <a title="en-US/docs/XUL/prefwindow" href="/en-US/docs/XUL/prefwindow"><prefwindow></a> | <a title="en-US/docs/XUL/prefpane" href="/en-US/docs/XUL/prefpane"><prefpane></a> | <a title="en-US/docs/XUL/preferences" href="/en-US/docs/XUL/preferences"><preferences></a> | <a title="en-US/docs/XUL/preference" href="/en-US/docs/XUL/preference"><preference></a> | <a title="en-US/docs/Preferences_System/New_attributes" href="/en-US/docs/Preferences_System/New_attributes">XUL attributes</a></li>
</ul>
</div>
<% } %>
