<%
var localStrings = {
    "prefSystemTitle": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System\">Preferences System</a> documentation:",
        "ja"   : "<a href=\"/ja/docs/Preferences_System\">設定システム</a>の資料:",
        "ko"   : "<a href=\"/ko/docs/Preferences_System\">Preferences System</a> 문서:",
        "pl"   : "Dokumentacja <a href=\"/pl/docs/System_preferencji\">Systemu preferencji</a>:",
    },
    "introduction": {
        "en-US": "Introduction: ",
        "ja"   : "簡単な紹介: ",
        "ko"   : "소개: ",
        "pl"   : "Wprowadzenie: "
    },
    "gettingStartedLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/Getting_Started\">Getting Started</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/Getting_Started\">Getting Started</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/Getting_Started\">시작하기</a>",
        "pl"   : "<a href=\"/pl/docs/System_preferencji/Na_początek\">Na początek</a>"
    },
    "examplesLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/Examples\">Examples</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/Examples\">サンプル</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/Examples\">예제</a>",
        "pl"   : "<a href=\"/pl/docs/System_preferencji/Przykłady\">Przykłady</a>"
    },
    "troubleshootingLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/Troubleshooting\">Troubleshooting</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/Troubleshooting\">トラブルシューティング</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/Troubleshooting\">문제 해결하기</a>",
        "pl"   : "<a href=\"/pl/docs/Preferences_System/Usuwanie_nieprawidłowości\">Usuwanie nieprawidłowości</a>"
    },
    "reference": {
        "en-US": "Reference: ",
        "ja"   : "リファレンス: ",
        "ko"   : "참조: ",
        "pl"   : "Dokumentacja: "
    },
    "xulAttributesLink": {
        "en-US": "<a href=\"/en-US/docs/Preferences_System/New_attributes\">XUL attributes</a>",
        "ja"   : "<a href=\"/ja/docs/Preferences_System/New_attributes\">新しい属性</a>",
        "ko"   : "<a href=\"/ko/docs/Preferences_System/New_attributes\">새 속성</a>",
        "pl"   : "<a href=\"/pl/docs/System_preferencji/Nowe_atrybuty\">Nowe atrybuty</a>"
    }
};

var output = "<div class=\"moreinfo\">" +
             "  <p><strong>$prefSystemTitle$</strong></p>" +
             "  <ul>" +
             "    <li>$introduction$$gettingStarted$ | $examples$ | $troubleshooting$</li>" +
             "    <li>$reference$$prefwindow$ | $prefpane$ | $preferences$ | $preference$ | $xulAttributes</li>" +
             "  </ul>" +
             "</div>";
var output = mdn.replacePlaceholders(
                output,
                {
                    prefSystemTitle: mdn.getLocalString(localStrings, "prefSystemTitle"),
                    introduction: mdn.getLocalString(localStrings, "introduction"),
                    gettingStarted: mdn.getLocalString(localStrings, "gettingStartedLink"),
                    examples: mdn.getLocalString(localStrings, "examplesLink"),
                    troubleshooting: mdn.getLocalString(localStrings, "troubleshootingLink"),
                    reference: mdn.getLocalString(localStrings, "reference"),
                    prefwindow: template("XULElem", ["prefwindow"]),
                    prefpane: template("XULElem", ["prefpane"]),
                    preferences: template("XULElem", ["preferences"]),
                    preference: template("XULElem", ["preference"]),
                    xulAttributes: mdn.getLocalString(localStrings, "xulAttributesLink")
                }
);
%>
<%-output%>
