<%
/* one parameter: preference name */
/* get the page language */

var lang = env.locale;

var dest = "/" + lang + '/Mozilla/Preferences/Preference_reference/' + $0;
%>
<code><a href="<%=dest%>"><%=$0%></a></code>
