<div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Previous', "ko")}}</span>
<span style="float:right;">{{mediawiki.internal($1 + '|Next', "ko")}} »</span>
</p>
</div>
<span class="comment">Comment here to ensure newlines get recognized</span>
