<%
/* first parameter: path of Previous page */
/* second parameter: path of Next page */

/* get a page's language (Don't use page.language!) */
var lang = env.locale;

/* assume English */

var prevStr = '« Previous';
var nextStr = 'Next »';

/* fix for other languages */

if (!string.compare(lang, "cz", true)) {
  prevStr = "« Předchozí";
  nextStr = "Následující »";
} else if (!string.compare(lang, "de", true)) {
  prevStr = "« zurück";
  nextStr = "weiter »";
} else if (!string.compare(lang, "fr", true)) {
  prevStr = "« Précédent";
  nextStr = "Suivant »";
} else if (!string.compare(lang, "es", true)) {
  prevStr = "« Anterior";
  nextStr = "Siguiente »";
} else if (!string.compare(lang, "ja", true)) {
  prevStr = "« 前";
  nextStr = "次 »";
} else if (!string.compare(lang, "ko", true)) {
  prevStr = "« 이전";
  nextStr = "다음 »";
} else if (!string.compare(lang, "pl", true)) {
  prevStr = "« Poprzedni";
  nextStr = "Następny »";
} else if (!string.compare(lang, "pt", true)) {
  prevStr = "« Anterior";
  nextStr = "Próxima »";
} else if (!string.compare(lang, "ru", true)) {
  prevStr = "« Предыдущая статья";
  nextStr = "Следующая статья »";
} else if (!string.compare(lang, "zh-tw", true)) {
  prevStr = "« 前頁";
  nextStr = "次頁 »";
} else if (!string.compare(lang, "cn", true)) {
  prevStr = "« 上一页";
  nextStr = "下一页 »";
}
%>
<div class="prevnext">
<p align="right"><span style="float: left;"><%-(web.link(wiki.uri(lang + '/' + $0), prevStr))%></span>
<%-(web.link(wiki.uri(lang + '/' + $1), nextStr))%></p>
</div>
