<div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Предыдушая статья', "ru")}}</span>
<span style="float:right;">{{mediawiki.internal($1 + '|Следующая статья', "ru")}} »</span>
</p>
</div>
<span class="comment">Comment here to ensure newlines get recognized</span>
