
<p> </p>
<pre class="script">
/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = string.tolower(u.path[0]);
if(string.Contains(lang, "project") || string.Contains(lang, "Project")) {
 lang = string.Substr(lang, 8);
}

if (lang == 'en') {
  prevStr = 'Previous';
  nextStr = 'Next';
} else if (lang == 'de') {
  prevStr = 'zurück';
  nextStr = 'weiter';
} else {
  prevStr = 'Previous';
  nextStr = 'Next;
}

<div class="prevnext">
<p align="right"><span style="float: left;">(web.text('«' )) + (web.link(wiki.uri(lang + '/' + $0), prevStr))</span>(web.link(wiki.uri(lang + '/' + $1), nextStr))(web.text(' »'))</p>
</div>
</pre>
