<%/*

Parameter
    $0 (first parameter):  path of Previous page
    $1 (second parameter): path of Next page
    $2 (third parameter): path to main menu of module

Issue
    * Problem of Apostrophe (https://developer.mozilla.org/fr/docs/JavaScript_Guide/Op%C3%A9rateurs/Op%C3%A9rateurs_sp%C3%A9ciaux)

*/

var lang = env.locale;
var strPrevious = "";
var strNext = "<br>";
var strMenu = "";

var s_PreviousNext = mdn.localString({
    "en-US": ["« Previous",          "Next  »"],
    "cs"   : ["« Předchozí",  "Následující  »"],
    "de"   : ["« zurück",          "weiter  »"],
    "es"   : ["« Anterior",     "Siguiente  »"],
    "fr"   : ["« Précédent",      "Suivant  »"],
    "pl"   : ["« Poprzedni",     "Następny  »"],
    "pt-PT": ["« Anterior",       "Próxima  »"],

    "he"   : ["« קודם",                              "הבא »"] ,
    "ja"   : ["« 前のページ",                        "次のページ  »"],
    "ko"   : ["« 이전",                              "다음  »"],
    "ru"   : ["« Предыдущая статья", "Следующая статья  »"],
    "zh-CN": ["« 上一页",                            "下一页  »"],
    "zh-TW": ["« 前頁",                              "次頁  »"]
});

var s_Menu = mdn.localString({
    "en-US": "Main menu"    
});


// for LTR
var prevTextAlign = "left";
var nextTextAlign = "right";

var prevFloatValue = "left";
var nextFloatValue = "right";

// for RTL
switch(lang) {
    case "ar":
    case "fa":
    case "he":
        prevTextAlign = "right";
        nextTextAlign = "left";
        prevFloatValue = "right";
        nextFloatValue = "left";
        break;
    default:
        break;
}


if ($0) {
    strPrevious = '<a style="float:' + prevFloatValue + '; width: 33%;text-align:' + prevTextAlign + ';" href="/' + lang + '/docs/' + string.replace($0, ' ', '_') + '">' + s_PreviousNext[0] + '</a>';
}

if ($1) {
    strNext = '<a style="width: 33%;float:' + nextFloatValue + ';text-align: ' + nextTextAlign + ';" href="/' + lang + '/docs/' + string.replace($1, ' ', '_') + '">' + s_PreviousNext[1] + '</a>';
}

if ($2) {
  if($0 && $1) {
    strMenu = '<a style="float:' + prevFloatValue + '; width: 33%;text-align: center;" href="/' + lang + '/docs/' + string.replace($2, ' ', '_') + '">' + s_Menu + '</a>';
  } else if($0) {
    strMenu = '<a style="float:' + nextFloatValue + '; width: 33%;text-align: ' + nextTextAlign + ';" href="/' + lang + '/docs/' + string.replace($2, ' ', '_') + '">' + s_Menu + '</a>';
  } else if($1) {
    strMenu = '<a style="float:' + prevFloatValue + '; width: 33%;text-align: ' + prevTextAlign + ';" href="/' + lang + '/docs/' + string.replace($2, ' ', '_') + '">' + s_Menu + '</a>';
  }
}



%><div class="prevnext">
    <p><%- strPrevious %><%- strMenu %><%- strNext %></p>
    <p>&nbsp;</p>
</div>
