<div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Previous', "ja")}}</span>
<span style="float:right;">{{mediawiki.internal($1 + '|Next', "ja")}} »</span>
</p>
</div>
<span class="comment">Comment here to ensure newlines get recognized</span>
