
<p><span lang="en" class="lang lang-en">
<div class="prevnext">
<pre class="script">
/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = u.path[0];
if(string.Contains(lang, "project") || string.Contains(lang, "Project")) {
 lang = string.Substr(lang, 8);
}

/* assume English */

var prevStr = '« Previous';

/* fix for other languages */

if (!string.compare(lang, "de", true)) {
  prevStr = "« zurück";
} else if (!string.compare(lang, "es", true)) {
  prevStr = "« Anterior";
} else if (!string.compare(lang, "ja", true)) {
  prevStr = "« 前";
} else if (!string.compare(lang, "ko", true)) {
  prevStr = "« 이전";
} else if (!string.compare(lang, "pl", true)) {
  prevStr = "« Poprzedni";
} else if (!string.compare(lang, "ru", true)) {
  prevStr = "« Предыдущая статья";
} else if (!string.compare(lang, "zh-tw", true)) {
  prevStr = "« 前頁";
}

<div class="prevnext">
<p align="right"><span style="float: left;">(web.link(wiki.uri(lang + '/' + $0), prevStr))</span></p>
</div>
<br />
</pre>
</div>
</span></p>
