<div class="prevnext"><table style="width:100%;"><tr>
<td style="width:50%"><span style="float:left;">« {{mediawiki.internal($0 + '|Previous', "en")}}</span></td>
<td style="width:50%"><span style="float:right;">{{mediawiki.internal($1 + '|Next', "en")}} »</span></td></tr></table></div>
