
<pre class="script">
/* get a page's language (Don't use page.language!) */
var u = Uri.Parts(Page.uri);
var lang = u.path[0];
if(string.Contains(lang, "project") || string.Contains(lang, "Project")) {
 lang = string.Substr(lang, 8);
}

/* assume English */

var prevStr = 'Previous';
var nextStr = 'Next';

/* fix for other languages */

if (string.compare(lang, "de", true)) {
  prevStr = "zurück";
  nextStr = "weiter";
}

<div class="prevnext">
<p align="right"><span style="float: left;">('« ')(web.link(wiki.uri($0), prevStr))</span>(web.link(wiki.uri($1), nextStr))(' »')</p>
</div>

%>
