<span lang='en' class='lang lang-en'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Previous', "en")}}</span>
</p>
</div>
<span class="comment">Comment</span>
</span><span lang='*' class='lang lang-*'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Previous', "en")}}</span>
</p>
</div>
<span class="comment">Comment</span>
</span><span lang='de' class='lang lang-de'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|zurueck', "de")}}</span>
</p>
</div>
<span class="comment">Kommentar</span>
</span><span lang='ja' class='lang lang-ja'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|前', "ja")}}</span>
</p>
</div>
<span class="comment">Comment</span>
</span><span lang='ko' class='lang lang-ko'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|이전', "ko")}}</span>
</p>
</div>
<span class="comment">Comment</span>
</span><span lang='pl' class='lang lang-pl'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Poprzedni', "pl")}}</span>
</p>
</div>
<span class="comment">Comment</span>
</span><span lang='zh-tw' class='lang lang-zh-tw'>{{wiki.template('Template:上一頁', args)}}</span>
