<%
/*
    Parameter : none
*/

var titleAttrValue = mdn.localString({
    "ca": "Only available to privileged apps on Firefox OS.",
    "cs": "Only available to privileged apps on Firefox OS.",
    "de": "Only available to privileged apps on Firefox OS.",
    "el": "Only available to privileged apps on Firefox OS.",
    "es": "Only available to privileged apps on Firefox OS.",
    "fa": "Only available to privileged apps on Firefox OS.",
    "fi": "Only available to privileged apps on Firefox OS.",
    "fr": "Only available to privileged apps on Firefox OS.",
    "he": "Only available to privileged apps on Firefox OS.",
    "hr": "Only available to privileged apps on Firefox OS.",
    "hu": "Only available to privileged apps on Firefox OS.",
    "id": "Only available to privileged apps on Firefox OS.",
    "it": "Only available to privileged apps on Firefox OS.",
    "ja": "Only available to privileged apps on Firefox OS.",
    "ka": "Only available to privileged apps on Firefox OS.",
    "ko": "Only available to privileged apps on Firefox OS.",
    "ms": "Only available to privileged apps on Firefox OS.",
    "nl": "Only available to privileged apps on Firefox OS.",
    "pl": "Only available to privileged apps on Firefox OS.",
    "ro": "Only available to privileged apps on Firefox OS.",
    "ru": "Only available to privileged apps on Firefox OS.",
    "sq": "Only available to privileged apps on Firefox OS.",
    "th": "Only available to privileged apps on Firefox OS.",
    "tr": "Only available to privileged apps on Firefox OS.",
    "vi": "Only available to privileged apps on Firefox OS.",
    "bn-BD": "Only available to privileged apps on Firefox OS.",
    "fy-NL": "Only available to privileged apps on Firefox OS.",
    "ga-IE": "Only available to privileged apps on Firefox OS.",
    "pt-BR": "Only available to privileged apps on Firefox OS.",
    "pt-PT": "Only available to privileged apps on Firefox OS.",
    "zh-CN": "Only available to privileged apps on Firefox OS.",
    "zh-TW": "Only available to privileged apps on Firefox OS.",
    "en-US": "Only available to privileged apps on Firefox OS."
});


var str = mdn.localString({
    "ca": "Firefox OS Certified apps only",
    "cs": "Firefox OS Certified apps only",
    "de": "Firefox OS Certified apps only",
    "el": "Firefox OS Certified apps only",
    "es": "Firefox OS Certified apps only",
    "fa": "Firefox OS Certified apps only",
    "fi": "Firefox OS Certified apps only",
    "fr": "Firefox OS Certified apps only",
    "he": "Firefox OS Certified apps only",
    "hr": "Firefox OS Certified apps only",
    "hu": "Firefox OS Certified apps only",
    "id": "Firefox OS Certified apps only",
    "it": "Firefox OS Certified apps only",
    "ja": "Firefox OS Certified apps only",
    "ka": "Firefox OS Certified apps only",
    "ko": "Firefox OS Certified apps only",
    "ms": "Firefox OS Certified apps only",
    "nl": "Firefox OS Certified apps only",
    "pl": "Firefox OS Certified apps only",
    "ro": "Firefox OS Certified apps only",
    "ru": "Firefox OS Certified apps only",
    "sq": "Firefox OS Certified apps only",
    "th": "Firefox OS Certified apps only",
    "tr": "Firefox OS Certified apps only",
    "vi": "Firefox OS Certified apps only",
    "bn-BD": "Firefox OS Certified apps only",
    "fy-NL": "Firefox OS Certified apps only",
    "ga-IE": "Firefox OS Certified apps only",
    "pt-BR": "Firefox OS Certified apps only",
    "pt-PT": "Firefox OS Certified apps only",
    "zh-CN": "Firefox OS Certified apps only",
    "zh-TW": "Firefox OS Certified apps only",
    "en-US": "Firefox OS Certified apps only"
}); 


%><span class="privilegedBadge" title="<%- titleAttrValue %>"><%- str %></span>
