
<pre class="script">
/* one parameter: the prefix name, say "-moz" or "-webkit" */
<span title="prefix" style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap; padding: 0px 2px;">(web.text($0))</span>

%>
