<span lang='cs' class='lang lang-cs'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Předchozí', "cs")}}</span>
<span style="float:right;">{{mediawiki.internal($1 + '|Následující', "cs")}} »</span>
</p>
</div>
<span class="comment">komentář zaručuje, že se odřádkování zaznamená</span>
</span><span lang='*' class='lang lang-*'><div class="prevnext">
<p><span style="float:left;">« {{mediawiki.internal($0 + '|Předchozí', "cs")}}</span>
<span style="float:right;">{{mediawiki.internal($1 + '|Následující', "cs")}} »</span>
</p>
</div>
<span class="comment">komentář zaručuje, že se odřádkování zaznamená</span>
</span>
