<%
var str = "Read only ";
var title = "This value may not be changed.";

switch(env.locale) {
    case "ja":
        str = "読取専用 ";
        break;
    default:
        break;
}

%><span title="<%= title %>" class="inlineIndicator readOnly readOnlyInline"><%= str %></span>
