<span lang='es' class='lang lang-es'><div style="background: #f5f5f5; margin: 5px 0;">
<b><a href="es/Transformando_XML_con_XSLT#Referencia_de_XSLT.2FXPath">Referencia de XSLT y XPath</a></b>: <a href="es/XSLT/Elementos">Elementos XSLT</a>, <a href="es/EXSLT">Funciones EXSLT</a>, <a href="es/XPath/Funciones">XPath:Funciones</a>, <a href="es/XPath/Ejes">XPath:Ejes</a></div> 
<div class="includeonly"></div>
<span class="comment">plantilla destinada a su uso en XSLT:Referencia</span>
<span class="comment">es el equivalente a la inglesa {{XsltRef}}</span>:
</span><span lang='*' class='lang lang-*'><div style="background: #f5f5f5; margin: 5px 0;">
<b><a href="es/Transformando_XML_con_XSLT#Referencia_de_XSLT.2FXPath">Referencia de XSLT y XPath</a></b>: <a href="es/XSLT/Elementos">Elementos XSLT</a>, <a href="es/EXSLT">Funciones EXSLT</a>, <a href="es/XPath/Funciones">XPath:Funciones</a>, <a href="es/XPath/Ejes">XPath:Ejes</a></div> 
<div class="includeonly"></div>
<span class="comment">plantilla destinada a su uso en XSLT:Referencia</span>
<span class="comment">es el equivalente a la inglesa <%- template("XsltRef") %></span>:
</span>
