<div style="background: #f5f5f5; margin: 5px 0;">
<span class="comment">'''{{mediawiki.internal(' Transformar_XML_con_XSLT:Referencia_sobre_XSLT_y_XPath|XSLT/XPath Reference', "es")}}''': {{mediawiki.internal('XSLT:Elementos|Elementos XSLT', "es")}}, {{mediawiki.internal('XPath:Funciones', "es")}}, {{mediawiki.internal('XPath:Ejes', "es")}}</div>  <includeonly>{{mediawiki.internal('Categoría:XSLT:Referencia ', "es")}}</includeonly></span></div>
