
<p>Firefox $0, based on Gecko $1, will ship in $2. This article provides information about the changes in this release that will affect developers. Nightly builds of what will become Firefox <span class="script">0</span> are <span class="script">web.link("ftp://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-mozilla-" + $3, "currently available")</span> on the <span class="script">string.ToUpperFirst($3)</span> channel.</p>
