
<p><span lang="en" class="lang lang-en"> <span style="border: 1px solid rgb(129, 129, 81); background-color: #d4f3ff; font-size: x-small; white-space: nowrap; padding: 2px;">Renamed from <code><span class="script">$0</span></code> in Gecko <span class="script">$1</span></span> </span></p>
<p class="noinclude"><span class="script">renamed_inline("oldName", "1.9.1")</span></p>
