<%
// Use this as to add a header banner that something was renamed in a given Gecko release.
//
// Parameters:
//  $0 - old API name
//  $1 - Gecko release it was renamed in
%>
<div class="renamedHeader">
<p title="<%-template("geckoRelease", [$1])%>" style="margin: 4px 0px 4px 0px">Renamed from <code><%=$0%></code> in Gecko <%=$1%></p>
</div>
