
<div class="noinclude"><span class="script">renamed_header("oldName", "1.9.1")</span><hr />
</div>
<p><span lang="en" class="lang lang-en">
<div style="overflow:hidden; border: 1px solid rgb(129, 129, 81); background-color: #d4f3ff; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Renamed from <code><span class="script">$0</span></code> in Gecko <span class="script">$1</span></p>
</div>
</span><span lang="*" class="lang lang-*">
<div style="overflow:hidden; border: 1px solid rgb(129, 129, 81); background-color: #d4f3ff; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Renamed from <code><span class="script">$0</span></code> in Gecko <span class="script">$1</span></p>
</div>
</span></p>
