<%
//
// Inserts a link to the specified RFC.
//
// Parameters:
//
// $0   RFC number to which to link.
// $1   (Optional) Additional link text, to be used to add a name for the RFC
//

var link = "http://tools.ietf.org/html/" + $0;
var text = "";

if ($1 && $1 != undefined) {
    text = ": " + $1;
}
%>
<a href="<%-link%>">RFC <%=$0%><%=text%></a>
