<tr>
  <td><code>width</code></td>
  <td>long (int)</td>
  <td>The width of the visible region of the document. Read only.</td>
</tr>
<tr>
  <td><code>height</code></td>
  <td>long (int)</td>
  <td>The height of the visible region of the document. Read only.</td>
</tr>
<tr>
  <td><code>x</code></td>
  <td>long (int)</td>
  <td>The X coordinate of the left edge of the visible region of the document. Read only.</td>
</tr>
<tr>
  <td><code>y</code></td>
  <td>long (int)</td>
  <td>The Y coordinate of the top edge of the visible region of the document. Read only.</td>
</tr>
