
<pre lang="*" class="script">
<div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(156, 244, 156); text-align: center;">
  <p style="margin: 4px 0px;">
    web.html("<strong>This is an experimental feature</strong><br>Because this feature is still in development in some browsers, check the <a href='#AutoCompatibilityTable'>compatibility table</a> for the proper prefixes to use in various browsers.");
  </p>
</div></pre>
<pre lang="en" class="script">
<div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(156, 244, 156); text-align: center;">
  <p style="margin: 4px 0px;">
    web.html("<strong>This is an experimental feature</strong><br>Because this feature is still in development in some browsers, check the <a href='#AutoCompatibilityTable'>compatibility table</a> for the proper prefixes to use in various browsers.");
  </p>
</div></pre>
<pre lang="zh-tw" class="script">
<div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(156, 244, 156); text-align: center;">
  <p style="margin: 4px 0px;">
    web.html("<strong>這是一個實驗中的功能</strong><br>此功能在某些瀏覽器尚在開發中，請參考<a href='#AutoCompatibilityTable'>兼容表格</a>以得到不同瀏覽器用的前輟。");
  </p>
</div></pre>
