<table class="standard-table"><tbody>
  <tr>
    <td class="header" width="150">Property</td>
    <td class="header" width="100">Type</td>
    <td class="header">Description</td>
  </tr>
  <tr>
    <td><code>value</code></td>
    <td>Double (float)</td>
    <td>The sensor data for <%= $0 %>. Read only.</td>
  </tr>
  <tr>
    <td><code>min</code></td>
    <td>Double (float)</td>
    <td>The minimum value in the range the sensor detects (if available, 0 otherwise). Read only.</td>
  </tr>
  <tr>
    <td><code>max</code></td>
    <td>Double (float)</td>
    <td>The maximum value in the range the sensor detects (if available, 0 otherwise). Read only.</td>
  </tr>
</table>
