<ul><li><ul><li> {{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' jako mailing list')}}
</li><li> {{mediawiki.external('news://news.mozilla.org/' + $1 + ' jako diskuzní skupina')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + ' jako Google Group')}}
</li><li> {{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds jako RSS kanál')}}
</li></ul>
</li></ul>
