<%/* Creates a banner with some text but no icon.

    Parameters:
        $0 - Text to display in the badge
        $1 - Class name for custom style
        $2 - Tooltip text (optional)

*/%>
<div class="banner <%= $1 %>" title="<%= $2 %>">
<div class="bannerHeading"><%- $0 %></div>
</div>
