<%
// Creates a badge with some text but no icon.
//
// Parameters:
//
//  $0 - Text to display in the badge
//  $1 - Class name for text area of badge
//  $2 - Tooltip text (optional)
//
%>

<div class="simpleBadge <%=$1%>" title="<%=$2%>">
    <p class="simpleBadgeText"><%=$0%></p>
</div>
