<ul>
<li><a href="/en-US/Mozilla_event_reference/beginEvent"><code>beginEvent</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/endEvent"><code>endEvent</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/repeatEvent"><code>repeatEvent</code></a></li>
</ul>
