<ul>
<li><a href="/en-US/docs/Web/Reference/Events/beginEvent"><code>beginEvent</code></a></li>
<li><a href="/en-US/docs/Web/Reference/Events/endEvent"><code>endEvent</code></a></li>
<li><a href="/en-US/docs/Web/Reference/Events/repeatEvent"><code>repeatEvent</code></a></li>
</ul>
