<span lang='en' class='lang lang-en'>{{mediawiki.external('http://mxr.mozilla.org/mozilla-central/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}<div class="noinclude"><hr />
<p>See <a href="Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.
</p>
</div>
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://mxr.mozilla.org/mozilla-central/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}<div class="noinclude"><hr />
<p>See <a href="Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.
</p>
</div>
</span><span lang='de' class='lang lang-de'><code>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)}}</code>
</span><span lang='es' class='lang lang-es'><code>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)}}</code>
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}<div class="noinclude"><hr />
<p>Consultez <a href="Project:fr/Mod%c3%a8les_personnalis%c3%a9s#Mod.C3.A8le:source">MDC:Modèles personnalisés#Modèle:source</a> pour la documentation.
</p>
</div>
</span><span lang='it' class='lang lang-it'><code>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)}}</code>

<div class="noinclude">
</div>
{{ wiki.languages( { "en": "Template:Source" } ) }}</span><span lang='ja' class='lang lang-ja'>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}} <div class="noinclude"><hr />
<p>See <a href="Project:ja/Custom_Templates#Template:source_-_.E3.82.BD.E3.83.BC.E3.82.B9.E3.82.B3.E3.83.BC.E3.83.89.E3.83.AA.E3.83.B3.E3.82.AF">MDC:Custom Templates#Template:source - ソースコードリンク</a> for documentation.
</p>
</div>
</span><span lang='ko' class='lang lang-ko'><code>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)}}</code>
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.external('http://mxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}

<div class="noinclude"><hr />
<p>Zobacz również <a href="Project:pl/W%c5%82asne_szablony#Szablon:source">MDC:Własne szablony#Szablon:source</a>.
</p>
</div>
</span><span lang='pt' class='lang lang-pt'>{{mediawiki.external('http://mxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}<div class="noinclude"><hr />
<p>See {{mediawiki.interwiki('en', 'MDC:Custom_Templates#Template:source', 'en:MDC:Custom Templates#Template:source')}} for documentation.
</p>
</div>
</span><span lang='ru' class='lang lang-ru'><code>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)}}</code>
</span><span lang='zh-cn' class='lang lang-zh-cn'><code>{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)}}</code>
</span>
