
<p><span lang="en" class="lang lang-en"><span class="script">mediawiki.external('http://mxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>See <a title="Project:en/Custom_Templates#Template:source" href="/Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.</p>
</div>
</span><span lang="*" class="lang lang-*"><span class="script">mediawiki.external('http://mxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>See <a title="Project:en/Custom_Templates#Template:source" href="/Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.</p>
</div>
</span><span lang="de" class="lang lang-de"><code><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)</span></code> </span><span lang="es" class="lang lang-es"><code><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)</span></code> </span><span lang="fr" class="lang lang-fr"><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>Consultez <a title="Project:fr/Modèles_personnalisés#Mod.C3.A8le:source" href="/Project:fr/Mod%C3%A8les_personnalis%C3%A9s#Mod.C3.A8le:source">MDC:Modèles personnalisés#Modèle:source</a> pour la documentation.</p>
</div>
</span><span lang="it" class="lang lang-it"><code><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)</span></code> <span class="script"> wiki.languages( { "en": "Template:Source" } ) </span></span><span lang="ja" class="lang lang-ja"><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>See <a title="Project:ja/Custom_Templates#Template:source_-_.E3.82.BD.E3.83.BC.E3.82.B9.E3.82.B3.E3.83.BC.E3.83.89.E3.83.AA.E3.83.B3.E3.82.AF" href="/Project:ja/Custom_Templates#Template:source_-_.E3.82.BD.E3.83.BC.E3.82.B9.E3.82.B3.E3.83.BC.E3.83.89.E3.83.AA.E3.83.B3.E3.82.AF">MDC:Custom Templates#Template:source - ソースコードリンク</a> for documentation.</p>
</div>
</span><span lang="ko" class="lang lang-ko"><code><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)</span></code> </span><span lang="pl" class="lang lang-pl"><span class="script">mediawiki.external('http://mxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>Zobacz również <a title="Project:pl/Własne_szablony#Szablon:source" href="/Project:pl/W%C5%82asne_szablony#Szablon:source">MDC:Własne szablony#Szablon:source</a>.</p>
</div>
</span><span lang="pt" class="lang lang-pt"><span class="script">mediawiki.external('http://mxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>See <span class="script">mediawiki.interwiki('en', 'MDC:Custom_Templates#Template:source', 'en:MDC:Custom Templates#Template:source')</span> for documentation.</p>
</div>
</span><span lang="ru" class="lang lang-ru"><code><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)</span></code> </span><span lang="zh-cn" class="lang lang-zh-cn"><code><span class="script">mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + $0)</span></code></span></p>
