<span lang='en' class='lang lang-en'>{{mediawiki.external('http://hg.mozilla.org/' + $0 + '/?file/tip/' + $1 + ' ' + ($2 || '<code>' + $1 + '</code>'))}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://hg.mozilla.org/' + $0 + '/?file/tip/' + $1 + ' ' + ($2 || '<code>' + $1 + '</code>'))}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.external('http://hg.mozilla.org/' + $0 + '/?file/tip/' + $1 + ' ' + ($2 || '<code>' + $1 + '</code>'))}}<div class="noinclude">
</div>
{{ wiki.languages( { "en": "Template:Source-hg" } ) }}</span>
