<%
/*
<div class="noinclude">
<p>See <a title="Project:en/Custom_Templates#Template:source" href="/Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.</p>
<p>Consultez <a title="Project:fr/Modèles_personnalisés#Mod.C3.A8le:source" href="/Project:fr/Modèles_personnalisés#Mod.C3.A8le:source">MDC:Modèles personnalisés#Modèle:source</a> pour la documentation.</p>
<p>See <a title="Project:ja/Custom_Templates#Template:source_-_.E3.82.BD.E3.83.BC.E3.82.B9.E3.82.B3.E3.83.BC.E3.83.89.E3.83.AA.E3.83.B3.E3.82.AF" href="/Project:ja/Custom_Templates#Template:source_-_.E3.82.BD.E3.83.BC.E3.82.B9.E3.82.B3.E3.83.BC.E3.83.89.E3.83.AA.E3.83.B3.E3.82.AF">MDC:Custom Templates#Template:source - ソースコードリンク</a> for documentation.</p>
<p>Zobacz również <a title="Project:pl/Własne_szablony#Szablon:source" href="/Project:pl/Własne_szablony#Szablon:source">MDC:Własne szablony#Szablon:source</a>.</p>
<hr />
</div>
*/
var link = 'http://mxr.mozilla.org/mozilla-central/source/' + $0;
%>
<a rel="custom" href="<%=link%>")"><% if ($1) { %><%= $1 %><% } else { %><code><%=$0%></code><% } %></a>
