
<p><span lang="*" class="lang lang-*"><span class="script">mediawiki.external('http://mxr.mozilla.org/mozilla-central/ident?i=' + $0 + ' <code>' + $0 + '</code>')</span> </span></p>
<p><noinclude>Links to a MXR search for the specified identifier.</noinclude></p>
