{{mediawiki.external('http://lxr.mozilla.org/mozilla/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}} <div class="noinclude"><hr />
<p>Consultez <a href="Project:fr/Mod%c3%a8les_personnalis%c3%a9s#Mod.C3.A8le:source">MDC:Modèles personnalisés#Modèle:source</a> pour la documentation.
</p>
</div>
