{{mediawiki.external('http://hg.mozilla.org/' + $0 + '/?file/tip/' + $1 + ' ' + ($2 || '<code>' + $1 + '</code>'))}}

<div class="noinclude">
</div>
{{ wiki.languages( { "en": "Template:Source-hg" } ) }}
