<%
/* parameters: */
/* $0 = name of specification */

var status = {
  'Alarm API'                  : 'WD',
  'AmbientLight'               : 'WD',
  'Battery API'                : 'CR',
  'Clipboard API'              : 'WD',
  'Compositing'                : 'CR',
  'Contacts'                   : 'WD',
  'CSS1'                       : 'REC',
  'CSS2.1'                     : 'REC',
  'CSS3 Animations'            : 'WD',
  'CSS3 Backgrounds'           : 'CR',
  'CSS3 Basic UI'              : 'WD',
  'CSS3 Box'                   : 'WD',
  'CSS3 Cascade'               : 'CR',
  'CSS3 Colors'                : 'REC',
  'CSS3 Conditional'           : 'CR',
  'CSS3 Content'               : 'WD',
  'CSS3 Counter Styles'        : 'WD',
  'CSS3 Device'                : 'WD',
  'CSS3 Exclusions and Shapes' : 'WD',
  'CSS3 Flexbox'               : 'CR',
  'CSS3 Fonts'                 : 'CR',
  'CSS3 Fragmentation'         : 'WD',
  'CSS3 GCPM'                  : 'WD',
  'CSS3 Grid'                  : 'WD',
  'CSS3 Images'                : 'CR',
  'CSS3 Lists'                 : 'WD',
  'CSS3 Media Queries'         : 'REC',
  'CSS3 Multicol'              : 'CR',
  'CSS3 Namespaces'            : 'REC',
  'CSS3 Paged Media'           : 'WD',
  'CSS3 Positioning'           : 'WD',
  'CSS3 Regions'               : 'WD',
  'CSS3 Selectors'             : 'REC',
  'CSS3 Sizing'                : 'WD',
  'CSS3 Speech'                : 'CR',
  'CSS3 Style'                 : 'REC',
  'CSS3 Template'              : 'WD',
  'CSS3 Text'                  : 'WD',
  'CSS4 Text'                  : 'ED',
  'CSS3 Text-decoration'       : 'CR',
  'CSS3 Transforms'            : 'WD',
  'CSS3 Transitions'           : 'WD',
  'CSS3 Values'                : 'CR',
  'CSS3 Variables'             : 'WD',
  'CSS3 Writing Modes'         : 'WD',
  'CSS3 2D Transforms'         : 'Old-Transforms',
  'CSS3 3D Transforms'         : 'Old-Transforms',
  'CSS4 Images'                : 'WD',
  'CSS4 Selectors'             : 'WD',
  'CSS Masks'                  : 'WD',
  'CSS Will Change'            : 'ED',
  'CSSOM'                      : 'WD',
  'CSSOM View'                 : 'WD',
  'Custom Elements'            : 'WD',
  'Device Orientation'         : 'WD',
  'DOM WHATWG'                 : 'Living',
  'DOM Parsing'                : 'Living',
  'DOM1'                       : 'REC',
  'DOM2 Core'                  : 'REC',
  'DOM2 Style'                 : 'REC',
  'DOM2 Events'                : 'REC',
  'DOM2 HTML'                  : 'REC',
  'DOM2 Traversal_Range'       : 'REC',
  'DOM3 Core'                  : 'REC',
  'DOM3 Events'                : 'WD',
  'DOM3 XPath'                 : 'REC',
  'Element Traversal'          : 'REC',
  'Encoding'                   : 'Living',
  'ES5.1'                      : 'Standard',
  'ES6'                        : 'Draft',
  'ES Int 1.0'                 : 'Standard',
  'File API'                   : 'WD',
  'FileSystem'                 : 'ED',
  'Filters 1.0'                : 'WD',
  'Fullscreen'                 : 'Living',
  'Gamepad'                    : 'WD',
  'Geolocation'                : 'REC',
  'Geometry Interfaces'        : 'ED',
  'Harmony'                    : 'Draft',
  'Highres Time'               : 'REC',
  'HTML Canvas 2D Context W3C' : 'CR',
  'HTML Editing'               : 'ED',
  'HTML Templates'             : 'WD',
  'HTML4.01'                   : 'REC',
  'HTML5 Web Messaging'        : 'CR',
  'HTML5 W3C'                  : 'CR',
  'HTML5.1'                    : 'WD',
  'HTML WHATWG'                : 'Living',
  'IndexedDB'                  : 'CR',
  'MathML2'                    : 'REC',
  'MathML3'                    : 'REC',
  'Media Capture'              : 'WD',
  'Media Source Extensions'    : 'WD',
  'MediaStream Recording'      : 'WD',
  'Messaging'                  : 'ED',
  'Navigation Timing'          : 'REC',
  'Network Information'        : 'WD',
  'Page Visibility API'        : 'REC',
  'Pointer Events'             : 'CR',
  'Pointer Lock'               : 'WD',
  'Progress Events'            : 'CR',
  'Proximity Events'           : 'WD',
  'Push API'                   : 'WD',
  'RequestAnimationFrame'      : 'WD',
  'Runtime'                    : 'WD',
  'SVG1.1'                     : 'REC',
  'Screen Orientation'         : 'WD',
  'Selectors API Level 1'      : 'REC',
  'Selectors API Level 2'      : 'WD',
  'Server-sent events'         : 'CR',
  'Shadow DOM'                 : 'WD',
  'Telephony API'              : 'ED',
  'Touch Events'               : 'PR',
  'Typed Array'                : 'WD',
  'Vibration API'              : 'CR',
  'UI Events'                  : 'WD',
  'Undo Manager'               : 'ED',
  'URL'                        : 'Living',
  'vCard'                      : 'RFC',
  'Web Audio API'              : 'WD',
  'Web Crypto API'             : 'WD',
  'WebIDL'                     : 'CR',
  'Web Notifications'          : 'WD',
  'WebRTC 1.0'                 : 'WD',
  'Websockets'                 : 'CR',
  'Web Storage'                : 'REC',
  'Web Telephony'              : 'ED',
  'WebVTT'                     : 'Draft',
  'Web Workers'                : 'CR',
  'WOFF1.0'                    : 'REC',
  'XMLHttpRequest'             : 'WD'
}

status['CSS3 2D Transforms'] = status['CSS3 3D Transforms'] = status['CSS3 Transforms'];
status['CSS3 UI'] = status['CSS3 Basic UI'];
status['WebSMS'] = status['Messaging'];
status['Compositing'] = status['Blending'];

var label = {
  'REC': mdn.localString({
    'en-US' : 'Recommendation',
    'ja'    : '勧告'
  }),
  'PR' : mdn.localString({
    'en-US' : 'Proposed Recommendation',
    'ja'    : '勧告案'
  }),
  'CR' : mdn.localString({
    'en-US' : 'Candidate Recommendation',
    'ja'    : '勧告候補'
  }),
  'WD' : mdn.localString({
    'en-US' : 'Working Draft',
    'ja'    : '草案'
  }),
  'ED' : mdn.localString({
    'en-US' : 'Editor\'s Draft',
    'ja'    : '勧告改訂案'
  }),
  'Old-Transforms' : mdn.localString({
    'en-US' : 'This has been merged in another draft. Please update',
    'ja'    : 'この仕様は他のドラフトへ移動されました。アップデートしてください。'
  }),
  'Living' : mdn.localString({
    'en-US' : 'Living Standard'
  }),
  'RFC' : mdn.localString({
    'en-US'   : 'IETF RFC'
  }),
  'Standard' : mdn.localString({
    'en-US' : 'Standard'
  }),
  'Draft'  : mdn.localString({
    'en-US' : 'Draft',
    'ja'    : 'ドラフト'
  })
}

var unknown_label = mdn.localString({
    'en-US' : 'Unknown',
    'ja' : '不明'
});

%><span class="spec-<%- status[$0] || ''  %>"><%= (status[$0] && label[status[$0]]) || unknown_label %></span>
