<tr>
  <td><code>network</code></td>
  <td>nsIVariant (object)</td>
  <td>Network object with an SSID field. Read only.</td>
</tr>
<tr>
  <td><code>status</code></td>
  <td>DOMString (string)</td>
  <td>Word describing the current status of the wifi manager. See possible values above. Read only.</td>
</tr>
