
<p><span class="script">template.Warning("Performing synchronous IO on the main thread can cause serious performance problems.  As a result, this method of modifying or querying the database is <strong>strongly</strong> discouraged!")</span></p>
