
<pre class="script" style="font-size: 16px;">
<dl>;
var type1 = "";
if ($1)
  type1 = typeof $1;
foreach (var i in list.orderBy(map.keyValues(page.subpages), "key"))
  <dt><a href=(i.value.uri) rel="internal" style="white-space: nowrap;">
    if ($1)
      switch (type1){
        case "bool":
          i.value.title;
          break;
        case "list":
          var s = i.value.title;
          if (!list.contains($1, s))
            <code>s</code>;
          else
            s;
          break;
      }
    else
      <code>i.value.title</code>;
  </a></dt>
  <dd>
    var s2 = xml.text(wiki.page(i.value.path, "Summary"), "//p", _, true);
    web.html(string.substr(s2, 3, #s2 - 7));
  </dd>
</dl>;

%>
