
<pre class="script" style="font-size: 16px;">
<table class="standard-table">
  <thead>
    <tr><th scope="col">$0</th><th scope="col">"Description"</th></tr>
  </thead>
foreach (var i in list.orderBy(map.keyValues(page.subpages), "key"))
  <tr>
    <td><a href=(i.value.uri) rel="internal" style="white-space: nowrap;">
      if ($1)
        switch (typeof $1){
          case "bool":
            i.value.title;
            break;
          case "list":
            var s = i.value.title;
            if (!list.contains($1, s))
              <code>s</code>;
            else
              s;
            break;
        }
      else
        <code>i.value.title</code>;
    </a></td>
    <td>
      var s2 = xml.text(wiki.page(i.value.path, "Summary"), "//p", _, true);
      web.html(string.substr(s2, 3, #s2 - 7));
    </td>
  </tr>;
</table>;

%>
