<%
// Creates a list of the subpages of the current page, with their summaries,
// as a definition list. Doesn't do any additional formatting.
//
// Parameters:
//
//  $0  A list of pages to output instead of the subpages of the current page;
//      OPTIONAL.

function pageSorter(a, b) {
    return a.title.localeCompare(b.title);
}

var termList;
var html = "";

if ($0 && ($0 != undefined)) {
    termList = JSON.parse($0);
} else {
    termList = page.subpagesExpand();
}

var numTerms = termList.length;

if (numTerms) {
    html = "<dl>";
    
    // Alphabetize the list
    
    termList.sort(pageSorter);
    
    // Now look for any items that are tagged "Important" and move them to the
    // top of the list. We will start our search at the end of the list and
    // move toward the front. By doing this, we keep the items in alphabetical
    // order so that they show up in the proper order in each section. Trust me,
    // this totally makes sense.
    
    for (var i=numTerms-1; i>=0; i--) {
        var aPage = termList[i];
    }
    
    var termIndex = 0;
    var numTerms = termList.length;
    
    for (var i=0; i<numTerms; i++) {
        var aPage = termList[i];
        
        if (!page.hasTag(aPage, "junk")) {
            var title = aPage.title;
            var summary = page.summary.replace(/<img[^>]*>/g," ");
            var url = aPage.url;
        
            html += "<dt class='landingPageList'><a href='" + url + "'>" + title + "</a></dt><dd class='landingPageList'>" + summary + "</dd>";
        }
    }
    
    html += "</dl>";
}
%>
<%-html%>
