<span lang='fr' class='lang lang-fr'><div class="prevnext">
<p><span style="float:right;">{{mediawiki.internal($0 + '|Suivant', "fr")}} »</span>
</p>
</div>
<span class="comment">Comment</span>
</span><span lang='*' class='lang lang-*'><div class="prevnext">
<p><span style="float:right;">{{mediawiki.internal($0 + '|Suivant', "fr")}} »</span>
</p>
</div>
<span class="comment">Comment</span>
</span>
