<span lang='en' class='lang lang-en'>{{mediawiki.internal('SVG:Attribute:' + $0 + '|' + $0, "en")}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('SVG:Attribute:' + $0 + '|' + $0, "en")}}
</span>
