<%
/* one parameter: attribute name */
var URL  = "/";
var lang = env.locale;
var localized = 'en-US';
var slug = {
        'en-US': "Attribute",
        fr     : "Attributs",
        pl     : "Atrybut"
    };
    
if ( lang in slug ) {
    localized = lang;
}

URL += lang + "/docs/SVG/" + slug[localized] + "/" + $0;
%>
<code><a href="<%- URL %>" <%- wiki.pageExists(URL) ? '' : ' class="new"' %>><%= $0 %></a></code>
