<%
/* one parameter: attribute name */

var localStr = {
        'en-US': "Attribute",
        fr     : "Attributs",
        pl     : "Atrybut"
    },
    lang = env.locale in localStr ? env.locale :'en-US',
    URL = "/" + lang + "/docs/SVG/" + localStr[lang] + "/" + $0;
%>
<code><a href="<%- URL %>" title="<%= URL %>"<%- wiki.pageExists(URL) ? '' : ' class="new"' %>><%= $0 %></a></code>
