<%
/* one parameter: SVG element name to create a xref to */
var slug = {
    'en-US': "Element"
};

var URL = "/" + env.locale + "/docs/Web/SVG/" + mdn.localString(slug) + "/" + $0;


%><a href="<%- URL %>" <%- wiki.pageExists(URL) ? '' : ' class="new"' %>><code>&lt;<%= $0 %>&gt;</code></a>
