<%
/* one parameter: name of sample's file in /samples/svg */

var str = mdn.localString({
  "en-US": "View the live example",
  "fr": "Voir l'exemple sur une page",
  "ja": "実際の表示を確認",
  "zh-CN": "查看示例"
});

var target = "/samples/svg/" + $0;

var result = '<a class="button liveSample" href="' + target + '">' + str + '</a>';
%>
<%- result %>
