<%
/* one parameter: name of sample's file in /samples/svg */
var str = mdn.localString({
  "en-US": "View the live example",
  "ja": "実際の表示を確認する",
});

var target = "/samples/svg/" + $0;

var result = '<a href="' + target + '"><span style="cursor:pointer; padding: 2px; border: solid 2px #333; color: black; -moz-box-shadow:2px 2px 2px #191919; -webkit-box-shadow:2px 2px 2px #191919; -o-box-shadow:2px 2px 2px #191919; box-shadow:2px 2px 2px #191919; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; background-color: #dce3ff; background-image:-moz-linear-gradient(76% 26% 142deg, #DCE3FF, #FFF 47%);">' + 
             str + '</span></a>';
%>
<%- result %>
