<ul>
<li><a href="/en-US/Mozilla_event_reference/SVGResize"><code>SVGResize</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/SVGScroll"><code>SVGScroll</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/SVGZoom"><code>SVGZoom</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/SVGLoad"><code>SVGLoad</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/SVGUnload"><code>SVGUnload</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/SVGAbort"><code>SVGAbort</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/SVGError"><code>SVGError</code></a></li>
</ul>
