<div style="border: 1px solid rgb(189, 225, 156); background: rgb(205, 242, 173) none repeat scroll 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; text-align: center;">
<p>Questa pagina è in fase di traduzione: contribuisci anche tu {{mediawiki.external(site.uri + mediawiki.localurl("it", page.namespace + ':' + page.unprefixedpath, 'action=edit') + ' completando le parti mancanti')}}. Il testo da tradurre potrebbe essere nascosto nella pagina: vai in {{mediawiki.external(site.uri + mediawiki.localurl("it", page.namespace + ':' + page.unprefixedpath, 'action=edit') + ' modifica')}} per visualizzarlo
</p>
</div>
