
<p><span lang="en" class="lang lang-en">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(255, 255, 225); font-weight: normal; text-align: center;">
<p style="margin: 4px 0px;">Introduced in <span class="script">wiki.pageexists(mediawiki.localurl("en", 'Thunderbird ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Thunderbird ' + $0 + ' for developers|Thunderbird ' + $0, "en")) : web.html('Thunderbird ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{template.tb minversion section(3)}}</span>
</pre>
<p>results in: <span class="script">template.Tb_minversion_section(3)</span></p>
<p>This template should be used when the content of a section applies to Thunderbird version N or higher. For individual items in a list or a table use <a title="Template:tb_minversion_inline" href="/Template:tb_minversion_inline">Template:tb minversion inline</a>, and for entire articles, use <a title="Template:tb_minversion_header" href="/Template:tb_minversion_header">Template:tb minversion header</a>.</p>
</div>
</span><span lang="*" class="lang lang-*">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(255, 255, 225); font-weight: normal; text-align: center;">
<p style="margin: 4px 0px;">Introduced in <span class="script">wiki.pageexists(mediawiki.localurl("en", 'Thunderbird ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Thunderbird ' + $0 + ' for developers|Thunderbird ' + $0, "en")) : web.html('Thunderbird ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{template.tb minversion section(3)}}</span>
</pre>
<p>results in: <span class="script">template.Tb_minversion_section(3)</span></p>
<p>This template should be used when the content of a section applies to Thunderbird version N or higher. For individual items in a list or a table use <a title="Template:tb_minversion_inline" href="/Template:tb_minversion_inline">Template:tb minversion inline</a>, and for entire articles, use <a title="Template:tb_minversion_header" href="/Template:tb_minversion_header">Template:tb minversion header</a>.</p>
</div>
</span></p>
