<%
var lang = env.locale;

var version = $0;
if (string.EndsWith(version, ".0")) {
  version = string.substr(version, 0, string.length(version)-2);
} 

var articleUrl = "Thunderbird " + version + " for developers";
var note = "Thunderbird " + $0 + " note";

switch(lang) {
  case 'de':
    articleUrl = "Thunderbird " + version + " für Entwickler";
    note = "Hinweis zu Thunderbird " + $0;
    break;
  case 'es':
    articleUrl = "Thunderbird " + version + " para desarrolladores";
    note = "Nota sobre Thunderbird " + $0;
    break;
  case 'fr':
    articleUrl = "Thunderbird " + version + " pour les développeurs";
    note = "Note concernant Thunderbird " + $0;
    break;
  case 'ja':
    articleUrl = "Thunderbird " + version + " for developers";
    note = "Thunderbird " + $0 + " における注記";
    break;
  case 'pl':
    articleUrl = "Thunderbird " + version + " dla programistów";
    note = "Uwaga dotycząca Firefoksa " + $0;
    break;
}
%>
<div class="standardNote">
  <p style="margin: 4px 0px; font-weight: bold;">
   <%
   if ( wiki.pageexists(lang + '/' + articleUrl) ) {
        %><%-web.link(wiki.uri(lang + '/'+ articleUrl), note)%><%
   } else {
        %><%-note%><% 
   }
   %>
  </p>
  <p style="margin: 4px 0px;"><%-$1%></p>
</div>
