
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example: <span class="script">template.Tb_minversion_header(3)</span></p>
<p>This template should be used when the content of the whole page or section applies to <span lang="en" class="lang lang-en">Thunderbird</span> version N or higher. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:tb minversion inline</a>.</p>
</div>
<pre class="script">
/* one parameter: Thunderbird version */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var articleName = "Thunderbird " + $0 + " for developers";
var link = web.link(wiki.uri(lang + '/' + articleName), "Thunderbird " + $0);
var text = "This article covers features introduced in " + link;

switch(lang) {
  case 'de':
    articleName = "Thunderbird " + $0 + " für Entwickler";
    text = "Dieser Artikel umfasst Features die in " + link + " eingeführt wurden";
    break;
  case 'es':
    articleName = "Thunderbird " + $0 + " para desarrolladores";
    text = "Este artículo cubre características introducidas en " + link;
    break;
  case 'fr':
    articleName = "Thunderbird " + $0 + " pour les développeurs";
    text = "Cet article traite de fonctionnalités introduites dans " + link;
    break;
  case 'ja':
    articleName = "Thunderbird " + $0 + " for developers";
    text = "この記事は " + link + "  の新機能について述べています";
    break;
  case 'ko':
    articleName = "Thunderbird " + $0 + " for developers";
    text = "이 문서는 Thunderbird 개발자들을 위한 정보입니다. " + link;
    break;
  case 'pl':
    articleName = "Thunderbird " + $0 + " dla programistów";
    text = "Ten artykuł obejmuje funkcje wprowadzone w " + link;
    break;
  case 'pt':
    articleName = "Thunderbird " + $0 + " para desenvolvedores";
    text = "Este artigo cobre características introduzidas no " + link;
    break;
  case 'zh-cn':
    articleName = "Thunderbird " + $0 + " for developers";
    text = "该条目记录了 " + link + " 引入的新特性";
    break;
  case 'zh-tw':
    articleName = "Thunderbird " + $0 + " 技術文件";
    text = "本文描述 " + link + " 之後加入的功能。";
    break;
}

<div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
  <p style="margin: 4px 0px;">
    web.html(text);
  </p>
</div>

%>
