
<p><span lang="en" class="lang lang-en">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">This article covers features introduced in <span class="script">wiki.pageexists(mediawiki.localurl("en", 'Thunderbird ' + $0 + ' for developers')) ? web.html(mediawiki.internal('Firefox ' + $0 + ' for developers|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "en")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>results in: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>This template should be used when the content of the whole page or section applies to <span lang="en" class="lang lang-en">Thunderbird</span> version N or higher. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>.</p>
</div>
</span><span lang="*" class="lang lang-*">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">This article covers features introduced in <span class="script">wiki.pageexists(mediawiki.localurl("en", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "en")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:en/Custom_Templates#Version_information_templates" href="/Project:en/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>results in: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>This template should be used when the content of the whole page or section applies to <span lang="en" class="lang lang-en">Thunderbird</span> version N or higher. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>.</p>
</div>
</span><span lang="de" class="lang lang-de">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Dieser Artikel umfasst Features, die in <span class="script">wiki.pageexists(mediawiki.localurl("de", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' für Entwickler')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' für Entwickler|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "de")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span> eingeführt wurden</p>
</div>
<div class="noinclude"><hr />
<p>Eine der <a title="Project:de/Benutzerdefinierte_Templates#Versionsinformationsvorlagen" href="/Project:de/Benutzerdefinierte_Templates#Versionsinformationsvorlagen">Versionsinformationsvorlagen</a>. Zum Beispiel:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>ergibt: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>Diese Vorlage sollte verwendet werden, wenn sich der Inhalt der gesamten Seite auf die Version N oder höher von <span lang="en" class="lang lang-en">Thunderbird</span> bezieht. Für spezielle Einträge einer Liste sollte <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a> verwendet werden.</p>
</div>
</span><span lang="es" class="lang lang-es">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Este artículo cubre características introducidas en <span class="script">wiki.pageexists(mediawiki.localurl("es", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' para desarrolladores')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' para desarrolladores|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "es")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:es/Custom_Templates#Version_information_templates" href="/Project:es/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>results in: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>This template should be used when the content of the whole page or section applies to <span lang="en" class="lang lang-en">Thunderbird</span> version N or higher. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>.</p>
</div>
</span><span lang="fr" class="lang lang-fr">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Cet article traite de fonctionnalités introduites dans <span class="script">wiki.pageexists(mediawiki.localurl("fr", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' pour les développeurs')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' pour les développeurs|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "fr")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>Un des <a title="Project:fr/Modèles_personnalisés#Mod.C3.A8les_d.27informations_de_version" href="/Project:fr/Mod%C3%A8les_personnalis%C3%A9s#Mod.C3.A8les_d.27informations_de_version">Modèles d'information de version</a>. Par exemple :</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>donnera : <span class="script">template.Fx_minversion_header(3)</span></p>
<p>Ce modèle doit être utilisé lorsque le contenu de la page complète ou de la section s'applique à la version N ou supérieure de <span lang="en" class="lang lang-en">Thunderbird</span>. Pour des éléments particuliers dans une liste ou un tableau, utilisez <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Modèle:fx minversion inline</a>.</p>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">この記事は <span class="script">wiki.pageexists(mediawiki.localurl("ja", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "ja")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span> の新機能について述べています</p>
</div>
<div class="noinclude"><hr />
<p><a title="Project:ja/Custom_Templates#Version_information_templates" href="/Project:ja/Custom_Templates#Version_information_templates">バージョン情報テンプレート</a> の 1 つです。例えば:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>は: <span class="script">template.Fx_minversion_header(3)</span> という結果になります。</p>
<p>このテンプレートはページか章全体の内容が <span lang="en" class="lang lang-en">Thunderbird</span> N 以上に適用される場合に使うべきです。リストや表の個々の項目には <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a> を使ってください。</p>
</div>
</span><span lang="ko" class="lang lang-ko">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">이 문서는 <span lang="en" class="lang lang-en">Thunderbird</span> 개발자들을 위한 정보입니다. <span class="script">wiki.pageexists(mediawiki.localurl("ko", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "ko")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p><a title="Project:ko/Custom_Templates#Version_information_templates" href="/Project:ko/Custom_Templates#Version_information_templates">템플릿 버전 정보</a>중 하나 입니다. 예:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>results in: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>This template should be used when the content of the whole page or section applies to <span lang="en" class="lang lang-en">Thunderbird</span> version N or higher. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>.</p>
</div>
</span><span lang="pl" class="lang lang-pl">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Ten artykuł obejmuje funkcje wprowadzone w <span class="script">wiki.pageexists(mediawiki.localurl("pl", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' dla programistów')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' dla programistów|Firefoksie ' + $0, "pl")) : web.html('Firefoksie ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>Jeden z <a title="Project:pl/Własne_szablony#Szablony_informuj.C4.85ce_o_wersji" href="/Project:pl/W%C5%82asne_szablony#Szablony_informuj.C4.85ce_o_wersji">szablonów informujących o wersji</a>. Na przykład:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>Wyświetli: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>Szablon ten powinien być stosowany, gdy zawartość całej strony lub lub jej części nawiązuje do wersji N lub wyższej Firefoksa. Dla poszczególych pozycji na liście lub w tabeli stosujemy <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Szablon:fx minversion inline</a>.</p>
</div>
</span><span lang="pt" class="lang lang-pt">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Este artigo cobre características introduzidas no <span class="script">wiki.pageexists(mediawiki.localurl("pt", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' para desenvolvedores')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' para desenvolvedores|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "pt")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span></p>
</div>
<div class="noinclude"><hr />
<p>One of the <a title="Project:pt/Custom_Templates#Version_information_templates" href="/Project:pt/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>results in: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>This template should be used when the content of the whole page or section applies to <span lang="en" class="lang lang-en">Thunderbird</span> version N or higher. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>.</p>
</div>
</span><span lang="zh-cn" class="lang lang-zh-cn">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">该条目记录了 <span class="script">wiki.pageexists(mediawiki.localurl("zh-cn", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' for developers|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "zh-cn")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span> 引入的新特性</p>
</div>
<div class="noinclude"><hr />
<p>一个<a title="Project:cn/Custom_Templates#Version_information_templates" href="/Project:cn/Custom_Templates#Version_information_templates">版本信息模版</a>。例如：</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>结果： <span class="script">template.Fx_minversion_header(3)</span></p>
<p>此模版将会应用在整个页面或者段落的内容仅适用于 <span lang="en" class="lang lang-en">Thunderbird</span> 版本 N 或者更高时。一个列表中单独的项目或一个表格应使用 <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>。</p>
</div>
</span><span lang="zh-tw" class="lang lang-zh-tw">
<div style="border: 0pt none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">本文描述 <span class="script">wiki.pageexists(mediawiki.localurl("zh-tw", '<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' 技術文件')) ? web.html(mediawiki.internal('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0 + ' 技術文件|<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0, "zh-tw")) : web.html('<span lang="en" class="lang lang-en">Thunderbird</span> ' + $0)</span> 之後加入的功能。</p>
</div>
<div class="noinclude">
<p><span class="script">wiki.template('翻譯中', [ "http://developer.mozilla.org/en/docs/Template:fx_minversion_header" ])</span></p>
<hr />
<p>One of the <a title="Project:zh_tw/Custom_Templates#Version_information_templates" href="/Project:zh_tw/Custom_Templates#Version_information_templates">Version information templates</a>. For example:</p>
<pre class="eval"><span class="nowiki">{{fx minversion header|3}}</span>
</pre>
<p>results in: <span class="script">template.Fx_minversion_header(3)</span></p>
<p>This template should be used when the content of the whole page or section applies to <span lang="en" class="lang lang-en">Thunderbird</span> version N or higher. For individual items in a list or a table use <a title="Template:fx_minversion_inline" href="/Template:fx_minversion_inline">Template:fx minversion inline</a>.</p>
</div>
</span></p>
