
<p><span lang="en" class="lang lang-en"><span class="script">mediawiki.external('http://mxr.mozilla.org/comm-central/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>See <a title="Project:en/Custom_Templates#Template:source" href="/Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.</p>
</div>
</span><span lang="*" class="lang lang-*"><span class="script">mediawiki.external('http://mxr.mozilla.org/comm-central/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))</span>
<div class="noinclude"><hr />
<p>See <a title="Project:en/Custom_Templates#Template:source" href="/Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.</p>
</div>
</span></p>
