<span lang='en' class='lang lang-en'>{{mediawiki.external('http://mxr.mozilla.org/comm-central/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}<div class="noinclude"><hr />
<p>See <a href="Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.
</p>
</div>
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://mxr.mozilla.org/comm-central/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}<div class="noinclude"><hr />
<p>See <a href="Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.
</p>
</div>
</span>
