{{mediawiki.external('http://mxr.mozilla.org/thunderbird/source/' + $0 + ' ' + ($1 || '<code>' + $0 + '</code>'))}}<div class="noinclude"><hr />
<p>See <a href="Project:en/Custom_Templates#Template:source">MDC:Custom Templates#Template:source</a> for documentation.
</p>
</div>
