<tr>
  <td><code>state</code></td>
  <td>DOMString (string)</td>
  <td>The current state of the call. Read only.</td>
</tr>
<tr>
  <td><code>call</code></td>
  <td>Call</td>
  <td>The call concerned by the event. Read only.</td>
</tr>
