<p><span class="comment">공식 참조 문서입니다. 이 목록에 추가하기 전에 Benjamin Smedberg 에게 문의하여 주십시오.   이 페이지는 아래에 열거된 페이지들로부터 참조됩니다. 그러니, Breadcrumbs 를 추가하지 마십시오!</span>
</p>
<ul><li> <a href="ko/Bundles">설치 가능한 번들</a>: 확장 기능, 테마, XULRunner 어플리케이션 등 - 에 대하여 기술하고 있습니다.
</li><li> <a href="ko/Extension_Packaging">확장기능 포장</a>: 확장 기능을 포장하는 방법에 대한 정보를 제공합니다. 
</li><li> <a href="ko/Theme_Packaging">테마 포장</a>: 테마 기능을 포장하는 방법에 대한 정보를 제공합니다. 
</li><li> <a href="ko/Multiple_Item_Packaging">Multiple-item Extension Packaging</a>: 여러 항목들이 포함되는 XPI 를 패키징하는 방법에 대한 정보를 제공합니다. 
</li></ul>
<p><span class="comment">원문 : specific information about multiple-item extension XPIs</span>
</p>
<ul><li> <a href="ko/XUL_Application_Packaging">XUL Application Packaging</a>: XULRunner 어플리케이션을 패키징하는 방법에 대한 정보를 제공합니다. 
</li><li> <a href="ko/Chrome_Registration">Chrome Registration</a>
</li></ul>
{{ wiki.languages( { "en": "en/Toolkit_API/Official_References" } ) }}
