<%
// Presents a box showing assorted information about the community
// for the technology area covered by a landing page.
//
// THIS IS THE NEW VERSION, PRESENTED AS A FULL-WIDTH BANNER.
//
// Parameters:
//  $0  Name of the topic
//  $1  Name of the driver
//  $2  IRC channel name
//  $3  Driver's IRC pseudo
//  $4  Mailing-list to ask any question

var ircInfoStr = "";
var headingStr = "";
var topicDriverStr = "";
var messageStr = "";
var messageNoteStr = "";
var ircLink = "";

var ircInfoLink = "<a href='https://wiki.mozilla.org/IRC'>";

// Build the IRC channel URL if a channel name was specified

if ($2) {
    ircLink = "<a href='irc://irc.mozilla.org/" + $2 + "'>#" + $2 + "</a>";
}

// Generate localized strings

switch(env.locale) {
    case "fr":
        headingStr = "Aider le projet de documentation '" + $0 + "'";
        topicDriverStr = "Coordinateur du domaine : " + $1 + " (IRC pseudo: " + $1 + ")";
        if ($2) {
            messageStr = "N'hésitez pas à le contacter sur le canal IRC : " + ircInfoLink + "</span>";
        }
        break;
    default:
        headingStr = "Help the '" + $0 + "' documentation project";
        topicDriverStr = "Topic driver : " + $1 + " (IRC pseudo: " + $1 + ")";
        if ($2) {
            messageStr = "Don't hesitate to take contact on the IRC channel : " + ircInfoLink + "</span>";
        }
        break;
}
%>

<div class="overheadIndicator communitybox">
    <div class="column-container">
        <div class="communitysubhead" id="Help_topic"><%=headingStr%></div>
        <div class="smaller"><%=topicDriverStr%></div>
        if (messageStr) { 
%>
            <div class="smaller"><%=messageStr%></div>
<%      }
%>
    </div>
</div>
