<span lang='en' class='lang lang-en'>« {{mediawiki.internal($0 + '|' + $0 + ' Topic Page', "en")}}
</span><span lang='*' class='lang lang-*'>« {{mediawiki.internal($0 + '|' + $0 + ' Topic Page', "en")}}
</span><span lang='es' class='lang lang-es'>« {{mediawiki.internal($0 + '|' + $0 + ' Página sobre el tema', "es")}}
</span><span lang='fr' class='lang lang-fr'>« {{mediawiki.internal($0 + '|Page du sujet ' + $0, "fr")}}
</span><span lang='ja' class='lang lang-ja'>« {{mediawiki.internal($0 + '|トピック ' + $0 + ' のページ', "ja")}}
</span><span lang='ko' class='lang lang-ko'>« {{mediawiki.internal($0 + '|' + $0 + ' Topic Page', "ko")}}
</span><span lang='nl' class='lang lang-nl'>« {{mediawiki.internal($0 + '|' + $0 + ' Onderwerps Pagina', "nl")}}
</span><span lang='pl' class='lang lang-pl'>« {{mediawiki.internal($0 + '|Strona tematu ' + $0, "pl")}}
</span><span lang='ru' class='lang lang-ru'>« {{mediawiki.internal($0 + '|К основной статье раздела', "ru")}}
</span><span lang='zh-cn' class='lang lang-zh-cn'>« {{mediawiki.internal($0 + '|' + $0 + ' 主题页面', "zh-cn")}}
</span>
