<ul>
<li><a href="/en-US/Mozilla_event_reference/touchstart"><code>touchstart</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/touchend"><code>touchend</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/touchmove"><code>touchmove</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/touchcancel"><code>touchcancel</code></a></li>
</ul>
