<div class="note">
<p>Esta página está traduciéndose a partir del artículo <i>{{mediawiki.internal(':' + $2 + ':' + $1 + '|' + $1, "es")}}</i>, razón por la cual puede haber lagunas, errores sintácticos o partes sin traducir. <i>Puedes colaborar {{mediawiki.external(site.uri + mediawiki.localurl("es", page.namespace + ':' + page.unprefixedpath, 'action=edit') + ' continuando con la traducción')}} </i>
</p>
</div>
<span class="comment">los cambios tienen el único propósito de acortar y reducir el tamaño de la plantilla.     perjudica la estética de las páginas. yo buscaría otra combinación de colores. Jorolo</span>
<span class="comment">contenidos suprimidos:       del idioma '''{{{1}}}'''       <br />       desde el {{mediawiki.internal(':{{{3}}}:{{{2}}}|artículo original', "es")}}''</span>
