
<p> </p>
<div class="note">
<p><img alt="Imagen:traduccion-pendiente.png" class=" internal" src="/@api/deki/files/1153/=Traduccion-pendiente.png" /> Esta página está traduciéndose a partir del artículo <em><span class="script">web.link('/' + $2 + '/' + $1, $1)</span></em>, razón por la cual puede haber algunos errores sintácticos o partes sin traducir. <em>Puedes colaborar <span class="script">mediawiki.external(site.uri + mediawiki.localurl("es", page.namespace + '/' + page.unprefixedpath, 'action=edit') + ' continuando con la traducción')</span></em></p>
</div>
<p><span class="comment">Cuando se aplica la plantilla también se añade la categoría para tener un listado de todas las páginas</span></p>
