<div class="note">
<p><img src="File:es/Media_Gallery/Traduccion-pendiente.png" alt="Imagen:traduccion-pendiente.png" /> Esta página está traduciéndose a partir del artículo <i>{{mediawiki.internal(':' + $2 + ':' + $1 + '|' + $1, "es")}}</i>, razón por la cual puede haber algunos errores sintácticos o partes sin traducir. <i>Puedes colaborar {{mediawiki.external(site.uri + mediawiki.localurl("es", page.namespace + ':' + page.unprefixedpath, 'action=edit') + ' continuando con la traducción')}}</i>
</p>
</div>
<span class="comment">Cuando se aplica la plantilla tambien se añade la categoría para tener un listado de todas las páginas</span>

<div class="includeonly"></div>
