<%

switch(page.language){
  case 'fr':
    <div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(156, 244, 156); text-align: center;">
      <p style="margin: 4px 0px;">
        web.html("Ce document est en cours de traduction vers le français. C'est la raison pour laquelle il est en partie dans une autre langue.<br /> N'hésitez pas à vous inscrire et à nous aider à traduire le MDN!");
      </p>
    </div>
    break;
   
  default: /*en*/
    <div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(156, 244, 156); text-align: center;">
      <p style="margin: 4px 0px;">
        web.html("This document is in progress to be translated. That's why it still contains texts in another language.<br /> Feel free to register and to help us in translating the MDN!");
      </p>
    </div>
    break;
}
</pre>
