<tr>
  <td><code>view</code></td>
  <td>AbstractView (<code>window</code>)</td>
  <td>The <a title="document.defaultView" href="/en-US/docs/DOM/document.defaultView"><code>defaultView</code></a> (<code>document.window</code>).</td>
</tr>
<tr>
  <td><code>detail</code></td>
  <td>long (float)</td>
  <td><%= ( $0 || "0" ) %> Read Only.</td>
</tr>
