<tr>
  <td><code>view</code></td>
  <td>AbstractView (<code>window</code>)</td>
  <td>The <a title="en/DOM/document.defaultView" href="/en/DOM/document.defaultView"><code>defaultView</code></a> (<code>document.window</code>).</td>
</tr>
<tr>
  <td><code>detail</code></td>
  <td>long (float)</td>
  <td><%= ( $0 || "0" ) %></td>
</tr>
