<tr>
  <td><code>view</code></td>
  <td>AbstractView (<code>window</code>)</td>
  <td><a title="document.defaultView" href="/en-US/docs/DOM/document.defaultView"><code>document.defaultView</code></a> (the <code>window</code> of the document). Read only.</td>
</tr>
<tr>
  <td><code>detail</code></td>
  <td>long (float)</td>
  <td><%= ( $0 || "0." ) %> Read only.</td>
</tr>
