
<p />
<div style="overflow:hidden; border: 1px solid rgb(255, 205, 154); background-color: rgb(255, 153, 204); font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Unimplemented</p>
</div>
<p><span lang="de" class="lang lang-de">
<div style="overflow:hidden; border: 1px solid rgb(255, 205, 154); background-color: rgb(255, 153, 204); font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Nicht implementiert</p>
</div>
</span><span lang="fr" class="lang lang-fr">
<div style="overflow:hidden; border: 1px solid rgb(255, 205, 154); background-color: rgb(255, 153, 204); font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">Inimplémenté</p>
</div>
</span><span lang="ja" class="lang lang-ja">
<div style="overflow:hidden; border: 1px solid rgb(255, 205, 154); background-color: rgb(255, 153, 204); font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">未実装</p>
</div>
<p />
<div style="overflow:hidden; border: 1px solid rgb(255, 205, 154); background-color: rgb(255, 153, 204); font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;">
<p style="margin: 4px 0px 4px 0px;">No implementado</p>
</div>
</span></p>
