<%
// Display an "Unimplemented" banner across the screen.
//
//  $0 - OPTIONAL: Mozilla bug number

    var lang = env.locale;
    
    var str = "";
    var see = "";
    
    switch(lang) {
        case 'de':
          str = "Nicht implementiert";
          see = "siehe";
            break;
        case 'ja':
            str = "未実装";
            see = "参照";
            break;
        case 'es':
            str = "No implementado";
            see = "mira";
            break;
        case "fr":
            str = "Non implémenté";
            see = "see";
            break;
        default:
            str = "Unimplemented";
            see = "see";
            break;
    }

    if ($0) {
        str = str + " (" + see + " " + template("bug", [$0]) + ")";
    }
%>

<div class="unimplementedHeader">
<p style="margin: 4px 0px 4px 0px;"><%-str%></p>
</div>
