<span lang='en' class='lang lang-en'>{{mediawiki.internal('User:' + $0 + '|' + $0, "en")}} ({{mediawiki.internal('User talk:' + $0 + '|talk', "en")}} <small>•</small> {{mediawiki.internal('Special:Contributions/' + $0 + '|contribs', "en")}})<div class="noinclude">
<h3 name="Example"> Example </h3>
<dl><dt> Code</dt><dd>
</dd></dl>
<p><code><span class="plain">{{User|Ivise301}}</span></code>
</p>
<dl><dt> Result</dt><dd>
</dd></dl>
<p>{{template.User("Ivise301")}}
</p>
</div>
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('User:' + $0 + '|' + $0, "en")}} ({{mediawiki.internal('User talk:' + $0 + '|talk', "en")}} <small>•</small> {{mediawiki.internal('Special:Contributions/' + $0 + '|contribs', "en")}})<div class="noinclude">
<h3 name="Example"> Example </h3>
<dl><dt> Code</dt><dd>
</dd></dl>
<p><code><span class="plain">{{User|Ivise301}}</span></code>
</p>
<dl><dt> Result</dt><dd>
</dd></dl>
<p>{{template.User("Ivise301")}}
</p>
</div>
</span>
