
<pre class="script">
/* parameters: version created, version last changed, version deprecated (optional), version obsoleted (optional) */
/* get page language first */

var currentGecko = "2.0";  // Update this to current Gecko version
var currentBlob = template.xverblob(currentGecko) - template.xverblob(1);
var u = uri.parts(Page.uri);
var lang = string.tolower(u.path[0]);
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

var availLength = currentBlob - template.xverblob($0);

<div style="height:24px; background:#222222; padding:2px; padding-right:262px;">

// Compute length of initial red block, if any. This will run from version 0.0 to $0

var start = 0;
var v = template.xverblob($0) - template.xverblob(1);
var end = 100*(v/currentBlob);
var st = "height:20px; background:#dd0000; width:" + end + "%";
<div style=(st)></div>
(web.html("v: " + v + ", end: " + end + ", currentBlob: " + currentBlob));
</div> 

%>
