
<p class="noinclude"><span class="script">template.warning("+.")</span></p>
<p><span lang="en" class="lang lang-en">
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><img src="/@api/deki/files/283/=Nuvola_apps_important.png" style="float: left;" alt="" />
<div style="margin-left: 130px; margin-top: 0.3em;"><strong>Warning:</strong> <span class="script">web.html($0)</span></div>
</div>
</span> <span lang="*" class="lang lang-*">
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><img src="/@api/deki/files/283/=Nuvola_apps_important.png" style="float: left;" alt="" />
<div style="margin-left: 130px; margin-top: 0.3em;"><strong>Warning:</strong> <span class="script">web.html($0)</span></div>
</div>
</span> <span lang="es" class="lang lang-es">
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><img src="/@api/deki/files/1131/=Nuvola_apps_important.png" style="float: left;" alt="" />
<div style="margin-left: 130px; margin-top: 0.3em;"><strong>Advertencia:</strong> <span class="script">web.html($0)</span></div>
</div>
<span lang="ja" class="lang lang-ja">
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><img src="/@api/deki/files/1761/=Nuvola_apps_important.png" style="float: left;" alt="" />
<div style="margin-left: 130px; margin-top: 0.3em;"><strong>警告:</strong> <span class="script">web.html($0)</span></div>
</div>
</span> <span lang="zh-tw" class="lang lang-zh-tw">
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><img src="/@api/deki/files/2740/=Nuvola_apps_important.png" style="float: left;" alt="" />
<div style="margin-left: 130px; margin-top: 0.3em;"><strong>小心：</strong> <span class="script">web.html($0)</span></div>
</div>
</span></span></p>
