<div class="noinclude"><span class="script">template.warning("+.")</span> <hr /></div>
<p> </p>
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><span class="lang lang-en" lang="en"><img alt="" src="/@api/deki/files/283/=Nuvola_apps_important.png" style="float: left;" /> </span> <div style="margin-left: 130px; margin-top: 0.3em;"><span class="lang lang-en" lang="en"><strong>Warning:</strong> <span class="script">web.html($0)</span></span></div>
</div>
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><span class="lang lang-*" lang="*"><img alt="" src="/@api/deki/files/283/=Nuvola_apps_important.png" style="float: left;" /> </span> <div style="margin-left: 130px; margin-top: 0.3em;"><span class="lang lang-*" lang="*"><strong>Warning:</strong> <span class="script">web.html($0)</span></span></div>
</div>
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><span class="lang lang-de" lang="de"><img alt="" src="/@api/deki/files/283/=Nuvola_apps_important.png" style="float: left;" /> </span> <div style="margin-left: 130px; margin-top: 0.3em;"><span class="lang lang-de" lang="de"><strong>Achtung:</strong> <span class="script">web.html($0)</span></span></div>
</div>
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><span class="lang lang-es" lang="es"><img alt="" src="/@api/deki/files/1131/=Nuvola_apps_important.png" style="float: left;" /> </span> <div style="margin-left: 130px; margin-top: 0.3em;"><span class="lang lang-es" lang="es"><strong>Advertencia:</strong> <span class="script">web.html($0)</span></span></div>
</div>
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><span class="lang lang-es" lang="es"><span class="lang lang-ja" lang="ja"><img alt="" src="/@api/deki/files/1761/=Nuvola_apps_important.png" style="float: left;" /> </span></span> <div style="margin-left: 130px; margin-top: 0.3em;"><span class="lang lang-es" lang="es"><span class="lang lang-ja" lang="ja"><strong>警告:</strong> <span class="script">web.html($0)</span></span></span></div>
</div>
<div class="warning" style="overflow:hidden; padding: 0.7em; min-height: 103px;"><span class="lang lang-es" lang="es"><span class="lang lang-zh-tw" lang="zh-tw"><img alt="" src="/@api/deki/files/2740/=Nuvola_apps_important.png" style="float: left;" /> </span></span> <div style="margin-left: 130px; margin-top: 0.3em;"><span class="lang lang-es" lang="es"><span class="lang lang-zh-tw" lang="zh-tw"><strong>小心：</strong> <span class="script">web.html($0)</span></span></span></div>
</div>
