<div class="warning" style="padding: 1em; min-height: 105px"><div style="float: left"></div><div style="margin-left: 130px; margin-top: 0.5em"><b>警告:</b> {{web.html($0)}}</div></div>
{{ wiki.languages( { "en": "en/Image/Nuvola_apps_important.png" } ) }}
