<%

var sidebarUtils = require("SidebarUtilities");
var pageModule = page;
var slug = env.slug;

var output = "hello<br/>";

function buildSidebar(slug) {
  if (!slug) {
    return;
  }
  
  var pathComponents = slug.split("/");
  if (pathComponents < 2) {
    return;
  }
  
  // find out where we are in the tree
  var leafDocument = pathComponents[pathComponents.length-1];
  // 1) we are at the root
  if (leafDocument == "API") {
    buildSidebarForRoot(slug);
  }
  else {
    parentDocument = pathComponents[pathComponents.length-2];
    var apiPath = "";
    if (parentDocument == "API") {
      // 2) we are at an API overview
      apiPath = slug;
      buildSidebarForAPI(apiPath, leafDocument);

    }
    else {
      // 3) we are at an API component page (method, property, ...)
      apiPath = slug.slice(0, apiPath.length - (leafDocument.length + 1));
      buildSidebarForAPI(apiPath, parentDocument);

    }
  }
}

function buildSidebarForRoot(path) {
  output = '<section class="Quick_links" id="Quick_Links"><ol>';
  var subpages = pageModule.subpagesExpand("/en-US/docs/" + path);
  output += sidebarUtils.buildSublist(subpages, "API Reference");
  output += '</ol></section>';
}

function buildSidebarForAPI(path, parent) {
  output = '<section class="Quick_links" id="Quick_Links"><ol>';
  var subpages = pageModule.subpagesExpand("/en-US/docs/" + path);
  output += sidebarUtils.buildSublist(subpages, parent);
  output += '</ol></section>';
}

buildSidebar(env.slug);

output += 'goodbye<br/>';
%>

<%-output%>
