<%

var allExamples = string.deserialize(template("WebExtExamplesData"));

function getExamplesForModule(module) {
  var examplesForModule = [];
  for (var i = 0; i < allExamples.length; i++) {
    var example = allExamples[i];
    for (var j = 0; j < example.javascript_modules.length; j++) {
      var exampleModule = example.javascript_modules[j];
      if (exampleModule.name === module) {
        examplesForModule.push(example);
      }
    }
  }
  return examplesForModule;
}

function getExamplesForAPI(module, api) {
  var examplesForAPI = [];
  var examplesForModule = getExamplesForModule(module);
  for (var i = 0; i < examplesForModule.length; i++) {
    var example = examplesForModule[i];
    for (var j = 0; j < example.javascript_modules.length; j++) {
      var exampleModule = example.javascript_modules[j];
      if (exampleModule.name == module) {
        for (var k = 0; k < exampleModule.apis.length; k++) {
          var exampleAPI = exampleModule.apis[k];
          if (api == exampleAPI) {
            examplesForAPI.push(example);
          }
        }
      }
    }
  }
  return examplesForAPI;
}

var lang = env.locale;

function writeExampleDetails(examples) {
  var output = "";
  for (var i = 0; i < examples.length; i++) {
    var example = examples[i]; 
    output += "<hr/>";
    output += "<h2>" + example.name + "</h2>";
    output += '<p><a href="' + example.url + '">' + example.url + '</a></p>';
    output += '<p>' + example.description + '</p>';

    if (example.manifest_keys.length > 0) {
        output += "<h3>" + "Manifest keys" + "</h3>";
        output += "<ul>";
        for (var j = 0; j < example.manifest_keys.length; j++) {
          var manifest_key = example.manifest_keys[j];
          output += '<li><a href="/' + lang + "/Add-ons/WebExtensions/manifest.json/" + manifest_key + '"><code>' + manifest_key + '</code></a></li>';
        }
        output += "</ul>";
    }
    
    if (example.javascript_modules.length > 0) {
      output += "<h3>" + "JavaScript modules" + "</h3>";
        output += "<ul>";
        for (var k = 0; k < example.javascript_modules.length; k++) {
          var module = example.javascript_modules[k];
          output += '<li><a href="/' + lang + "/Add-ons/WebExtensions/API/" + module.name + '"><code>' + module.name + '</code></a>';
          output += "<ul>";
          for (var l = 0; l < module.apis.length; l++) {
            var api = module.apis[l];
            output += '<li><a href="/' + lang + "/Add-ons/WebExtensions/API/" + module.name + '/' + api + '"><code>' + api + '</code></a></li>';

          }
          output += "</ul>";
          output += "</li>";
          
        }
        output += "</ul>";
    }
  }
  return output;
}


function writeExampleLinks(examples) {
  var output = "";
  if (examples.length > 0) {
    output = "<h2>Examples</h2>";
    output += "<ul>";
    for (var i = 0; i < examples.length; i++) {
      var example = examples[i];
      output += "<li>";
      output += '<a href="' + example.url + '">' + example.name + '</a>';
      output += "</li>";
    }
    output += "</ul>";
  }
  return output;
}

var output = "";

var pieces = env.slug.split("/");
var last = pieces[pieces.length-1];
var secondLast = pieces[pieces.length-2];

if (last == "Examples") {
  output = writeExampleDetails(allExamples);
} else if (secondLast == "API") {
  output = writeExampleLinks(getExamplesForModule(last));
}
else {
  output = writeExampleLinks(getExamplesForAPI(secondLast, last));
}

%>

<%- output %>
