<ul>
<li><a href="/en-US/Mozilla_event_reference/onstatuschange"><code>onstatuschange</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/connectionInfoUpdate"><code>connectionInfoUpdate</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/onenabled"><code>onenabled</code></a></li>
<li><a href="/en-US/Mozilla_event_reference/ondisabled"><code>ondisabled</code></a></li>
</ul>
