<span lang='en' class='lang lang-en'>{{mediawiki.internal('XBL:XBL 1.0 Reference:Elements#' + $0 + '|' + $0, "en")}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('XBL:XBL 1.0 Reference:Elements#' + $0 + '|' + $0, "en")}}
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.internal('XBL:Référence XBL 1.0:Éléments#' + $0 + '|' + $0, "fr")}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal('XBL:XBL 1.0 Reference:Elements#' + $0 + '|' + $0, "ja")}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal('XBL:Dokumentacja XBL 1.0:Elementy#' + $0 + '|' + $0, "pl")}}
</span>
