<span lang='en' class='lang lang-en'>{{mediawiki.internal('XBL:XBL 1.0 Reference:DOM Interfaces#' + $0 + '|' + $0, "en")}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('XBL:XBL 1.0 Reference:DOM Interfaces#' + $0 + '|' + $0, "en")}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal('XBL:XBL 1.0 Reference:DOM Interfaces#' + $0 + '|' + $0, "ja")}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal('XBL:Dokumentacja XBL 1.0:Interfejsy DOM#' + $0 + '|' + $0, "pl")}}
</span>
