<span lang='en' class='lang lang-en'>{{mediawiki.internal('XForms:User_Interface_Elements:' + string.toupperfirst($0) + '|' + $0, "en")}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('XForms:User_Interface_Elements:' + string.toupperfirst($0) + '|' + $0, "en")}}
</span>
