<%
var link = '<a href="/en/docs/Transforming_XML_with_XSLT">« Transforming XML with XSLT</a>';
switch (env.locale) {
  case 'fr':
    link = '<a href="/fr/docs/Transformations_XML_avec_XSLT">« Transformations XML avec XSLT</a>';
    break;
  case 'pl':
    link = '<a href="/pl/docs/Transformacje_XML_z_XSLT">« Transformacje XML z XSLT</a>';
    break;
};
%>
<%- link %>
