<span lang='en' class='lang lang-en'>{{mediawiki.internal('XPIDL:Syntax#' + $1 + '|' + $0, "en")}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('XPIDL:Syntax#' + $1 + '|' + $0, "en")}}
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.internal('XPIDL:Syntaxe#' + $1 + '|' + $0, "fr")}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal('XPIDL:Syntax#' + $1 + '|' + $0, "ja")}}
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.internal('XPIDL:Syntax#' + $1 + '|' + $0, "ko")}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal('XPIDL:Składnia#' + $1 + '|' + $0, "pl")}}
</span>
