<span lang='en' class='lang lang-en'>{{mediawiki.internal('XPIDL:Syntax#' + $0 + '|' + $0, "en")}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('XPIDL:Syntax#' + $0 + '|' + $0, "en")}}
</span>
