<div class="warning">
<p>Parts of this page show the use of the <a href="cn/XPInstall_API_Reference">XPInstall API</a>. The majority of this API is now deprecated and as of Gecko 1.9 no longer available. <a href="cn/Extensions">Extension</a>, <a href="cn/Themes">theme</a>, and <a href="cn/Plugins">plug-in</a> developers must switch away from <tt>install.js</tt> based packages to the new <a href="cn/Bundles">packaging scheme</a> with an <tt><a href="cn/Install.rdf">install.rdf</a></tt> manifest. In particular plugin developers should see <a href="cn/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.<br />
这一部分说明了<a href="cn/XPInstall_API_Reference">XPInstall API</a>的使用. 这些API现在已经过时并且到Gecko 1.9时将不再可用. <a href="cn/Extensions">扩展(Extension)</a>, <a href="cn/Themes">主题(theme)</a>和<a href="cn/Plugins">插件(plug-in)</a>的开发者必须要将基于<tt>install.js</tt>脚本文件的安装包转换成使用新的基于<tt><a href="cn/Install.ref">install.ref</a></tt>清单文件的安装包. 详细的情况插件开发者可以参考<a href="cn/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.
</p>
</div> <div class="includeonly"></div>
