<span lang='en' class='lang lang-en'><div class="warning">
<p>Parts of this page show the use of the <a href="en/XPInstall_API_Reference">XPInstall API</a>. The majority of this API is now deprecated and as of Gecko 1.9 no longer available. <a href="en/Extensions">Extension</a>, <a href="en/Themes">theme</a>, and <a href="en/Plugins">plug-in</a> developers must switch away from <tt>install.js</tt> based packages to the new <a href="en/Bundles">packaging scheme</a> with an <tt><a href="en/Install.rdf">install.rdf</a></tt> manifest. In particular plugin developers should see <a href="en/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.
</p>
</div> <div class="includeonly"></div>
</span><span lang='*' class='lang lang-*'><div class="warning">
<p>Parts of this page show the use of the <a href="en/XPInstall_API_Reference">XPInstall API</a>. The majority of this API is now deprecated and as of Gecko 1.9 no longer available. <a href="en/Extensions">Extension</a>, <a href="en/Themes">theme</a>, and <a href="en/Plugins">plug-in</a> developers must switch away from <tt>install.js</tt> based packages to the new <a href="en/Bundles">packaging scheme</a> with an <tt><a href="en/Install.rdf">install.rdf</a></tt> manifest. In particular plugin developers should see <a href="en/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.
</p>
</div> <div class="includeonly"></div>
</span><span lang='fr' class='lang lang-fr'><div class="note">
<p>Cette page fait parti de la <a href="fr/R%c3%a9f%c3%a9rence_de_l'API_XPInstall">Référence de l'API XPInstall</a>. Notez que si vous être un développeur d'<a href="fr/Extensions">extension</a>, de <a href="fr/Th%c3%a8mes">thème</a> ou de <a href="fr/Plugins">plugin</a>, vous n'avez plus besoin d'une grande partie de cette API. Plus particulièrement, le script <tt>install.js</tt> utilisé pour l'installation et l'enregistrement du contenu des <code>XPI</code> est déprécié en faveur du nouveau manifeste déclaratif <tt><a href="fr/Install.rdf">install.rdf</a></tt> et du nouveau <a href="fr/Bundles">schéma de paquetage</a>.
</p>
</div>
<div class="includeonly"></div>
</span><span lang='ja' class='lang lang-ja'><div class="note">
<p>このページは <a href="ja/XPInstall_API_Reference">XPInstall API Reference</a> の一部です。もしあなたが <a href="ja/Extensions">拡張機能</a>や<a href="ja/Themes">テーマ</a>、<a href="ja/Plugins">プラグイン</a>の開発者であるならば、この API のほとんどが必要ないことに注意してください。特に、XPI のコンテンツをインストールし、登録するために使用される <tt>install.js</tt> スクリプトは、新たに宣言される <tt><a href="ja/Install.rdf">install.rdf</a></tt> マニフェストや新しい <a href="ja/Bundles">パッケージング体系</a> のために非推奨です。
</p>
</div> <div class="includeonly"></div>
</span><span lang='zh-cn' class='lang lang-zh-cn'><div class="warning">
<p>Parts of this page show the use of the <a href="cn/XPInstall_API_Reference">XPInstall API</a>. The majority of this API is now deprecated and as of Gecko 1.9 no longer available. <a href="cn/Extensions">Extension</a>, <a href="cn/Themes">theme</a>, and <a href="cn/Plugins">plug-in</a> developers must switch away from <tt>install.js</tt> based packages to the new <a href="cn/Bundles">packaging scheme</a> with an <tt><a href="cn/Install.rdf">install.rdf</a></tt> manifest. In particular plugin developers should see <a href="cn/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.<br />
这一部分说明了<a href="cn/XPInstall_API_Reference">XPInstall API</a>的使用. 这些API现在已经过时并且到Gecko 1.9时将不再可用. <a href="cn/Extensions">Extension</a>, <a href="cn/Themes">theme</a>和<a href="cn/Plugins">plug-in</a>的开发者必须要将基于<tt>install.js</tt>脚本文件的安装包转换成使用新的基于<tt><a href="cn/Install.rdf">install.rdf</a></tt>清单文件的安装包. 详细的情况plugin开发者可以参考<a href="cn/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.
</p>
</div> <div class="includeonly"></div>
</span>
