<div class="note">
<p>This page is part of <a href="en/XPInstall_API_Reference">XPInstall API Reference</a>. Please note that if you're an <a href="en/Extensions">extension</a>, <a href="en/Themes">theme</a>, or a <a href="en/Plugins">plug-in</a> developer, you don't need most of this API. Specifically, the <tt>install.js</tt> script used to install and register XPI's contents is deprecated in favor of the new declarative <tt><a href="en/Install.rdf">install.rdf</a></tt> manifest and the new <a href="en/Bundles">packaging scheme</a>.
</p>
</div>
