<div class="warning">
<p>Parts of this page show the use of the <a href="cn/XPInstall_API_Reference">XPInstall API</a>. The majority of this API is now deprecated and as of Gecko 1.9 no longer available. <a href="cn/Extensions">Extension</a>, <a href="cn/Themes">theme</a>, and <a href="cn/Plugins">plug-in</a> developers must switch away from <tt>install.js</tt> based packages to the new <a href="cn/Bundles">packaging scheme</a> with an <tt><a href="cn/Install.rdf">install.rdf</a></tt> manifest. In particular plugin developers should see <a href="cn/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.
</p>
</div> <div class="includeonly"></div>
