<div class="warning">
<p>This page is part of the <a href="en/XPInstall_API_Reference">XPInstall API Reference</a>. The majority of this API is now deprecated and as of Gecko 1.9 no longer available. <a href="en/Extensions">Extension</a>, <a href="en/Themes">theme</a>, and <a href="en/Plugins">plug-in</a> developers should switch to the new <a href="en/Bundles">packaging scheme</a> with an <tt><a href="en/Install.rdf">install.rdf</a></tt> manifest. In particular plugin developers should see <a href="en/Shipping_a_plugin_as_an_extension">how to package a plugin as an extension</a>.
</p>
</div> <div class="includeonly"></div>
