<span lang='en' class='lang lang-en'><a href="en/CSS/inheritance">Inherited</a>
</span><span lang='*' class='lang lang-*'><a href="en/CSS/inheritance">Inherited</a>
</span><span lang='es' class='lang lang-es'><a href="es/CSS/inheritance">Heredable</a>
</span><span lang='fr' class='lang lang-fr'><a href="fr/CSS/H%c3%a9ritage">Héritée</a>
</span><span lang='ja' class='lang lang-ja'><a href="ja/CSS/inheritance">継承</a>
</span><span lang='ko' class='lang lang-ko'><a href="ko/CSS/inheritance">상속</a>
</span><span lang='pl' class='lang lang-pl'><a href="pl/CSS/dziedziczenie">Dziedziczona</a>
</span><span lang='zh-cn' class='lang lang-zh-cn'><a href="cn/CSS/inheritance">可继承</a>
</span><span lang='zh-tw' class='lang lang-zh-tw'><a href="zh_tw/CSS/inheritance">繼承與否</a>
</span>
