<%
var s_link = mdn.localString({
  "en-US": '<a href="/en-US/CSS/computed_value">Computed value</a>',
  "es":    '<a href="/es/CSS/Valor_calculado">Valor calculado</a>',
  "fr":    '<a href="/fr/CSS/Valeur_calcul%c3%a9e">Valeur calculée</a>',
  "ja":    '<a href="/ja/CSS/computed_value">計算値</a>',
  "pl":    '<a href="/pl/CSS/warto%c5%9b%c4%87_wyliczona">Wartość wyliczona</a>',
  "zh-cn": '<a href="/cn/CSS/computed_value">计算值</a>'
});
%>
<%- s_link %>
