<span lang='en' class='lang lang-en'><a href="en/CSS/computed_value">Computed value</a>
</span><span lang='*' class='lang lang-*'><a href="en/CSS/computed_value">Computed value</a>
</span><span lang='es' class='lang lang-es'><a href="es/CSS/Valor_calculado">Valor calculado</a>
</span><span lang='fr' class='lang lang-fr'><a href="fr/CSS/Valeur_calcul%c3%a9e">Valeur calculée</a>
</span><span lang='ja' class='lang lang-ja'><a href="ja/CSS/computed_value">計算値</a>
</span><span lang='ko' class='lang lang-ko'><a href="ko/CSS/computed_value">Computed value</a>
</span><span lang='pl' class='lang lang-pl'><a href="pl/CSS/warto%c5%9b%c4%87_wyliczona">Wartość wyliczona</a>
</span><span lang='zh-cn' class='lang lang-zh-cn'><a href="cn/CSS/computed_value">计算值</a>
</span>
