<span lang='en' class='lang lang-en'>{{template.Cssxref("Media:Visual", "visual")}}
</span><span lang='*' class='lang lang-*'>{{template.Cssxref("Media:Visual", "visual")}}
</span><span lang='es' class='lang lang-es'>{{template.Cssxref("Media:Visual", "visual")}}
</span><span lang='fr' class='lang lang-fr'>{{template.Cssxref("Média:Visuel", "visuel")}}
</span><span lang='ja' class='lang lang-ja'>{{template.Cssxref("Media:Visual", "visual")}}
</span><span lang='ko' class='lang lang-ko'>{{template.Cssxref("Media:Visual", "visual")}}
</span><span lang='pl' class='lang lang-pl'>{{template.Cssxref("Media:Visual", "visual")}}
</span><span lang='zh-cn' class='lang lang-zh-cn'>{{template.Cssxref("Media:Visual", "visual")}}
</span><span lang='zh-tw' class='lang lang-zh-tw'>{{template.Cssxref("Media:Visual", "可見")}}
</span>
