<% if ("es" == env.locale) { %>
<a href="/es/docs/CSS/Valor_inicial">Valor inicial</a>
<% } else if ("fr" == env.locale) { %>
<a href="/fr/docs/CSS/Valeur_initiale">Valeur initiale</a>
<% } else if ("ja" == env.locale) { %>
<a href="/ja/docs/CSS/initial_value">初期値</a>
<% } else if ("ko" == env.locale) { %>
<a href="/ko/docs/CSS/initial_value">초기값</a>
<% } else if ("pl" == env.locale) { %>
<a href="/pl/docs/CSS/warto%c5%9b%c4%87_pocz%c4%85tkowa">Wartość początkowa</a>
<% } else if ("zh-CN" == env.locale) { %>
<a href="/zn-CN/docs/CSS/initial_value">默认值</a>
<% } else if ("zh-TW" == env.locale) { %>
<a href="/zh-TW/docs/CSS/%e9%a0%90%e8%a8%ad%e5%80%bc">預設值</a>
<% } else { %>
<a href="/en-US/docs/CSS/initial_value">Initial value</a>
<% } %>
