<% if ("es" == env.locale) { %>
<a href="/es/docs/CSS/inheritance">Heredable</a>
<% } else if ("fr" == env.locale) { %>
<a href="/fr/docs/CSS/H%c3%a9ritage">Héritée</a>
<% } else if ("ja" == env.locale) { %>
<a href="/ja/docs/CSS/inheritance">継承</a>
<% } else if ("ko" == env.locale) { %>
<a href="/ko/docs/CSS/inheritance">상속</a>
<% } else if ("pl" == env.locale) { %>
<a href="/pl/docs/CSS/dziedziczenie">Dziedziczona</a>
<% } else if ("zh-CN" == env.locale) { %>
<a href="/zh-CN/docs/CSS/inheritance">可继承</a>
<% } else if ("zh-TW" == env.locale) { %>
<a href="/zh-TW/docs/CSS/inheritance">繼承與否</a>
<% } else { %>
<a href="/en-US/docs/CSS/inheritance">Inherited</a>
<% } %>
