<%
var url = {
    "en-US": env.locale + "/docs/CSS/inheritance",
    "de"   : env.locale + "/docs/CSS/Vererbung",
    "es"   : env.locale + "/docs/CSS/inheritance",
    "fr"   : env.locale + "/docs/CSS/H%c3%a9ritage",
    "ja"   : env.locale + "/docs/CSS/inheritance",
    "ko"   : env.locale + "/docs/CSS/inheritance",
    "pl"   : env.locale + "/docs/CSS/dziedziczenie",
    "zh-CN": env.locale + "/docs/CSS/inheritance",
    "zh-TW": env.locale + "/docs/CSS/inheritance"
};

var linkText = {
    "en-US": "Inherited",
    "de"   : "Vererbt",
    "es"   : "Heredable",
    "fr"   : "Héritée",
    "ja"   : "継承",
    "ko"   : "상속",
    "pl"   : "Dziedziczona",
    "zh-CN": "是否是继承属性",
    "zh-TW": "繼承與否"
};

var link = "<a href=\"$1$\">$2$</a>";
%>
<%- mdn.replacePlaceholders(link,
    [mdn.localString(url), mdn.localString(linkText)]) %>
