<%
var s_link = mdn.localString({
  "en-US": '<a href="/en-US/docs/CSS/computed_value">Computed value</a>',
  "es":    '<a href="/es/docs/CSS/Valor_calculado">Valor calculado</a>',
  "fr":    '<a href="/fr/docs/CSS/Valeur_calcul%c3%a9e">Valeur calculée</a>',
  "ja":    '<a href="/ja/docs/CSS/computed_value">計算値</a>',
  "pl":    '<a href="/pl/docs/CSS/warto%c5%9b%c4%87_wyliczona">Wartość wyliczona</a>',
  "zh-CN": '<a href="/zh-CN/docs/CSS/computed_value">计算值</a>'
});


%><%- s_link %>
