<div style="background: #f5f5f5; margin: 5px 0;"><b><a href="es/Transforming_XML_with_XSLT/The_Netscape_XSLT%2f%2fXPath_Reference">XSLT/XPath Reference</a></b>: <a href="es/XSLT/Elements">XSLT elements</a>, <a href="es/EXSLT">EXSLT functions</a>, <a href="es/XPath/Functions">XPath functions</a>, <a href="es/XPath/Axes">XPath axes</a></div> <div class="includeonly"></div>
