<div style="background: #f5f5f5; margin: 5px 0;"><b><a href="ja/Transforming_XML_with_XSLT/The_Netscape_XSLT%2f%2fXPath_Reference">XSLT/XPath リファレンス</a></b>: <a href="ja/XSLT/Elements">XSLT 要素</a>, <a href="ja/XPath/Functions">XPath ファンクション</a>, <a href="ja/XPath/Axes">XPath axes</a></div> <div class="includeonly"></div>
