<div style="background: #f5f5f5; margin: 5px 0;"><b><a href="es/Tranformaci%c3%b3n_de_XML_con_XSLT/Referencia_de_Netscape_XSLT%2f%2fXPath">Referencia de XSLT/XPath</a></b>: <a href="es/XSLT/Elementos">Elementos de XSLT</a>, <a href="es/EXSLT">Funciones de EXSLT</a>, <a href="es/XPath/Funciones">Funciones de XPath</a>, <a href="es/XPath/Ejes">Ejes de XPath</a></div> <div class="includeonly"></div>
