<div style="background: #f5f5f5; margin: 5px 0;"><b><a href="pl/Transformacje_XML_z_XSLT/Dokumentacja_XSLT%2f%2fXPath">Dokumentacja XSLT/XPath</a></b>: <a href="pl/XSLT/Elementy">Elementy XSLT</a>, <a href="pl/XPath/Funkcje">Funkcje XPath</a>, <a href="pl/XPath/Osie">Osie XPath</a></div>
<span class="comment">Należy dopracować ten szablon jeszcze</span>
