<span lang='en' class='lang lang-en'><dl><dt>vbox
</dt><dd>A container element which can contain any number of child elements. This is equivalent to the <a href="en/XUL/box">box</a> element, except it defaults to vertical orientation.
</dd></dl>
</span><span lang='*' class='lang lang-*'><dl><dt>vbox
</dt><dd>A container element which can contain any number of child elements. This is equivalent to the <a href="en/XUL/box">box</a> element, except it defaults to vertical orientation.
</dd></dl>
</span>
