<span lang='en' class='lang lang-en'>Related elements: <code>{{template.XULElem("menu")}}</code>, <code>{{template.XULElem("menubar")}}</code>, <code>{{template.XULElem("menuitem")}}</code>, <code>{{template.XULElem("menulist")}}</code>, <code>{{template.XULElem("menupopup")}}</code>, <code>{{template.XULElem("menuseparator")}}</code>
</span><span lang='*' class='lang lang-*'>Related elements: <code>{{template.XULElem("menu")}}</code>, <code>{{template.XULElem("menubar")}}</code>, <code>{{template.XULElem("menuitem")}}</code>, <code>{{template.XULElem("menulist")}}</code>, <code>{{template.XULElem("menupopup")}}</code>, <code>{{template.XULElem("menuseparator")}}</code>
</span>
