<span lang='en' class='lang lang-en'>Related elements: <code>{{template.XULElem("listbox")}}</code>, 
<code>{{template.XULElem("listcell")}}</code>, 
<code>{{template.XULElem("listcol")}}</code>, 
<code>{{template.XULElem("listcols")}}</code>, 
<code>{{template.XULElem("listhead")}}</code>, 
<code>{{template.XULElem("listheader")}}</code>,
<code>{{template.XULElem("listitem")}}</code>
</span><span lang='*' class='lang lang-*'>Related elements: <code>{{template.XULElem("listbox")}}</code>, 
<code>{{template.XULElem("listcell")}}</code>, 
<code>{{template.XULElem("listcol")}}</code>, 
<code>{{template.XULElem("listcols")}}</code>, 
<code>{{template.XULElem("listhead")}}</code>, 
<code>{{template.XULElem("listheader")}}</code>,
<code>{{template.XULElem("listitem")}}</code>
</span><span lang='ja' class='lang lang-ja'>関連要素: <code>{{template.XULElem("listbox")}}</code>, 
<code>{{template.XULElem("listcell")}}</code>, 
<code>{{template.XULElem("listcol")}}</code>, 
<code>{{template.XULElem("listcols")}}</code>, 
<code>{{template.XULElem("listhead")}}</code>, 
<code>{{template.XULElem("listheader")}}</code>,
<code>{{template.XULElem("listitem")}}</code>
</span>
