<div class="includeonly">{{mediawiki.internal('XUL:Attribute:' + (string.trim(($1 || '')) !== '' ? web.html($0) : web.html($1)) + '|' + $0, "ja")}}</div><div class="noinclude">
<p>使用方法:
</p>
<pre class="eval"> <span class="plain">{{XULAttr|label.value|value}}</span>
</pre>
</div>
