
<pre class="script">
/* parameters: first the attribute name, second the display name for the attribute */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = u.path[0];
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}

/* set up the page name based on language */

var attrName = "Attribute";
var anch = "a-" + $0;
var dispApi = $0;
if ($1) {
  dispApi = $1;
}

switch(lang) {
  case 'fr':
    attrName = "Attributs";
    break;
  case 'pl':
    attrName = "Atrybut";
    break;
}

var destOldType = lang + '/XUL:' + attrName + ':' + $0;
var destNewType = lang + '/XUL/' + attrName + '/' + $0;

if (wiki.pageExists(destNewType)) {
 <code><span id=(anch)>(web.link(wiki.uri(destNewType), dispApi))</span></code>
} else if (wiki.pageExists(destOldType)) {
  <code><span id=(anch)>(web.link(wiki.uri(destOldType), dispApi))</span></code>
} else {
  <code><<span class="start-tag">a</span><span class="attribute-name"> rel</span>=(<span class="attribute-value">'internal') </span><span class="attribute-name">href</span><span>=</span>(<span>wiki.uri(</span>destNewType<span>)) </span><span class="attribute-name">class</span>=<span class="attribute-value">('new')></span>$0</<span class="end-tag">a></span></code>;
}
</pre>
