<table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Dziedziczy po elemencie XUL</b><br />
<small>
{{template.XULAttr("align")}}, 
{{template.XULAttr("allowevents")}}, 
{{template.XULAttr("allownegativeassertions")}}, 
{{template.XULAttr("class")}}, 
{{template.XULAttr("coalesceduplicatearcs")}}, 
{{template.XULAttr("collapsed")}}, 
{{template.XULAttr("container")}}, 
{{template.XULAttr("containment")}}, 
{{template.XULAttr("context")}}, 
{{template.XULAttr("contextmenu")}}, 
{{template.XULAttr("datasources")}}, 
{{template.XULAttr("dir")}}, 
{{template.XULAttr("empty")}}, 
{{template.XULAttr("equalsize")}}, 
{{template.XULAttr("flags")}}, 
{{template.XULAttr("flex")}}, 
{{template.XULAttr("height")}}, 
{{template.XULAttr("hidden")}}, 
{{template.XULAttr("id")}}, 
{{template.XULAttr("insertafter")}}, 
{{template.XULAttr("insertbefore")}}, 
{{template.XULAttr("left")}}, 
{{template.XULAttr("maxheight")}}, 
{{template.XULAttr("maxwidth")}}, 
{{template.XULAttr("menu")}}, 
{{template.XULAttr("minheight")}}, 
{{template.XULAttr("minwidth")}}, 
{{template.XULAttr("mousethrough")}}, 
{{template.XULAttr("observes")}}, 
{{template.XULAttr("ordinal")}}, 
{{template.XULAttr("orient")}}, 
{{template.XULAttr("pack")}}, 
{{template.XULAttr("persist")}}, 
{{template.XULAttr("popup")}}, 
{{template.XULAttr("position")}}, 
{{template.XULAttr("preference-editable")}}, 
{{template.XULAttr("ref")}}, 
{{template.XULAttr("removeelement")}}, 
{{template.XULAttr("sortDirection")}}, 
{{template.XULAttr("sortResource")}}, 
{{template.XULAttr("sortResource2")}}, 
{{template.XULAttr("statustext")}}, 
{{template.XULAttr("style")}}, 
{{template.XULAttr("template")}}, 
{{template.XULAttr("tooltip")}}, 
{{template.XULAttr("tooltiptext")}}, 
{{template.XULAttr("top")}}, 
{{template.XULAttr("uri")}}, 
{{template.XULAttr("wait-cursor")}}, 
{{template.XULAttr("width")}}
</small></p>
</td></tr>
</table>
