
<p>
<span lang="en" class="lang lang-en"><span id="{{'a-' + $0}}"><span class="script">wiki.page('en/XUL/Attribute/' + $0)</span></span></span>
<span lang="*" class="lang lang-*"> <span id="{{'a-' + $0}}"><span class="script">wiki.page('en/XUL/Attribute/' + $0)</span></span></span>
<span lang="de" class="lang lang-de"><span id="{{'a-' + $0}}"><span class="script">wiki.page('de/XUL/Attribute/' + $0)</span></span></span>
<span lang="es" class="lang lang-es"><span id="{{'a-' + $0}}"><span class="script">wiki.page('es/XUL/Attribute/' + $0)</span></span></span>
<span lang="fr" class="lang lang-fr"><span id="{{'a-' + $0}}"><span class="script">wiki.page('fr/XUL/Attributs/' + $0)</span></span></span>
<span lang="ja" class="lang lang-ja"><span id="{{'a-' + $0}}"><span class="script">wiki.page('ja/XUL/Attribute/' + $0)</span></span></span>
<span lang="ko" class="lang lang-ko"><span class="script">wiki.page('ko/XUL/Attribute/' + $0)</span></span>
<span lang="pl" class="lang lang-pl"><span id="{{'a-' + $0}}"><span class="script">wiki.page('pl/XUL/Attrybut/' + $0)</span></span></span>
<span lang="zh-cn" class="lang lang-zh-cn"><span id="{{'a-' + $0}}"><span class="script">wiki.page('zh-cn/XUL/Attribute/' + $0)</span></span></span></p>
