<%
var path = 'en-US/XUL/Attribute';
switch (env.locale) {
    case 'de':    path = 'de/XUL/Attribute'; break;
    case 'es':    path = 'es/XUL/Attribute'; break;
    case 'fr':    path = 'fr/XUL/Attributs'; break;
    case 'ja':    path = 'ja/XUL/Attribute'; break;
    case 'ko':    path = 'ko/XUL/Attribute'; break;
    case 'pl':    path = 'pl/XUL/Attrybut'; break;
    case 'zh-CN': path = 'zh-CN/XUL/Attribute'; break;
}
%>
<div id="<%='a-' + $0%>">
<%- wiki.page(path + '/' + $0) %>
</div>
