<%

/* parameters: first the attribute name, second the display name for the attribute */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = string.toLower(u.path[0]);
if (string.contains(lang, "project")) {
  lang = string.substr(lang, 8);
}
/* fall back to page.language on a user page */
else if (string.StartsWith(lang, "user:")) {
 lang = page.language;
}

/* set up the page name based on language */

var attrName = "Attribute";
var anch = "a-" + $0;
var dispApi = $0;
if ($1) {
  dispApi = $1;
}

switch(lang) {
  case 'fr':
    attrName = "Attributs";
    break;
  case 'pl':
    attrName = "Atrybut";
    break;
}

var destOldType = lang + '/XUL:' + attrName + ':' + $0;
var destNewType = lang + '/XUL/' + attrName + '/' + $0;

if (wiki.pageExists(destNewType)) {
 <code><span id=(anch)>(web.link(wiki.uri(destNewType), dispApi))</span></code>
} else if (wiki.pageExists(destOldType)) {
  <code><span id=(anch)>(web.link(wiki.uri(destOldType), dispApi))</span></code>
} else {
  var targeturi = "https://developer.mozilla.org/Article_not_found?uri=" + destNewType;
  <code><a rel=('internal') href=(targeturi) class=('new')>(dispApi)</a></code>
}
</pre>
