
<pre class="script">
/* one parameter: element name */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = u.path[0];
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}

var destOldType = lang + '/XUL:' + $0;
var destNewType = lang + '/XUL/' + $0;

if (wiki.pageExists(destNewType)) {
 <code><span id=(anch)>(web.link(wiki.uri(destNewType), dispApi))</span></code>
} else if (wiki.pageExists(destOldType)) {
  <code><span id=(anch)>(web.link(wiki.uri(destOldType), dispApi))</span></code>
} else {
  <code><<span class="start-tag">a</span><span class="attribute-name"> rel</span>=(<span class="attribute-value">'internal') </span><span class="attribute-name">href</span><span>=</span>(<span>wiki.uri(</span>destNewType<span>)) </span><span class="attribute-name">class</span>=<span class="attribute-value">('new')></span>$0</<span class="end-tag">a></span></code>;
}

%>
