
<pre class="script">
/* parameters: first the method name, second the parameter list, third the display name for the method */
/* get the page language */

var u = uri.parts(Page.uri);
var lang = u.path[0];
if (string.contains(lang, "project") || string.contains(lang, "Project")) {
  lang = string.substr(lang, 8);
}

/* set up the page name based on language */

var methodName = "Method";
var anch = "m-" + $0;
var dispApi = $0;
if ($2) {
  dispApi = $2;
}

dispApi = dispApi + '(' + $0 + ')';

switch(lang) {
  case 'de':
    methodName = "Methoden";
    break;
  case 'fr':
    methodName = "Méthodes";
    break;
  case 'pl':
    methodName = "Metoda";
    break;
}

var destOldType = lang + '/XUL:' + methodName + ':' + $0;
var destNewType = lang + '/XUL/' + methodName + '/' + $0;

if (wiki.pageExists(destNewType)) {
 <code><span id=(anch)>(web.link(wiki.uri(destNewType), dispApi))</span></code>
} else if (wiki.pageExists(destOldType)) {
  <code><span id=(anch)>(web.link(wiki.uri(destOldType), dispApi))</span></code>
} else {
  <code><a rel=('internal') href=(wiki.uri(destNewType)) class=('new')>$0</a></code>;
}

%>
