
<p><code><span lang="en" class="lang lang-en"><span class="script">mediawiki.internal('XUL:Method:' + $0 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($0)) + $1, "en")</span></span></code><span lang="en" class="lang lang-en">
<div class="noinclude">
<p>example:</p>
<pre class="eval"><span class="nowiki">{{XULMeth2|menulist.appendItem|( label, value, description )|appendItem}}</span>
</pre>
</div>
</span> <code><span lang="*" class="lang lang-*"><span class="script">mediawiki.internal('XUL:Method:' + $0 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($0)) + $1, "en")</span> </span></code><span lang="*" class="lang lang-*">
<div class="noinclude">
<p>example:</p>
<pre class="eval"><span class="nowiki">{{XULMeth2|menulist.appendItem|( label, value, description )|appendItem}}</span>
</pre>
</div>
</span> <code><span lang="es" class="lang lang-es"><span class="script">mediawiki.internal('XUL:Method:' + $0 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($0)) + $1, "es")</span></span></code><span lang="es" class="lang lang-es">
<div class="noinclude">
<p>ejemplo:</p>
<pre class="eval"><span class="nowiki">{{XULMeth2|menulist.appendItem|( label, value, description )|appendItem}}</span>
</pre>
</div>
</span> <code><span lang="fr" class="lang lang-fr"><span class="script">mediawiki.internal('XUL:Méthodes:' + $0 + '|' + $0 + $1, "fr")</span> </span> <span lang="ja" class="lang lang-ja"><span class="script">mediawiki.internal('XUL:Method:' + $0 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($0)) + $1, "ja")</span></span></code><span lang="ja" class="lang lang-ja">
<div class="noinclude">
<p>例:</p>
<pre class="eval"><span class="nowiki">{{XULMeth2|menulist.appendItem|( label, value, description )|appendItem}}</span>
</pre>
</div>
</span> <code><span lang="ko" class="lang lang-ko"><span class="script">mediawiki.internal('XUL:Method:' + $0 + '|' + $0 + $1, "ko")</span> </span> <span lang="pl" class="lang lang-pl"><span class="script">mediawiki.internal('XUL:Metoda:' + $0 + '|' + $0 + ' ' + $1, "pl")</span></span></code></p>
