<span lang='en' class='lang lang-en'><span id="{{'m-' + $0}}">{{wiki.template(mediawiki.path(':XUL:Method:' + $0, "en"))}}</span>
</span><span lang='*' class='lang lang-*'><span id="{{'m-' + $0}}">{{wiki.template(mediawiki.path(':XUL:Method:' + $0, "en"))}}</span>
</span><span lang='de' class='lang lang-de'><span id="{{'m-' + $0}}">{{wiki.template(mediawiki.path(':XUL:Method:' + $0, "de"))}}</span>
</span><span lang='fr' class='lang lang-fr'><span id="{{'m-' + $0}}">{{wiki.template(mediawiki.path(':XUL:Méthodes:' + $0, "fr"))}}</span>
</span><span lang='ja' class='lang lang-ja'><span id="{{'m-' + $0}}">{{wiki.template(mediawiki.path(':XUL:Method:' + $0, "ja"))}}</span>
</span><span lang='pl' class='lang lang-pl'><span id="{{'m-' + $0}}">{{wiki.template(mediawiki.path(':XUL:Metoda:' + $0, "pl"))}}</span>
</span>
