<table style="float:right; width:250px; border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Inherited from XUL element</b><br />
<small>
{{template.XULMeth("blur")}},
{{template.XULMeth("click")}},
{{template.XULMeth("doCommand")}},
{{template.XULMeth("focus")}},
{{template.XULMeth("getElementsByAttribute")}},
{{template.XULMeth("removeItemFromSelection")}}</small>
</p><p><b>Inherited from DOM element</b><br />
<small>
{{template.DOMMeth("addEventListener")}},
{{template.DOMMeth("appendChild")}},
{{template.DOMMeth("dispatchEvent")}},
{{template.DOMMeth("getAttribute")}},
{{template.DOMMeth("getAttributeNode")}},
{{template.DOMMeth("getAttributeNodeNS")}},
{{template.DOMMeth("getAttributeNS")}},
{{template.DOMMeth("getElementsByTagName")}},
{{template.DOMMeth("getElementsByTagNameNS")}},
{{template.DOMMeth("hasAttribute")}},
{{template.DOMMeth("hasAttributeNS")}},
{{template.DOMMeth("hasAttributes")}},
{{template.DOMMeth("hasChildNodes")}},
{{template.DOMMeth("insertBefore")}},
{{template.DOMMeth("isSupported")}},
{{template.DOMMeth("normalize")}},
{{template.DOMMeth("removeAttribute")}},
{{template.DOMMeth("removeAttributeNode")}},
{{template.DOMMeth("removeAttributeNS")}},
{{template.DOMMeth("removeChild")}},
{{template.DOMMeth("removeEventListener")}},
{{template.DOMMeth("replaceChild")}},
{{template.DOMMeth("setAttribute")}},
{{template.DOMMeth("setAttributeNode")}},
{{template.DOMMeth("setAttributeNodeNS")}},
{{template.DOMMeth("setAttributeNS")}}</small>
</p>
</td></tr>
</table>
