<span lang='en' class='lang lang-en'>{{mediawiki.internal('XUL:Method:' + $0 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($0)) + $1, "en")}}<div class="noinclude">
<p>example:
</p>
<pre class="eval"><span class="plain">{{XULMeth2|menulist.appendItem|( label, value, description )|appendItem}}</span>
</pre>
</div>
</span><span lang='*' class='lang lang-*'>{{mediawiki.internal('XUL:Method:' + $0 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($0)) + $1, "en")}}<div class="noinclude">
<p>example:
</p>
<pre class="eval"><span class="plain">{{XULMeth2|menulist.appendItem|( label, value, description )|appendItem}}</span>
</pre>
</div>
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.internal('XUL:Méthodes:' + $0 + '|' + $0 + $1, "fr")}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.internal('XUL:Method:' + $0 + '|' + (string.trim(($2 || '')) !== '' ? web.html($2) : web.html($0)) + $1, "ja")}}<div class="noinclude">
<p>例:
</p>
<pre class="eval"><span class="plain">{{XULMeth2|menulist.appendItem|( label, value, description )|appendItem}}</span>
</pre>
</div>
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.internal('XUL:Method:' + $0 + '|' + $0 + $1, "ko")}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.internal('XUL:Metoda:' + $0 + '|' + $0 + ' ' + $1, "pl")}}
</span>
