<span lang='en' class='lang lang-en'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Inherited from XUL element</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>Inherited from DOM element</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span><span lang='*' class='lang lang-*'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Inherited from XUL element</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>Inherited from DOM element</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span><span lang='de' class='lang lang-de'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Geerbt von XUL-Element</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>Geerbt von DOM-Element</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span><span lang='fr' class='lang lang-fr'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Héritées de XUL element</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>Héritées de DOM element</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span><span lang='ja' class='lang lang-ja'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>XUL 要素からの継承</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>DOM 要素からの継承</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span><span lang='ko' class='lang lang-ko'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>XUL 요소에서 상속됨</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>DOM 요소에서 상속됨</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span><span lang='pl' class='lang lang-pl'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Dziedziczy z elementu XUL</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>Dziedziczy z elementu DOM</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span><span lang='zh-cn' class='lang lang-zh-cn'><table style="border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Inherited from XUL element</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>Inherited from DOM element</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
</span>
