<table style="clear:both; float:right; width:250px; border: solid #ccc 1px; background: #EEE; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 10px;">
<tr><td>
<p><b>Inherited from XUL element</b><br />
<small>
{{template.XULProp("align")}},
{{template.XULProp("allowEvents")}},
{{template.XULProp("boxObject")}},
{{template.XULProp("builder")}},
{{template.XULProp("className")}},
{{template.XULProp("collapsed")}},
{{template.XULProp("contextMenu")}},
{{template.XULProp("controllers")}},
{{template.XULProp("currentItem")}},
{{template.XULProp("database")}},
{{template.XULProp("datasources")}},
{{template.XULProp("dir")}},
{{template.XULProp("flex")}},
{{template.XULProp("height")}},
{{template.XULProp("hidden")}},
{{template.XULProp("id")}},
{{template.XULProp("left")}},
{{template.XULProp("listBoxObject")}},
{{template.XULProp("maxHeight")}},
{{template.XULProp("maxWidth")}},
{{template.XULProp("menu")}},
{{template.XULProp("minHeight")}},
{{template.XULProp("minWidth")}},
{{template.XULProp("observes")}},
{{template.XULProp("ordinal")}},
{{template.XULProp("orient")}},
{{template.XULProp("pack")}},
{{template.XULProp("persist")}},
{{template.XULProp("ref")}},
{{template.XULProp("resource")}},
{{template.XULProp("statusText")}},
{{template.XULProp("style")}},
{{template.XULProp("tooltip")}},
{{template.XULProp("tooltipText")}},
{{template.XULProp("top")}},
{{template.XULProp("value")}},
{{template.XULProp("width")}}</small>
</p><p><b>Inherited from DOM element</b><br />
<small>
{{template.DOMProp("attributes")}},
{{template.DOMProp("childNodes")}},
{{template.DOMProp("cloneNode")}},
{{template.DOMProp("firstChild")}},
{{template.DOMProp("lastChild")}},
{{template.DOMProp("localName")}},
{{template.DOMProp("namespaceURI")}},
{{template.DOMProp("nextSibling")}},
{{template.DOMProp("nodeName")}},
{{template.DOMProp("nodeType")}},
{{template.DOMProp("nodeValue")}},
{{template.DOMProp("ownerDocument")}},
{{template.DOMProp("parentNode")}},
{{template.DOMProp("prefix")}},
{{template.DOMProp("previousSibling")}},
{{template.DOMProp("tagName")}}</small>
</p>
</td></tr>
</table>
