
<p><span lang="en" class="lang lang-en"><< <a title="en/XULREF" href="/en/XULREF">XUL Reference</a> <<</span> <span lang="*" class="lang lang-*"><< <a title="en/XULREF" href="/en/XULREF">XUL Reference</a> << </span> <span lang="es" class="lang lang-es"><< <a title="es/XUL" href="/es/XUL">Referencia de XUL</a> <<</span></p>
