 <div class="includeonly"></div>
« <a href="ru/XUL_Reference">Справочник по XUL</a>    [ <a href="#Examples">Примеры</a> | <a href="#Attributes">Атрибуты</a> | <a href="#Properties">Свойства</a> | <a href="#Methods">Методы</a> | <a href="#Related">См. также</a> ]
