<%
var s = mdn.localString({
  "en-US": ['/XUL_Reference', '/XUL_Reference', 'XUL Reference home'],
  "de": ["/XUL_Referenz", "/XUL_Referenz", "XUL-Referenz Startseite"],
  "es": ["/XUL/Elementos", "/XUL/Elementos", "Referencia de XUL"],
  "fr": ["/Référence_XUL", "/R%C3%A9f%C3%A9rence_XUL", "Accueil de la référence XUL"],
  "ja": ["/XUL_Reference", "/XUL_Reference", "XUL リファレンス HOME"],
  "ko": ["/XUL_Reference", "/XUL_Reference", "XUL Reference home"],
  "pl": ["/Dokumentacja_XUL", "/Dokumentacja_XUL", "Dokumentacja XUL"],
  "zh-CN": ["/XUL_Reference", "/XUL_Reference", "XUL Reference home"]
});
s_title = env.locale + '/docs' + s[0];
s_href= '/' + env.locale + '/docs' + s[1];
%>
 « <a title="<%= s_title %>" href="<%= s_href %>"><%=s[2]%></a>
