<span lang='en' class='lang lang-en'> <div class="includeonly"></div>
« <a href="en/XUL_Reference">XUL Reference home</a>
</span><span lang='*' class='lang lang-*'> <div class="includeonly"></div>
« <a href="en/XUL_Reference">XUL Reference home</a>
</span><span lang='de' class='lang lang-de'> <div class="includeonly"></div>
« <a href="de/XUL_Referenz">XUL-Referenz Startseite</a>
</span><span lang='ja' class='lang lang-ja'> <div class="includeonly"></div>
« <a href="ja/XUL_Reference">XUL リファレンス HOME</a>
</span><span lang='pl' class='lang lang-pl'> <div class="includeonly"></div>
« <a href="pl/Dokumentacja_XUL">Dokumentacja XUL</a>
</span>
