<span lang='en' class='lang lang-en'><< <a href="en/XULREF">XUL Refrence</a> <<
</span><span lang='*' class='lang lang-*'><< <a href="en/XULREF">XUL Refrence</a> <<
</span><span lang='en' class='lang lang-en'> <div class="includeonly"></div>
</span><span lang='*' class='lang lang-*'> <div class="includeonly"></div>
</span><span lang='de' class='lang lang-de'> <div class="includeonly"></div>
</span><span lang='fr' class='lang lang-fr'> <div class="includeonly"></div>
</span><span lang='ja' class='lang lang-ja'> <div class="includeonly"></div>
</span><span lang='ko' class='lang lang-ko'> <div class="includeonly"></div>
</span><span lang='pl' class='lang lang-pl'> <div class="includeonly"></div>
</span><span lang='zh-cn' class='lang lang-zh-cn'> <div class="includeonly"></div>
</span>
