 <div class="includeonly"></div>
« <a href="ja/XUL_Reference">XUL リファレンス home</a>    [ <a href="#Examples">例</a> | <a href="#Attributes">属性</a> | <a href="#Properties">プロパティ</a> | <a href="#Methods">メソッド</a> | <a href="#Interfaces">インターフェース</a> ]
