
<p><span lang="en" class="lang lang-en"><< <a title="en/XUL" href="/en/XUL">XUL Reference</a> <<</span> <span lang="*" class="lang lang-*"><< <a title="en/XUL" href="/en/XUL">XUL Reference</a> << </span> <span lang="es" class="lang lang-es"><< <a title="es/XUL" href="/es/XUL">Referencia de XUL</a> <<</span><span lang="de" class="lang lang-de"> << <a title="de/XUL" href="/de/XUL">XUL Referenz</a> <<</span> <span lang="ja" class="lang lang-ja"><< <a title="ja/XUL" href="/ja/XUL">XUL リファレンス</a> <<</span></p>
