
<p><span lang="en" class="lang lang-en">

« <a title="en/XUL_Reference" href="/en/XUL_Reference">XUL Reference home</a> </span><span lang="*" class="lang lang-*">

« <a title="en/XUL_Reference" href="/en/XUL_Reference">XUL Reference home</a> </span><span lang="de" class="lang lang-de">

« <a title="de/XUL_Referenz" href="/de/XUL_Referenz">XUL-Referenz Startseite</a> </span><span lang="fr" class="lang lang-fr">

« <a title="fr/Référence_XUL" href="/fr/R%C3%A9f%C3%A9rence_XUL">Accueil de la référence XUL</a> </span><span lang="ja" class="lang lang-ja">

« <a title="ja/XUL_Reference" href="/ja/XUL_Reference">XUL リファレンス HOME</a> </span><span lang="ko" class="lang lang-ko">

« <a title="ko/XUL_Reference" href="/ko/XUL_Reference">XUL Reference home</a> </span><span lang="pl" class="lang lang-pl">

« <a title="pl/Dokumentacja_XUL" href="/pl/Dokumentacja_XUL">Dokumentacja XUL</a> </span><span lang="zh-cn" class="lang lang-zh-cn">

« <a title="cn/XUL_Reference" href="/cn/XUL_Reference">XUL Reference home</a> </span></p>
<p><span lang="zh-cn" class="lang lang-zh-cn">« <a title="es/XUL/Elementos" class="internal" href="/es/XUL/Elementos">Referencia de XUL</a> </span></p>
