<span lang="en" class="lang lang-en"> 
« <a href="en/XUL_Reference">XUL Reference home</a>    [ <a href="#Examples">Examples</a> | <a href="#Attributes">Attributes</a> | <a href="#Properties">Properties</a> | <a href="#Methods">Methods</a> | <a href="#Related">Related</a> ]
</span><span lang="*" class="lang lang-*"> 
« <a href="en/XUL_Reference">XUL Reference home</a>    [ <a href="#Examples">Examples</a> | <a href="#Attributes">Attributes</a> | <a href="#Properties">Properties</a> | <a href="#Methods">Methods</a> | <a href="#Related">Related</a> ]
</span><span lang="de" class="lang lang-de"> 
« <a href="de/XUL_Referenz">XUL Referenz Startseite</a>    [ <a href="#Examples">Beispiele</a> | <a href="#Attributes">Attribute</a> | <a href="#Properties">Eigenschaften</a> | <a href="#Methods">Methoden</a> | <a href="#Related">Verwandte Themen</a> ]
</span><span lang="fr" class="lang lang-fr"> 
« <a href="fr/R%c3%a9f%c3%a9rence_XUL">Accueil de la référence XUL</a>    [ <a href="#Exemples">Exemples</a> | <a href="#Attributs">Attributs</a> | <a href="#Propri.C3.A9t.C3.A9s">Propriétés</a> | <a href="#M.C3.A9thodes">Méthodes</a> | <a href="#Sujets_li.C3.A9s">Sujets liés</a> ]
</span><span lang="ja" class="lang lang-ja"> 
« <a href="ja/XUL_Reference">XUL リファレンス HOME</a>    [ <a href="#Examples">例</a> | <a href="#Attributes">属性</a> | <a href="#Properties">プロパティ</a> | <a href="#Methods">メソッド</a> | <a href="#Related">関連項目</a> ]
</span><span lang="ko" class="lang lang-ko"> 
« <a href="ko/XUL_Reference">XUL Reference home</a>    [ <a href="#Examples">예제</a> | <a href="#Attributes">Attributes</a> | <a href="#Properties">Properties</a> | <a href="#Methods">Methods</a> | <a href="#Related">관련 항목</a> ]
</span><span lang="pl" class="lang lang-pl"> 
« <a href="pl/Dokumentacja_XUL">Dokumentacja XUL</a>    [ <a href="#Przyk.C5.82ady">Przykłady</a> | <a href="#Atrybuty">Atrybuty</a> | <a href="#W.C5.82asno.C5.9Bci">Własności</a> | <a href="#Metody">Metody</a> | <a href="#Podobne">Podobne</a> ]
</span><span lang="ru" class="lang lang-ru"> 
« <a href="ru/XUL/%d0%a1%d0%bf%d1%80%d0%b0%d0%b2%d0%be%d1%87%d0%bd%d0%b8%d0%ba">Справочник по XUL</a>    [ <a href="#Examples">Примеры</a> | <a href="#Attributes">Атрибуты</a> | <a href="#Properties">Свойства</a> | <a href="#Methods">Методы</a> | <a href="#Related">См. также</a> ]
</span><span lang="zh-cn" class="lang lang-zh-cn"> 
« <a href="cn/XUL_Reference">XUL Reference home</a>    [ <a href="#Examples">示例</a> | <a href="#Attributes">属性</a> | <a href="#Properties">特性</a> | <a href="#Methods">方法</a> | <a href="#Related">相关</a> ]
</span>
