 <div class="includeonly"></div>
« <a href="fr/R%c3%a9f%c3%a9rence_XUL">Accueil de la référence XUL</a>    [ <a href="#Exemples">Exemples</a> | <a href="#Attributs">Attributs</a> | <a href="#Propri.C3.A9t.C3.A9s">Propriétés</a> | <a href="#M.C3.A9thodes">Méthodes</a> | <a href="#Sujets_li.C3.A9s">Sujets liés</a> ]
