<%
var s = ["en/XUL_Reference", "en/XUL_Reference", "XUL Reference home"];
switch (env.locale) {
    case 'es': s = ["es/XUL/Elementos", "es/XUL/Elementos", "Referencia de XUL"]; break; 
    case 'de': s = ["de/XUL_Referenz", "de/XUL_Referenz", "XUL-Referenz Startseite"]; break; 
    case 'fr': s = ["fr/Référence_XUL", "fr/R%C3%A9f%C3%A9rence_XUL", "Accueil de la référence XUL"]; break; 
    case 'ja': s = ["ja/XUL_Reference", "ja/XUL_Reference", "XUL リファレンス home"]; break; 
    case 'ko': s = ["ko/XUL_Reference", "ko/XUL_Reference", "XUL Reference home"]; break; 
    case 'pl': s = ["pl/Dokumentacja_XUL", "pl/Dokumentacja_XUL", "Dokumentacja XUL"]; break;
}
%>
« <a title="<%=s[0]%>" href="/docs/<%=s[1]%>"><%=s[2]%></a>
