 <div class="includeonly"></div>
« <a href="ja/XUL_Reference">XUL リファレンス home</a>    [ <a href="#.E4.BE.8B">例</a> | <a href="#.E5.B1.9E.E6.80.A7">属性</a> | <a href="#.E3.83.97.E3.83.AD.E3.83.91.E3.83.86.E3.82.A3">プロパティ</a> | <a href="#.E3.83.A1.E3.82.BD.E3.83.83.E3.83.89">メソッド</a> | <a href="#.E3.82.A4.E3.83.B3.E3.82.BF.E3.83.BC.E3.83.95.E3.82.A7.E3.83.BC.E3.82.B9">インターフェース</a> ]
