 <div class="includeonly"></div>
« <a href="en/XUL_Reference">XUL Reference home</a>    [ <a href="#Examples">Examples</a> | <a href="#Attributes">Attributes</a> | <a href="#Properties">Properties</a> | <a href="#Methods">Methods</a> | <a href="#Interfaces">Interfaces</a> ]
