<span lang='en' class='lang lang-en'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}}
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.external('http://developer-test.mozilla.org/samples/xultu/examples/' + $0 + '.txt ソース')}}
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Źródło')}}
</span>
