<span lang='en' class='lang lang-en'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' View')}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' View')}}
</span><span lang='es' class='lang lang-es'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Código')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' Ver en funcionamiento')}}
</span><span lang='fr' class='lang lang-fr'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' Voir')}}
</span><span lang='ja' class='lang lang-ja'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt ソース')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' 表示')}}
</span><span lang='ko' class='lang lang-ko'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' View')}}
</span><span lang='pl' class='lang lang-pl'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Źródła')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' Podgląd')}}
</span><span lang='ru' class='lang lang-ru'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Исходный код')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' View')}}
</span><span lang='zh-cn' class='lang lang-zh-cn'>{{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + '.txt Source')}} {{mediawiki.external('http://developer.mozilla.org/samples/xultu/examples/' + $0 + ' View')}}
</span>
