<span lang='pl' class='lang lang-pl'>{{mediawiki.external('http://xulplanet.com/references/elemref/ref_' + $0 + '.html ' + $0)}}
</span><span lang='*' class='lang lang-*'>{{mediawiki.external('http://xulplanet.com/references/elemref/ref_' + $0 + '.html ' + $0)}}
</span>
