<span style="background: rgb(221, 221, 221) none repeat scroll 0% 0%; color: green; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">【訳注: <%- $0 %>】</span>
