<span lang='ja' class='lang lang-ja'><div class="breadcrumbs"><span class="breadcrumbs">メインページ</span> > <span class="breadcrumbs"><a href="Special:Tags?tag=移行予定&language=ja">移行準備中の文書</a></span> > <span class="breadcrumbs">{{web.html($1)}} (外部サイトから移行準備中)</span></div>
<div style="background: #fff0f5; color: red; font-size: 1em; font-weight: bold; border: solid red 1px; padding: 1.5em;">
<p>この記事は、Mozilla Japan 翻訳部門もしくはその関連グループによりすでに翻訳済みのものがあります。{{mediawiki.external($0 + ' 翻訳済みの文書')}} は MDC 日本語版への移行作業の対象となっておりますが、まだ移行されておりません。
</p><p>html から wiki 記法への移行作業はなるべく早く行う予定ですが、技術的な問題から少し時間を要すると考えられております。ご不便をおかけいたしますが、作業完了までは {{mediawiki.external($0 + ' こちら')}} をご参照ください。
</p>
</div>
<div class="includeonly"></div>
</span><span lang='*' class='lang lang-*'><div class="breadcrumbs"><span class="breadcrumbs">メインページ</span> > <span class="breadcrumbs"><a href="Special:Tags?tag=移行予定&language=ja">移行準備中の文書</a></span> > <span class="breadcrumbs">{{web.html($1)}} (外部サイトから移行準備中)</span></div>
<div style="background: #fff0f5; color: red; font-size: 1em; font-weight: bold; border: solid red 1px; padding: 1.5em;">
<p>この記事は、Mozilla Japan 翻訳部門もしくはその関連グループによりすでに翻訳済みのものがあります。{{mediawiki.external($0 + ' 翻訳済みの文書')}} は MDC 日本語版への移行作業の対象となっておりますが、まだ移行されておりません。
</p><p>html から wiki 記法への移行作業はなるべく早く行う予定ですが、技術的な問題から少し時間を要すると考えられております。ご不便をおかけいたしますが、作業完了までは {{mediawiki.external($0 + ' こちら')}} をご参照ください。
</p>
</div>
<div class="includeonly"></div>
</span>
