<div class="breadcrumbs">
メインページ &raquo; <a href="/ja/docs/tag/移行">移行してきた文書</a> &raquo; <%-template("web.html",[$1])%> （※外部サイトからの移行）
</div>

<div class="warning">
この記事は Mozilla Japan 翻訳部門もしくはその関連グループによりすでに翻訳済みの文書を移行したものです。 <%-template("mediawiki.external",[$0 + ' 移行元の文書'])%>。英語版と内容が異なる場合や、MDC の他の記事と整合性のとれていない場合があります。
</div>
