<div class="note" style="text-align:center; font-size: 110%">本文件正在翻譯中，請參考<%-template("mediawiki.external", $0 + ' 原文') %>協助翻譯。</div>

<div class="noinclude">
<h3 name=".E7.BF.BB.E8.AD.AF.E4.B8.AD">翻譯中</h3>
<p>用以標示翻譯中文件，使用時請放在網頁頂端並附上原文網址，例如</p>
<dl>
<dt>範例</dt>
<dd><pre><code>\{{Translation("http://developer.mozilla.org/en/docs/MDC:Custom_Templates")}}</code></pre></dd>
<dt>結果</dt>
<dd><%- template("Translation","http://developer.mozilla.org/en/docs/MDC:Custom_Templates") %></dd>
</dl>
</div>
