<div class="note" style="text-align:center; font-size: 110%">本文件正在翻譯中，請參考{{mediawiki.external($0 + ' 原文')}}協助翻譯。</div><div class="noinclude">
<h3 name="bugzilla.mozilla.org_.E7.B6.B2.E5.9D.80"> bugzilla.mozilla.org 網址 </h3>
<p>用以標示翻譯中文件，使用時請放在網頁頂端並附上原文網址，例如
</p><p><br />
</p>
<dl><dt>範例
</dt></dl>
<pre class="eval"> <code><span class="plain">{{Translation|http://developer.mozilla.org/en/docs/MDC:Custom_Templates}}</span></code>
</pre>
<dl><dt>結果
</dt></dl>
<pre class="eval"> {{template.Translation("http://developer.mozilla.org/en/docs/MDC:Custom_Templates")}}
</pre>
</div>
