<%
// マクロに第一引数が指定されていない場合、この文言がデフォルトで追加されます。
var str = $0 || "翻訳作業に参加する場合は、履歴にある翻訳者と連絡·調整してください。";



%><div class="overheadIndicator translationInProgress translationInProgressHeader">
    <p>このページは翻訳中です。<br /><%- str %></p> 
</div>
