<div class="noinclude"><!-- <p><span lang="ja" class="lang lang-ja"> </span></p> --> <div style="border: medium dotted navy; margin-right: 250px; padding: 0.3em 0.5em 0.1em; text-align: center;"> <div style="border-bottom: thin solid green; margin-bottom: 1em; color: green;">◆◆◆ 翻訳中 ◆◆◆</div> <p>このページは翻訳中です。<br /> 翻訳作業に参加する場合は、履歴にある翻訳者と連絡·調整してください。</p> </div>
</div>
<div class="includeonly"> <div style="border: medium dotted navy; margin-right: 250px; padding: 0.3em 0.5em 0.1em; text-align: center;"> <div style="border-bottom: thin solid green; margin-bottom: 1em; color: green;">◆◆◆ 翻訳中 ◆◆◆</div> <p>このページは翻訳中です。<br /> 翻訳作業に参加する場合は、履歴にある翻訳者と連絡·調整してください。</p> </div>
</div>
