<%
<span id=(String.Replace($0, " ", "_"))></span></pre>
<div class="noinclude"> <dl> <dt>これは何</dt> <dd>Wiki では、章の見出しを指定して、内部リンクが設定できますが、見出しを訳すと、リンク元でも訳の方でリンクを設定する必要があります。このテンプレートを使用して見出しの直後に英語版の見出し文字列も定義しておくことで、英語版と同じ指定で、リンクできるようになります。なお、このテンプレートで定義した内容は画面には表示されません。</dd> <dt>使い方</dt> <dd> <pre>
{{英語版章題|Title}}</pre> </dd> <dt>例</dt> </dl> <pre>
{{英語版章題|Title}}
== 見出し ==
本文+.

[[#Title]] で内部リンクできます。</pre>
</div>
<div class="noinclude"> <dl> <dt><span class="lang lang-*" lang="*">これは何</span></dt> <dd><span class="lang lang-*" lang="*">Wiki では、章の見出しを指定して、内部リンクが設定できますが、見出しを訳すと、リンク元でも訳の方でリンクを設定する必要があります。このテンプレートを使用して見出しの直後に英語版の見出し文字列も定義しておくことで、英語版と同じ指定で、リンクできるようになります。なお、このテンプレートで定義した内容は画面には表示されません。</span></dd> <dt><span class="lang lang-*" lang="*">使い方</span></dt> <dd> <pre>
<span class="lang lang-*" lang="*">{{英語版章題|Title}}</span></pre> </dd> <dt><span class="lang lang-*" lang="*">例</span></dt> </dl> <pre>
<span class="lang lang-*" lang="*">{{英語版章題|Title}}
== 見出し ==
本文+.

[[#Title]] で内部リンクできます。</span>
</pre>
</div>
