<ul>
<li>{{mediawiki.external('https://lists.mozilla.org/listinfo/' + $0 + ' 郵件討論')}}</li>
<li>{{mediawiki.external('news://news.mozilla.org/' + $1 + ' 新聞群組')}}</li>
<li>{{mediawiki.external('http://groups.google.com/group/' + $1 + ' Google 群組')}}</li>
<li>{{mediawiki.external('http://groups.google.com/group/' + $1 + '/feeds 消息來源')}}</li>
</ul>
