<span style="color: green; background: #ddd;">【訳注: <%- Web.html($0) %>】</span>
<%/*これは原文にない情報を補足するためのテンプレートです。

使い方 : {{訳注('補足内容')}}
例 : <p>Template:訳注を活用しましょう{{訳注('このテンプレートは MDC 日本語版のみ存在しています')}}。</p>

※次のテンプレートも同じ動作となります。 {{yakuchu('補足内容'}} 
*/
%>
