<span class="comment" style="color: green; background: #ddd;">【訳注: {{web.html($0)}}】</span>

<div class="noinclude">
<dl><dt>これは何?
</dt><dd>これは原文にない情報を補足するためのテンプレートです。
</dd><dt>使い方
</dt><dd><pre>{{訳注|補足内容}}</pre>
</dd></dl>
</div>
