<span lang='ja' class='lang lang-ja'><span style="color: green; background: #ddd;">【訳注: {{web.html($0)}}】</span><div class="noinclude">
<dl><dt>これは何?
</dt><dd>これは原文にない情報を補足するためのテンプレートです。
</dd><dt>使い方
</dt><dd><pre>{{訳注|補足内容}}</pre>
</dd><dt>例
</dt><dd><pre>Template:訳注を活用しましょう{{訳注|このテンプレートは MDC 日本語版のみ存在しています}}。</pre>
</dd></dl>
</div>
</span><span lang='*' class='lang lang-*'><span style="color: green; background: #ddd;">【訳注: {{web.html($0)}}】</span><div class="noinclude">
<dl><dt>これは何?
</dt><dd>これは原文にない情報を補足するためのテンプレートです。
</dd><dt>使い方
</dt><dd><pre>{{訳注|補足内容}}</pre>
</dd><dt>例
</dt><dd><pre>Template:訳注を活用しましょう{{訳注|このテンプレートは MDC 日本語版のみ存在しています}}。</pre>
</dd></dl>
</div>
</span>
