<span style="border-bottom:1px dashed green;" title="{{$1}}">{{web.html($0)}}</span>

<div class="noinclude">
<dl><dt>これは何
</dt><dd>これは訳した際に当てた日本語と元の英語を対応させるテンプレートです。今のところ訳語の自動抽出などは行われていません。
</dd><dd>訳語の設定については <a class="external" href="http://wiki.fdiary.net/mozilla/">Mozilla訳語決定会</a>も参考にして下さい。MDC 日本語版で使われている訳語(を含んだページ)は <a href="Special:Whatlinkshere/Template%3a%e8%a8%b3%e8%aa%9e">Templaet:訳語にリンクしているページ</a>を参照してください。
</dd><dt>使い方
</dt><dd><pre>{{訳語|訳語|言語}}</pre>
</dd><dt>例
</dt><dd><pre>{{訳語|要素|element}}を{{訳語|活性化|activate}}する</pre>
</dd></dl>
</div>
